$color_lhl: $liftext;
$color_lhy: $stlightblue;
$color_lwl: $spotext;

.content-sub-menu {
  margin    : 0 auto 10px;
  text-align: center;
  background: #fff;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 90%,rgba(255,255,255,0) 100%);
  z-index   : 9;
  width     : 100%;
  position  : relative;

  .sub-menu-box {
    font-family   : $font-Curator-Regular;
    display       : inline-block;
    width         : 100px;
    margin-top    : 4px;
    line-height   : 30px;
    font-size     : 10px;
    color         : $worscreen;
    pointer-events: all;
    cursor        : pointer;
    @include breakpoint($d_medium) {
      width       : 150px;
      margin-right: 10px;
      font-size   : 13px;
    }
  }

  #lhl {
    background: $color_lhl;
  }

  #lhy {
    background: $color_lhy;
  }

  #lwl {
    background: $color_lwl;
  }

  .sub-menu-dropdox {
    display    : block;
    font-family: $font-Curator-Regular;
    margin     : 4px auto;
    width      : 100px;
    @include breakpoint($d_medium) {
      display: inline-block;
      margin : 30px;
    }
  }

  #tl-date-dropdown {
    // padding: 6px;
  }
}

.content-sub-menu-empty {
  opacity    : 0;
  margin     : 0 auto 10px;
  text-align : center;
  background : #fff;
  width      : 100%;
  position   : relative;
  padding-top: 5px;

  .sub-menu-box {
    font-family   : $font-Curator-Regular;
    display       : inline-block;
    width         : 100px;
    margin-top    : 4px;
    line-height   : 30px;
    font-size     : 10px;
    color         : $worscreen;
    pointer-events: all;
    cursor        : pointer;
    @include breakpoint($d_medium) {
      width       : 150px;
      margin-right: 10px;
      font-size   : 13px;
    }
  }
}

.fix-menu {
  position      : fixed;
  padding-top   : 5px;
  padding-bottom: 5px;
  top           : 0;
  @include breakpoint($d_medium) {
    padding-top: 0;
  }
}
// .filter-opacity{
//   -webkit-filter: blur(1px); /* Safari */
//   filter: blur(1px);
//
// }

.timeline-container {
  @include container;
  position: relative;
  margin  : 0 auto;
  // &::before{
  //   //the vertical line
  //   content:"";
  //     position: absolute;
  //     z-index: -1;
  //      top:0;
  //     bottom: 0;
  //     left: 50%;
  //     border-left: 1px dotted $black;
  //     // display: none;
  //     // @include breakpoint($d_medium){
  //     //   display: block;
  //     // }
  // }
  .tl-date {
    position  : relative;
    z-index   : 2;
    margin    : 3em auto;
    display   : block;
    background: $black;
    width     : 220px;
    text-align: center;

    p {
      font-family: $font-Curator-Bold;
      padding    : 10px;
    }
  }

  .tl-block {
    position   : relative;
    opacity    : 0;
    padding-top: 3em;
    @include clearfix;
    width      : 100%;
    margin     : 2em 0;
  }

  .tl-node {
    z-index   : 2;
    position  : relative;
    margin    : 0 auto;
    display   : block;
    background: $black;
    width     : 80px;
    text-align: center;
    @include breakpoint ($d_medium) {
      position: absolute;
      top     : 0;
      left    : 47.5%;
      margin  : 0 0 0 -20px;
    }

    p {
      font-family: $font-Curator-Regular;
      padding    : 5px;
      font-size  : 15px;
    }

    &::after {
      content: '';
    }
  }

  .tl-content {
    z-index   : 2;
    position  : relative;
    background: $screen;
    padding   : 1em;
    @include clearfix;
    // width     : 55%;
    @include breakpoint ($d_medium) {
      width: 37%;
    }
    // @include breakpoint (max-width $d_small) {
    //   width: 70%;
    // }

    p {
      font-family: $font-Curator-Regular;
      color      : $black;
      line-height: 23px;
      font-size  : 16px;
    }
  }
}

.tl-r {
  float       : right;
  margin-right: 10px;
}

.tl-l {
  float      : left;
  margin-left: 10px;
}

.tl-line {
  //the vertical line
  position   : absolute;
  z-index    : 1;
  top        : 0;
  // bottom: 0;
  left       : 50%;
  height     : 100%;
  border-left: 1px dotted $black;
  // display: none;
  // @include breakpoint($d_medium){
  //   display: block;
  // }
}

.tl-image {
  text-align: center;

  .img-avatar {
    width        : 80px;
    height       : 80px;
    margin-right : 10px;
    border-radius: 50%;
    display      : inline-block;
  }
  @include breakpoint ($d_medium) {
    text-align: left;

    .img-avatar {
      width : 120px;
      height: 120px;
    }
  }
  @include breakpoint($d_small) {
    text-align: left;

    .img-avatar {
      width : 100px;
      height: 100px;
    }
  }
}

#avatar_lhl {
  background-color: $color_lhl;
}

#avatar_lhy {
  background-color: $color_lhy;
}

#avatar_lwl {
  background-color: $color_lwl;
}

.img-segment {
  padding-top: 20px;

  img {
    width  : 100%;
    display: inline-block;
  }

  figcaption {
    margin-top : 5px;
    line-height: 1.4em;
    font-family: $font-Curator-Regular;
    font-size  : 13px;
    color      : $black;
  }
}

.read-more {
  display    : inline-block;
  background : #fff;
  padding    : 10px 17px;
  color      : $black;
  font-size  : 13px;
  font-family: $font-Curator-Regular;
  margin-top : 10px;

  &:hover {
    background: #ddd;
  }
}

.filter-layer {
  pointer-events: none;
  opacity       : 0;
  content       : '';
  position      : absolute;
  z-index       : 3;
  top           : 0;
  left          : 0;
  width         : 100%;
  height        : 100%;
  // display: none;
  background    : #fff;
}

.content-video {
  position      : relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top   : 25px;
  height        : 0;
  margin-top    : 20px;

  iframe {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
  }
}

.st-deck p:nth-of-type(2) {
  font-family: $font-Thirty;
  margin-top : 5px;
}
