.st-header-page {
  background     : url("/images/_img/ep-main-image-desktop.png") no-repeat bottom center, linear-gradient(to bottom, #0c2b57, #4267b2);
  background-size: auto;
  padding-top    : 1px;
  @include breakpoint (max-width $d_medium) {
    background     : url("/images/_img/ep-main-image-mobile.png") no-repeat bottom center, linear-gradient(to bottom, #0c2b57, #4267b2);
    background-size: contain;
    height: 620px;
  }
  @include breakpoint($d_medium) {
    background     : url("/images/_img/ep-main-image-desktop.png") no-repeat bottom center, linear-gradient(to bottom, #0c2b57, #4267b2);
    background-size: auto;
    height: 660px;
  };

}
.ep-logo {
  text-align: center;
}

.st-header-page .main-headline .st-title {
  margin-bottom: 0;
}

.st-header-page .main-headline .st-title h1{
  color: #fff;
}

.st-header-page .main-headline .st-deck {
  color: #fff;
  line-height: 1.5;
  @include breakpoint (max-width $d_medium) {
    line-height: 1.45;
  };
}

.st-header-page .main-headline .st-byline {
  color: #fff;
  padding-top: 0;
}

.timeline-container {
  max-width: 992px !important;

  .tl-date {
    background-color: inherit !important;

    .president {
      background-color: $black;
      color           : $screen;
      padding         : 5px;

      p {
        padding      : 0 !important;
        margin-bottom: inherit;
        font-size    : 17px;
        font-family  : $font-Curator-Bold;
      }

      span {
        font-size  : 15px;
        font-family: $font-Curator-Regular;
      }
    }
  }
}

.timeline-container .tl-content {
  color: $black;


  p {
    // margin-bottom: inherit;
    font-size    : 17px;
    font-family  : $font-Curator-Bold;
  }

  span {
    font-size     : 15px;
    font-family   : $font-Curator-Regular;
    padding-bottom: 10px;
    line-height: 1.3em;
  }
}

.tl-image {
  text-align: center !important;
  margin-top: 10px;
}

#circle {
  border-radius: 50% 50% 50% 50%;
  width        : 140px;
  height       : 140px;
  background-color: $screen;
}

.tl-l {
  margin: auto;
  float : none;
  @include breakpoint($d_medium) {
    float      : left;
    margin-left: 10px;
  };
}

.tl-r {
  margin: 30px auto auto;
  float : none;
  @include breakpoint($d_medium) {
    float       : right;
    margin-right: 10px;
    margin-top  : auto;
  };
}

.tl-content.tl-r {
    clear: right;
    margin-bottom: 30px;
}

@media (min-width: 780px) {
  .st-header-page .main-headline {
    margin: 45px 0 40px;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto; } }
