.alteroutesection {
    @include container;
    margin-bottom: 150px;
    .altroute {
        @include span(60%);
        font-family: $font-Curator-Regular;
        color: #666;
        padding: 15px;
        .altroutetitle {
            font-family: $font-Curator-Bold;
            margin-bottom: 10px;
        }
        .altroutetitle2 {
            font-family: $font-SelaneMinTen;
            font-size: 18px;
        }
        .altroutecontent {
            margin-bottom: 40px;
        }
    }
    .alteroutemap {
        @include span(30%);
        height: 400px;
    }
}
.pcnsection {
    @include container;
    .pcntitle {
        font-family: $font-Curator-Bold;
        margin-bottom: 10px;
        color: #666;
    }
    .pcnheader {
        margin-bottom: 40px;
        color: #666;
    }
    .pcnmap {
        height: 600px;
    }
}
.content-columns {
    @include container;
    .sans-serif-styles {
      font-family: $font-Curator-Regular !important;

    }
    .st-deck {
        @include container (600px);
        text-align: center;
        font-size: 1.2em;
        line-height: 1.35;
        padding: 15px;
        font-family: $font-SelaneTen;
        @include breakpoint($d_medium) {
             @include container(550px);
            font-size: 1.35em;
            line-height: 1.4;
            font-family: $font-SelaneMinTen;
        };
    }
    .bold-body {
      font-family: $font-Thirty;
      text-transform: none !important;
    }
    .st-byline {
      @include container (600px);
      text-align: center;
      font-size: 0.7em;
      padding: 15px;
      color: #999;
      font-family: $font-Curator-Regular;
      @include breakpoint($d_medium) {
           @include container(550px);
          font-size: 0.8em;
          line-height: 1.4;
      };

    }


    .pcntitle {
        font-family: $font-Curator-Bold;
        font-size: 1em;
        line-height: 1.6em;
        color: #333;
        margin-bottom: 1.125em;
        @include breakpoint($d_medium) {
            font-size: 1.2em;
        }
    }
    .text-paragraph-2 {
        @include breakpoint($d_medium) {
            padding-left: 52px;
            padding-right: 45px;
        };
    }
    .pcnheader {
        font-family: $font-SelaneTen;
        font-size: 1.1em;
        line-height: 1.6em;
        color: #333;
        margin-bottom: 1.125em;
        span {
            color: #333;
            text-transform: uppercase;
        }
        @include breakpoint($d_medium) {
            font-size: 1.2em;
        }
    }
    .photo-caption-bottom {
        padding: 25px 0;
        figcaption {
            padding: 15px 0;
            font-size: 15px;
            color: #666;
            font-family: $font-Curator-Regular;
        }
    }
    .images-transport {
        @include clearfix;
        .transport-item {
            max-width: 350px;
            margin: 15px auto;
            h3 {
                font-family: $font-Curator-Regular;
                font-size: 1em;
                margin: 20px 0;
                line-height: 1.6em;
                text-transform: uppercase;
                text-align: center;
            }
            p {
                font-family: $font-Curator-Regular;
                text-align: center;
                font-size: 17px;

            }
            @include breakpoint($d_medium) {
                 @include gallery (4 of 12);
            };

            .taxi-color {
              background-color: #5a9ddc;
              color: #fff;
              padding: 5px 10px;
            }
            .public-color {
              background-color: #f6bd00;
              color: #fff;
              padding: 5px 10px;
            }
            .bike-color {
              background-color: $red;
              color: #fff;
              padding: 5px 10px;
            }
        }
    }
}
.st-header-page .st-header-hero {
    .st-title-general {
        // @include container;
        transform: translateY(-50%);
        top: 45%;
        bottom: auto;
        left: 0;
        right: 0;
        @include breakpoint($d_medium) {
            transform: translateY(-50%);
            top: 65%;
            bottom: auto;
            left: 0;
            right: 0;
        };
        h1 {
            text-align: center;
            font-size: 2.8em;
            line-height: 1.2;
            padding: 15px;
            font-family: $font-SelaneTen;
            @include breakpoint($d_medium) {
                 @include container(500px);
                font-size: 4.2em;
                line-height: 1.2;
                font-family: $font-SelaneMinTen;
            };
        }
        h2 {
            text-align: left;
            font-size: 2.5em;
            line-height: 1.5;
            color: #fff;
            font-family: $font-SelaneMinTen;
            @include breakpoint($d_medium) {
                font-size: 4em;
                line-height: 1.5;
            };
        }
        section {
            margin: initial;
            // padding: 0 15px;
            @include container;
            @include box-sizing;
        }
    }
}
.item-1,
.item-2,
.item-3 {
    opacity: 0;
}
.time_track {
    font-family: $font-Curator-Regular;
    font-size: 22px;
    color: #333;
    fill: #333;
}
.play_track {
    font-family: $font-Curator-Regular;
    font-size: 17px;
    color: #333;
    fill: #333;
    cursor: pointer;
}
.restart_track {
    font-family: $font-Curator-Regular;
    font-size: 17px;
    color: #333;
    fill: #333;
    cursor: pointer;
}
.icon_track {
    cursor: pointer;
}
.st-content-slider {
    padding: 20px 0 0;
}
.leaflet-tooltip {
    border-radius: 0;
    box-shadow: none;
    .text-info {
        color: #fff;
        font-family: $font-Curator-Regular;
        display: block;
        min-width: 170px;
        @include clearfix;
        .content-info-icon {
            float: left;
            padding-left: 3px;
        }
        .content-info-text {
            float: left;
            width: calc(100% - 50px);
            padding-left: 7px;
            font-size: 15px;
            line-height: 1.5;
            white-space: normal;
        }
        // div{
        //   display: inline-block;
        //   vertical-align: top;
        //   padding-left: 10px;
        // }
    }
}
.type_cycle.leaflet-tooltip-right {
    background-color: #ef4123;
    &:before {
        border-right-color: #ef4123;
    }
}
.type_cycle.leaflet-tooltip-left {
    background-color: #ef4123;
    &:before {
        border-left-color: #ef4123;
    }
}
.type_cycle.leaflet-tooltip-top {
    background-color: #ef4123;
    &:before {
        border-top-color: #ef4123;
    }
}
.type_cycle.leaflet-tooltip-bottom {
    background-color: #ef4123;
    &:before {
        border-bottom-color: #ef4123;
    }
}
.type_publictransport.leaflet-tooltip-right {
    background-color: #f6bd00;
    &:before {
        border-right-color: #f6bd00;
    }
}
.type_publictransport.leaflet-tooltip-left {
    background-color: #f6bd00;
    &:before {
        border-left-color: #f6bd00;
    }
}
.type_publictransport.leaflet-tooltip-top {
    background-color: #f6bd00;
    &:before {
        border-top-color: #f6bd00;
    }
}
.type_publictransport.leaflet-tooltip-bottom {
    background-color: #f6bd00;
    &:before {
        border-bottom-color: #f6bd00;
    }
}
.type_taxi.leaflet-tooltip-right {
    background-color: #5a9ddc;
    &:before {
        border-right-color: #5a9ddc;
    }
}
.type_taxi.leaflet-tooltip-left {
    background-color: #5a9ddc;
    &:before {
        border-left-color: #5a9ddc;
    }
}
.type_taxi.leaflet-tooltip-top {
    background-color: #5a9ddc;
    &:before {
        border-top-color: #5a9ddc;
    }
}
.type_taxi.leaflet-tooltip-bottom {
    background-color: #5a9ddc;
    &:before {
        border-bottom-color: #5a9ddc;
    }
}
.content-big-play {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    img {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 0;
        left: 0;
    }
}
.content-compare-fare {
    padding-bottom: 10px;
    max-width: 400px;
    @include box-sizing;
    @include clearfix;
    .content-fare {
        @include gallery(3 of 9);
        @include clearfix;
        .content-image-fare {
            float: left;
        }
        .content-text-fare {
            float: left;
            line-height: 1.5;
            font-size: 15px;
            font-family: $font-Curator-Bold;
            padding: 0 5px;
            div:first-child {
                color: #333;
            }
            div:last-child {
                color: $greydark;
                font-family: $font-Curator-Regular;
            }
        }
    }
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}
@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}
@-webkit-keyframes slideOutUp {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}
@keyframes slideOutUp {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}
.slideOutUp {
    -webkit-animation-name: slideOutUp;
    animation-name: slideOutUp;
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}
.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}
#dashboard,
#map-carto {
    height: 580px;
    .CDB-Dashboard-menuInner {
        display: none;
    }
    .CDB-Dashboard-mapWrapper--withMenu {
        margin: 0;
    }
}
.box-info-ie {
    width: 230px;
    height: 98px;
    margin: auto;
    background: #fdd400;
    color: #333;
    padding: 25px 15px;
    font-size: 16px;
    line-height: 1.5;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 13%;
    font-family: $font-Curator-Regular;
    @include box-sizing;
    a {
        color: #333;
        font-family: $font-Curator-Bold;
    }
}
