/*slider*/
.st-slider {
    .ticks {
        font-size: 13px;
        font-family: $font-Curator-Regular;

        .tick {

        }

        text {
            // fill: #666;
        }

        // path {
        //     display: none;
        // }
        line{
          display: none;
        }
    }

    .track,
    .track-inset,
    .track-overlay {
        // stroke-linecap: round;
        stroke-linecap: initial;
    }

    .track {
        stroke: #fff;
        stroke-opacity: 0.3;
        stroke-width: 10px;
    }

    .track-inset {
        // stroke: #ddd;
        // stroke-width: 10px;
        stroke:#b7b7b7;
        stroke-width:2;
        stroke-dasharray:2;
        stroke-dashoffset:2;
    }
    .track-inset-left{
      stroke:#333;
      stroke-width:2;
    }

    .track-overlay {
        pointer-events: stroke;
        stroke-width: 30;
        // cursor: crosshair;
        cursor: pointer;
        stroke: transparent;
    }

    .handle {
        // fill: #5a9ddc;
        // stroke: #5a9ddc;
        fill: #333;
        stroke: #333;
        // stroke-opacity: 0.5;
        stroke-width: 1.25;
    }
}

.pointer-events-none {
    pointer-events: none !important;
}
