.stroke {
    fill: none;
    stroke: #000;
    stroke-width: 3px;
}

.fill {
    fill: #fff;
}

.graticule {
    fill: none;
    stroke: #777;
    stroke-width: 0.5px;
    stroke-opacity: 0.5;
}

.land {
    // fill: transparent;
    // stroke:#333;
    fill-opacity: 1;
    stroke: none;
}

.map_sg {
    fill-opacity: 1;
    fill: #fff;
    stroke: #e5f5fe;
}

.boundary {
    fill: none;
    stroke: #fff;
    stroke-width: 0.5px;
}

.leaflet-control-zoom {
    @include breakpoint(max-width 350px) {
        display: none;
    };
}

.content-trak-route {
    // margin-bottom: 45px;
    position: relative;
    @include container;

    .content-info-route {
        position: absolute;
        top: 15px;
        right: 0;
        z-index: 999;
        width: 100%;
        max-width: 320px;
        @include breakpoint(350px) {
            right: 15px;
        };
        @include breakpoint($d_normal){
          max-width: 384px;
          width: 100%;
        };
    }

    .content-video-route {
        background-color: #ef4123;

        .title-route {
            padding: 5px 10px;
            // background-color: #fff;
            color: #fff;
            font-family: $font-Curator-Regular;
            text-align: center;
        }

        .video-route {
            // width: 320px;
            height: 180px;
            position: relative;

            .bc-player-default_default {
                width: 100%;
                height: 100%;
            }

            video {
                // width: 320px;
                height: 180px;
            }
            @include breakpoint($d_normal) {
                // width: 384px;
                height: 216px;

                video {
                    // width: 384px;
                    height: 216px;
                }
            };
        }

        .text-bike-video {
            color: #fff;
            font-family: $font-Curator-Regular;
            padding: 5px 10px;
        }
    }

    .content-map-f {
        #map-f {
            min-height: 550px;
            background-color: #e5f5fe;
            @include breakpoint(300px 350px) {
                min-height: 410px;
            };
            @include breakpoint(350px 420px) {
                min-height: 480px;
            };
        }

        .leaflet-overlay-pane {
            z-index: 199;
        }
    }
}

.content-controls-route {}

.ct-svg-bukit-batok,
.ct-svg-punggol,
.ct-svg-time-spent-2,
.ct-svg-clementi {
    @include container(380px);

    svg {
        display: block;
    }
}

.ct-svg-time-spent,
{
    @include container(700px);

    svg {
        display: block;
    }
}
