<!-- go to next chapter -->
<div class="go-next-chapter">
    <figure itemprop="associatedMedia image" itemscope itemtype="http://schema.org/ImageObject" data-component="image">
        <img src="svg/header-2010s-Now.svg" class="st-image-responsive st-image-fit-content" alt="st 2010" title="st 2010" />
        <img src="images/next-01.svg" class="st-button-next st-image-responsive" alt="st button next" title="st button next" />
    </figure>
</div>
<!-- subchapter -->
<section>
    <header class='header-subtitle'>
        <h2>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </h2>
    </header>
    <div class="content-columns">
        <div class="column-parraf-left">
            <div class="text-parraf">
            </div>
        </div>
        <div class="column-parraf-right">
        </div>
    </div>
</section>
<!-- end subchapter -->
<!-- blockquote -->
<blockquote class="blockquote" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="content-blockquote">
        <q>
            The Singapore Government computerisation was a resounding success and that in turn provided the impetus for industries to follow suit. Singapore Government Computerisation was the gold standard around the world!
        </q>
        <cite>
            <div>
                <span itemprop="author">Stephen Yeo</span>, then chief executive of National Computer Board on Singapore’s computerisation efforts in the early years
            </div>
        </cite>
    </div>
</blockquote>
<!--  -->
<!-- image caption on right -->
<figure class="photo-medium-caption-right" itemprop="associatedMedia image" itemscope itemtype="http://schema.org/ImageObject" data-component="image">
    <img src="images/chapter/ch1-01-01.jpg" class="st-image-responsive st-image-fit-content" alt="Mr Steven Yeo former chief executive" title="Mr Steven Yeo former chief executive" />
    <figcaption>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    </figcaption>
</figure>
<!--  -->
<!-- slider -->
<div class="st-content-slider">
    <div class="st-slider-pro slider-pro">
        <div class="sp-slides">
            <!-- Slide 1 -->
            <figure class="sp-slide" itemprop="associatedMedia image" itemscope itemtype="http://schema.org/ImageObject" data-component="image">
                <img class="sp-image" src="images/blank.gif" data-src="images/chapter/ch3-01-01.jpg" alt="" title="" />
                <figcaption class="sp-caption">
                    <div class="bg_caption">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed hic beatae nemo temporibus, repudiandae animi, delectus at suscipit error aut non vero dolorem modi est perspiciatis ut explicabo officia labore!</p>
                    </div>
                </figcaption>
            </figure>
            <!-- Slide 2 -->
            <figure class="sp-slide" itemprop="associatedMedia image" itemscope itemtype="http://schema.org/ImageObject" data-component="image">
                <img class="sp-image" src="images/blank.gif" data-src="images/chapter/ch3-01-02.jpg" alt="" title="" />
                <figcaption class="sp-caption">
                    <div class="bg_caption">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed hic beatae nemo temporibus, repudiandae animi, delectus at suscipit error aut non vero dolorem modi est perspiciatis ut explicabo officia labore!</p>
                    </div>
                </figcaption>
            </figure>
        </div>
    </div>
</div>
<!--  -->
<!-- html footer -->
<footer class='st-content-footer'>
    <p class="st-footer">
        SPH Digital News / Copyright © 2015 Singapore Press Holdings Ltd. Co. Regn No. 198402868E. All rights reserved.
    </p>
</footer>




<!-- link to youtube -->
https://www.youtube.com/embed/nb9SBMybwao?autoplay=0&controls=1&showinfo=1&modestbranding=1&loop=1&rel=0
