		<!--Link to pym script-->
		<script type="text/javascript" src="http://graphics.thomsonreuters.com/pym.min.js"></script>	
		
		<!--Div w a unique id-->
		<div id="targetdiv"></div>
		
		<!-- Script that will create responsive iframe of the graphic inside the div using the id and the url -->
		<script>
		    var pymParent = new pym.Parent('targetdiv', 'http://fingfx.thomsonreuters.com/gfx/rngs/NORTHKOREA-MALAYSIA-KIM/010031Z94H5/index.html', {});
		</script>