@import url(http://fonts.googleapis.com/css?family=Merriweather:700);
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,700);

html{
  position: relative;
  -webkit-text-size-adjust:100%;
  -webkit-overflow-scrolling:touch;
  min-height: 100%;
}
body {
  font-family: $font-primary;
  font-size: 15px;
  line-height:28px;
  color: #B3B3B3;


  @media (min-width: $d_medium){
    font-size: 17px;
    line-height: 28px;
    overflow: auto !important;
  }
}

h1 {
  font-size: 2.2rem;
  color: lighten($darkblue, 25);
  margin-bottom: .4rem;
  border-bottom: 1px solid $lightgray;
  padding-top: 10px;
}

h2 {
  font-size: 1.5rem;
  line-height: 100%;
  margin: 20px 0 0 0;
  color: $orange;
}

h3 {
  font-size: 1.8rem;
  line-height: 60%;
  color: $orange;
}

a {
  text-decoration: none;
  color: $mediumgray;
  &:hover {
    color: $orange;
  }
}

p {
  margin-bottom: 1.625em;
}

.bg_lines_parraf{
  background-image: url(../images/stripe_fdb.png)
}
.content_columns{
  @media (min-width: $d_medium){
    position: relative;
    @include clearfix;
  }
}

.column-parraf1{
  @media (min-width: $d_medium){
    float: left;
    width: 70%;
    margin-right: -100%;
  }
}

.column-parraf2{
  @media (min-width: $d_medium){
    float: left;
    width: 30%;
    margin-left: 70%;
  }
}
.content_p_right{
  padding-bottom: 1px;
  p{
    font-family : $font-Curator-Regular;
    font-weight: lighter;
    font-size : 0.9375em;
    line-height : 1.6;
    color : #333;
    padding: 15px;
    margin: 10px;
    background: #fff;
  }
}

.border_line_vertical{
  @media (min-width: $d_medium){
    border-right: 1px solid #999;
  }
}
em.start_sub_chapter{
  text-transform: uppercase;
  font-weight: normal;
}


.text-column-right{
    font-family: $font-Curator-Regular;
    font-weight: lighter;
    font-size: 0.9375em;
    color: #999;
    line-height: 1.6em;
    padding:0px 20px 40px 15px;
    word-wrap: break-word;
    word-break: break-word;
    @media (min-width: $d_medium){
        bottom: 0;
        padding:20px;
        position: absolute;
    }
}
.signature{
  font-family: $font-Curator-Regular;
  font-size: 0.8125em;
  font-weight: lighter;
  font-style: normal;
  text-transform: uppercase;
  padding-top: 7px;
  text-align: left;
  line-height: 1.2em;
}
.image_right_caption_bottom{
  margin-top: 0px;
  margin-left: 1px;
  div{
    padding: 15px;
    p{
      font-family: $font-Curator-Regular;
      font-weight: lighter;
      font-size: 0.9375em;
      line-height: 1.6;
      color: #333;
      padding: 15px;
      margin: 0;
      background-color: #fff;
    }
  }
  @media (min-width: $d_medium){
    margin-top: 20px;
  }
}















