/* scaffolding */


/* ----------- */

.tt-menu,
.gist {
    text-align: left;
}


/* site theme */


/* ---------- */

.example {
    padding: 30px 0;
}

.example-name {
    margin: 20px 0;
    font-size: 32px;
}

.demo {
    position: relative;
    *z-index: 1;
    margin: 50px 0;
}

.typeahead,
.tt-query,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 0;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    width: 100%;
    margin: 0 0 12px 0;
    padding: 8px 0;
    background-color: #fff;
       border: 1px solid #ccc;
       border: 1px solid rgba(0, 0, 0, 0.2);
    // border: none;
    // -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    // -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    // box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
    font-family: $font-Curator-Regular;
    padding: 0px 15px 0px 10px;
    font-size: 15px;
    line-height: 1.5;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #5a9ad9;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #5a9ad9;
}

.tt-suggestion p {
    margin: 0;
}

.gist {
    font-size: 14px;
}


/* example specific styles */


/* ----------------------- */

#custom-templates .empty-message {
    padding: 5px 10px;
    text-align: center;
}

#multiple-datasets .league-name {
    margin: 0 20px 5px 20px;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-menu {
    max-height: 150px;
    overflow-y: auto;
}

#rtl-support .tt-menu {
    text-align: right;
}

.twitter-typeahead {
    display: block;
    width: 100%;
}

.tt-menu {
    box-sizing: border-box;
    max-height: 250px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
    border-top:0; 
    // max-height: 
        // border: 1px solid #CCC;
        // border-top:0;
    .tt-dataset {
        margin-bottom: 10px;
        h3 {
            color: #333;
            font-family: $font-Curator-Bold;
            font-size: 16px;
            margin: 5px 10px;
            line-height: 1.1;
        }
    }
    .tt-suggestion {
        font-family: $font-Curator-Regular;
        color: #333;
        font-size: 15px;
        line-height: 1.3;
        padding-bottom: 3px;
        padding-top: 3px;
    }
    .tt-suggestion.tt-cursor {
        color: #fff;
        background-color: #2C7CA1;
    }
    .tt-suggestion:hover {
        cursor: pointer;
        color: #fff;
        background-color: #2C7CA1;
    }
}