//
//
//
//  @-webkit-keyframes mymove2 {
//     0% {
//         left: -1100px;
//     }
//     100% {
//         left: 0px;
//     }
// }
//
// @-moz-keyframes mymove2 {
//     0% {
//         left: -1100px;
//     }
//     100% {
//         left: 0px;
//     }
// }
//
// @-o-keyframes mymove2 {
//     0% {
//         left: -1100px;
//     }
//     100% {
//         left:  0px;
//     }
// }
//
// @keyframes mymove2 {
//     0% {
//         left: -1100px;
//     }
//     100% {
//         left: 0px;
//     }
// }

.st-header-page {
  background    : $screen;
  padding-bottom: 80px;
  position      : relative;
}

.car-movement-container {
  width   : 100%;
  overflow: hidden;
  position: absolute;
  bottom  : 0;
  height  : 150px;
  @include breakpoint($d_medium) {
    height: 200px;
  }

  .car-movement {
    position: absolute;

    img {
      height: 150px;
      @include breakpoint($d_medium) {
        height: 200px;
      }
    }
  }
}

.content-tophead {
  @include container;

  .content-st-deck {
    @include breakpoint($d_small) {
      float: left;
      width: calc(100% - 254px);
    }
    width: 95%;

    h1 {
      font-size: 2.5em;
      color    : #333;
      padding  : 15px;
      @include breakpoint($d_small) {
        font-size: 4em;
      }
    }

    .st-deck {
      font-family: $font-SelaneTen;
      color      : #333;
      font-size  : 19px;
      line-height: 1.5;
      padding    : 0 15px;
    }

    .st-byline {
      font-family: $font-Curator-Regular;
      font-size  : 13px;
      color      : #666;
      padding    : 15px;
    }
  }

  .content-brand-sgcarmart {
    width     : 239px;
    padding   : 20px;
    background: rgba(255,255,255,0.5);
    @include breakpoint($d_small) {
      float       : right;
      margin-right: 15px;
      background  : rgba(255,255,255,0.8);
      padding     : 30px;
    }
    @include box-sizing(border-box);

    .txt-brand {
      color     : #333;
      text-align: center;
      font-size : 15px;
    }

    .txt-next-tender {
      color    : #333;
      font-size: 16px;
    }

    .date-next-tender {
      font-size: 18px;
      color    : #333;
      @include breakpoint($d_small) {
        font-size: 26px;
      }
    }
  }
}

.st-title {
  padding    : 0 15px 15px;
  font-family: $font-Curator-Bold;
  font-size  : 1.1em;
  color      : #333;
  @include container;
  @include box-sizing(border-box);

  span {
    font-family: $font-Curator-Regular;
    font-size  : 14px;
  }
}

.st-subtitle {
  padding    : 0 30px 15px 15px;
  font-family: $font-Curator-Regular;
  color      : #999;
  @include container;
  @include box-sizing(border-box);
}

.content-categories {
  padding: 0 15px;
  @include container;
  @include box-sizing(border-box);

  .content-category {
    margin-bottom: 15px;

    &:last-of-type {
      img {
        max-width: inherit;
      }
    }

    .head-category {
      padding : 15px 15px 0;
      color   : #333;
      overflow: hidden;

      .txt-top-cat {
        font-family: $font-Curator-Bold;

        img {
          float : right;
          height: 30px;
          width : 30px;
          cursor: pointer;
        }
      }

      .txt-cat {
        font-family: $font-Curator-Regular;
        line-height: 1.5;
        font-size  : 15px;
      }
    }

    .body-category {
      color        : #333;
      padding      : 15px;
      text-align   : center;
      border-top   : 1px solid #fff;
      border-bottom: 1px solid #fff;

      .cat-quota-premium {
        font-family: $font-Curator-Regular;
        line-height: 1.5;
        font-size  : 15px;
      }

      .a-quota-premium {
        font-family: $font-Curator-Bold;
        font-size  : 40px;
        line-height: 1.5;
      }
    }

    .footer-category {
      color: #333;
      // padding: 15px;
      @include clearfix;

      .l-footer {
        float       : left;
        width       : 50%;
        padding     : 15px;
        border-right: 1px solid #fff;
        font-size   : 15px;
        line-height : 1.5;
        @include box-sizing(border-box);

        .l-quota {
          font-family: $font-Curator-Regular;
        }

        .a-quota {
          font-family: $font-Curator-Bold;
          font-size  : 16px;
        }
      }

      .r-footer {
        float      : right;
        width      : 50%;
        padding    : 15px;
        font-size  : 15px;
        line-height: 1.5;
        @include box-sizing(border-box);

        .l-bids-received {
          font-family: $font-Curator-Regular;
        }

        .a-bids-received {
          font-family: $font-Curator-Bold;
          font-size  : 15px;
        }
      }
    }

    .content-symbol-txt-i-d {
      &:before {
        content     : " ";
        display     : block;
        width       : 0;
        height      : 0;
        border-left : 10px solid transparent;
        border-right: 10px solid transparent;
        margin      : 0 auto 3px;
      }

      span {
        color  : #fff;
        padding: 5px 30px;
      }
    }

    .a-increase-decrease {
      padding-top: 10px;
      font-weight: 16px;
      line-height: 1.5;
      font-family: $font-Curator-Regular;
    }
    @include breakpoint($d_small) {
       @include gallery(8 of 16);
    }
    @include breakpoint($d_medium) {
       @include gallery(5 of 15);
    };
  }
}

.content-category.bg-increase {
  .head-category {
    background-color: #fee9e9;
  }

  .body-category {
    background-color: #fed7d6;
  }

  .footer-category {
    background-color: #fee9e9;
  }

  .content-symbol-txt-i-d {
    &:before {
      border-bottom: 10px solid #fe716d;
    }

    span {
      background-color: #fe716d;
    }
  }
}

.content-category.bg-decrease {
  .head-category {
    background-color: #e5f6f7;
  }

  .body-category {
    background-color: #cfeff0;
  }

  .footer-category {
    background-color: #e5f6f7;
  }

  .content-symbol-txt-i-d {
    &:before {
      // border-bottom: 10px solid #56c8ce;
      border-top: 10px solid #56c8ce;
    }

    span {
      background-color: #56c8ce;
    }
  }
}

.content-category.bg-nochange {
  .head-category {
    background-color: #EDF0F0;
  }

  .body-category {
    background-color: #D7DDDD;
  }

  .footer-category {
    background-color: #EDF0F0;
  }

  .content-symbol-txt-i-d {
    &:before {
      // border-bottom: 10px solid #56c8ce;
      border-top: 10px solid #56c8ce;
      opacity   : 0;
    }

    span {
      background-color: #99A9A8;
    }
  }
}

.content-buttons {
  padding    : 0 15px;
  font-family: $font-Curator-Regular;
  color      : #333;
  @include container;
  @include box-sizing(border-box);

  label {
    & > span {
      padding: 0 15px 0 0;
    }
  }
}

.content-graphics {
  padding    : 0 15px;
  font-family: $font-Curator-Regular;
  color      : #333;
  @include container;
  @include box-sizing(border-box);
  position   : relative;

  .content-graphic-2 {
    position: absolute;
    top     : 0;
    left    : 0;
    right   : 0;
  }
}

.tooltip-st-dev {
  font-family: $font-Curator-Regular;
  color      : #333;
  font-weight: 400;
  font-size  : 15px;

  .tooltip-row {
    padding: 3px 5px;

    strong {
      font-weight: 700;
      font-family: $font-Curator-Bold;
      color      : #333;
    }
  }
}

.st-byline time {
  text-transform: uppercase;
}

.section-1 {
  margin-top   : 40px;
  margin-bottom: 40px;
}

.section-2,
.section-3,
.section-4,
.section-5 {
  margin-top   : 50px;
  margin-bottom: 50px;
}
