.st-header-page {
    .st-header-hero {
        position: relative;
        overflow: hidden;

        .st-header-hero-video {
            overflow: hidden;
        }

        .st-header-hero-image {
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
        }

        .st-title-general {
            @include container;
            position: absolute;
            bottom: 40%;
            right: 15px;
            left: 15px;
            z-index: 99;

            section {
                @include container(500px);
                text-align: center;
            }

            h1 {
                // max-width: 500px;
                color: #fff;
            }

            figure {
                max-width: 600px;
                margin: 0;
                -moz-text-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
                -webkit-text-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
                text-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
                text-rendering: optimizeLegibility;
                -webkit-font-smoothing: antialiased;

                figcaption {
                    @include container(650px);
                    color: #fff;
                    font-size: 20px;
                    text-align: left;
                    line-height: 1.3;
                    margin-top: 40px;
                    text-rendering: optimizeLegibility;

                    h1 {
                        margin-bottom: 15px;
                    }

                    p {
                        margin-bottom: 20px;
                    }

                    span {
                        font-size: 0.75em;
                        line-height: 0.3em;
                    }

                    time {
                        font-size: 14px;
                        color: #FFF;
                    }
                    @include breakpoint($d_medium) {
                        font-size: 24px;
                    }
                }
            }
        }
    }

    .st-header-hero-video {
        line-height: 1;
        overflow: hidden;
        background: #000;

        video {
            max-height: 100%;
            max-width: 100%;
            margin: 0 auto;
            text-align: center;
            width: 100%;
            height: 100%;
        }
    }

    .main-headline {
        .st-title {
            padding: 0px 15px;
            margin-bottom: 25px;

            h1 {
                span {
                    color: $red !important;
                }
                color: #333;
                font-family: $font-SelaneMinTen;
                text-align: center;
                font-size: 38px;
                line-height: 45px;
                @media (min-width: $d_medium) {
                    font-size: 72px;
                    line-height: 130%;
                }
            }
        }

        .st-deck {
            font-family: $font-SelaneTen;
            text-align: center;
            // font-size: 1.1em;
            // line-height: 1.6;
            font-size: 20px;
            line-height: 1.5;
            color: #333;
            padding: 15px;
            // @media (min-width: $d_medium) {
            //     font-size: 1.3em;
            // }

            strong {
              font-family: $font-Thirty	;
              font-weight: 400;

            }
        }

        .st-byline {
            font-family: $font-Curator-Regular;
            font-size: 13px;
            color: #666;
            padding: 15px;
            text-align: center;
        }
        @include breakpoint(320px) {
            margin: 30px 0;
        }
        @include breakpoint(780px) {
            margin: 45px 0 40px;
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.st-content-header-subtitle {
    background-color: #0C2B57;

    .header-subtitle {
        @include container;
        @include box-sizing(border-box);
        // background-color: #999;
        padding: {
            top: 5px;
            left: 15px;
            right: 15px;
            bottom: 5px;
        }

        div {
            font-family: $font-Curator-Regular;
            font-size: 0.9375em;
            color: #5E5411;
            line-height: 1.5;
        }

        h2 {
            font-family: $font-SelaneMinTen;
            font-size: 2.3em;
            color: #fff;
            line-height: 1;
            @include breakpoint($d_medium) {
                font-size: 3em;
            }
        }

        p {
            color: #74869F;
            line-height: 1.5;
        }
        @include breakpoint($d_medium) {
            padding: {
                top: 20px;
                left: $padding_left_paragraph;
                right: $padding_right_paragraph;
                bottom: 20px;
            }
        }
    }
}





.st-content-banner-bg {
  background-color: #F0F2F4;
}


.st-content-banner-bg {
    // @include background-image(linear-gradient(to right, #0C2B57 0%,#0C2B57 50%, #0C2B57 50%,#EF4123 100%));
    // background-image: url("/images/USelection/bg.svg");
    // background-size: 100% 100%;

    .st-content-banner {
        @include container;
    }

    a {
        display: block;
    }
}
.content-columns {
    @include container (850px);
    .services {
        @include clearfix;
        .diagram {
            max-width: 200px;
            margin: 20px auto;
            @include breakpoint($d_small) {
                 @include gallery (4 of 12);
            };
        }
    }
    .assets-desktop {
        @include clearfix;
        .flowchart-desktop {
            max-width: 800px;
            display: none;
            @include breakpoint($d_small) {
                display: block;
                text-align: center;
            };
        }
    }
    .assets-mobile {
        @include clearfix;
        clear: both;
        .flowchart-mobile {
            max-width: 450px;
            @include breakpoint($d_small) {
                display: none;
                text-align: center;
            };
        }
    }
    .column-paragraph-left {
        strong {
            line-height: 1.5;
        }
        span {
            display: block;
            line-height: 1.5;
        }
        p {
            line-height: 150%;
            font-size: 1.20em;
            @include breakpoint($d_small) {
                font-family: $font-SelaneTen;
                font-size: 1.25em;
                line-height: 160%;
            };
        }
        a {
            // padding: 0 7px;
        }
        .width-column {
          max-width: 560px;
        }

        ul li {
            list-style-type: square;
            font-family: $font-SelaneTen;
            color: $black;
            line-height: 1.5em;
            font-size: 1.25em;
        }
        .pay-1 {
          .pays-headline {
            margin-top: 40px
          }
          strong {
            font-family: $font-Thirty;
          }
        }
        .timeline {
            position: relative;
            padding: 0 1.25rem 1.5rem;
            // border-left: 0.1625rem dotted #ccc;
            margin-left: 5px;
            padding-left: 14px;
            .timeline-item {
                line-height: 150%;
                font-size: 1em;
                .timeline-headline {
                    text-transform: uppercase;
                    font-family: $font-Curator-Bold;
                }
                .timeline-content p {
                    font-family: $font-Curator-Regular;
                    line-height: 150%;
                    font-size: 1em;
                }
            }
        }

    }
}

.timeline-section {
  background-color: $screen;
  padding: 30px
}
.right-fix {
  max-width:300px;
  margin:auto;
  margin-bottom: 20px;

  @include breakpoint($d_small) {
      margin-bottom: 0
  };
}

.readmore rect:hover{
  fill: #C0CAC9;
  -moz-transition:color .2s ease-in;
    -o-transition:color .2s ease-in;
    -webkit-transition:color .2s ease-in;
}

.readmore, .button-1,.button-2,.button-3{
  cursor: pointer;
}
