.votingBoxes {
	@include clearfix;
}

// .nom1,
// .nom2,
// .nom3,
// .nom4,
// .nom5 {
// 	@include gallery(6 of 12);
// 	margin-bottom: 10px;
// }

.voteImg {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}

.voteImg img {
	max-width: 100%;
	max-height: 100%;
}

.voteDesc {
	padding: 0 5px 5px 0;
}

.radioVote {
	width: 14%;
	display: inline-block;
}

.textVote {
	width: 86%;
	float: right;
}

#VoteButton {
	width: 150px;
	height: 52px;
	font-size: 16px;
	text-align: center;
	padding: 16px;
	background-color: #5A9DDC;
	color: #fff;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	margin-bottom: 10px;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}

#VoteButton:hover,
:focus {
	text-decoration: none;
	// background-color: #418ED7;
}

#Backbutton {
	font-family: $font-Curator-Regular;
	width: 150px;
	height: 52px;
	font-size: 16px;
	text-align: center;
	padding: 16px;
	background-color: #5A9DDC;
	color: #fff;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	margin-bottom: 10px;
}

#Backbutton:hover,
:focus {
	text-decoration: none;
	// background-color: #418ED7;
}

.particulars {
	margin-top: 20px;
}

.particulars,
.st_author p {
	text-align: left;
	font-size: 16px;
	margin-top: 40px;
}

.st_form input[type="text"] {
	/* general style for input elements */
	padding: 12px;
	border: none;
	background-color: #EEF2F3;
	min-height: 22px;
	font-size: 16px;
	color: #666666;
	width: 100%;
	outline: none;
}
// .st-title {
// 	margin-top: 10px;
// }
.particulars,
.st_form {
	margin-bottom: 40px;
	padding: 0 10px;
	max-width: 800px;
  margin: 0 auto;
	padding-bottom: 70px;
}

.fields {
	margin-top: 20px;
	text-transform: uppercase;
	color: #333333;
}

textarea#ans2 {
	background-color: #EEF2F3;
	min-height: 120px;
	padding: 12px;
	font-size: 16px;
	color: #666666;
	width: 100%;
	resize: none;
	border: none;
	outline: none;
}
/* Changing Susy default global settings */
$susy: ( /* Tells Susy to use 3 columns */ columns: 3, /* Tells Susy that the container has a max-width of 1120px */ container: 1120px, /* Tells Susy to use border-box */ global-box-sizing: border-box );
/* Makes border-box properties */
@include border-box-sizing;

a.linkage:hover {
	color: $stblue;
}

.content_g_svg,
textarea#ans7,
textarea#ans8,
textarea#ans9 {
	max-width: 720px;
	margin: 0 auto;
	font-family: $font-Curator-Regular;
	color: #333;
	line-height: 1.7;
	font-size: 15px;
}

time {
	font-family: $font-Curator-Regular;
}

.st_author,
.st_headline,
.st_strap,
.st_strap_main {
  max-width: 800px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  padding-top: 20px;
  color: #333;
}

.st_strap {
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  padding-top: 20px;
}

.st_strap-bold {
  font-family: $font-Curator-Bold;
  color: #333;
  margin-top: 40px;
}

.st_strap-bold-bigger {
  font-family: $font-Curator-Bold;
  color: #333;
  font-size: 19px;
}

.st_strap-bold-light {
  font-family: $font-Curator-Regular;
  color: #333;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.st_strap_main {
  font-family: $font-SelaneTen;
  font-size: 18px;
  line-height: 1.4;
  padding-top: 40px;
  color: #666;
  margin-bottom: 20px;
	text-align: center;
}
.st_strap_main a {

  color: #5A9DDC;
  padding: 0 5px;
}
.st_strap_main a:hover {
  color: #5A9DDC;
}
.st_strap_main a:focus {
  color: #5A9DDC;
  background: #fff;
}

.st_author {
  font-family: $font-Curator-Regular;
  color: #666;
  font-size: 14px;
  padding-top: 15px;
  line-height: 17px;
}
.st_author3 {
  font-family: $font-Curator-Regular;
  color: #666;
  font-size: 14px;
  padding-top: 15px;
  line-height: 17px;
	text-align: center
}

.st_form_condition {
  font-family: $font-Curator-Regular;
  color: #666;
  margin-top: 15px;
  font-size: 14px;
}

.st_author2 {
	font-family: $font-Curator-Regular;
	color: #666;
	margin-top: 15px;
	font-size: 14px;
	padding-top: 15px;
	line-height: 21px;
	margin: 15px 0 20px 20px;
	@include clearfix;

	.text {
		float: none;
		margin-top: 5px;
	}

	.photo-blog {
		max-width: 150px;
		display: none;
	}
	@media (min-width: $d_medium) {
		.photo-blog {
			display: inline;
			margin-bottom: 30px;
		}
	}
	@media (min-width: $d_small) {
		.text {
			float: left;
			margin-right: 15px;
		}
	}
}

.content_columns {
	@include container;
}

.content_columns_fluid {
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
	width: 100%;
	overflow: hidden;
}

.content_subchapter > div:first-child {
	margin-top: 20px;
}

.content_subchapter > div {
	margin-bottom: 1.625em !important;
}

.content_subchapter {
	width: 100%;
	// max-width: $d_normal;
	background-color: #fff;
	padding-top: 20px;
	@include center_div;

	.strap_header {
		font-family: $font-primary;
		font-size: 1.125em;
		line-height: 1.8753em;
		color: #333;
		padding-left: 15px;
		padding-right: 15px;
		@media (min-width: $d_medium) {
			padding-left: $padding_left_parraf;
			padding-right: $padding_right_parraf;
		}
	}

	.content_columns {
		.text_parraf {
			padding-left: 15px;
			padding-right: 15px;

			p {
				font-family: $font-SelaneTen;
				font-size: 1.15em;
				line-height: 1.3em;
				color: #333;
				@media (min-width: $d_medium) {
					font-size: 1.2em;
				}

				strong {
					font-weight: bold;
				}

				span {
					color: $color_chapter_1;
					font-style: italic;
				}
			}

			p:last-child {
				margin-bottom: 0;
			}

			.manage_cover {
				p {
					margin-bottom: 1.625em;
				}
			}
			@media (min-width: $d_medium) {
				padding-left: $padding_left_parraf;
				padding-right: 45px;
			}
		}
	}
}

body {
	background-color: $screen;
}

.st-content-banner-bg {
	.st-content-banner {
		max-width: 1200px;
		background-image: url("/images/background-hero-2.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		position: relative;
		height: 500px;
		@media (max-width: $d_medium) {
			height: 300px;
		}
		// div a img {
		// 	width: 100%;
		// 	margin: 0 auto;
		// 	text-align: center;
		// 	min-width: 100%;
		// 	transform: translate(50%, 0);
		// 	right: 50%;
		// 	left: inherit;
		// 	top: inherit;
		// 	position: absolute;
		// 	max-width: inherit;
		// 	max-height: inherit;
		// 	width: auto;
		// 	height: auto;
		// }
	}
}

.main-headline {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	max-width: 1200px !important;
	padding-bottom: 20px;
	background-color: #FFFFFF;
	.st-title {
		img {
			display: block;
			margin: 0 auto;
			padding: 10px 0;
		}
		h1 {
		margin: 30px 0 0 0;
		@media (min-width: $d_medium) {
			font-size: 65px !important;
		}
		}
	}
	.st-deck {
		p {
			img{
				padding-top: 40px;
				width: 100%;
				max-width: 330px;
			}
		}
	}
}

fieldset {
	border: none !important;
}

.main-headline .borderbg {
	max-width: 800px;
  margin: 0 auto;
}

.st-content-banner, .st_author, .credits-section {
	background-color: #FFFFFF;
	max-width: 1200px;
}

.credits-section {
	margin: 0 auto;
}


.tyvm {
	margin: 0 auto;
	background-color: #FFFFFF;
	max-width: 1200px;
	height: 100vh;

	.above h1 {
		font-family: $font-SelaneMinTen;
		font-size: 36px;
		line-height: 1.35em;
		color: #333;
		text-align: center;
		padding: 0 10px;
	}

	.below {
		font-family: $font-SelaneTen;
		font-size: 18px;
		line-height: 1.35em;
		color: #333;
		text-align: center;
		margin-bottom: 3em;
		padding: 0 10px;
	}

	.returnbtn {
		max-width: 700px;
		padding: 10px 10px 30px 10px;
		label {
			a {
				font-family: $font-Curator-Regular;
				font-size: 15px;
				color: #FF00FF;
			}
		}
	}

	.st_strap_main {
		max-width: 700px;
	}

}
