$lightgray      : #819090;
$gray           : #708284;
$mediumgray     : #536870;
$darkgray       : #475B62;
$darkblue       : #0A2933;
$darkerblue     : #042029;
$paleryellow    : #FCF4DC;
$paleyellow     : #EAE3CB;
$yellow         : #A57706;
$orange         : #BD3613;
$red            : #D11C24;
$pink           : #C61C6F;
$purple         : #595AB7;
$blue           : #2176C7;
$cyan           : #259286;
$stred          : #EC432E;
$stblue			: #0c2b57;

$font-primary: Georgia, serif;
$font-Merriweather: 'Merriweather', serif;
$font-Playfair: 'Playfair Display', serif;
$font-Roboto: 'Roboto', sans-serif;

$default-border-radius : 10px;

$d_small:420px;
$d_medium:800px;
$d_normal:1200px;
$d_large:1280px;

$color_chapter_1:#0C2B57;

$padding_left_parraf:67px;
$padding_right_parraf:85px;


$images_dir:"../images/";

$susy: (container:$d_normal, columns: 16, gutter:5px, output:isolate );

//main colours
$stblue			: #0C2B57;
$stlightblue	: #5A9DDC;
$red			: #EF4123;
$yellow			: #FFD400;
$screen			: #EFF3F4;
$black			: #333;

//neutrals
$greydark		: #C0CAC9;
$greylight		: #E6EAE9;
$blueneutral	: #98A9D5;
$menudark		: #DDEAF2;
$menubg			: #F2F7FA;

//sections
//singapore
$sinprimary		: #56C8CE;
$sintext		: #36B4BB;
$sinscreen		: #F1F9FB;
//business
$busprimary		: #68A94D;
$bustext		: #68A94D;
$busscreen		: #EFF2EB;
//lifestyle
$lifprimary		: #96AAF2;
$liftext		: #8799D9;
$lifscreen		: #F2F4F8;
//sport
$spoprimary		: #24A299;
$spotext		: #24A299;
$sposcreen		: #EBFAF6;
//world and asia
$worprimary		: #29ABE2;
$wortext		: #13A2DF;
$worscreen		: #E9F6FC;

//others
$orange			: #E08523;
$pink			: #942170;
$purple			: #664B9A;

//fonts serif
$font-SelaneMinTen	:'SelaneMinTen', serif;
$font-Thirty		:'SelaneThirty', serif;
$font-SelaneTen		:'SelaneTen', serif;

//fonts san serif
$font-Curator-Regular	:'CuratorRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-Curator-Bold		:'CuratorBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$padding_left_paragraph:67px;
$padding_right_paragraph:85px;

$d_small:420px;
$d_medium:768px;
$d_normal:992px;
$d_large:1200px;


$images_dir:"../images/";

$susy: (container:$d_large, columns: 16, gutter:5px, output:isolate );
