html {
  background-color: #CBDFF3;
  @include breakpoint($d_medium) {
    background-image: linear-gradient(to bottom, #CBDFF3 0%, #CBDFF3 60%,#13A2DF 60%, #13A2DF 100%);
  }
}

body {
  overflow-x: hidden;
  overflow-y: visible;
  // overflow: hidden;
}

.box-info-ie {
  width      : 580px;
  // height     : 98px;
  margin     : auto;
  background : #fdd400;
  color      : #333;
  // padding    : 25px 15px;
  padding    : 8px 15px;
  font-size  : 16px;
  line-height: 1.5;
  position   : absolute;
  right      : 0;
  left       : 0;
  top        : 50px;
  // bottom     : 13%;
  z-index    : 100;
  font-family: $font-Curator-Regular;
  text-align : center;

  a {
    color      : #333;
    font-family: $font-Curator-Bold;
  }
}

.loading-icon {
  background: url("/images/NDP_loading.gif") no-repeat scroll center center #EFF3F4;
  position  : absolute;
  height    : 100%;
  width     : 100%;
  z-index   : 10000;
}

.mask {
  background: rgba(51, 51, 51, 0.5);
  position  : absolute;
  height    : 100%;
  width     : 100%;
  z-index   : 1000;
}

.sounddiv {
  @include container;

  img {
    position   : absolute;
    z-index    : 40;
    cursor     : pointer;
    max-width  : 40px;
    max-height : 40px;
    margin-top : 10px;
    margin-left: 10px;
    @include breakpoint($d_medium) {
      max-width : 45px;
      max-height: 45px;
      min-height: 45px;
    }
  }
}

.page-bg {
  position: absolute;
  width   : 100%;
  height  : 534px;
  z-index : -1;

  .half-bg {
    display: none;
    @include breakpoint($d_medium) {
      display: block;
      width  : 50%;
      height : 100%;
    }
  }

  #left-half {
    background-image: linear-gradient(to bottom, #CBDFF3 0%, #CBDFF3 72%,#BDBFC0 7%, #BDBFC0 88%,#13A2DF 88%, #13A2DF 100%);
    float           : left;
  }

  #right-half {
    background-image: linear-gradient(to bottom, #CBDFF3 0%, #CBDFF3 82.5%,#13A2DF 82.5%, #13A2DF 100%);
    float           : right;
  }

  .wrap-bg-desktop {
    display: none;
    @include breakpoint($d_medium) {
      display : block;
      @include container;
      position: fixed;
      // z-index : -1;
      right   : 0;
      left    : 0;
    }
  }

  .wrap-bg-mobile {
    display : grid;
    position: fixed;
    width   : 100%;
    bottom  : 0;
    @include breakpoint($d_medium) {
      display: none;
    };
  }
}

.chinook_intro {
  position : absolute;
  z-index  : 10;
  right    : -200px;
  animation: chinook_fly_small 15s linear infinite;
  @include breakpoint($d_small) {
    animation: chinook_fly 15s linear infinite;
  }

  img {
    width   : 300px;
    position: fixed;
  }
}
@keyframes chinook_fly {
  to {
    transform: translateX(-2000px);
  }
}
@keyframes chinook_fly_small {
  to {
    transform: translateX(-600px);
  }
}

.clouds {
  position: absolute;
  z-index : 1;
  width   : auto;
  height  : auto;

  img {
    position: fixed;
  }
}

#cloud1 {
  top                    : 80px;
  right                  : 5%;
  /* Animation shorthand syntax order: name, duration, timing-function, delay, iteration-count, direction, fill-mode */
  -webkit-animation      : move 33s linear infinite;
  -moz-animation         : move 33s linear infinite;
  -o-animation           : move 33s linear infinite;
  animation              : move 33s linear infinite;
  -webkit-animation-delay: 1s;
  animation-delay        : 1s;
}

#cloud2 {
  display                : none;
  top                    : 120px;
  right                  : 20%;
  -webkit-animation      : move 38s linear infinite;
  -moz-animation         : move 38s linear infinite;
  -o-animation           : move 38s linear infinite;
  animation              : move 38s linear infinite;
  -webkit-animation-delay: 1s;
  animation-delay        : 1s;
  @include breakpoint($d_medium) {
    display: block;
  };
}

#cloud3 {
  display                : none;
  top                    : 50px;
  right                  : 30%;
  /* Animation shorthand syntax order: name, duration, timing-function, delay, iteration-count, direction, fill-mode */
  -webkit-animation      : move 40s linear infinite;
  -moz-animation         : move 40s linear infinite;
  -o-animation           : move 40s linear infinite;
  animation              : move 40s linear infinite;
  -webkit-animation-delay: 1s;
  animation-delay        : 1s;
  @include breakpoint($d_medium) {
    display: block;
  };
}

#cloud4 {
  top                    : 150px;
  right                  : 40%;
  -webkit-animation      : move 35s linear infinite;
  -moz-animation         : move 35s linear infinite;
  -o-animation           : move 35s linear infinite;
  animation              : move 35s linear infinite;
  -webkit-animation-delay: 1s;
  animation-delay        : 1s;
}

#cloud5 {
  display                : none;
  top                    : 80px;
  right                  : 60%;
  /* Animation shorthand syntax order: name, duration, timing-function, delay, iteration-count, direction, fill-mode */
  -webkit-animation      : move 45s linear infinite;
  -moz-animation         : move 45s linear infinite;
  -o-animation           : move 45s linear infinite;
  animation              : move 45s linear infinite;
  -webkit-animation-delay: 1s;
  animation-delay        : 1s;
  @include breakpoint($d_medium) {
    display: block;
  };
}

#cloud6 {
  display                : none;
  top                    : 200px;
  right                  : 70%;
  -webkit-animation      : move 50s linear infinite;
  -moz-animation         : move 50s linear infinite;
  -o-animation           : move 50s linear infinite;
  animation              : move 50s linear infinite;
  -webkit-animation-delay: 1s;
  animation-delay        : 1s;
  @include breakpoint($d_medium) {
    display: block;
  };
}

#cloud7 {
  top                    : 80px;
  left                   : -250px;
  /* Animation shorthand syntax order: name, duration, timing-function, delay, iteration-count, direction, fill-mode */
  -webkit-animation      : move 45s linear infinite;
  -moz-animation         : move 45s linear infinite;
  -o-animation           : move 45s linear infinite;
  animation              : move 45s linear infinite;
  -webkit-animation-delay: 10s;
  animation-delay        : 10s;
}

#cloud8 {
  top                    : 50px;
  left                   : -250px;
  -webkit-animation      : move 50s linear infinite;
  -moz-animation         : move 50s linear infinite;
  -o-animation           : move 50s linear infinite;
  animation              : move 50s linear infinite;
  -webkit-animation-delay: 15s;
  animation-delay        : 15s;
}

#cloud9 {
  top                    : 120px;
  left                   : -50px;
  /* Animation shorthand syntax order: name, duration, timing-function, delay, iteration-count, direction, fill-mode */
  -webkit-animation      : move 50s linear infinite;
  -moz-animation         : move 50s linear infinite;
  -o-animation           : move 50s linear infinite;
  animation              : move 50s linear infinite;
  -webkit-animation-delay: 1s;
  animation-delay        : 1s;
}

#cloud10 {
  top                    : 180px;
  left                   : -250px;
  -webkit-animation      : move 55s linear infinite;
  -moz-animation         : move 55s linear infinite;
  -o-animation           : move 55s linear infinite;
  animation              : move 55s linear infinite;
  -webkit-animation-delay: 15s;
  animation-delay        : 15s;
}
@-webkit-keyframes move {
  to {
    -webkit-transform: translateX(2000px);
  }
}

.fadein {
  opacity                    : 0.5;
  /* make things invisible upon start */
  -webkit-animation          : fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation             : fadeIn ease-in 1;
  animation                  : fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode   : forwards;
  animation-fill-mode        : forwards;
  animation-iteration-count  : infinite;
  -webkit-animation-duration : 1.3s;
  -moz-animation-duration    : 1.3s;
  animation-duration         : 1.3s;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 0.1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 0.1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 0.1;
  }
}

.one {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay   : 0.5s;
  animation-delay        : 0.5s;
}

.two {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay   : 0.6s;
  animation-delay        : 0.6s;
}

.three {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay   : 0.7s;
  animation-delay        : 0.7s;
}

.four {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay   : 0.8s;
  animation-delay        : 0.8s;
}

.five {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay   : 0.9s;
  animation-delay        : 0.9s;
}

.six {
  -webkit-animation-delay: 1s;
  -moz-animation-delay   : 1s;
  animation-delay        : 1s;
}

.seven {
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay   : 1.1s;
  animation-delay        : 1.1s;
}

.eight {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay   : 1.2s;
  animation-delay        : 1.2s;
}

.nine {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay   : 1.3s;
  animation-delay        : 1.3s;
}

main {
  @include breakpoint($d_medium) {
     @include container;
    position: relative;
  };
}

.headline {
  display  : none;
  max-width: 450px;
  padding  : 25px;
  position : absolute;
  right    : 0;
  z-index  : 20;
  @include breakpoint(972px) {
    right: 10%;
  }
  @include breakpoint($d_large) {
    right: 20%;
  }

  h1 {
    font-family   : $font-Pixeled-Regular;
    color         : #333;
    font-size     : 18px;
    line-height   : 1.5;
    text-transform: uppercase;
    @include breakpoint($d_small) {
      font-size: 20px;
    };
    @include breakpoint($d_medium) {
      font-size: 25px;
    };
  }

  p {
    font-family: $font-Curator-Regular;
    color      : #333;
    font-size  : 16px;
    line-height: 1.2;
    margin-top : 15px;
    @include breakpoint($d_medium) {
      margin-top : 25px;
      line-height: 1.5;
    };
  }

  span {
    font-family: $font-Curator-Regular;
    font-size  : 12px;
    color      : #505050;
  }

  .title {
    margin-bottom: 0;
  }

  #publish {
    padding-bottom: 15px;
    margin-top    : 10px;
    // @include breakpoint($d_medium) {
    //   padding-bottom: 15px;
    // };
  }

  #deck_desktop {
    display: none;
    @include breakpoint($d_medium) {
      display: block;
    };
  }

  #deck_mobile {
    display: block;
    @include breakpoint($d_medium) {
      display: none;
    };
  }
}

.selectAvatar {
  text-align: center;
}

#start {
  display         : none;
  @include container(150px);
  text-align      : center;
  padding         : 10px 30px 15px;
  background-color: $red;
  cursor          : pointer;
  margin-right    : 0;
  margin-top      : 35px;
  font-family     : $font-Pixeled-Regular;
  font-size       : 14px;
  color           : #FFF;
  @include breakpoint(321px) {
    margin-top: 50px;
  }
}

.st-content-graphic {
  padding: 0 !important;
}

#avatar {
  margin-top: 25px;

  img {
    height      : 45px;
    cursor      : pointer;
    opacity     : 1;
    margin-right: 0;
    @include breakpoint(361px) {
      height: 60px;
    }
    @include breakpoint($d_medium) {
      margin-right: 25px;
      opacity     : 0.5;
    };
  }

.avatar{
  width: 0;
}
}

#avatar img:hover {
  opacity          : 1;
  -webkit-transform: rotate(10deg);
  -moz-transform   : rotate(10deg);
  -o-transform     : rotate(10deg);
  -ms-transform    : rotate(10deg);
  transform        : rotate(10deg);
}

input[type="radio"] {
  visibility: hidden;
}

.outer {
  @include container;
}

.instructions {
  position: relative;
  //text-align: center;
  width   : 92vw;
  z-index : 20;
  @include breakpoint($d_medium) {
    width : 420px;
    margin: 0;
  };
}
//transform : translateX(5%);

.textarea {
  position  : absolute;
  display   : none;
  background: rgba(255,255,255, 0.6);
  padding   : 30px 25px;
  transform : translate(5%, 15%);
  //height    : 83vh;
  h1 {
    // font-family: $font-Curator-Bold;
    font-family: $font-Pixeled-Regular;
    color      : #333;
    font-size  : 17px;
    line-height: 1.5;
    @include breakpoint($d_medium) {
      line-height: 24px;
    };
  }

  h2 {
    font-family: $font-Pixeled-Regular;
    color      : #333;
    font-size  : 14px;
    line-height: 1.5;
    @include breakpoint(321px) {
      font-size: 17px;
    }
    @include breakpoint($d_medium) {
      line-height: 24px;
    };
  }

  p {
    font-family  : $font-Curator-Regular;
    color        : #333;
    font-size    : 15px;
    line-height  : 1.5;
    margin-top   : 15px;
    margin-bottom: 30px;
    @include breakpoint(321px) {
      font-size: 17px;
    }
    @include breakpoint($d_medium) {
      margin-top : 25px;
      line-height: 24px;
    };
  }

  span {
    text-align   : center;
    cursor       : pointer;
    background   : #5A9DDC;
    border-radius: 25px;
    font-family  : $font-Curator-Regular;
    font-size    : 14px;
    color        : #FFFFFF;
    padding      : 9px 16px;
  }

  strong {
    font-family: $font-Curator-Bold;
  }
  @include breakpoint($d_medium) {
    height   : auto;
    transform: translateY(20%);
  };
}

.endtext {
  position  : absolute;
  text-align: center;
  z-index   : 1500;
  top       : 50px;
  right     : 30px;
  left      : 30px;
  background: $screen !important;
  // width     : 210px;
  padding   : 30px 25px;
  @include breakpoint($d_medium) {
    width : 320px;
    bottom: 90px;
    top   : auto;
    right : auto;
  };

  #end {
    h2 {
      font-family  : $font-Pixeled-Regular;
      color        : #333;
      font-size    : 14px;
      line-height  : 1.5;
      margin-bottom: 30px;
      @include breakpoint(321px) {
        font-size: 17px;
      }
      @include breakpoint($d_medium) {
        line-height: 24px;
      };
    }

    p {
      font-family: $font-Curator-Regular;
      color      : #333;
      font-size  : 15px;
      line-height: 1.5;
      // margin-top   : 15px;
      // margin-bottom: 30px;
      @include breakpoint(321px) {
        font-size: 17px;
      }
      @include breakpoint($d_medium) {
        // margin-top : 25px;
        line-height: 24px;
      };
    }

    strong {
      font-family: $font-Curator-Bold;
    }
    // transform : translate(20%, -12%);
    // @include breakpoint (321px) {
    //   transform: translate(22%, 0%);
    //   width    : 240px;
    // }
    // @include breakpoint(376px) {
    //   transform: translate(30%, 12%);
    // }
    // @include breakpoint($d_small) {
    //   transform: translate(90%, 125%);
    // }
    // @include breakpoint ($d_medium) {
    //   transform: translate(10%, 85%) !important;
    //   // width    : 380px;
    // };
    // @include breakpoint($d_normal) {
    //   transform: translate(0%, 85%) !important;
    // };
    .public_icon {
      width: 15px;
    }
  }

  #close {
    cursor       : pointer;
    @include container(50px);
    font-family  : $font-Curator-Regular;
    color        : #ffffff;
    background   : #5A9DDC;
    border-radius: 25px;
    font-size    : 12px;
    padding      : 10px 12px;
    text-align   : center;
    margin-top   : 30px;
  }
}

#arrow {
  // display     : none;
  content     : '';
  position    : absolute;
  width       : 0;
  height      : 0;
  border-top  : solid 30px #FFF;
  border-left : solid 30px transparent;
  border-right: solid 30px transparent;
  bottom      : -29px;
  left        : 0;
  right       : 0;
  margin      : 0 auto;
  // transform   : translate(130%, 98%);
  // @include breakpoint(321px) {
  //   transform: translate(150%, 98%);
  // };
  // @include breakpoint($d_small) {
  //   transform: translate(150%, 97%);
  // }
  // @include breakpoint ($d_medium) {
  //   border-top  : solid 30px $screen;
  //   border-left : solid 30px transparent;
  //   border-right: solid 30px transparent;
  //   transform   : translate(265%, 74%) !important;
  // };
}

#mobile {
  display: none;
}

#form {
  display : none;
  position: fixed;
}

#form-outer {
  z-index: -1 !important;
  display: none;
}

.finalWhiteArea {
  width     : 100%;
  background: #fff;
  margin    : 0 auto;
  position  : relative;
  @include breakpoint($d_medium) {
    width : 860px;
    height: 610px;
    margin: 20px auto 0;
  };
}

.half {
  display : none;
  z-index : 30;
  position: relative;
  width   : 100%;
  // left     : 50%;
  // transform: translateX(-50%);
  @include breakpoint(770px) {
    // float: left;
    // left : 90px;
    // position : fixed;
    // top  : 20px;
    // width: 430px;
    // transform: none;
  }
  @include breakpoint($d_normal) {
    // left: 170px;
  };
  @include breakpoint($d_medium) {
    width   : auto;
    position: absolute;
  };
}
// #info {
//   padding-top: 0;
//   @include breakpoint($d_medium) {
//     padding-top: 50px;
//   };
// }

.locationsize {
  width: 100%;
  // height    : 61vh;
  // max-height: 725px;
  // width     : auto;
  // @include breakpoint($d_medium) {
  //   height: 550px;
  // };
}

.halfscreen {
  // float   : left;
  // position: relative;
  // width   : auto;
  // margin  : inherit;
  padding: 15px;

  #background {
    img {
      // width: 300px;
      @include breakpoint($d_medium) {
        width: 400px;
      }
    }
  }
}

.white {
  background: #FFF;
}

.z-index {
  z-index: 1 !important;
}

.smoke {
  opacity : 0.7;
  right   : -300px;
  position: absolute;
  top     : 0;
  height  : 35%;
}

.effect {
  position: absolute;
  top     : 0;
  height  : 35%;
  @include breakpoint($d_medium) {
    right: -300px;
  };
}

.characters {
  position: absolute;
  bottom  : 60px;
  height  : 43%;
  @include breakpoint (321px) {
    height: 45%;
  }
  @include breakpoint($d_medium) {
    right: -300px;
  };
}

.shadowleft {
  opacity: 0.8;
  right  : 45%;
  // @include breakpoint (321px) {
  //   right: 46%;
  // }
  @include breakpoint($d_small) {
    right: 49%;
  };
  @include breakpoint($d_medium) {
    right: 45%;
  };
}

.shadowright {
  opacity: 0.8;
  right  : 0;
  // right  : 3%;
  // @include breakpoint (321px) {
  //   right: 2%;
  // }
}

.left {
  // left: 10px;
  left: 0;
}

.right {
  right: 10px;
}

.hide {
  display: none;
}

.online {
  position        : relative;
  z-index         : 30;
  margin          : inherit;
  display         : none;
  padding-top     : 10px;
  padding-bottom  : 10px;
  background-color: $screen;
  width           : 90vw;
  transform       : translateX(6%);
  height          : 55px;
  margin-top      : 50px;
  @include breakpoint($d_medium) {
    margin-left: 55%;
    margin-top : 20px;
    width      : 420px;
    transform  : translateX(-20%);
  };
}

#border {
  margin-left: 0 !important;
  height     : 20px;
  margin-top : -20px !important;
  transform  : none;
  @include breakpoint($d_medium) {
    margin-left: 20% !important;
    transform  : translateX(-20%) !important;
    margin-top : 520px !important;
  };
}

#merlion {
  margin-left: 10px;
  width      : 40px;
}

#status {
  display   : none;
  text-align: center;
  margin-top: -40px;
  //padding-bottom: 8px;
  p {
    font-family: $font-Curator-Bold;
    font-size  : 18px;
    color      : #333;
  }

  span {
    font-family   : $font-Curator-Regular;
    font-size     : 12px;
    color         : #999999;
    margin-top    : 8px;
    padding-bottom: 8px;
  }
  @include breakpoint ($d_medium) {
    padding-bottom: 8px;
    margin-top    : -35px;
  }
}

.today {
  text-align: center;
  margin-top: 15px;
  position  : absolute;
  z-index   : 2;
  width     : 90vw;

  span {
    color        : #333;
    font-family  : $font-Curator-Regular;
    font-size    : 12px;
    background   : #E9F6FC;
    border-radius: 7px;
    padding      : 6px 10px;
  }
  @include breakpoint($d_medium) {
    width      : auto;
    margin-left: 185px;
  };
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(192,192,192,0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(192,192,192,0.4);
    box-shadow     : 0 0 0 0 rgba(192,192,192,0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    box-shadow     : 0 0 0 10px rgba(204,169,44, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    box-shadow     : 0 0 0 0 rgba(204,169,44, 0);
  }
}

.mobile {
  position     : relative;
  display      : none;
  margin       : auto;
  width        : 350px;
  padding      : 10px;
  text-align   : center;
  margin-top   : 15px;
  padding-right: 26px;

  p {
    background   : #5A9DDC;
    border-radius: 16px;
    font-family  : $font-Curator-Regular;
    font-size    : 13px;
    color        : #FFFFFF;
    padding      : 5px 15px;
    text-align   : center;
    width        : 140px;
    display      : inline-block;
    position     : relative;
    cursor       : pointer;
  }

  #share {
    display: inline-block;
  }
}

.container {
  position     : relative;
  display      : none;
  // padding   : 5px;
  text-align   : center;
  // margin-top   : 25px;
  margin-bottom: 10px;

  img {
    display      : inline-block;
    margin-bottom: -3px;
    padding-right: 5px;
    width        : 15px;
    @include breakpoint($d_medium) {
      margin-bottom: -5px;
      width        : 18px;
      height       : 20px;
    }
  }
  // span {
  //   background   : #5A9DDC;
  //   border-radius: 25px;
  //   font-family  : $font-Curator-Regular;
  //   font-size    : 12px;
  //   color        : #FFFFFF;
  //   padding      : 10px 12px;
  //   text-align   : center;
  //   // width        : 100px;
  //   display      : inline-block;
  //   position     : relative;
  //   cursor       : pointer;
  //   @include breakpoint($d_medium) {
  //     margin-left: 10px;
  //     font-size  : 14px;
  //     padding    : 9px 16px;
  //     height     : 17px;
  //   }
  //   @include breakpoint (321px) {
  //     width: auto;
  //   }
  // }
  p:hover {
    background: darken(#5A9DDC, 20%);
  }
}

.howtowin,
.new {
  cursor       : pointer;
  background   : #5A9DDC;
  border-radius: 25px;
  font-family  : $font-Curator-Regular;
  font-size    : 12px;
  color        : #FFFFFF;
  padding      : 10px 12px;
  text-align   : center;
}

.new {
  margin-right: 10px;
  padding     : 12px 12px 10px;
  @include breakpoint($d_medium) {
    padding: 15px 12px 10px;
  }
}

.continue,
.download,
.howtowin,
.new,
.share {
  display: inline-block;
}

#canvas {
  max-width: 450px;
  width    : auto;
  @include breakpoint($d_medium) {
    max-height: 800px;
    max-width : 765px;
    width     : 50vw;
  };
}

.canvas {
  position  : relative;
  z-index   : 4;
  width     : auto;
  max-width : 335px;
  padding   : 10px;
  margin    : 10px auto auto;
  background: #fff;
  @include breakpoint($d_medium) {
    float    : left;
    width    : 37vw;
    max-width: 563px;
    margin   : inherit;
    padding  : 15px;
  }
}

.howToGetAward {
  background : #fff;
  padding    : 20px;
  color      : #333;
  font-family: $font-Curator-Regular;
  font-size  : 13px;
  line-height: 18px;
}

.conversational-form .conversational-form-inner {
  height          : 56vh !important;
  position        : inherit !important;
  display         : -ms-flexbox !important;
  display         : -webkit-flex !important;
  background-image: url("/images/bg10.png");
  width           : auto !important;
  background-color: #FFF;
  @include breakpoint(321px) {
    height: 63vh !important;
  }
  @include breakpoint ($d_medium) {
    max-width: 420px;
    // height    : 66vh !important;
    height   : 547px !important;
  }
}

.conversational-form {
  z-index         : 1 !important;
  width           : 90vw !important;
  padding         : 0 !important;
  position        : relative !important;
  background-color: transparent !important;
  @include breakpoint(770px) {
    width   : 100% !important;
    margin  : 0 !important;
    position: inherit !important;
    float   : right !important;
  }
}

.conversational-form:before {
  //remove gradient
  background: none !important;
}

cf-chat scrollable {
  overflow-x: scroll !important;
  overflow-y: scroll !important;
  max-height: 100vh !important;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  display: none;
}

cf-chat-response.can-edit {
  //prevent edit
  pointer-events: none !important;
}

.conversational-form--enable-animation cf-input textarea,
cf-input.animate-in cf-input-button.cf-input-button {
  //pointer-events: none !important;
}

cf-input-button {
  display: none;
}

cf-chat-response thumb {
  border-radius: 0 !important;
  width        : 40px !important;
  height       : 40px !important;
}

cf-chat-response.user {
  margin-right: 10px !important;

  text {
    margin-right: 15px;
  }
}

cf-chat-response {
  max-width: 90% !important;

  text {
    //conversation box
    font-size   : 17px !important;
    line-height : 23px !important;
    color       : #666666 !important;
    // background-color: $screen !important;
    font-family : $font-Curator-Regular;
    margin-left : 10px;
    margin-right: 10px;
    //width           : 150px !important;
  }
}

.cf-button .cf-image {
  // height: 150px !important;
  // @include breakpoint($d_small) {
  //   height: auto !important;
  // };
}

cf-input input,
cf-input textarea {
  //input message field
  display         : none !important;
  width           : 140% !important;
  margin-left     : -20px !important;
  background-color: $screen !important;
  //color           : transparent !important;
  margin-bottom   : -20px;
  pointer-events  : none !important;
}

.cf-button > div {
  //button
  background-color: #5A9DDC;
  font-family     : $font-Curator-Regular !important;
  font-size       : 14px !important;
  color           : #FFF !important;
  padding         : 12px 0 !important;
  text-align      : center;
  width           : 118px;
  @include breakpoint(321px) {
    width: 120px;
  };
  @include breakpoint($d_medium) {
    width: 148px;
    // font-size: 14px !important;
  }
}

.cf-button.has-image {
  width: 120px !important;
  @include breakpoint($d_medium) {
    width: 150px !important;
  };
}

cf-radio-button.cf-button cf-radio {
  display: none !important;
}

button cf-radio {
  display: none !important;
}

cf-chat-response text > p > img {
  display: none !important;
}

cf-chat-response text.contains-image {
  div {
    padding-bottom: 0 !important;
    max-width     : inherit !important;
  }

  img {
    display: none !important;
  }

  span {
    padding-left: 0 !important;
  }
}

.conversational-form--enable-animation cf-chat-response.show text {
  transition      : transform 1s cubic-bezier(.215,.61,.355,1) 0s,opacity 375ms cubic-bezier(.215,.61,.355,1) 0s,background 1s cubic-bezier(.215,.61,.355,1) !important;
  transition-delay: 0.3s,.3s,0s !important;
}

.conversational-form--enable-animation .cf-button.animate-in {
  transition-duration: 1s,.75s !important;
}

cf-chat-response.show text {
  padding: 10px;
}

cf-list-button {
  //gradient button
  height: 100% !important;
}

cf-list-button.active:after {
  background-image: url("/images/arrow-next.png") !important;
}

cf-list-button:nth-child(1):after {
  background-image: url("/images/arrow-back.png") !important;
}

cf-list-button:after {
  width          : 20px !important;
  height         : 20px !important;
  background-size: 20px 20px !important;
}

cf-list {
  width: auto !important;
}
