.data {
  // float     : left;
  position  : relative;
  width     : auto;
  // max-width : 310px;
  padding   : 10px;
  // margin    : 10px;
  background: white;
  display   : none;
  z-index   : 20;
  // margin-top: -1px;
  @include breakpoint($d_medium) {
    position: absolute;
    z-index : 40;
    right   : 0;
    width   : 400px;
    padding : 15px;
    // margin-right: 100px;
    // margin-top  : 20px;
    // @include breakpoint($d_small) {
    // margin-left: 90px;
    // width      : 550px;
    // };
  }
  @include breakpoint($d_normal) {
    // margin-right: 170px;
  }

  .words {
    font-family: $font-Curator-Regular;
    font-size  : 15px;
    color      : #333333;
    // padding-bottom: 10px;
  }

  .alldata {
    // overflow-x      : scroll;
    overflow-y: visible;
    // background-color: white;
    @include breakpoint($d_medium) {
      overflow-y: scroll;
      overflow-x: hidden;
      // height    : 565px;
      height    : 535px;
    }
  }

  .alldata:after {
    @include breakpoint($d_medium) {
      background : linear-gradient(to bottom,rgba(221,234,242,0) 0%, #FFF 100%);
      content    : '';
      width      : 100%;
      margin-left: -15px;
      position   : absolute;
      bottom     : 0;
      height     : 60px;
    }
  }
}

.header1 {
  margin-top   : 25px;
  padding-left : 60px;
  margin-bottom: 20px;
  color        : #333333;
  background   : $screen;
  padding      : 8px;

  strong {
    font-family   : $font-Curator-Bold;
    text-transform: uppercase;
    margin-left   : 50px;
  }
}

.location {
  margin-top: 10px;

  .char {
    height       : 40px;
    margin-bottom: 20px;

    img {
      height: 40px;
      width : 40px;
      cursor: pointer;
    }

    p {
      margin-left   : 60px;
      margin-top    : -40px;
      padding-bottom: 15px;
      color         : #333333;
      font-family   : $font-Curator-Regular;
      font-size     : 15px;
    }

    .makeBold {
      font-family: $font-Curator-Bold;
    }

    .countPerc {
      float: right;
    }

    .bar {
      width           : auto;
      background-color: #ddd;
      margin-left     : 60px;
      margin-top      : 120px;

      .progressbar {
        width           : 0;
        height          : 2px;
        background-color: #EF4123;
        text-align      : center;
        line-height     : 30px;
        color           : white;
        border-radius   : 100% / 100% / 0 / 0;

        .barcss {
          font-family : $font-Curator-Regular;
          font-size   : 15px;
          color       : #333333;
          padding-left: 320px;
          margin-top  : -120px;
        }
      }
      @include breakpoint($d_medium) {
        width: 90%;
      }
    }
  }
}

.text {
  margin-left  : 60px;
  font-family  : $font-Curator-Regular;
  font-size    : 15px;
  line-height  : 21px;
  color        : #666666;
  margin-bottom: 30px;
  display      : none;

  strong {
    font-family: $font-Curator-Bold;
  }
}

.last_go_to_story {
  color: #333;

  img {
    width: 100px;
  }

  .last_text {
    width  : 200px;
    float  : right;
    padding: 30px 0;
    @include breakpoint(361px) {
      width: 250px;
    }

    .readmore {
      font-family  : $font-Curator-Regular;
      margin-bottom: 10px;
      font-size    : 18px;
    }

    .ndp2017 {
      font-family  : $font-Pixeled-Regular;
      font-size    : 20px;
      margin-bottom: 20px;
    }

    .last_button {
      @include container(80px);
      font-family     : $font-Curator-Regular;
      background-color: $red;
      font-size       : 12px;
      color           : #fff;
      padding         : 10px 30px;
      margin-left     : 0;
      text-align      : center;
    }
  }
}
