.candidate-buttons.navContainer.text-sm-center,
.feature-header.container-fluid,
.row.header-text-holder {
  display: none;
}

.st-header-page .main-headline .st-title {
  padding: 0;
}

.main {
  padding-top: 0;
  overflow-x : visible;
  font-family: $font-Curator-Regular;
}

#package-container .btn {
  background-color: transparent;
  font-family     : $font-Curator-Regular;
}

#cartogram-svg .st8,
#package-container .btn.active,
.font-weight-bold,
.graphic-chart-label {
  font-family: $font-Curator-Bold;
  font-weight: 400;
  color      : #333;
}

#cartogram-svg .st6,
.axis text,
.chart,
.graphic-subhead {
  font-family: $font-Curator-Regular;
  color      : #333;
}

.legendContainer .legend-ital {
  font-style: normal;
}

.text-uppercase.mb-0.font-weight-bold {
  margin: 20px 0;
  @include breakpoint($d_medium) {
    margin: auto;
  }
}

.st-content-banner {
  img {
    padding-top: 50px;
  }
}

.navbar {
  padding: 0;
}

.bottomline-text.mb-2.mt-1.text-sm-center {
  margin-bottom: 20px !important;
  @include breakpoint($d_medium) {
    margin-bottom: 50px !important;
  }
}

section.graphic-section {
  border-top: none;
}

.legend.nested-legend .legendContainer {
  display: none;
  @include breakpoint(360px) {
    display: block;
  }
}
