.center-block {
  height: 40px;
  width: 40px;
}
@import url(http://fonts.googleapis.com/css?family=Merriweather:700);
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,700);

.st-content-banner-bg {
  background-color: $stlightblue;
}

a:hover {
  text-decoration: none !important;
}

img {
  border: 0;
}

div.content_fb_comments {
  max-width: 992px;
  margin: 60px auto;
  padding: 15px;
  margin-bottom: 0 !important;
}

div.content_fb_comments .fb-comments span:first-child {
  width: 100% !important;
}

div.content_fb_comments .fb-comments span:first-child iframe {
  width: 100% !important;
}

.st_footer {
  background-color: #0c2b57;
  text-align: center;
  // margin-top: 100px !important;
}

.st_footer .content_st_footer {
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
}

.st_footer .content_st_footer:after {
  content: " ";
  display: block;
  clear: both;
}

.st_footer .content_st_footer .f_hold {
  padding: 20px;
  font-size: 13px;
  color: #bbc2c7;
}

.chosen-container-single .chosen-single {
  height: 34px;
  padding: 6px 12px;
  background-color: #E7EAED;
}

.chosen-container-single .chosen-single span {
  margin-right: 30px;
}

.chosen-container-single .chosen-single div {
  right: 0;
  padding-left: 0;
  width: 30px;
  padding: 4px 10px;
}

.search-choice-close {
  margin-top: 5px;
  margin-right: 5px;
}

.chosen-container .chosen-results li.highlighted {
  background-color: #5A9DDC;
  background-image: none;
}

.none {
  display: none;
}

.div_content_text_2011,
.div_content_text_2012,
.div_content_text_2013,
.div_content_text_2014,
.div_content_text_2017 {
  overflow: hidden;
  position: relative;
  margin-top: 5px;
  @include breakpoint(767px) {
    overflow: hidden;
    position: relative;
    margin-left: 80px;
    width: 150px;
  }
  @include breakpoint(1023px) {
    overflow: hidden;
    position: relative;
    margin-left: 0;
    width: 150px;
  }
  @include breakpoint(1025px) {
    overflow: hidden;
    position: relative;
    margin-left: 0;
    width: 150px;
  }
  @include breakpoint(1365px) {
    overflow: hidden;
    position: relative;
    margin-left: 0;
    width: 150px;
  }
  @include breakpoint(1367px) {
    overflow: hidden;
    position: relative;
    margin-left: 0;
    width: 150px;
  }
}

.div_content_text_filter {
  position: relative;
  @include breakpoint(767px) {
    position: relative;
    margin-left: 50px;
    width: 400px;
  }
  @include breakpoint(1023px) {
    position: relative;
    margin-left: 50px;
    width: 700px;
  }
  @include breakpoint(1365px) {
    position: relative;
    margin-left: 50px;
    width: 900px;
  }
  @include breakpoint(1367px) {
    position: relative;
    margin-left: 50px;
    width: 900px;
  }
}

.div_content_year_2012,
.div_content_year_2013,
.div_content_year_2014,
.div_count_word_2012,
.div_count_word_2013,
.div_count_word_2014,
.div_count_word_2017 {
  padding-left: 5px;
  line-height: 1.3;
  @include breakpoint(767px) {
    padding-left: 5px;
    line-height: 1.3;
    margin-left: 90px;
  }
  @include breakpoint(1023px) {
    padding-left: 5px;
    line-height: 1.3;
    margin-left: 115px;
  }
  @include breakpoint(1365px) {
    height: 36px;
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 18px;
    margin-left: 0;
  }
  @include breakpoint(1367px) {
    height: 36px;
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 18px;
    margin-left: 0;
  }
}

.div_content_text_2011 p,
.div_content_text_2012 p,
.div_content_text_2013 p,
.div_content_text_2014 p,
.div_content_text_2017 p {}

.div_content_text_2011 span,
.div_content_text_2012 span,
.div_content_text_2013 span,
.div_content_text_2014 span,
.div_content_text_2017 span {
  background-color: #E7EAED;
  color: #E7EAED;
}

.tag_scale_text {
  transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  /*padding-right: 15px;padding-left: 15px;*/
}

.magnifier_text {
  position: absolute;
  top: 0;
  background: #5A9DDC;
  opacity: 0.4;
  left: 0;
  right: 0;
  transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  cursor: pointer;
  z-index: 10;
}

.word_select_extern {
  display: inline-block;
  min-width: 10px;
  padding: 3px 4px;
  font-size: 13px;
  // font-weight: 700;
  color: #5A9DDC;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  border-radius: 2px;
  position: relative;
}

.div_content_text_filter .cdr_total {
  display: none;
}

.tag_scale_text .cdr_total {
  width: 50%;
  position: absolute;
  height: 400%;
  top: -150%;
  left: 0;
  background-color: #333;
  color: #333;
}

.tag_scale_text_active span {
  background-color: #C5CED3;
  color: #C5CED3;
}

.tag_scale_text_active .cdr_total:hover {
  cursor: pointer;
  width: 75%;
  height: 700%;
  top: -300%;
}

.form-control {
  box-shadow: none;
}

.form-control:focus {
  border-color: #ccc;
  box-shadow: none;
}

.group_text_map p {
  font-size: 14px;
  line-height: 21px;
  padding-left: 17px;
  padding-right: 17px;
}

.group_text_map .div_content_text_filter p {
  color: #666;
}

.group_text_map .div_content_text_filter p:after,
.group_text_map .div_content_text_filter p:before {
  color: #666;
  font-size: 45px;
  font-family: Arial, sans-serif;
  font-weight: lighter;
  position: absolute;
}

.group_text_map .div_content_text_filter p:before {
  content: "\201C";
  margin: 0.25em 0 0 -0.4em;
}

.group_text_map .div_content_text_filter p:after {
  content: "\201D";
  margin: 0.25em 0 0 0.1em;
}

.div_content_search {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.div_head_text_filter {
  height: 36px;
  padding-left: 17px;
  padding-right: 17px;
  margin-bottom: 18px;
  @include breakpoint(767px) {
    height: 36px;
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 18px;
    margin-left: 50px;
    width: 430px;
  }
  @include breakpoint(1023px) {
    height: 36px;
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 18px;
    margin-left: 50px;
  }
}

.div_head_text_filter span:first-child {
  font-weight: bolder;
}

.div_head_text_filter span:last-child {
  background: #5A9DDC;
  color: #fff;
  padding: 2px 5px;
  font-weight: bolder;
  text-transform: uppercase;
}

.div_head_text_filter hr {
  margin-top: 10px;
  margin-bottom: 5px;
  border-top: 1px solid #333;
}

.mobile_bak {
  display: none;
}

.ie_ok {
  display: none;
}
@media (max-width: 560px) {
  .div_content_search > div {
    margin-bottom: 5px;
  }

  .div_head_text_filter {
    display: none;
  }

  .desktop_bak {
    display: none;
  }

  .mobile_bak {
    display: block;
  }
}
@media (min-width: 560px) and (max-width: 767px) {
  .div_content_search > div {
    margin-bottom: 5px;
  }

  .div_words_select {
    width: 50%;
  }

  .div_category_select {
    width: 50%;
  }
}

#div_category,
#div_words {
  display: table;
  margin: 0 auto;
}

.unit_word {
  cursor: pointer;
  margin: 5px;
  background: #C8E6F4;
  opacity: 0.5;
}

.unit_word.wordActive {
  opacity: 1;
}

.unit_word div {
  padding: 2px 10px;
}

.unit_category {
  margin: 10px;
  cursor: pointer;
}

.unit_category div:nth-child(2) {
  padding: 0 5px;
}

.unit_category.categoryActive div:nth-child(2) {
  background: #C8E6F4;
}

.btn_div_content_year {
  margin-bottom: 5px;
}

.btn-default.active,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open .dropdown-toggle.btn-default {
  background-color: #5A9DDC;
  color: #fff;
  border-color: #5A9DDC;
}

.div_count_word_2012 span:last-child,
.div_count_word_2013 span:last-child,
.div_count_word_2014 span:last-child {
  font-weight: bold;
}

.btn.active,
.btn:active {
  outline: none;
  box-shadow: none;
}

.div_tab_search .tab-content {
  padding-bottom: 10px;
  padding-top: 10px;
}

.div_tab_search a {
  color: #333;
}

.div_tab_search .nav-tabs > li.active > a,
.div_tab_search .nav-tabs > li.active > a:focus,
.div_tab_search .nav-tabs > li.active > a:hover {
  background-color: #5A9DDC;
  border-color: #5A9DDC;
  color: #fff;
  border-radius: 0;
}

.div_tab_search .nav-tabs > li > a:hover {
  border-color: #5A9DDC;
  border-radius: 0;
}

.div_tab_search .nav > li > a:focus,
.div_tab_search .nav > li > a:hover {
  background-color: #5A9DDC;
  border-radius: 0;
}

.div_tab_search a {
  outline: none;
}

.container {
  font-family: 'Curator Regular', sans-serif;
  font-size: 14px;
  line-height: 1.8;
  color: #333;
  background-color: #fff;
  font-weight: lighter;
  max-width: 1200px;
}

.user_select {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}

.container a:hover {
  text-decoration: none;
}

.div_container_banner {
  background-color: #EC432E;
}

.div_container_brand {
  background-color: #0C2B57;
}

.div_container_brand img {
  height: 46px;
}

.btn_shared_face,
.btn_shared_twitter,
.go_to_st {
  cursor: pointer;
}

.st-headline,
.st-strap {
  margin: 40px auto;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: 'Curator Regular', sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #B3B3B3;
}
// header {
//     padding: 30px 15px;
//     text-align: center;
// }

.st-headline {
  font-size: 38px;
  line-height: 45px;
  color: #333;
  font-family: 'Selane MinTen', serif;
}

.st-strap {
  font-family: 'Curator Regular', sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #333;
  max-width: 700px;
}

.content_tweet {
  background-color: #E7EAED;
  padding: 10px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.unit_tweet {
  background-color: #146;
  margin: 10px 0;
}

.t_account {
  background-color: #E7EAED;
  font-family: 'Curator Regular', sans-serif;
  font-size: 15px;
  color: #333;
  line-height: 1.5;
  padding-left: 10px;
}

.t_date {
  background-color: #E7EAED;
  font-family: 'Curator Regular', sans-serif;
  font-size: 12px;
  color: #333;
  line-height: 1.5;
  padding-left: 10px;
}

.t_message {
  background-color: #E7EAED;
  font-family: 'Curator Regular', sans-serif;
  font-size: 13px;
  color: #333;
  line-height: 1.5;
  padding: 10px 10px 20px;
  border-bottom: 1px dotted #333;
  word-wrap: break-word;
}

.list-option-radio {
  margin-bottom: 20px;
}

.list-option-radio input[type=radio] {
  opacity: 0;
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  z-index: 3;
  width: 30px;
  height: 30px;
  cursor: pointer;
  top: 50%;
  margin-top: -15px;
  position: absolute;
  left: 15px;
}

.list-option-radio label {
  display: inline-block;
  position: relative;
  font-size: 1.1em;
  padding: 0 0 0 50px;
  vertical-align: top;
  /*color: rgba(0,0,0,0.2);*/
  cursor: pointer;
  margin-bottom: 0;
  font-weight: normal;
}

.list-option-radio label:before {
  content: '';
  background-color: #e7eaed;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  margin-top: -15px;
  top: 50%;
}

.list-option-radio input[type=radio]:checked + label:after {
  content: '';
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #5A9DDC;
}

.list-option-radio div {
  position: relative;
  /*padding: 1em 0;*/
}

.list-option-radio svg {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  margin-top: -15px;
  left: 15px;
  pointer-events: none;
  display: none;
}

.list-option-radio svg path {
  stroke: #042029;
  stroke-width: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.div_head_twitter {
  background-color: #dadfe3;
  line-height: 22px;
  padding-top: 10px;
}

.div_head_twitter hr {
  margin-top: 5px;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid #fff;
}

.text_dinamic_show {
  padding: 10px 10px 5px 35px;
  line-height: 19px;
}

.content_a {
  display: none;
}

.bold_number {
  font-weight: bold;
}

.t_message a {
  display: none;
}
@media (min-width: 768px) {
  .content_a {
    display: block;
    padding-top: 10px;
  }
}
@media (min-width: 768px) {
  .st-headline {
    font-size: 70px;
    line-height: 72px;
    padding: 60px 15px 20px;
    margin: 40 auto;
    max-width: 1000px;
  }
}
@media (min-width: 1024px) {}
@media (min-width: 1200px) {}

.div_content_text_filter p span {
  font-family: $font-Curator-Regular;

  .word_select_extern {
    font-family: $font-Curator-Bold;
  }
}

.list-option-radio .col-xs-6 {
  display: none;
}

.col-lg-4 {
  display: none;
}
// @media (min-width: 1200px) {
//   .col-lg-2 {
//     min-width: 17%;
//     float: right;
//   }
// }

.all_content_text {
  width: auto;
}
@media (min-width: 1200px) {
  .col-lg-10 {
    width: 120%;
  }
}
// .all_content_text {
//   @include breakpoint(768px) {
//     width: 768px;
//   }
//   @include breakpoint(1023px) {
//     width: 1000px;
//   }
//   @include breakpoint(1366px) {
//     width: 1280px;
//   }
//   @include breakpoint(1369px) {
//     // width: 1800px;
//   }
// }

#tab_desk li a {
  font-family: $font-Curator-Regular;
}

.unit_category div {
  font-family: $font-Curator-Regular;
}

#div_words div div {
  font-family: $font-Curator-Regular;
}

.div_head_text_filter div span {
  font-family: $font-Curator-Regular;
}

.div_count_word_2017 span {
  font-family: $font-Curator-Regular;
}

#allcontent {
  @include breakpoint(1023px) {
    width: 935px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  @include breakpoint(1366px) {
    width: 1135px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
