html {
  -webkit-text-size-adjust: 100%;
  position: relative;
  min-height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: $font-Curator-Regular;
  font-size: 14px;
  line-height: 24px;
  color: #B3B3B3;
  @media (min-width: $d_medium) {
    font-size: 16px;
    line-height: 26px;
  }
}

h1 {
  font-family: $font-SelaneMinTen;
  font-size: 2.5rem;
  line-height: 1.3em;
  @include breakpoint($d_medium) {
    font-size: 4.4rem;
  }
}

h2 {
  font-family: $font-SelaneMinTen;
  font-size: 1.8rem;
  line-height: 140%;
  margin: 0 0 30px;
  color: $black;
}

h3 {
  font-size: 1.8rem;
  line-height: 60%;
  color: $black;
}

a {
  text-decoration: none;
  color: #5a9ddc;

  &:hover {
    color: #467aa5;
  }
}

p {
  margin-bottom: 1.125em;
}

strong {
  font-family: $font-Thirty;
}

button {
  cursor: pointer;
}

li {
  margin-bottom: 1.125em;
}

label {
  color: #333;
}

ul {
  list-style-type: disc;
  margin: 0;
  padding: 0 20px;
}

ul li {
  padding: 0;
  margin: 10px 0;
}
:focus{
  outline:none;
}
