// URBAN PLANNING (VIRTUAL)

.virtual {
  .st-header-page {
    @include backImage( '../images/urban-planning/hero-cover-mobile.jpg');
    @include breakpoint($d_medium) {
       @include backImage( '../images/urban-planning/hero-cover-desktop.jpg');
    }
  }
  // .st-video {
  //   margin-top: 25px
  // }
}
// END URBAN PLANNING (VIRTUAL)
// HEALTH

.health {
  .st-header-page {
    @include backImage( '../images/health/hero-cover-mobile.jpg');
    @include breakpoint($d_medium) {
       @include backImage( '../images/health/hero-cover-desktop.jpg');
    }
  }

  article section .virtual-singapore-section {
    background-color: #EF4123;
  }

  .content-columns {
    h2 {
      display: inline;
      background: $health;
      padding: 3px 0;
      box-shadow: 10px 0 0 $health, -10px 0 0 $health;
      background-position: 100% 100%;
      background-size: 200% 200%;
    }

    .column-paragraph-left {
      .text-paragraph {
        p {
          strong {
            font-family: $font-Thirty;
          }
        }

        .icons-health {
          .icons-desktop {
            display: none;
            @include breakpoint(544px) {
              display: block;
            }
          }

          .icons-mobile {
            display: block;
            @include breakpoint(545px) {
              display: none;
            }
          }
        }
      }
    }
  }

  .go-next-chapter {
    background-image: url("../images/health/go-next.jpg");
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    margin-top: 30px;
    background-position: center;
    background-size: cover;
  }
}
// END HEALTH
// TRANSPORT

.transport {
  .st-header-page {
    @include backImage( '../images/transport/hero-cover-mobile.jpg');
    @include breakpoint($d_medium) {
       @include backImage( '../images/transport/hero-cover-desktop.jpg');
    }
  }

  article section .virtual-singapore-section {
    background-color: #FFD400;

    .content-columns {
      color: $black;

      .text-unique-paragraph {
        p {
          color: $black;
        }
      }
    }
  }

  .content-columns {
    h2 {
      display: inline;
      background: $transport;
      padding: 3px 0;
      box-shadow: 10px 0 0 $transport, -10px 0 0 $transport;
      background-position: 100% 100%;
      background-size: 200% 200%;
    }
  }

  .go-next-chapter {
    background-image: url("../images/transport/go-next.jpg");
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    margin-top: 30px;
    background-position: center;
    background-size: cover;
  }

  .transport-transport-inside,
  .transport-transport-outside {
    .st-mobile-svg {
      display: block;
      @include breakpoint(449px) {
        display: none;
      }
    }

    .st-tablet-svg {
      display: none;
      @include breakpoint(450px) {
        display: block;
      }
      @include breakpoint(649px) {
        display: none;
      }
    }

    .st-desktop-svg {
      margin-top: 25px;
      @include container(1200px);
      display: none;
      @include breakpoint(650px) {
        display: block;
      }
    }
  }

  .transport-truck-platooning {
    .st-mobile-svg {
      display: block;
      @include breakpoint(449px) {
        display: none;
      }
    }

    .st-tablet-svg {
      display: none;
      @include breakpoint(450px) {
        display: block;
      }
      @include breakpoint(649px) {
        display: none;
      }
    }

    .st-desktop-svg {
      margin-left: 40px !important;
      @include container(750px);
      display: none;
      @include breakpoint(650px) {
        display: block;
      }
    }
  }

  .player_wrapper {
    margin-top: 25px;
  }
}
// END TRANSPORT
// ENVIRONMENT

.environment {
  .st-header-page {
    @include backImage( '../images/environment/hero-cover-mobile.jpg');
    @include breakpoint($d_medium) {
       @include backImage( '../images/environment/hero-cover-desktop.jpg');
    }
  }

  article section .virtual-singapore-section {
    background-color: #0A978D;
  }

  .content-columns {
    h2 {
      display: inline;
      background: $environment;
      padding: 3px 0;
      box-shadow: 10px 0 0 $environment, -10px 0 0 $environment;
      background-position: 100% 100%;
      background-size: 200% 200%;
    }
  }

  .go-next-chapter {
    background-image: url("../images/environment/go-next.jpg");
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    margin-top: 30px;
    background-position: center;
    background-size: cover;
  }

  .player_wrapper {
    margin-top: 25px;
  }
  article section .content-columns  .blockquote:after {
    color: $environment;
  }
article section .content-columns .blockquote .content-blockquote .line-quote {
    background-color: $environment;
  }
}
// END ENVIRONMENT
// DIGITAL

.digital {
  .st-header-page {
    @include backImage( '../images/digital-government/hero-cover-mobile.jpg');
    @include breakpoint($d_medium) {
       @include backImage( '../images/digital-government/hero-cover-desktop.jpg');
    }
  }

  article section .virtual-singapore-section {
    background-color: #7FB668;
  }

  .content-columns {
    h2 {
      display: inline;
      background: $digital;
      padding: 3px 0;
      box-shadow: 10px 0 0 $digital, -10px 0 0 $digital;
      background-position: 100% 100%;
      background-size: 200% 200%;
    }

    strong {
      font-family: $font-Thirty;
      margin-top: 10px;
    }
  }

  .go-next-chapter {
    background-image: url("../images/digital-government/go-next.jpg");
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    margin-top: 30px;
    background-position: center;
    background-size: cover;
  }

  article section .content-columns .blockquote:after {
    color: #7FB668;
  }

  article section .content-columns .blockquote .content-blockquote .line-quote {
    background-color: #7FB668;
  }
}
//  END DIGITAL
// SECURITY

.security {
  .st-header-page {
    @include backImage( '../images/security/hero-cover-mobile.jpg');
    @include breakpoint($d_medium) {
       @include backImage( '../images/security/hero-cover-desktop.jpg');
    }
  }

  article section .virtual-singapore-section {
    background-color: #5A9DDC;
  }

  .content-columns {
    h2 {
      display: inline;
      background: $security;
      padding: 3px 0;
      box-shadow: 10px 0 0 $security, -10px 0 0 $security;
      background-position: 100% 100%;
      background-size: 200% 200%;
    }
  }

  .go-next-chapter {
    background-image: url("../images/security/go-next.jpg");
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    margin-top: 30px;
    background-position: center;
    background-size: cover;
  }

  .security-polycam {
    .st-mobile-svg {
      display: block;
      @include breakpoint(449px) {
        display: none;
      }
    }

    .st-tablet-svg {
      display: none;
      @include breakpoint(450px) {
        display: block;
      }
      @include breakpoint(649px) {
        display: none;
      }
    }

    .st-desktop-svg {
      margin-left: 40px !important;
      @include container(750px);
      display: none;
      @include breakpoint(650px) {
        display: block;
      }
    }
  }
}
// END SECURITY

.st-header-page {
  // @include backImage('../images/urban-planning/hero-cover-desktop.jpg');
  .st-header-hero {
    overflow: visible;

    .st-header-container {
      max-height: 100%;
      max-width: 600px;
      margin: 0 auto;
      // height: 600px;
      // width: 600px;
      top: 50%;
      @include transform(translateY(-50%));
      position: relative;
      // margin: auto;
      .circle-intro {
        padding: 0 15px;
        height: 100%;
        @include breakpoint(max-width 550px) {
          display: none;
        }
      }

      .intro-text {
        position: absolute;
        top: 50%;
        @include transform(translateY(-50%));
        width: 100%;
        // position: relative;
      }
    }
  }

  .main-headline {
    margin: 0 auto;
    max-width: 500px;
    padding-left: 20px;
    padding-right: 20px;

    .st-title {
      margin-bottom: 0;

      h1 {
        color: #FFFFFF;
      }
    }

    .st-deck {
      color: #FFFFFF;

      p {
        margin-bottom: 0;
      }
    }

    .st-byline {
      color: #FFFFFF;
    }
  }
}

article section {
  .virtual-singapore-section {
    background-color: #942170;

    .content-columns {
      padding: 30px 0;
    }

    .text-unique-paragraph {
      max-width: 650px;
      margin: 0 auto;

      p {
        font-size: 0.9em;
        line-height: 1.6em;
        color: #333;
        text-transform: uppercase;
        text-align: center;
        color: rgba(255,255,255,0.8);
        font-family: $font-Curator-Regular;
        letter-spacing: 2px;
        margin: 20px 0;

        strong {
          font-family: $font-Curator-Bold;
        }
      }
    }
  }

  .content-columns {
    // padding-top: 40px;
    p {
      margin-top: 20px;
    }

    h2 {
      display: inline;
      background: $virtual;
      padding: 3px 0;
      box-shadow: 10px 0 0 $virtual, -10px 0 0 $virtual;
      background-position: 100% 100%;
      background-size: 200% 200%;

      &:before {
        content: " ";
        display: block;
        margin-top: 40px;
      }
    }

    h2 + p {
      margin-top: 30px !important;
    }

    .photo-caption-bottom {
      padding: 35px 0 0;
    }

    .text-unique-paragraph {
      // @include container (650px);
      @include breakpoint($d_medium) {
        padding-left: 52px;
        padding-right: 45px;
      }

      p {
        font-size: 0.9em;
        line-height: 1.6em;
        color: #333;
        text-transform: uppercase;
        // margin-bottom: 1.125em;
        text-align: center;
        color: rgba(255,255,255,0.8);
        font-family: $font-Curator-Regular;
        letter-spacing: 2px;
        padding: 0 15px;

        span {
          font-family: $font-Curator-Bold;
        }
      }

      h3 {
        box-sizing: border-box;
        font-family: $font-Thirty;
        color: #333;
        font-size: 23px;
        line-height: 1.3;
        // padding: 15px;
        padding-top: 0;
        color: #666;
        margin-bottom: 15px;
      }
    }
  }
}

.go-next-chapter {
  background-image: url("../images/urban-planning/go-next.jpg");
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  margin-top: 30px;
  background-position: center;
  background-size: cover;

  .content-columns {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .label {
    // margin-top: 60px;
    font-family: $font-Curator-Regular;
    font-size: 14px;
    line-height: 19px;
    color: rgba(255,255,255,0.8);
  }

  h3 {
    display: inline-block;
    vertical-align: middle;
    font-size: 35px;
    line-height: 1.3;
    color: #fff;
    font-family: $font-SelaneMinTen;
    @include breakpoint($d_medium) {
      font-size: 45px;
      line-height: 1.3;
    }
  }

  a {
    cursor: pointer;
    width: 40px;
    display: inline-block;
    vertical-align: middle;
  }
}

.st-video {
  margin-top: 25px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  width: 100%;

  video {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
  }
}

.hospital-tables {
  td,
  th,
  tr {
    font-family: $font-Curator-Regular;
    font-size: 15px;
    line-height: 21px;
    padding: 10px 10px 10px 0;
  }

  th {
    padding: 10px 10px 10px 5px;
  }

  td {
    border-bottom: 1px dotted;
    border-left: 10px solid #FFF;
    border-right: 10px solid #FFF;
  }

  tr {
    border-bottom: 1px dotted #333;
  }

  .table-last {
    display: none;
    @include container(685px);

    thead {
      font-family: $font-Curator-Bold;
    }

    .table-responsive {
      border: none;
    }
    @include breakpoint(520px) {
      display: block;
    }
  }

  .table-last-mobile {
    display: block;
    @include container(420px);

    .content-card-table {
      .st-card-mobile {
        padding-top: 10px;
        padding-bottom: 10px;

        .t-row-mobile {
          font-size: 15px;
          padding-top: 3px;
          padding-bottom: 3px;
          line-height: 1.4;

          .label-mobile {
            font-family: $font-Curator-Bold;
          }

          .description-mobile {
            font-family: $font-Curator-Regular;
          }
        }

        &:not(:last-child) {
          border-bottom: 1px dotted #ccc;
        }
      }
    }
    @include breakpoint(520px) {
      display: none;
    }
  }
}

article section .content-columns .blockquote {
  .content-blockquote {
    padding-bottom: 25px;

    .line-quote {
      margin: 0 0 15px;
      width: 53px;
      height: 13px;
    }

    cite div {
      padding-top: 15px;
    }
  }
}

.st-drone-smart-nation {
  text-align: center;
  position: relative;
  border-radius: 50%;
  background-color: #EFF3F4;
  width: 280px;
  height: 280px;
  margin: 0 auto;
  padding: 75px 30px;
  box-sizing: border-box;
  margin-top: 40px;
  @include breakpoint(767px 920px) {
    width: 200px;
    height: 200px;
    padding: 40px 30px;
  }

  img {
    position: absolute;
    pointer-events: none;
    top: -14%;
    left: 0;
    right: 0;
  }

  p {
    font-family: $font-SelaneTen;
    font-size: 20px;
    // margin-top:0 !important;
    margin-bottom: 15px;
    line-height: 1.5;
    @include breakpoint(767px 920px) {
      font-size: 17px;
      // margin-top:0 !important;
      margin-bottom: 10px;
      line-height: 1.3;
    }

    strong {
      font-family: $font-Thirty;
    }
  }

  a {
    font-size: 15px;
    cursor: pointer;
    outline: none;
    color: #fff;
    padding: 7px 20px;
    display: inline-block;
    font-family: $font-Curator-Regular;
  }
}

.content-block {
  background: #EAF3E7;
  padding-top: 10px;
  margin-top: 40px;

  @include breakpoint($d_medium){
    position: relative;
    margin-left: 42px;
  }

  .left-block {
    padding-right: 10px;
    box-sizing: border-box;
    .text-paragraph{
      padding-left: 10px;
      padding-bottom: 15px;
    }
    h2{
      background: #fff;
      box-shadow: 2px 0 0 #fff, -2px 0 0 #fff;
      &:before{
        margin-top: 0;
      }
    }
    p:last-child{
      margin-bottom: 0;
    }
    @include breakpoint($d_medium){
      width: 70%;
      padding-right: 10px;
    }
  }

  .right-block {
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;

    img{
      max-width: 260px;
      width: 100%;
    }
    @include breakpoint($d_medium){
      width: 30%;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
.st-video-normal{
  padding-top: 15px;
}
