
// @mixin span( $span, $config: () ) {
// 	$context: susy-compile($span, $config);
// 	width: su-call('su-span', $context);
// 	@if index($span, 'last') {
// 		float: right;
// 	}
// 	@else {
// 		float: left;
// 		margin-right: su-call('su-gutter', $context);
// 	}
// }
@mixin background($file_name,$position:0 0,$repeat: repeat) {
	background: {
		image: url("#{$images_dir}#{$file_name}");
		position: $position;
		repeat: $repeat;
	}
}
@mixin backImage ($image) {
    background-image: url($image);
		background-repeat: no-repeat;
		background-position: center center;
    background-size: cover;
}
@mixin center_div_vertical {
	position: absolute;
	top: 50%;
	@include translateY(-50%);
}
@mixin center_div {
	margin: 0 auto;
}
@mixin clearfix() {
	&:after,
	&:before {
		content: " "; // 1
		display: table; // 2
	}

	&:after {
		clear: both;
	}
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
