@import "~compass-mixins";
@import "~compass-mixins/lib/compass/reset"; // @import "../../../../compass/stylesheets/compass";
// @import "../../../../compass/stylesheets/compass/reset";
@import "susy/susy"; // @import "~susy/sass/plugins/svg-grid";
@import "~breakpoint-sass";
@import "videojs";
@import "videojs-panorama";

button:focus{
  outline: none;
}
.player_wrapper {
  position: relative;
  // max-width: 960px;
  width: 100%;
}

.player_container {
  padding-top: 56.25%;
  width: 100%;
  height: 100%;
}

#videojs-panorama-player {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.video-js .vjs-big-play-button {
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  left: 0;
  height: 2.5em;
  border-radius: 50%;
  width: 2.5em;
  span{
    display: inline-block;
    line-height: 71px;
    vertical-align: middle;
  }
}

.video-js .vjs-big-play-button:before,
.video-js .vjs-control:before,
.video-js .vjs-modal-dialog,
.vjs-modal-dialog .vjs-modal-dialog-content {
  position: static;
}
