/* Main Body */
main {
  margin-left : auto;
  margin-right: auto;
}
/* Header */
.st-header {
  @include breakpoint(780px) {
    margin: 100px 0;
  }
  @include breakpoint(320px) {
    margin: 20px 0 60px;
  }

  h1 {
    color      : #333;
    font-family: $font-SelaneMinTen;
    text-align : center;
  }

  .deck {
    font-family: $font-SelaneTen;
    text-align : center;
    font-size  : 1.4em;
    line-height: 1.6;
    color      : #333;
    padding    : 15px;
    @include container(800px);
    @media (min-width: $d_medium) {
      font-size: 20px;
    }
  }

  .st-byline {
    font-family: $font-Curator-Regular;
    font-size  : 13px;
    color      : #666;
    padding    : 15px;
    text-align : center;
  }
}
/* All Explain aft Answer */
.explaination {
  color      : $black;
  font-family: $font-Curator-Regular;
  font-size  : 16px;
}
/* Question title ect */
.qns_top {
  .qns_num {
    color      : #333;
    font-size  : 13px;
    font-family: $font-Curator-Regular;
  }

  .qns_title {
    color      : $black;
    font-family: $font-Curator-Bold;
    font-size  : 18px;
    margin     : 10px 0;
  }

  p {
    color      : #333;
    font-family: $font-Curator-Regular;
    font-size  : 16px;
  }

  .giDegree {
    margin       : 40px 0;
    font-family  : $font-Curator-Regular;
    font-size    : 16px;
    margin-bottom: 10px;

    .low {
      color: #24968D;
    }

    .medium {
      color: #D98023;
    }

    .high {
      color: #E34123;
    }
  }
}
/* Two Items comparision */
.compareBox {
  // width: 50vw;
  // height:314px;
  // margin: auto auto;
  // @include clearfix;
  // .or {
  //     color: black;
  //     margin: 10px auto;
  // }
  // .pic_text {
  //     float: left;
  //     .foodOptionPic {
  //         max-width: 314px;
  //         width: 100%;
  //         height: auto;
  //         position: relative;
  //         .foodName {
  //             color: white;
  //             font-size: 15px;
  //             font-family: $font-Curator-Regular;
  //             text-align: center;
  //             background-color: hsla(0, 0%, 0%, 0.2);
  //             width: 100%;
  //             padding: 4px 0;
  //             position: absolute;
  //             top: 50%;
  //         }
  //         img {
  //             z-index: -1;
  //             max-width: 314px;
  //             width: 100%;
  //             height: auto;
  //         }
  //     }
  //     p {
  //         text-align: center;
  //         color: #858585;
  //         font-size: 18px;
  //         font-family: $font-Curator-Regular;
  //         margin-top: 10px;
  //     }
  //     .correct_img {
  //         position: absolute;
  //         bottom: 5%;
  //         right: 5%;
  //     }
  //     .wrong_img {
  //         position: absolute;
  //         bottom: 5%;
  //         right: 5%;
  //     }
  // }
}
/* Answer */
.answer {
  margin          : auto;
  background-color: #ffffff;
  color           : $black;
  font-size       : 15px;
  font-family     : $font-Curator-Regular;
  padding         : 10px 20px;
  margin-bottom   : 50px;
}
/* Correct Icon */
.correct_img {
  width              : 32px;
  height             : 30px;
  background-image   : url("../images/diabetes/true.png");
  background-repeat  : no-repeat;
  background-position: center;
}
/* Wrong Icon */
.wrong_img {
  width              : 32px;
  height             : 30px;
  background-image   : url("../images/diabetes/false.png");
  background-repeat  : no-repeat;
  background-position: center;
}
/* Rice & Noodle Types */
.rnType {
  font-size    : 18px;
  font-family  : $font-Curator-Regular;
  margin-bottom: 30px;
  margin-top   : 80px;

  .rnName {
    .name1 {
      color         : $black;
      font-family:  $font-Thirty;
      font-size: 22px;
      // text-transform: uppercase;
    }

    .name2 {
      color    : #6D6D6D;
      font-size: 15px;
    }
  }

  .rnImg {
    width : 246px;
    height: 246px;
    margin: 0 auto;
  }

  .check-btn {
    width           : 160px;
    height          : 50px;
    text-align      : center;
    line-height     : 50px;
    color           : white;
    background-color: #5A9DDC;
    margin          : 20px auto;
    cursor          : pointer;
    font-size       : 15px;
  }

  .check-btn:hover {
    background-color: #207BD0;
  }
}
/* Slider */
.slider-qns_4,
.slider-qns_5 {
  margin-top   : 100px;
  margin-bottom: 20px;

  .head_tooltip {
    font-size: 16px;
  }

  .body_tooltip {
    text-align: center;
  }
}
/* Question 1 */
.qns_1 {
  margin-bottom: 50px;

  .riceBowl {
    padding-top: 0;
    margin-top : 0;
    @include clearfix;

    .riceAmount {
      // background-image: url("../images/diabetes/38428412%20-%2018_05_2016%20-%202%20rice.png");
      // background-repeat: no-repeat;
      max-width: 550px;
      width    : 100%;
      //          height: 100%;
      // background-size: contain;
      // background-position: center;
    }

    .riceExplanation {
      font-family: $font-Curator-Regular;
      font-size  : 14px;
      line-height: 21px;

      p {
        color      : $black;
        font-family: $font-Curator-Regular;
        font-size  : 15px;
        line-height: 21px;
        width      : 100%;

        .num2 {
          color      : #E08523;
          font-family: $font-Curator-Bold;
        }
      }

      .valueBox {
        color           : $black;
        background-color: #EFF3F4;
        line-height     : 20px;
        padding         : 10px;
      }
    }
  }

  .content-slider-riceBowl {
    margin: 50px 0;
  }

  .GI_explain {
    color           : $black;
    background-color: #FFF0F0;
    padding         : 10px;
    font-family     : $font-Curator-Regular;
    font-size       : 15px;

    p {
      span {
        font-family: $font-Curator-Bold;
        color      : #EF4123;
      }
    }
  }
}

.qns_1 {
  .valueBox {
    .row-valueBox {
      @include container(320px);
      @include clearfix;

      .label-valueBox {
        font-family: $font-Curator-Bold;
        float      : left;
        min-width  : 114px;
        font-size  : 14px;
        color      : $black;
      }

      .value-valueBox {
        font-family : $font-Curator-Regular;
        float       : left;
        padding-left: 12px;
        font-size   : 15px;

        span {
          font-size: 12px;
        }
      }
      @include breakpoint(1020px) {
         @include container;
      }
    }
  }
}
/* Question 2 */
.qns_2 {
  margin-bottom: 50px;
  border-top   : 1px dotted;
  padding-top  : 30px;
}
/* Question 3 */
.qns_3 {
  border-top : 1px dotted;
  padding-top: 30px;

  .answer_btn {
    margin-top   : 50px;
    margin-bottom: 80px;
    @include clearfix;

    .true {
      width           : 110px;
      height          : 50px;
      // background-color: #E34123;
      background-color: #C0CAC9;
      float           : left;
      cursor          : pointer;

      span {
        font-family: $font-Curator-Regular;
        font-size  : 18px;
        color      : white;
        margin-left: 12px;
        float      : left;
        margin-top : 14px;
      }

      .wrong_img {
        float       : right;
        margin-top  : 12px;
        margin-right: 10px;
      }
    }

    .red-color {
      background-color: #E34123;
      @include transition(background-color 0.5s);
    }

    .false {
      width           : 110px;
      height          : 50px;
      // background-color: #24968D;
      background-color: #C0CAC9;
      float           : left;
      margin-left     : 20px;
      cursor          : pointer;

      span {
        font-family: $font-Curator-Regular;
        font-size  : 18px;
        color      : white;
        margin-left: 12px;
        float      : left;
        margin-top : 14px;
      }

      .correct_img {
        float       : right;
        margin-top  : 12px;
        margin-right: 10px;
      }
    }

    .green-color {
      background-color: #24968D;
      @include transition(background-color 0.5s);
    }
  }

  .answer {
    margin-top: 50px;
  }
}
/* Question 4 */
.qns_4 {
  margin-bottom: 50px;
  border-top   : 1px dotted;
  // padding-top  : 30px;
}
/* Question 5 */
.qns_5 {
  margin-bottom: 50px;
  border-top   : 1px dotted;
  padding-top  : 30px;
}
/* Question 6 */
.qns_6 {
  border-top : 1px dotted;
  padding-top: 30px;

  .answer {
    @include container(630px);
  }
}
/* Links Part */
.other_links {
  border-top : 1px dotted;
  padding-top: 30px;

  .linkLast {
    color        : $black;
    font-family  : $font-Curator-Regular;
    font-size    : 16px;
    margin-bottom: 50px;

    p {
      margin: 10px 0;
    }

    a:link {
      color           : #5A9DDC;
      background-color: transparent;
      text-decoration : none;
    }

    a:visited {
      color           : #0C2B57;
      background-color: transparent;
      text-decoration : none;
    }

    a:hover {
      color           : #3C6F99;
      background-color: transparent;
      text-decoration : none;
    }

    a:active {
      color           : #5A9DDC;
      background-color: transparent;
      text-decoration : none;
    }
  }
}
/* Credits Part */
.credits {
  max-width  : 1200px;
  margin     : auto;
  border-top : dotted #828282 1px;
  font-family: $font-Curator-Regular;
  font-size  : 12px;
  color      : #333;
  padding    : 20px 10px 50px;
  line-height: 15px;

  .graphics {
    margin: 15px 0;
  }

  span {
    font-family: $font-Curator-Bold;
  }

  a:link {
    color           : #707070;
    background-color: transparent;
    text-decoration : none;
  }

  a:visited {
    color           : #707070;
    background-color: transparent;
    text-decoration : none;
  }

  a:hover {
    color           : #C0CAC9;
    background-color: transparent;
    text-decoration : none;
  }

  a:active {
    color           : #707070;
    background-color: transparent;
    text-decoration : underline;
  }
}
/* Clear Float */
.clearFix {
  clear: left;
}
@media only screen and (min-width: 320px) {
  main {
    margin-left : 15px;
    margin-right: 15px;
  }
  /* Question 1 */
  .qns_1 {
    margin-bottom: 50px;

    .riceBowl {
      // height: 500px;
      padding-top: 0;
      margin-top : 0;

      .riceAmount {
        margin-left : auto;
        margin-right: auto;
        // background-image: url("../images/diabetes/38428412%20-%2018_05_2016%20-%202%20rice.png");
        // background-repeat: no-repeat;
        // background-position: center;
        max-width   : 700px;
        width       : 100%;
        // height:55%;
        // background-size: contain;
      }

      .riceExplanation {
        font-family: $font-Curator-Regular;
        font-size  : 15px;
        line-height: 21px;

        p {
          color: $black;

          .num2 {
            color      : #E08523;
            font-family: $font-Curator-Bold;
            font-size  : 18px;
          }
        }

        .valueBox {
          color           : $black;
          background-color: #EFF3F4;
          line-height     : 20px;
          padding         : 10px;
        }
      }
    }

    .GI_explain {
      color           : $black;
      background-color: #FFF0F0;
      padding         : 10px;
      font-family     : $font-Curator-Regular;
      font-size       : 15px;
      margin-top      : 20px;

      p {
        span {
          font-family: $font-Curator-Bold;
          color      : #EF4123;
        }
      }
    }
  }
}
@media only screen and (min-width: 1020px) {
  main {
    max-width   : 1000px;
    margin-left : auto;
    margin-right: auto;
  }
  /* Two Items comparision */
  // .compareBox {
  //     width: 680px;
  //     margin: auto auto;
  //     .or {
  //         color: black;
  //         float: left;
  //         margin: 155px 10px;
  //     }
  //     .pic_text {
  //         float: left;
  //         .foodOptionPic {
  //             width: 314px;
  //             height: 314px;
  //             position: relative;
  //             display: block;
  //             .foodName {
  //                 color: white;
  //                 font-size: 18px;
  //                 font-family: $font-Curator-Regular;
  //                 text-align: center;
  //                 background-color: hsla(0, 0%, 0%, 0.2);
  //                 width: 100%;
  //                 height: 32px;
  //                 position: absolute;
  //                 top: 50%;
  //             }
  //             img {
  //                 z-index: -1;
  //             }
  //         }
  //         p {
  //             text-align: center;
  //             color: #858585;
  //             font-size: 18px;
  //             font-family: $font-Curator-Regular;
  //             margin-top: 10px;
  //         }
  //         .correct_img {
  //             position: absolute;
  //             top: 85%;
  //             left: 85%;
  //         }
  //         .wrong_img {
  //             position: absolute;
  //             top: 85%;
  //             left: 85%;
  //         }
  //     }
  // }
  /* Question 1 */
  .qns_1 {
    margin-bottom: 50px;

    .riceBowl {
      // height: 450px;
      padding-top: 0;
      margin-top : 0;

      .riceAmount {
        // background-image: url("../images/diabetes/38428412%20-%2018_05_2016%20-%202%20rice.png");
        // background-repeat: no-repeat;
        margin-top: 20px;
        max-width : 700px;
        height    : 100%;
        // background-size: contain;
        // background-position: center;
        float     : left;
      }

      .riceExplanation {
        overflow   : visible;
        float      : left;
        font-family: $font-Curator-Regular;
        font-size  : 15px;
        line-height: 21px;

        p {
          width: 250px;
          // padding: 5px 5px;
          color: $black;

          .num2 {
            color      : #E08523;
            font-family: $font-Curator-Bold;
            font-size  : 24px;
          }
        }

        .valueBox {
          color           : $black;
          background-color: #EFF3F4;
          line-height     : 20px;
          width           : 230px;
          padding         : 20px;
        }
      }
    }

    .GI_explain {
      color           : $black;
      background-color: #FFF0F0;
      padding         : 20px;
      font-family     : $font-Curator-Regular;
      font-size       : 15px;
      line-height     : 21px;

      p {
        span {
          font-family: $font-Curator-Bold;
          color      : #EF4123;
        }
      }
    }
  }
  /* Answer */
  .answer {
    margin          : auto;
    background-color: #EFF3F4;
    color           : $black;
    font-size       : 18px;
    font-family     : $font-Curator-Regular;
    padding         : 20px;
    margin-bottom   : 50px;
  }
}
/**/
.compareBox {
  color      : #333;
  font-family: $font-Curator-Regular;
  position   : relative;
  padding    : 15px 0;
  @include container(668px);
  @include clearfix;

  .or {
    width    : 20px;
    height   : 24px;
    position : absolute;
    margin   : auto;
    top      : 0;
    right    : 0;
    bottom   : 0;
    left     : 0;
    font-size: 15px;
    @include breakpoint(780px) {
      font-size: 18px;
    }
  }

  .pic_text {
    max-width: 314px;
    width    : calc(50% - 10px);

    &:first-child {
      float: left;
    }

    &:last-child {
      float: right;
    }

    p {
      text-align : center;
      color      : #858585;
      font-size  : 14px;
      line-height: 18px;
      font-family: $font-Curator-Regular;
      margin-top : 10px;
      @include breakpoint(780px) {
        font-size  : 18px;
        line-height: 24px;
      }
    }

    .foodOptionPic {
      position: relative;
      cursor  : pointer;
      // background-color: transparent;
      // @include transition(background-color 0.5s);
      // &:hover{
      //     background-color: hsla(0, 0%, 0%, 0.2);
      //     @include transition(background-color 0.5s);
      // }
      .foodName {
        pointer-events  : none;
        position        : absolute;
        font-size       : 15px;
        height          : 22px;
        top             : 0;
        bottom          : 0;
        left            : 0;
        right           : 0;
        margin          : auto;
        text-align      : center;
        color           : #fff;
        background-color: hsla(0, 0%, 0%, 0.2);
        padding-top     : 3px;
        padding-bottom  : 6px;
        @include breakpoint(780px) {
          font-size: 18px;
        }
      }

      .correct_img {
        position: absolute;
        right   : 5%;
        bottom  : 5%;
      }

      .wrong_img {
        position: absolute;
        right   : 5%;
        bottom  : 5%;
      }
    }
  }
}

.qn_4 img {
  height: 200px;
}
