
.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    margin-top: -20px;

}

.wrapper img {
  @media (min-width: $d_medium){
    width: 10%;
  }
  @media (max-width: $d_medium) {
    width: 100px;
  }

}
.group-image {
  margin-right: calc(-50vw + 50% + 0px);
  margin-left: calc(-50vw + 50% + 0px);
  position: relative;
  background: #dbdbdb;
  margin-top: 60px;
}
.desktop {
max-width: 1200px;
position: relative;
margin: 0 auto;

}


.wrapper-slider {
  margin-right: calc(-50vw + 50% + 0px);
  margin-left: calc(-50vw + 50% + 0px);
  position: relative;
  background: #dbdbdb;
}
// .st-content-menu .st-content-menu-fixed .navbar .st-social-desktop {
//     display: block;
//     width: 75px;
//     float: right;
//     margin-right: 0;
// }
.info {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 120px;
    display: block;
}
.infotext h2{
  font-family: $font-Thirty;
  margin-bottom: 20px;
}

.infotext p {
  font-size: 17px;
  line-height: 1.6;
  font-family: $font-Curator-Regular;
}
