body {
  background-color: $screen !important;
}

.st-content-menu .st-content-menu-fixed .navbar .st-social-desktop {
  display: block !important;
  @include breakpoint($d_medium) {
    // display: block !important;
    width: 103px !important;
  };
}

.slider-qns_4 {
  margin-top: 0;
  @include breakpoint($d_medium) {
    margin-top: 100px;
  };
}

.rnType .rnImg {
  width: 200px;
  @include breakpoint($d_medium) {};
}

#spoon {
  width: auto;
  @include breakpoint($d_medium) {
    width: 246px;
  };
}

.slider-qns_4 .st-tooltip-danni:before {
  border-top: 25px solid $sinprimary !important;
}

.slider-qns_4 .st-tooltip-danni {
  background-color: $sinprimary !important;
}

.img {
  height: 250px;
  @include breakpoint($d_medium) {
    height: 300px;
  };
}

.slider-qns_4 .axis {
  font-size  : 14px !important;
  font-weight: normal !important;
}

.qns_num {
  font-family: $font-Curator-Regular !important;
  font-size  : 14px !important;
}

.answer {
  background-color: #ffffff !important;
}

.group-image {
  display: none;
  @include breakpoint($d_medium) {
    display: block;
  };
}

.swiper-container {
  width  : 100%;
  height : 100%;
  margin : auto;
  display: block;
  background-color: #cfcfcf;
  @include breakpoint($d_medium) {
    display: none;
  };

  .swiper-wrapper {
    .swiper-slide {
      text-align: center;
      font-size : 18px;

      .sliderimg {
        height: 350px;
      }
    }
  }
}

.swiper-pagination {
  position: relative !important;

  .swiper-pagination-bullet {
    margin-right: 10px;
  }
}
