/*slider*/

.content-slider-riceBowl {
    .eje_x path,
    .eje_x line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    .y.axis line,
    .y.axis path {
        fill: none;
        stroke: #000;
    }
    .axis {
        font-family: $font-Curator-Regular;
        font-size: 13px;
        line-height: 1.8;
        color: #333;
        font-weight: lighter;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
    .axis.x line {
        fill: none;
        stroke: #fff;
        shape-rendering: crispEdges;
        stroke-width: 2;
    }
    .axis .domain,
    .axis .manage-color {
        fill: none;
        stroke: #ddd;
        /*stroke-opacity: .3;*/
        stroke-width: 10px;
        stroke-linecap: square;
    }
    .axis .manage-color {
        stroke: #b4bebd;
        opacity: 0;
    }
    .st-content-slider .axis .halo {
        fill: none;
        stroke: #ddd;
        stroke-width: 8px;
        stroke-linecap: initial;
    }
    .slider .handle {
        fill: #fff;
        stroke: #E3E7E8;
        stroke-opacity: .5;
        stroke-width: 1.25px;
        cursor: pointer;
    }
    .background {
        cursor: pointer !important;
    }
    .text-mark {
        font-family: $font-Curator-Bold;
        font-size: 20px;
    }
}

.slider-qns_4,
.slider-qns_5 {
    .eje_x path,
    .eje_x line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    .y.axis line,
    .y.axis path {
        fill: none;
        stroke: #000;
    }
    .axis {
        font-family: $font-Curator-Bold;
        font-size: 13px;
        line-height: 1.8;
        color: #333;
        font-weight: lighter;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
    .axis.x {
        line {
            fill: none;
            stroke: #fff;
            shape-rendering: crispEdges;
            stroke-width: 2;
            display: none;
        }
        .line_answer {
            line {
                display: block;
                stroke: #333;
            }
        }
    }
    .axis .domain,
    .axis .manage-color {
        fill: none;
        stroke: #ddd;
        /*stroke-opacity: .3;*/
        stroke-width: 10px;
        stroke-linecap: initial;
    }
    .axis .manage-color {
        stroke: #b4bebd;
    }
    .st-content-slider .axis .halo {
        fill: none;
        stroke: #ddd;
        stroke-width: 8px;
        stroke-linecap: initial;
    }
    .slider .handle {
        fill: #fff;
        stroke: #000;
        stroke-opacity: 0.2;
        stroke-width: 1px;
        cursor: pointer;
    }
    .slider .text-show {
        font-family: $font-Curator-Bold;
        font-size: 18px;
    }
    .background {
        cursor: pointer !important;
    }
    .text-mark {
        font-family: $font-Curator-Bold;
        font-size: 16px;
    }
    .st-tooltip-danni {
        background-color: #EFF3F4;
        padding: 10px;
        position: absolute;
        .head_tooltip {
            color: #333;
        }
        &:before {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 25px solid #EFF3F4;
            bottom: -25px;
        }
    }
    .st-tooltip-right {
        &:before {
            right: 10px;
        }
    }
    .st-tooltip-left {
        &:before {
            left: 10px;
        }
    }

}

.pointer-events-none {
    pointer-events: none !important;
}
