.main-headline {
  .st-title {
    h1 {
      img {
        width: 50px;
        @include breakpoint($d_medium) {
          width: 70px;
        };
      }
    }
  }
}

main {
  // background-color: #acdee0;
}

.st-question {
  margin:100px 0;
  .st-sub-banner {
    width: 100%;
    // height: 100px;
    // background-color: #64c8cb;
    @include container;
  }
}

.content-question {
  padding: 0 15px;
  @include container (400px);

  .content-ask {
    .text-ask {
      color: #333;
      padding: 20px 0;

      h2 {
        font-size: 24px;
        line-height: 1.25;
        font-family: $font-SelaneTen;
        padding: 15px 0;
      }

      span {
        background-color: #abdddf;
        color: #fff;
        padding: 2px 14px;
        display: inline-block;
        font-family: $font-Curator-Bold;
        font-size: 13px;
      }
    }
  }

  .content-answer {
    .answer {
      margin: 0 auto;
      padding: 1.2em 0;
      position: relative;
    }

    input[type="radio"] {
      opacity: 0;
      -webkit-appearance: none;
      display: inline-block;
      vertical-align: middle;
      z-index: 100;
      width: 50px;
      height: 50px;
      top: 50%;
      left: 0;
      margin-top: -25px;
      position: absolute;
      cursor: pointer;
      padding: 0;

      &:checked {
        & + label {
          color: #333;
        }
      }

      &:disabled {
        cursor: default;

        & + label {
          cursor: default;
        }
      }
    }

    svg {
      position: absolute;
      width: 35px;
      height: 35px;
      top: 50%;
      margin-top: -17px;
      left: 4px;
      pointer-events: none;

      path {
        stroke: #65c7ca;
        stroke-width: 13px;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
      }
    }

    label.text-answer {
      color: rgba(51, 51, 51, 0.7);
      font-family: $font-Curator-Regular;
      display: inline-block;
      position: relative;
      font-size: 1.2em;
      padding: 0 0 0 60px;
      vertical-align: top;
      cursor: pointer;
      transition: color 0.5s;

      &:before {
        border-radius: 50%;
        content: '';
        background-color: #eff3f4;
        // border: 4px solid #fff;
        transition: opacity 0.3s;
        width: 40px;
        height: 40px;
        top: 50%;
        left: 0;
        margin-top: -20px;
        position: absolute;
        cursor: pointer;
        box-sizing: border-box;
      }
    }
  }

  .flag_check {
    input[type="radio"] {
      &:hover {
        & + label {
          color: rgba(51, 51, 51, 1);
          transition: color 0.3s;
        }
      }
    }

    label.text-answer {
      &:hover {
        color: rgba(51, 51, 51, 1);
        transition: color 0.3s;
      }
    }
  }
  @include breakpoint($d_medium) {
     @include container (900px);
  }
}

.content_result {
  text-align: center;
  font-size: 24px;
  line-height: 1.25;
  font-family: $font-SelaneTen;
  color: $black;
  margin: 50px 0px;

  .txt-score-result-lee {
    font-family: $font-Thirty;
  }

  .img-score-result {
    display: inline-block;
    width: 40px;
  }
}

.content-social-result {
  margin-top: 20px;
  text-align: center;
  color: #0c2b57;
  font-family: $font-Curator-Regular;
  font-size: 15px;
  display: inline-block;

  img.img-score-result-lee {
    margin-top: 20px
  }

  div {
    display: inline-block;
    vertical-align: middle;
  }

  .social-result-images {
    // padding: 3px 0 10px;
    display: inline-block;
    img {
      display: inline-block;
      cursor:pointer;
    }
  }

  .btn-play-again {
    width: 120px;
    margin: 0 auto;
    border: 1px solid #0c2b57;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    margin-left: 20px;
    display: inline-block;
    cursor:pointer;
  }
}

.content-question {
  @include breakpoint($d_medium) {
    position: relative;

    .img-ask {
      position: absolute;
      left: 15px;
      top:10px;
    }

    .content-ask {
      padding-left: 390px;
    }

    .content-answer {
      padding-left: 390px;
    }
  }
}
.content-partial-result{
  background-color: #4bbec1;
  padding: 20px;
  margin: 30px 0;
  p{
    color:#fff;
    font-family: $font-Curator-Regular;
    font-size:17px;
  }
  img{
    cursor:pointer;
  }
}
