.halfscreen {
  width   : 50%;
  float   : left;
  position: relative;

  .effect {
    position: absolute;
    top     : 0;
  }

  .characters {
    position: absolute;
    bottom  : 0;
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }

  .hide {
    display: none;
  }
}
