<template>
  <div class="content-columns">
    <!-- <component v-for="(item, key, index) in a_newComponents" v-bind:is="item" :key="item+index" :attributes="attributes[0][item]"></component> -->
    <component v-for="(item, key, index) in attributes" v-bind:is="item.type" :key="item+index" :attributes="item.value" :division="division" v-if="existComponent(item.type)" ></component>
  </div>
</template>

<script>
import StContentLeft from "./st-column-left.vue";
import StContentRight from "./st-column-right.vue";
import StContentUnique from "./st-column-unique.vue";

import modules from "modulesProject";

var components={
  unique: StContentUnique,
  left: StContentLeft,
  right: StContentRight
};

for (let module in modules.artefacs){
  components[module]=modules.artefacs[module].default;
}



export default {
  props:['attributes'],
  computed:{
    a_newComponents:function(){
      return Object.keys(this.attributes[0]);
    }
  },
  components: components,
  methods: {
    existComponent: function(component) {
      var show = false;
      Object.keys(components).forEach(function(module) {
        if (module === component) {
          show = true;
        }
      });
      return show;
    }
  }
}
</script>
