<template>
  <div class="column-paragraph-left">
    <div class="text-paragraph">
      <component v-for="(item, key, index) in attributes" v-bind:is="item.type" :key="item.type+index" :attributes="item.value" v-if="existComponent(item.type)"></component>
    </div>
  </div>
</template>

<script>
import modules from "modulesProject";

var components={};

for (let module in modules.artefacs){
  components[module]=modules.artefacs[module].default;
}

export default {
  props:['attributes'],
  components: components,
  methods: {
    existComponent: function(component) {
      var show = false;
      Object.keys(components).forEach(function(module) {
        if (module === component) {
          show = true;
        }
      });
      return show;
    }
  }
}
</script>
