// header {
//   background-color: $stlightblue;
// }

body{
  background-color: $stlightblue;
}

body,html{
  overflow-x: hidden; //for ie
}

.scrollContainer{
  // position: fixed;
  // width: 100%;
  overflow: auto;
  overflow-x: hidden;
  // position: fixed;
  // padding-right: 17px;
}

article {
  background-color: #FFF;
}

.none {
  display: none;
}

.correct {
  font-family: $font-Curator-Bold;
}

.main-headline {
  position: relative;
  @include breakpoint($d_medium){
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%,-50%);
    min-width: 700px;
  };
  height: auto;
  max-width: 700px !important;
  margin   : 0 auto !important;
  padding  : 0 0 50px 0;

  .bannerimg {
    margin: 0 auto;
    width: 100%;
  }

  .headline {
    font-family: $font-SelaneMinTen;
    font-size  : 72px;
  }

  .st-deck {
    font-family: $font-SelaneTen;
    font-size  : 20px;
  }

  .st-byline {
    time {
      color: $menubg;
    }
  }

  .playbtnlink {
    // padding: 15px;
    pointer-events: all;
    cursor: pointer;
  }

  .playbtn {
    width           : 70px;
    height          : 70px;
    margin          : 0 auto;
    font-size       : 16px;
    line-height     : 4.5;
    border-radius   : 35px;
    text-align      : center;
    color           : $stlightblue;
    background-color: $menubg;
  }
}

.qnsection {
  display  : inline-block;
  max-width: 900px;
  width    : 100%;
  font-size: 18px;

  .qntext {
    font-family: $font-SelaneTen;
    font-size  : 19px;
    line-height: 1.35;
    color      : $black;
    // padding-top: 30px;
    text-align : left;
    max-width  : 760px;
    float      : none;
    width      : 90%;
    margin     : 0 auto;

    img {
      display: block;
      // margin-left: 20px;
      width      : 48px;
      height     : 38px;
    }
  }

  .qninfo {
    // display: inline-flex;
    width           : 90%;
    height          : auto;
    margin          : 0 auto;
    padding-bottom  : 10px;
    float           : none;
    // background-color: #DDEAF2;

    img {
      // display: inline-block;
      float  : none;
      width  : 100%;
      margin : 0 auto;
      padding: 0;
      // padding-top: 20px;
      // text-align: center;
      // height : 30%;
    }

    .qninfotext {
      margin   : 0 auto;
      padding  : 20px;
      color    : $black;
      font-size: 15px;
      text-align: left;
      font-family: $font-Curator-Regular;
    }
  }

.lhl {
  float: right;
  margin-right: 20px;
  vertical-align: top;
  font-size: 18px;

  .lhl-figure {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    margin: 0 auto;
    width: 160px;
    height: 160px;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
  }

    .lhl-figcaption{
      display: inline-block;
      vertical-align: middle;
    }

    .lhl-figcaption-bottom{
      display: none;
    }

    span {
      color: #333;
    }
  }
  @include breakpoint($d_medium) {
    font-size: 24px;
    width    : 85%;

    .qninfo {
      // float         : left;
      // width         : 62%;
      width         : 90%;
      padding-bottom: 0;

      .qninfotext{
        font-size: 16px;
      }
      img {
        float  : left;
        width  : 35%;
        // height: 40%;
        padding: 20px;
        // vertical-align: middle;
      }
    }

    .qntext {
      width : 62%;
      float : left;
      margin: 0;
      font-size: 24px;
    }

    .lhl {
      float        : right;
      margin        : 0 auto;
      padding-right: 40px;
      width: auto;
      .lhl-figure {
        float: none;
        width      : 200px;
        height      : 240px;
        padding-top: 0;
      }

      .lhl-figcaption{
        display: none;
        vertical-align:baseline;
      }

      .lhl-figcaption-bottom{
        display: block;
      }
    }
  };
}
.answer {
  // float     : left;
  // display   : block;
  text-align: left;
  margin    : 0 auto;
  margin-bottom: 10px;
  max-width : 900px;
  width     : 90%;
  @include breakpoint($d_medium) {
    width: 85%;
  };
  span {
    color: #333;
  }
}

.banner img {
  width: 100%;
}

.select2-container {
  position: relative;
  // z-index : 2;
  width   : 200px !important;
  padding-bottom: 7px;
}

.select2-container--default .select2-selection--single {
  border-style : none !important;
  border-bottom: 1px solid !important;
  border-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-style: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow:after {
  // content       : "▼";
  content       : url("/images/NDR/arrow-down-simple.svg");
  height: 20px;
  position      : relative;
  // z-index       : 1;
  text-align    : center;
  font-size     : 18px;
  pointer-events: none;
  box-sizing    : border-box;
}

.select2-results__options {
  color: $black;
}

.select2-search--dropdown,
.select2-selection__clear {
  display: none;
}
