 .share_btn {
    cursor: pointer;
}
.st-content-banner-bg {
  background-color: $stlightblue;
}


.lhl::after {
    content: '';
    border-top: dotted;
    border-color: #575757;
    border-width: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0px;
    @include breakpoint($d_medium){
      bottom: 40px;
    };
  }

.share_result{
  // position: absolute;
  // left: 50%;
  // top: 50%;
  // transform: translate(-50%,-50%);
}
 .share_result .share_btn img {
      height: 50px;
  }
