.swiper-container {
  @include container;
  // position: fixed;
  opacity: 0;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 15px;

  position: relative;
  @include breakpoint($d_medium){
    position: absolute !important;
    left: 50%;
    top: 52%;
    transform: translate(-50%,-50%);
    min-width: 700px;
  };
}

.swiper-slide {
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin: 0 auto 20px;
  background: none;
  margin-top: 25px;
  min-height: 280px;
  @include breakpoint($d_medium) {
    margin-top: 40px;
  };
}

.swiper-paginat {
  pointer-events: none;
  z-index: 20;
  opacity: 0;
  position: fixed;
  left: 50%;
  bottom: -17px;
  transform: translate(-50%,-50%);
  background-color: rgba(0,0,0,0.5);
  padding-top:5px;
  padding-bottom:5px;
  display: block;
  width: 100%;
  text-align: center;
@include breakpoint($d_medium){
  left: 50%;
  top:80%;
  transform: translate(-50%,-50%);
  background-color:inherit;
};
  .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    margin-right: 10px;
    @include breakpoint($d_medium) {
      width: 8px;
      height: 8px;
    };
  }


}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
//   position: relative;
//   display: block;
// margin: 0 auto;
position: absolute;
left: 50%;
top:70%;
transition: translate(-50%,-50%);
@include breakpoint($d_medium){

};
  // position: fixed;
  // bottom:0;
  // width: 100%;
  // background: rgba(0,0,0,0.5);
  // padding-top:5px;
  // padding-bottom:5px;
  // @include breakpoint($d_medium){
  //   position:relative;
  //   bottom: 0;
  //   background:none;
  //   padding: 0;
  // };
}

.separation-dot {
  @include container;
  display: block;
  margin: 0 auto;
  width: 100%;
  border-top: dotted;
  border-color: #575757;
  border-width: 1px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  display: none;
  @include breakpoint($d_medium) {
    display: block;
  };
}

.hideLHL {
  display: none;
  @include breakpoint($d_medium) {
    display: inline-block;
  };
}

.last-slide {
  // height: 300px;

  p {
    // display: block;
    max-width: 400px;
    margin: 0 auto 10px;
    color: $black;
  }

  .playagainbtn {

    width: 100px;
    height: 100px;

    margin: 0 auto;
    background: $stlightblue;
    color: $worscreen;

    line-height: 7.6;
    font-size: 14px;
    font-family: $font-Curator-Regular;
    border-radius: 50%;
    pointer-events: all;
    cursor: pointer;
  }
}

.select2-dropdown {
  border-radius: 0;
}

.select2-container *:focus {
  outline: none;
}

.select2-results__option{
  margin-bottom: 0;
  padding-bottom: 15px;
  padding-top: 15px;
}

.select2-container {
  font-family: $font-SelaneTen;
  font-size: 18px;

  .select2-selection__rendered {
    font-family: $font-Thirty;
    font-size: 24px;
  }
}

.lhl-mobile {
  display: none;
}

#img-src-q1 {
  background-image: url("/images/rally-qn2-2016-mobile.png");
  @include breakpoint($d_medium) {
    background-image: url("/images/rally-qn2-2016.png");
  };
}

#img-src-q2 {
  background-image: url("/images/rally-qn3-2012-mobile.png");
  @include breakpoint($d_medium) {
    background-image: url("/images/rally-qn3-2012.png");
  };
}

#img-src-q3 {
  background-image: url("/images/rally-qn4-2013-mobile.png");
  @include breakpoint($d_medium) {
    background-image: url("/images/rally-qn4-2013.png");
  };
}

#img-src-q4 {
  background-image: url("/images/rally-qn5-2014-mobile.png");
  @include breakpoint($d_medium) {
    background-image: url("/images/rally-qn5-2014.png");
  };
}

#img-src-q5 {
  background-image: url("/images/rally-qn6-2004-mobile.png");
  @include breakpoint($d_medium) {
    background-image: url("/images/rally-qn6-2004.png");
  };
}

#img-src-q6 {
  background-image: url("/images/rally-qn7-2011-mobile.png");
  @include breakpoint($d_medium) {
    background-image: url("/images/rally-qn7-2011.png");
  };
}

.swiper-guide{
  position: absolute;
  z-index: 9;
  right: 0;
  top:200px;
  img{
    width:78px;
    height: 39px;
  }
}

.st-social-desktop-nav{
  display: none;
  @include breakpoint($d_medium){
    display: block;
  };
}

.st-social-desktop-noNav{
  display: block;
  @include breakpoint($d_medium){
    display: block;
  };
}
