<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
<!--
##::::: ##: ########::::::: ###:::: ########:: ########:::: ##:::: ##: ####: ########:: ####: ##::: ##:: ######::
##: ##: ##: ##.....::::::: ## ##::: ##.... ##: ##.....::::: ##:::: ##:. ##:: ##.... ##:. ##:: ###:: ##: ##... ##:
##: ##: ##: ##::::::::::: ##:. ##:: ##:::: ##: ##:::::::::: ##:::: ##:: ##:: ##:::: ##:: ##:: ####: ##: ##:::..::
##: ##: ##: ######:::::: ##:::. ##: ########:: ######:::::: #########:: ##:: ########::: ##:: ## ## ##: ##:: ####
##: ##: ##: ##:::::::::: ##.... ##: ##::. ##:: ##:::::::::: ##:::: ##:: ##:: ##::. ##::: ##:: ##:. ###: ##::: ##:
###. ###:: ########:::: ##:::: ##: ##:::. ##: ########:::: ##:::: ##: ####: ##:::. ##: ####: ##::. ##:. ######::
Web Developers - http://graphics.straitstimes.com/
-->

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="True" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-title" content="ST" />
  <meta name="application-name" content="The Straits Times" />
  <meta name="msapplication-TileColor" content="#0c2b57" />
  <meta name="theme-color" content="#0c2b57">

  <meta property="fb:app_id" content="748050775275737" />

  <% if (Array.isArray(htmlWebpackPlugin.options.meta)) { %>
    <% for (item of htmlWebpackPlugin.options.meta) { %>
      <meta<% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %> />
    <% } %>
  <% } %>

  <script data-schema="Organization" type="application/ld+json">
    {
      "name": "The Straits Times",
      "url": "http://www.straitstimes.com/",
      "logo": "http://graphics.straitstimes.com/STI/STIMEDIA/Interactives/commons/favicon/touch-icon-ipad-retina.png",
      "sameAs": ["https://www.facebook.com/TheStraitsTimes", "https://twitter.com/STcom",
        "https://www.youtube.com/user/StraitsTimesOnline"
      ],
      "@type": "Organization",
      "@context": "http://schema.org"
    }
  </script>
  <!-- Favicons and touch icons -->
  <!-- For retina-display iPads -->
  <link rel="apple-touch-icon" href="http://graphics.straitstimes.com/STI/STIMEDIA/Interactives/commons/favicon/touch-icon-iphone.png">
  <link rel="apple-touch-icon" sizes="76x76" href="http://graphics.straitstimes.com/STI/STIMEDIA/Interactives/commons/favicon/touch-icon-ipad.png">
  <link rel="apple-touch-icon" sizes="120x120" href="http://graphics.straitstimes.com/STI/STIMEDIA/Interactives/commons/favicon/touch-icon-iphone-retina.png">
  <link rel="apple-touch-icon" sizes="152x152" href="http://graphics.straitstimes.com/STI/STIMEDIA/Interactives/commons/favicon/touch-icon-ipad-retina.png">
  <link rel="apple-touch-icon" sizes="180x180" href="http://graphics.straitstimes.com/STI/STIMEDIA/Interactives/commons/favicon/touch-icon-ipad-retina2.png">
  <link rel="icon" type="image/png" href="http://graphics.straitstimes.com/STI/STIMEDIA/Interactives/commons/favicon/favicon-192x192.png" sizes="192x192">
  <!-- For everything else -->
  <link href="http://graphics.straitstimes.com/STI/STIMEDIA/Interactives/commons/favicon/favicon.png" rel="shortcut icon" type="image/png" />
  <link href="http://graphics.straitstimes.com/STI/STIMEDIA/Interactives/commons/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <!-- [if IE 6]>
  <div id="error">
    <link rel="stylesheet" href="css/stcssie.css">
    <p style="background-color:#FFE5A6; font-size:12px; font-family: 'Arial', sans-serif; padding:3px;margin-bottom:0;">This web special requires a browser with SVG support, such as
      <a style="color:#0088FF;" href="http://www.google.com/chrome">Chrome</a>,
      <a style="color:#0088FF;" href="http://www.mozilla.org/en-US/firefox/">Firefox</a>,
      <a style="color:#0088FF;" href="http://www.apple.com/safari/download/">Safari</a> or
      <a style="color:#0088FF;" href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home">IE 9</a>
    </p>
    <img src="images/error/image_error.png"  alt="Error">
  </div>
  <![endif] -->
  <!-- [if IE 7]>
  <div id="error">
    <link rel="stylesheet" href="css/stcssie.css">
    <p style="background-color:#FFE5A6; font-size:12px; font-family: 'Arial', sans-serif; padding:3px;margin-bottom:0;">This web special requires a browser with SVG support, such as
      <a style="color:#0088FF;" href="http://www.google.com/chrome">Chrome</a>,
      <a style="color:#0088FF;" href="http://www.mozilla.org/en-US/firefox/">Firefox</a>,
      <a style="color:#0088FF;" href="http://www.apple.com/safari/download/">Safari</a> or
      <a style="color:#0088FF;" href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home">IE 9</a>
    </p>
    <img src="images/error/image_error.png" alt="Error">
  </div>
  <![endif] -->
  <!-- [if IE 8]>
  <div id="error">
  <link rel="stylesheet" href="css/stcssie.css">
    <p style="background-color:#FFE5A6; font-size:12px; font-family: 'Arial', sans-serif; padding:3px;margin-bottom:0;">This web special requires a browser with SVG support, such as
      <a style="color:#0088FF;" href="http://www.google.com/chrome">Chrome</a>,
      <a style="color:#0088FF;" href="http://www.mozilla.org/en-US/firefox/">Firefox</a>,
      <a style="color:#0088FF;" href="http://www.apple.com/safari/download/">Safari</a> or
      <a style="color:#0088FF;" href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home">IE 9</a>
    </p>
    <img src="images/error/image_error.png" alt="Error">
  </div>
  <![endif] -->
  <!-- Adds HTML5 element support for earlier versions of IE -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body itemscope itemtype="http://schema.org/WebPage">
  <div id="wrapper-page" class="scrollContainer">
    <div id="st-content-graphic">
    </div>
  </div>


  <div id="fb-root"></div>
  <!-- <script type="text/javascript" src="js/components.js"></script> -->
  <!-- <script type="text/javascript" src="js/app.js"></script> -->
  <script type="text/javascript">
    //data layer
    var _data = {
      "title": document.title.replace("&", "_")
    };
  </script>
  <script type="text/javascript" src="//nexus.ensighten.com/sph/stmicrosite/Bootstrap.js"></script>

</body>

</html>
