<template>
<div id="st-content-graphic" class="st-content-graphic scrollContent" itemscope itemtype="http://schema.org/NewsArticle">
  <meta itemprop="datePublished" v-if="date" :content="date" />
  <st-menu :menu="menu"></st-menu>
  <st-main :page="page" :fullHeight="fullHeight" :url="url" :header="header" :article="article" :credits="credits" :next_chapter="next_chapter"></st-main>
  <st-footer></st-footer>
  <transition name="fade" mode="out-in" appear>
    <div class="loading-page" v-if="loading"></div>
  </transition>
</div>
</template>

<script>
import stMenu from "./menu/st-menu-v1.vue";
import stMain from "./main/st-main.vue";
import stFooter from "./footer/st-footer-v1.vue";


// module.exports = {
export default {
  props: ['page','fullHeight','loading','date','url','menu','header','article','credits','next_chapter'],
  components: {
    "st-menu":stMenu,
    "st-main":stMain,
    "st-footer":stFooter
  }
  // created: function () {
  //   console.log('user data from parent component:');
  //   // this.msg=this.$parent.msg;
  //   console.log(this.msg) //prints out an empty string
  // }
}
</script>

<style scoped>
body {
  background-color: #fff;
}
</style>
