<template>
  <div class="st-drone-smart-nation">
    <img src="images/urban-planning/drone-intro.gif" class="st-image-responsive" alt="">
    <p v-html="property.text">
    </p>
    <a :href="property.url" title="PLAY NOW" alt="PLAY NOW" :style="{backgroundColor:property.color}">
      PLAY NOW
    </a>
  </div>
</template>
<script>
export default {
  props: ['property'],
  computed:{
  }
}
</script>
