.contest-form {
  @include container(794px);
  color  : #333;
  padding: 5%;

  fieldset {
    border : none;
    margin : 0;
    padding: 0;
  }

  .st_strap-bold {
    font-family: $font-Curator-Bold;
    color      : #333;
    margin-top : 50px;
    @include breakpoint($d_medium) {
      margin-top: 90px;
    }
  }

  #headform {
    margin-top: 0;
  }

  .fields {
    margin-top: 20px;
    color     : #333333;
  }

  .questionTitle {
    margin: 28px 0 18px;
  }

  .st_form input[type="text"] {
    /* general style for input elements */
    padding         : 12px;
    border          : none;
    background-color: #EEF2F3;
    min-height      : 22px;
    font-size       : 16px;
    color           : #666666;
    width           : 90%;
    outline         : none;
    @include breakpoint($d_medium) {
      width: 700px;
    }
  }

  input[type="radio"] {
    margin-top: 20px;

    a:hover {
      color: $stblue;
    }
  }

  .radiobtn {
    @include breakpoint($d_medium) {
      float: left;
      width: 200px;
    }
  }

  .st_form_condition {
    width: 100%;
    @include breakpoint($d_medium) {
      width: 700px;
    }
  }

  .checkboxdiv {
    margin: 18px 0 21px;
  }

  .submitbtn {
    margin-top: 35px;
  }

  #VoteButton {
    width                : 250px;
    height               : 52px;
    font-size            : 16px;
    text-align           : center;
    padding              : 16px;
    background-color     : #5A9DDC;
    color                : #fff;
    text-transform       : uppercase;
    border               : none;
    cursor               : pointer;
    margin-bottom        : 10px;
    -webkit-appearance   : none;
    -webkit-border-radius: 0;
  }

  #VoteButton:hover,
  :focus {
    text-decoration: none;
    // background-color: #418ED7;
  }
}

.extrainfo {
  background-color: #EEF2F3;
  width           : 100%;
  color           : #333;
  margin-top      : 50px;
}

.innerinfo,
.innnerTC {
  @include container(794px);
  padding: 63px;
}

.innnerTC {
  strong {
    font-size: 14px;
  }

  p {
    font-size: 13px;
  }
}

.st-content-banner div a img {
  width : 100%;
  margin: 0;
}

.thankyou {
  @include container(700px);
  color     : #333;
  text-align: center;
  padding   : 5%;

  .st_strap_main {
    margin-bottom: 30px;

    h1 {
      font-size  : 38px;
      line-height: 45px;
      margin     : 0 auto;
      color      : #333;
      font-family: $font-SelaneMinTen;
      @include breakpoint($d_medium) {
        font-size  : 70px;
        line-height: 72px;
        margin     : 30px auto;
      }
    }
  }

  #Backbutton {
    width                : 150px;
    height               : 52px;
    font-size            : 16px;
    text-align           : center;
    padding              : 16px;
    background-color     : #5A9DDC;
    color                : #fff;
    text-transform       : uppercase;
    border               : none;
    cursor               : pointer;
    -webkit-appearance   : none;
    -webkit-border-radius: 0;
    margin-bottom        : 10px;
  }

  #Backbutton:hover,
  :focus {
    text-decoration: none;
    // background-color: #418ED7;
  }
}
