body {
  background-color: #F2F4F8;
}


// Header //

.st-header-hero {
  position: absolute;
  .st-header-hero-video {
    height: 620px;
    background-image: url(/images/openkitchen/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 35% 35%;
    display: block;
    margin: 0 auto;
  }
}

.bannerimg {
  height: 620px;
  background-color: #EF4123;
}
.st-title-general {
  bottom: -10% !important;
  padding-bottom: 63px;
  width: 100%;
  display: block;
  margin: 0 auto;
  right: 0 !important;
  left: 0 !important;
  max-width: 100% !important;
  @media (max-width: $d_large) {
    padding-bottom: 37px;
  }
}

.st-title-general section {
  max-width: 638px !important;
  @media (max-width: $d_large) {
    max-width: 296px;
  }
}

.headline {
  font-family: $font-SelaneMinTen;
  font-size: 72px;
  color: #333333;
  margin: 0.4em 0;
  text-shadow: 2px 0px 13px #333333;
  @media (max-width: $d_large) {
    font-size: 40px;
    margin-bottom: 30px;
  }
}

.st-deck p {
  font-family: $font-SelaneTen;
  font-size: 21px;
  color: #FFF;
  opacity: 0.9;
  @media (max-width: $d_large) {
    font-size: 19px;
    line-height: 120%;
    margin-bottom: 30px;
    padding: 0 15px;
  }
}

.st-byline {
  color: #FFFFFF;
  font-family: $font-Curator-Regular;
  font-size: 15px;
  opacity: 0.8;
  margin: 30px 0;
  @media (max-width: $d_large) {
    margin-bottom: 55px;
  }
}

#info {
  position: absolute;
  float: right;
  top: 60%;
  right: -320px;
  transition: all 0.5s ease;
  z-index: 9999;
  @media (max-width: $d_large) {
    top: 57%;
  }
}

#info.tabout {
  right: 0;
}

.infopoint {
  height: 50px;
  width: 50px;
  cursor: pointer;
  padding-top: 10.63em;
  float: right;
}

.infodetails {
  float: right;
  width: 260px;
  background-color: #F2F4F8;
  color: #333333;
  padding: 12px 30px 40px 30px;
  p {
    font-family: $font-Curator-Regular;
    font-size: 15px;
    line-height: 1.3em;
    color: #333333;
  }
}

.infoarrow {
  height: 28px;
  width: 28px;
  display: block;
  margin: 2px 0px 5px 252px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.infoarrow:hover {
  background-image: url(/images/openkitchen/right-arrow-selected.svg);
}






// Content //

article {
  color: #333333;
  max-width: 1200px;
  margin: 0 auto !important;
  padding: 0 38px !important;
  transition: all 1s ease;
  @media (max-width: $d_large) {
    padding: 0 12px !important;
  }
}

.subheading {
  padding: 50px 0 30px 0;
  font-family: $font-Curator-Regular;
  color: #333333;
  @media (max-width: $d_large) {
    padding: 32px 0 21px 0;
  }
}

.profile1, .profile2, .profile3, .profile4, .profile5 {
  margin: 0 auto;
  margin-bottom: 63px;
  background-color: #FFFFFF;
  height: 500px;
  padding: 50px;
  -webkit-box-shadow: 2px 0px 13px 0px rgba(51,51,51,0.17);
  -moz-box-shadow: 2px 0px 13px 0px rgba(51,51,51,0.17);
  box-shadow: 2px 0px 13px 0px rgba(51,51,51,0.17);
  .profileinfo {
    padding-top: 35px;
    div {
      // font-family: Curator Head ST Regular;
      font-family: $font-Curator-Regular;
      font-size: 15px;
      line-height: 1.3em;
      color: #333333;
      transition: all 0.75s ease;
    }
    .bold {
      // font-family: Curator Head ST Bold;
      font-family: $font-Curator-Bold;
      font-size: 14px;
    }
  }

  transition: all 0.5s ease;
  @media (max-width: $d_large) {
    padding: 25px;
    margin-bottom: 25px;
    height: auto;
    display: inline-block;
  }
  @media (max-width: $d_small) {
    padding: 10px;
  }

}

.personpic {
  display: block;
  height: 500px;
  width: 500px;
  float: left;
  padding-right: 50px;
  transition: all 0.75s ease;
  @media (max-width: $d_large) {
    float: none;
    margin: 0 auto;
    padding: 0;
    height: 296px;
    width: 296px;
  }
}

.personpicbg {
   position: absolute;
   height: 500px;
   width: 500px;
   transition: all 0.75s ease;
   @media (max-width: $d_large) {
     height: 296px;
     width: 296px;
   }
}

svg {
  position: absolute;
  height: 10.1%;
  z-index: 3;
  transition: all 0.75s ease;
  @media (max-width: $d_large) {
    height: 5.35%;
  }
  @media (max-width: $d_normal) {
    height: 5.3%;
  }
  @media (max-width: $d_medium) {
    height: 5.2%;
  }
  @media (max-width: $d_small) {
    height: 4.65%;
  }
}

g {
  opacity: 0;
}

.arrows {
  display: block;
  position: relative;
  z-index: 9999;
  float: right;
}

.prevarrow, .nextarrow {
  height: 28px;
  width: 28px;
  padding: 2px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.dlbutton {
  background-color: #96AAF2;
  border: none;
  color: #FFFFFF;
  padding: 15px;
  font-family: $font-Curator-Regular;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 2px;
  cursor: pointer;
}
.dlbutton:hover {
  background-color: #8799D9;
}

.indiv {
  display: block;
  opacity: 0;
  position: absolute;
  z-index: 2;
  transition: all 0.75s ease;
  @media (max-width: $d_large) {
    height: 296px;
    width: 296px;
  }
}

.active1, .active2, .active3, .active4, .active5 {
  opacity: 1 !important;
}

a {
  cursor: pointer;
}

// .button {
//   font-family: $font-Curator-Regular;
//   font-size: 15px;
// }
