* {
  font-weight: 400 !important;
}

#bannerBG {
  position        : absolute;
  width           : 100%;
  background-color: #f6f6f6;
  z-index         : -1;
  height          : 0;
  @include breakpoint($d_medium) {
    height: 262px;
  }
}

#headerbanner {
  @include container(900px);
  padding-top: 20px;
  // text-align : center;
  @include breakpoint($d_medium) {
    padding-top: 50px;
  }

  img:first-of-type {
    height: 210px;
  }
  // #bannerImg {
  //   // height: 273px;
  //   max-width: 900px;
  // }
}

#bannerTextDesktop {
  display: none;
  @include breakpoint($d_medium) {
    display         : block;
    position        : absolute;
    width           : 100%;
    font-family     : $font-Curator-Bold;
    color           : #666666;
    background-color: #EFEEEE;
    padding         : 10px 20px;
    text-align      : center;
    font-size       : 18px;
    top             : 310px;
  }
}

#bannerTextMobile {
  max-width       : 360px;
  font-size       : 15px;
  font-family     : $font-Curator-Bold;
  color           : #666666;
  background-color: #EFEEEE;
  padding         : 10px 20px;
  text-align      : center;
  margin-top      : -6%;
  @include breakpoint($d_medium) {
    display: none;
  }
}

.row.header-text-holder {
  padding     : 40px 15px 15px;
  max-width   : 1200px;
  margin-left : auto;
  margin-right: auto;
  @include breakpoint($d_medium) {
    padding: 70px 15px 15px;
  }

  h1 {
    // max-width   : 850px;
    // margin-left : auto;
    // margin-right: auto;
    // color       : #333;
    font-family: $font-SelaneMinTen;
    font-weight: 400 !important;
    line-height: 1.2;
    font-size  : 2.8em !important;
    @include breakpoint($d_medium) {
      font-size: 4.3em !important;
    }
  }
}

#deck {
  color       : #333;
  padding     : 15px;
  max-width   : 800px;
  margin-left : auto;
  margin-right: auto;
  font-size   : 1.3em;
  line-height : 1.6;

  #decktText {
    font-family: $font-SelaneMinTen;
    margin     : 0;
    line-height: 1.5;

    a {
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .time {
    font-family  : $font-Curator-Regular;
    font-size    : 13px;
    color        : #666;
    padding      : 15px;
    text-align   : center;
    margin-bottom: 30px;
    max-width    : 1200px;
    margin-left  : auto;
    margin-right : auto;
  }
}
// .graphic-subhead {
//     font-family: $font-SelaneMinTen;
//     font-size  : 1.3em;
//     line-height: 1.5;
// }

h2 {
  color: #333;
}

.main {
  padding-top: 0;
}

.navbar {
  padding: 0;
}

.btn-primary {
  color           : #333;
  border          : none;
  background-color: $screen;
  font-size       : 15px !important;
  font-family     : $font-Curator-Regular !important;
  border-radius   : 0 !important;

  &:hover {
    background-color: #d7e0e3;
  }
}

.btn.smaller {
  padding: 13px 20px;
}

.btn-primary.active,
.btn-primary:active,
.open > .btn-primary.dropdown-toggle {
  background-color: #5a96d5 !important;
  color           : #fff;
}

.btn-group > .btn:first-child {
  margin-right: 5px;
}

.font-weight-bold {
  font-family: $font-Curator-Bold;
}

.row:nth-last-of-type(2) {
  .bottomline-text {
    padding: 0 75px;
  }
}

.st-content-menu .st-content-menu-fixed .navbar ul li a {
  &:hover {
    cursor         : pointer;
    text-decoration: none;
  }
}

#candidate-sort {
  font-family: $font-Curator-Regular !important;

  .axis text,
  .chart,
  .graphic-chart-label {
    font-family: $font-Curator-Regular !important;
    margin-top : 0 !important;
  }

  .axislabel {
    fill: #333;
  }
}

.row:nth-last-of-type(2) .bottomline-text {
  padding: 0;
}

.hideSection {
  display: none;
}

section.graphic-section {
  border-top: none;
}
