<template>
<header class="st-header-page">
  <div class="st-header-hero" :style="{height:fullHeight+'px'}">
    <div class="st-header-container">
      <div class="intro-text">
        <div class="main-headline">
          <div class="st-title">
            <figure v-if="header.logo" class="intro" itemprop="associatedMedia image" itemscope itemtype="http://schema.org/ImageObject" data-component="image">
              <img :src="path_image(header.logo)" class="st-image-responsive" alt="intro Smart Nation Logo Virtual Singapore" title="Logo Virtual Singapore" />
            </figure>
            <h1 itemprop="headline" v-html="header.headline">
              </h1>
          </div>
          <div v-if="header.deck" class="st-deck" itemprop="description">
            <p>
              {{header.deck}}
            </p>
          </div>
          <div class="st-byline">
            <time itemprop="datePublished" :datetime="header.datetime" :data-timestamp="header.timestamp">
                            {{header.byline}}
                        </time>
          </div>
        </div>
      </div>
    </div>
    <!-- v-on:click="scrollToBody" -->
    <v-touch tag="a" class="content-arrow-down" v-on:tap="scrollToBody">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 137.3 60" enable-background="new 0 0 137.3 60" xml:space="preserve">
                <g>
                    <!-- <animateTransform attributeName="transform" type="translate" values="0,-8;0,8;0,-8" begin="0s" dur="1.5s" repeatCount="indefinite"/>   -->
                    <circle fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" cx="70.5" cy="30" r="21.7" />
                    <polyline fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" points="63,27.8 70.5,35.3 78.2,27.9 " />
                </g>
            </svg>
    </v-touch>
  </div>
</header>
</template>

<script>
import {
  mapState
}
from 'vuex';
// import fixSvgSize from 'fixSvgSize';
// import $ from 'jquery';
// var d3 = Object.assign({},require("d3-timer"));

export default {
  computed: mapState(['fullHeight', 'header', 'identifier']),
  methods: {
    path_image: function(value) {
      console.log(value);
      return (value) ? require("images/" + value) : false;
    },
    scrollToBody: function() {
      var _this = this;
      // controller.scrollTo(function(newScrollPos) {
      //   if (isMobile && _this.identifier!=="newLeadership") {
      //     if (typeof myScroll !== undefined && typeof myScroll !== "undefined") {
      //       myScroll.scrollTo(0, -newScrollPos, 500);
      //     } else {
      //       _this.scrollToBody();
      //     }
      //   } else {

      _this.scrollToSt($('html')[0], $(window).height(), 500);
      _this.scrollToSt($('body')[0], $(window).height(), 500);

      // _this.scrollToST("wrapper-page");
      // $("#wrapper-page").scrollTop(newScrollPos);
      // $("#wrapper-page").animate({
      //   scrollTop: newScrollPos
      // }, 500);
      //   }
      // });

      // controller.scrollTo($(window).height());

      // $('html, body').animate({
      //       scrollTop: $("article").offset().top
      //   }, 500);
    },
    scrollToSt: function(element, to, duration) {
      var start = element.scrollTop,
        change = to - start,
        currentTime = 0,
        increment = 20;
      Math.easeInOutQuad = function(t, b, c, d) {
        t /= d / 2;
        if (t < 1) return c / 2 * t * t + b;
        t--;
        return -c / 2 * (t * (t - 2) - 1) + b;
      };
      var animateScroll = function() {
        currentTime += increment;
        var val = Math.easeInOutQuad(currentTime, start, change, duration);
        element.scrollTop = val;
        if (currentTime < duration) {
          setTimeout(animateScroll, increment);
        }
      };
      animateScroll();
    }
  },
  mounted: function() {
    // var _this = this;
    // var circle = _this.$el.querySelectorAll('.circle-intro')[0];
    // $(circle).addClass('none');
    //
    // var figure = _this.$el.querySelectorAll('figure')[0];
    // $(figure).css('opacity',0);
    // var h1 = _this.$el.querySelectorAll('h1')[0];
    // $(h1).css('opacity',0);
    // var st_deck=_this.$el.querySelectorAll('.st-deck')[0];
    // $(st_deck).css('opacity',0);
    // var st_byline=_this.$el.querySelectorAll('.st-byline')[0];
    // $(st_byline).css('opacity',0);
    //
    //
    // $(figure).css('opacity',1);
    // $(figure).animateCss('fadeIn','in');
    //
    // $(h1).css('opacity',1);
    // $(h1).animateCss('slideUp','in');
    //
    // $(circle).removeClass('none');
    // new fixSvgSize({
    //   tag: circle
    // });
    // d3.timeout(function(){
    //   $(st_deck).css('opacity',1);
    //   $(st_deck).animateCss('fadeIn','in');
    //
    // },500);
    // d3.timeout(function(){
    //   $(st_byline).css('opacity',1);
    //   $(st_byline).animateCss('fadeIn','in');
    // },1500);
  }
}
</script>
