* {
    font-weight: 400 !important;
}

.st-header-page {
    height: 0;
}

.row.header-text-holder {
    padding     : 40px 15px 15px;
    max-width   : 1200px;
    margin-left : auto;
    margin-right: auto;

    h1 {
        // max-width   : 850px;
        // margin-left : auto;
        // margin-right: auto;
        // color       : #333;
        font-family: $font-SelaneMinTen;
        font-weight: 400 !important;
        line-height: 1.2;
        font-size  : 2.8em !important;
        @include breakpoint($d_medium) {
            font-size: 4.3em !important;
        }
    }
}

#deck {
    color       : #333;
    padding     : 15px;
    max-width   : 800px;
    margin-left : auto;
    margin-right: auto;
    font-size   : 1.3em;
    line-height : 1.6;

    #decktText {
        font-family: $font-SelaneMinTen;
        margin     : 0;
        line-height: 1.5;
    }

    .time {
        font-family  : $font-Curator-Regular;
        font-size    : 13px;
        color        : #666;
        padding      : 15px;
        text-align   : center;
        margin-bottom: 30px;
        max-width    : 1200px;
        margin-left  : auto;
        margin-right : auto;
    }
}

#candidates {
    display: none;
}

.masthead-nav {
    display: none;
}

.main {
    padding-top: 0;
    margin-top : -45px;
}

.navbar {
    padding: 0;
}

.btn.btn-primary.smaller {
    height          : auto !important;
    color           : #333;
    border          : none;
    background-color: $screen;
    font-size       : 15px !important;
    font-family     : $font-Curator-Regular !important;
    border-radius   : 0 !important;
    line-height     : 1.25 !important;

    &:hover {
        background-color: #d7e0e3;
    }
}

.btn.smaller {
    padding: 13px 20px;
}

.btn-primary.active,
.btn-primary:active,
.open > .btn-primary.dropdown-toggle {
    background-color: #5a96d5 !important;
    color           : #fff !important;
    border          : none;
}

.btn-group > .btn:first-child {
    margin-right: 5px;
}

.graphic-chart-label {
    font-family: $font-Curator-Bold;
}

#bannerBG {
    position        : absolute;
    width           : 100%;
    background-color: #f6f6f6;
    z-index         : -1;
    height          : 0;
    @include breakpoint($d_medium) {
        height: 273px;
    }
}

#headerbanner {
    @include container(900px);
    padding-top: 20px;
    // text-align : center;
    @include breakpoint($d_medium) {
        padding-top: 50px;
    }

    #bannerImg {
        // height: 273px;
        max-width: 900px;
    }
}

#bannerText {
    max-width       : 360px;
    font-size       : 15px;
    font-family     : $font-Curator-Bold;
    color           : #666666;
    background-color: #EFEEEE;
    padding         : 10px 20px;
    margin-top      : -5%;
    text-align      : center;
    @include breakpoint($d_medium) {
        font-size : 18px;
        margin-top: -1.7%;
    }
}
