.st-header-page {
  @include backImage( '/images/smart-nation/hero-cover-desktop.jpg');
  height: 100vh;

  .st-header-hero {
    overflow: visible;

    .st-header-container {
      height: 600px;
      width: 600px;
      @include transform(translateY(40%));
      margin: auto;

      .circle-intro {
        position: absolute;
      }

      .intro-text {
        position: absolute;
      }
    }
  }

  .main-headline {
    margin: 100px auto;
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;

    .st-title {
      margin-bottom: 0;

      h1 {
        color: #FFFFFF;
      }
    }

    .st-deck {
      color: #FFFFFF;

      p {
        margin-bottom: 0;
      }
    }

    .st-byline {
      color: #FFFFFF;
    }
  }
}

.content-columns {
  div > p {
    margin-top: 20px;
  }

  video {
    width: 100%;
  }

  h2 {
    display: inline;
    background: #F5E9F1;
    padding: 3px 0;
    box-shadow: 10px 0 0 #F5E9F1, -10px 0 0 #F5E9F1;
  }
}

.virtual-singapore-section {
  background-color: #942170;
}

article section {
  .go-next-chapter {
    background-image: url("/images/smart-nation/go-next.jpg");
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    margin-top: 30px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .label {
      margin-top: 60px;
      font-family: $font-Curator-Regular;
      font-size: 14px;
      line-height: 19px;
      color: rgba(255,255,255,0.8)

    }

    h3 {
      font-size: 35px;
      line-height: 1.3;
      color: #fff;
      font-family: $font-SelaneMinTen;

      @include breakpoint($d_medium) {
        font-size: 45px;
        line-height: 1.3;
      }

      img {
        vertical-align: middle;
        width: 40px;
      }

    }

  }

  .content-columns {
    &:first-of-type {
      padding-top: 30px;
    }

    &:last-of-type {
      padding-bottom: 30px;
    }

    .image-future-smart-city {
      position: relative;
      margin-top: 150px;
      max-width: 360px;

      .image-future-smart-city-top {
        position: absolute;
        bottom: 150px;
        margin-top: 150px;
      }
    }

    .gallery-tips {
      padding-top: 10px;
      padding-bottom: 20px;
      @include clearfix;

      .card-tips {
        font-size: 17px;
        font-family: $font-Curator-Regular;
        line-height: 1.5;
        color: #333;
        margin: 0;
        text-align: center;
        padding: 10px 20px;
        @include gallery(3 of 7);
        // @include box-sizing;
        @include breakpoint(520px) {
           @include gallery(3 of 9);
        }
        @include breakpoint($d_medium) {
           @include gallery(4 of 16);
        }

        .card-tips-text {
          // height: 115px;
          padding: 10px;
        }
      }
    }

    .text-unique-paragraph {
      @include container (650px);
      @include breakpoint($d_medium) {
        padding-left: 52px;
        padding-right: 45px;
      }

      p {
        font-size: 1em;
        line-height: 1.6em;
        color: #333;
        text-transform: uppercase;
        // margin-bottom: 1.125em;
        text-align: center;
        color: rgba(255,255,255,0.8);
        font-family: $font-Curator-Regular;
        letter-spacing: 2px;

        span {
          font-family: $font-Curator-Bold;
        }
      }

      h3 {
        box-sizing: border-box(border-box);
        font-family: $font-Thirty;
        color: #333;
        font-size: 23px;
        line-height: 1.3;
        // padding: 15px;
        padding-top: 0;
        color: #666;
        margin-bottom: 15px;
      }
    }
  }
}
