@mixin background($file_name,$position:0 0,$repeat: repeat){
	background: {
		image:url(#{$images_dir}#{$file_name});
		position: $position;
		repeat: $repeat;
	}

}

@mixin backImage ($image) {
    background: url($image) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin center_div_vertical{
	position: absolute;
	top:50%;
	@include translateY(-50%);
}

@mixin center_div {
	margin: 0 auto;
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}
