.section {
  background-size    : cover;
  background-position: 100%;
  overflow           : hidden;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

.text-bg {
  // display         : none;
  background-color: #000000;
  position        : absolute;
  z-index         : 4;
  text-align      : left;
  // bottom          : 0;
  bottom          : -30%;
  opacity         : 0.75;
  max-width       : 700px;

  p {
    color        : #FFFFFF;
    font-size    : 16px;
    line-height  : 21px;
    margin-bottom: 0;
    padding      : 20px;
    @include breakpoint($d_medium) {
      font-size  : 19px;
      line-height: 26px;
      padding    : 35px;
    }
  }
}

.myVideo {
  position           : absolute;
  right              : 0;
  bottom             : 0;
  top                : 0;
  right              : 0;
  width              : 100%;
  height             : 100%;
  background-size    : 100% 100%;
  // background-color   : black;
  /* our video */
  /* in case the video doesn't fit the whole page*/
  // background-image   :;
  background-position: center center;
  background-size    : contain;
  object-fit         : cover;
  /*cover video background */
  z-index            : 3;
}

.bar-long {
  height            : 5px;
  width             : 0;
  z-index           : 1000;
  position          : fixed;
  top               : 40px;
  left              : 0;
  -webkit-transition: width 1s;
  /* Safari */
  transition        : width 1s;
  @include breakpoint($d_medium) {
    top: 50px;
  }
}

#section0 {
  background-image: url("../images/journey-to-istana/img/halimah-main-mobile.jpg");
  @include breakpoint($d_medium) {
    background-image: url("../images/journey-to-istana/img/halimah-main-desktop.jpg");
  }

  .main-headline-wrap {
    @include container;
  }
  // .head-logo {
  //   float     : right;
  //   margin-top: 15px;
  //   @media (max-width: 1200px) {
  //     margin-right: 10px;
  //   }
  // }
  .main-headline {
    .head-logo {
      img {
        margin-left: 2%;
      }
    }

    .st-title {
      animation-name    : fadeInUp;
      animation-duration: 1s;
      padding           : 15px 15px 0;
      // margin-bottom: 25px;
      @include breakpoint($d_medium) {
        padding: 15px;
      }

      h1 {
        span {
          color: $red !important;
        }
        color      : #fff;
        font-family: $font-SelaneMinTen;
        // text-align : center;
        font-size  : 38px;
        line-height: 45px;
        @media (min-width: $d_medium) {
          font-size  : 72px;
          line-height: 130%;
        }
      }
    }

    .st-deck {
      animation-name    : fadeInUp;
      animation-duration: 1s;
      font-family       : $font-SelaneTen;
      // text-align : center;
      // font-size: 1.1em;
      // line-height: 1.6;
      font-size         : 20px;
      line-height       : 1.3;
      color             : #fff;
      padding           : 15px;
      @include breakpoint($d_medium) {
        line-height: 1.5;
      }

      p {
        margin-bottom: 0;
      }
    }

    .st-byline {
      animation-name    : fadeInUp;
      animation-duration: 2s;
      font-family       : $font-Curator-Regular;
      font-size         : 13px;
      color             : #fff;
      padding           : 0 15px 15px;
      // text-align : center;
      @include breakpoint($d_medium) {
        padding: 15px;
      }
    }
    // @include breakpoint(320px) {
    //   margin: 30px 0;
    // }
    margin-top: 30%;
    @include breakpoint(361px) {
      margin-top: 70%;
    }
    @include breakpoint($d_medium) {
      // margin      : 45px 0 40px;
      margin      : 250px 0 40px;
      max-width   : 700px;
      // margin-left : auto;
      margin-left : 0;
      margin-right: auto;
    }
  }
}
@keyframes fadeInUp {
  from {
    opacity  : 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity  : 1;
    transform: none;
  }
}
