h1 {
    font-family: $font-SelaneMinTen;
    font-weight: 400;
    line-height: 1;
}

h1.huge {
    letter-spacing: 0;
    font-size: 38px;
    line-height: 1.3em;
    @include breakpoint(550px) {
        font-size: 82px;
    }
}

p.hero2 {
    font-size: 20px;
    @include breakpoint(550px) {
        font-size: 32px;
    }
}

h3 {
  letter-spacing: 0;
  font-size: 15px;
  font-family: $font-Curator-Bold;
  color: #fff;
  line-height: 1.3em;
  @include breakpoint(550px) {
      font-size: 18px;
  }

}

.svg-size svg {
  width: 50px;
height: 50px;
}
