.IE {
  animation        : none;
  fill-opacity     : 1 !important;
  stroke-dashoffset: 0;
}

.bannermobile {
  width: 100%;
}

.st-desktop {
  display: block !important;
}

[class^="save-copy-card-"] {
  display: none;
}

.content-graphic {
  padding-left : 15px;
  padding-right: 15px;
  @include container(1293px);
}
$number_deals: 40;

#content-cards {
  margin   : 0 auto;
  max-width: 1293px;
  /*min-width: 100%;*/
  .red-line {
    background-color: rgba(239, 65, 35, 0.4);
    @include transition(background-color 0.5s ease-in);

    &:hover {
      background-color: rgba(239, 65, 35, 1);
      @include transition(background-color 0.5s ease-in);
    }

    p {
      color: #000;
    }
  }

  .green-line {
    background-color: rgba(104, 169, 77, 0.4);
    @include transition(background-color 0.5s ease-in);

    &:hover {
      background-color: rgba(104, 169, 77, 1);
      @include transition(background-color 0.5s ease-in);
    }

    p {
      color: #000;
    }
  }

  .blue-line {
    background-color: rgba(90, 157, 220, 0.4);
    @include transition(background-color 0.5s ease-in);

    &:hover {
      background-color: rgba(90, 157, 220, 1);
      @include transition(background-color 0.5s ease-in);
    }

    p {
      color: #000;
    }
  }

  .purple-line {
    background-color: rgba(102, 75, 169, 0.4);
    @include transition(background-color 0.5s ease-in);

    &:hover {
      background-color: rgba(102, 75, 169, 1);
      @include transition(background-color 0.5s ease-in);
    }

    p {
      color: #000;
    }
  }

  .yellow-line {
    background-color: rgba(255, 212, 0, 0.4);
    @include transition(background-color 0.5s ease-in);

    &:hover {
      background-color: rgba(255, 212, 0, 1);
      @include transition(background-color 0.5s ease-in);
    }

    p {
      color: #000;
    }
  }

  .item-active {
    position: relative;

    &:after {
      content      : " ";
      width        : 0;
      height       : 0;
      border-left  : 15px solid transparent;
      border-right : 15px solid transparent;
      border-bottom: 12px solid #fff;
      position     : absolute;
      bottom       : 0;
      right        : 140px;
      left         : 0;
      margin       : 0 auto;
    }

    [class^="item-card-back-"] {
      &:after {
        background-position: 0 0 !important;
        opacity            : 1 !important;
        @include transition(opacity 0.5s ease-in);
      }
    }
  }

  .item-active.red-line {
    background-color: rgba(239, 65, 35, 1);
    @include transition(background-color 0.5s ease-in);
  }

  .item-active.green-line {
    background-color: rgba(104, 169, 77, 1);
    @include transition(background-color 0.5s ease-in);
  }

  .item-active.blue-line {
    background-color: rgba(90, 157, 220, 1);
    @include transition(background-color 0.5s ease-in);
  }

  .item-active.purple-line {
    background-color: rgba(102, 75, 169, 1);
    @include transition(background-color 0.5s ease-in);
  }

  .item-active.yellow-line {
    background-color: rgba(255, 212, 0, 1);
    @include transition(background-color 0.5s ease-in);
  }

  .item-card {
    width        : calc(50% - 28px);
    min-height   : 183px;
    margin-bottom: 15px;
    /*background-color: #54A6FF;*/
    padding      : 10px;
    color        : #333;
    z-index      : 10;
    cursor       : pointer;

    [class^="item-card-back-"] {
      position: relative;
      height  : 183px;

      p {
        // color: #FFF;
        font-size  : 16px;
        line-height: 1.3;
        font-family: $font-Curator-Regular;
      }

      .aftercard {
        content          : " ";
        position         : absolute;
        display          : block;
        background-repeat: no-repeat;
        opacity          : 0.6;
        width            : 100%;
        height           : 80%;
        top              : 45px;
        left             : 35px;
        @media (max-width: 668px) {
          background-size: 125px;
          top            : 60px;
          left           : 10px;
        }
        @media (max-width: 360px) {
          background-size: 110px;
          top            : 80px;
          left           : 10px;
          height         : 60%;
        }
        @include transition(opacity 0.5s ease-in);
      }

      .aftercard:hover {
        background-position: 0 0;
        opacity            : 1;
        @include transition(opacity 0.5s ease-in);
      }
    }
    @include breakpoint(480px) {
      width: 183px;
    }
  }

  .content-item-card {
    width           : 100%;
    background-color: #fff;
    color           : #333;
    padding-left    : 0;
    padding-right   : 0;
    padding-bottom  : 70px;
    cursor          : auto;
    z-index         : 1;
    box-sizing      : border-box;
    /*height: 500px;*/
    /*transition-duration:0s;
        -webkit-transition-duration:0s;*/
    .row-content {
      display      : table;
      margin-bottom: 100px;
      @media (max-width: 683px) {
        padding-left: 30px;
      }
      @media (max-width: 450px) {
        padding-left: 15px;
      }

      .row-left {
        height        : 100%;
        display       : table-cell;
        vertical-align: middle;
        padding       : 20px 30px;
        @media (max-width: 1337px) {
          padding: 15px 20px;
          width  : 300px;
        }
        @media (max-width: 1119px) {
          padding: 7px 10px;
          width  : 250px;
        }
        @media (max-width: 901px) {
          padding: 5px 7px;
          width  : 200px;
        }
        @media (max-width: 683px) {
          margin : 0 auto;
          width  : 165px;
          display: block;
        }
        @media (max-width: 450px) {
          margin : 0 auto;
          width  : 140px;
          display: block;
        }

        img {
          max-height: 590px;
          margin-top: -30px;
        }
      }

      .row-right {
        display      : table-cell;
        padding-right: 20px;
        padding-left : 20px;
        width        : 395px;
        @media (max-width: 1337px) {
          padding-right: 15px;
          padding-left : 15px;
          width        : 250px;
        }
        @media (max-width: 1119px) {
          padding-right: 10px;
          padding-left : 10px;
          width        : 200px;
        }
        @media (max-width: 901px) {
          padding-right: 7px;
          padding-left : 7px;
          width        : 175px;
        }
        @media (max-width: 683px) {
          padding-right: 3px;
          padding-left : 3px;
          width        : 350px;
          display      : block;
        }
        @media (max-width: 450px) {
          padding-right: 3px;
          padding-left : 3px;
          width        : 250px;
          display      : block;
        }

        .row-content-right {
          &:not(:last-child) {
            margin-bottom: 20px;
          }

          .row-title {
            font-family  : $font-Curator-Regular;
            border-bottom: 1px dotted #333;
            padding      : 10px 0;
            font-size    : 19px;
          }

          .row-label {
            font-family: $font-Curator-Bold;
            font-size  : 15px;
          }

          .row-mall {
            margin-top : 3px;
            font-family: $font-Curator-Regular;
          }

          .row-description {
            font-family: $font-Curator-Regular;
            font-size  : 14px;

            p {
              margin-bottom: 1.3em;
              line-height  : 1.5;
            }
          }
        }
      }
    }

    .addressmap {
      border     : 0;
      position   : absolute;
      padding    : 60px 20px 20px;
      width      : 350px;
      height     : 330px;
      frameborder: 0;
      margin     : auto 0;
      @media (max-width: 1337px) {
        padding: 60px 15px 15px;
        width  : 350px;
        height : 330px;
      }
      @media (max-width: 1119px) {
        padding: 61px 15px 15px;
        width  : 300px;
        height : 326px;
      }
      @media (max-width: 901px) {
        padding: 82px 5px 5px;
        width  : 200px;
        height : 350px;
      }
      @media (max-width: 683px) {
        display: none;
      }
      //  @media (max-width: 450px){
      //    padding-top: 82px;
      //    width: 90px;
      //    height: 225px;
      //  }
    }

    .btn-close-content-card {
      position      : absolute;
      top           : 10px;
      right         : 10px;
      cursor        : pointer;
      line-height   : 1;
      padding       : 3px;
      pointer-events: all;
      z-index       : 12;
      @media (max-width: 1337px) {
        left: 1040px;
      }
      @media (max-width: 1119px) {
        left: 820px;
      }
      @media (max-width: 901px) {
        left: 610px;
      }
      @media (max-width: 683px) {
        left: 395px;
      }
      @media (max-width: 450px) {
        left: 300px;
      }
      @media (max-width: 320px) {
        left: 250px;
      }

      img {
        width: 15px;
      }
    }
  }
}

.st-content-selects {
  // .content-select-category,
  // .content-select-price,
  // .content-select-area,
  // .content-select-region,
  // .content-select-type,
  // .content-search-deal {
  //     @include span(2);
  // }
  .select2-container--default .select2-results > .select2-results__options {
    max-height: 400px !important;
  }

  .select2-selection__placeholder {
    font-size: 15px;
  }

  .select2-selection.background_select {
    background-color: #d9e3e6;
  }

  .select2-selection {
    border-radius   : 0;
    border          : none;
    background-color: #eff3f4;
  }
}

.select2-container {
  &:focus,
  .select2-selection:focus,
  .selection:focus {
    box-shadow: none;
    outline   : none;
  }

  .select2-results .select2-results__option--highlighted {
    background-color: #8fabb4;
  }

  .select2-dropdown {
    background-color: #EFF3F4;
    border-radius   : 0;
    border          : none;
    font-size       : 15px;
    color           : #666;
    line-height     : 1.5;
  }

  .select2-selection__rendered {
    pointer-events: none;

    .select2-selection__clear {
      font-size     : 23px;
      pointer-events: all;
    }
  }

  li {
    margin-left  : 0;
    margin-bottom: 0;
  }
}

.select2-results > ul > li {
  font-family: $font-Curator-Regular !important;
}

.content-filters {
  font-size    : 14px;
  font-family  : $font-Curator-Regular;
  font-size    : 15px;
  color        : #333333;
  margin-bottom: 40px;
  @include container;

  #tabs-graphic {
    display: block;
    @media (min-width: $d_medium) {
      display: none;
    }

    li {
      a {
        padding: 10px;
        @media (max-width: 374px) {
          padding  : 10px 6px;
          font-size: 14px;
        }
      }
    }
  }

  .st-content-selects {
    padding-top   : 15px;
    padding-bottom: 15px;
    border-bottom : 1px solid #ddd;
    @include clearfix;

    .active-tab {
      display: block !important;
    }

    .content-select-category {
      display: none;
      @include breakpoint($d_small) {
         @include span(16);
      }
      @include breakpoint($d_medium) {
        display: block;
        @include span(3);
      }
    }

    .content-select-price {
      display: none;
      @include breakpoint($d_small) {
         @include span(16);
      }
      @include breakpoint($d_medium) {
        display: block;
        @include span(3);
      }
    }

    .content-select-disc {
      display: none;
      @include breakpoint($d_small) {
         @include span(16);
      }
      @include breakpoint($d_medium) {
        display: block;
        @include span(3);
      }
    }

    .content-select-region {
      display: none;
      @include breakpoint($d_small) {
         @include span(16);
      }
      @include breakpoint($d_medium) {
        display: block;
        @include span(3);
      }
    }

    .content-select-type {
      display: none;
      @include breakpoint($d_small) {
         @include span(16);
      }
      @include breakpoint($d_medium) {
        display: block;
        @include span(3);
      }
    }
  }
}

.hide_row {
  display: none !important;
}

h1 {
  margin: 0 !important;
}

.ath-application-icon {
  background: url("http://graphics.straitstimes.com/STI/STIMEDIA/Interactives/commons/favicon-gss/touch-icon-iphone.png");
}

.ath-ios.ath-phone:after {
  background: $screen;
  box-shadow: none;
}

.ath-container:before {
  background-color: $screen;
}

.ath-container {
  background: $screen;
  box-shadow: none;

  p {
    font-family: $font-Curator-Regular;
    font-size  : 14px;
    line-height: 20px;
    color      : #6F6F6F;

    strong {
      font-family: $font-Curator-Bold;
      font-size  : 14px;
      line-height: 20px;
      color      : #6F6F6F;
    }
  }
}
