.date {
  font-family  : $font-Curator-Regular !important;
  font-size    : 13px;
  color        : #FFF;
  margin-top   : 15px;
  // padding-left: 25px;
  padding-left : 30px;
  padding-right: 30px;
}

body {
  font-family: $font-Curator-Regular !important;
  //line-height: 1.2 !important;
  h1 {
    font-family: $font-SelaneMinTen !important;
  }

  p {
    font-family: $font-SelaneTen !important;
  }
}

#intro {
  display: none;
}

#intro1 {
  line-height  : 1.6rem;
  font-size    : 19px;
  padding-left : 30px;
  padding-right: 30px;
}

.margin {
  margin-top : 30px;
  line-height: 1.6em;
  font-size  : 19px;
}

#photo-credit,
.graphic-source {
  font-family: $font-Curator-Regular !important;
}

#mobileheadline {
  padding-left : 45px !important;
  padding-right: 45px !important;
  @include breakpoint($d_medium) {
    font-size    : 2em !important;
    padding-left : 30px !important;
    padding-right: 30px !important;
  };
}

.graphic-subhead {
  padding-left : 30px;
  padding-right: 30px;
}

#g-attackmap-lg p,
#g-historymap-lg p,
#g-historymap-xs p,
#g-thumbnail-md p,
#g-timeline-xl p,
.legend-ital {
  font-style : normal !important;
  font-family: $font-Curator-Regular !important;
  font-weight: 400 !important;
  overflow   : visible !important;
}

.axis text {
  font-family: $font-Curator-Regular !important;
  fill       : #333 !important;
}

#g-timeline-lg .g-aiPstyle3 {
  font-style : normal !important;
  font-family: $font-Curator-Regular !important;
  font-weight: 400 !important;
  font-size  : 12px !important;
  line-height: 11px !important;
}

#g-timeline-md .g-aiPstyle3 {
  font-style : normal !important;
  font-family: $font-Curator-Regular !important;
  font-weight: 400 !important;
  font-size  : 10.5px !important;
}

.g-aiPstyle4 {
  font-family: $font-Curator-Regular !important;
  font-weight: 400 !important;
}

,
#g-timeline-lg .g-aiPstyle2,
#g-timeline-xl .g-aiPstyle2 {
  font-size  : 13px !important;
  font-family: $font-Curator-Bold !important;
}

#g-timeline-md .g-aiPstyle2 {
  font-family: $font-Curator-Bold !important;
}

#g-timeline-sm .g-aiPstyle0 {
  font-family: $font-Curator-Bold !important;
  font-size  : 10px !important;
}

#g-timeline-sm .g-aiPstyle1 {
  font-family: $font-Curator-Regular !important;
  font-weight: 400 !important;
}

.g-aiPstyle0 {
  font-size  : 10px !important;
  font-family: $font-Curator-Bold !important;
  @include breakpoint(321px) {
    font-size: 12px !important;
  }
  @include breakpoint (376px) {
    font-size: 13px !important;
  }
}
// #g-attackmap-xs .g-aiPstyle2 {
//   font-size: 10px !important;
//   @include breakpoint(321px) {
//     font-size: 12px;
//   };
// }

#g-timeline-sm .g-aiPstyle0,
#g-timeline-sm .g-aiPstyle1 {
  font-size  : 9px !important;
  line-height: 10px !important;
  @include breakpoint (321px) {};
}

#g-attackmap-lg .g-aiPstyle0,
#g-attackmap-lg .g-aiPstyle1,
#g-attackmap-lg .g-aiPstyle2 {
  font-size: 13px !important;
}

#g-timeline-md,
#g-timeline-sm {
  overflow: visible !important;
}

#g-attackmap-xs p,
#g-historymap-xs p,
#g-timeline-sm p {
  //font-size  : 10.5px !important;
  line-height: 12px !important;
  @include breakpoint(767px) {
    font-size: 12px !important;
  };
}

#g-timeline-md .g-aiPstyle1 {
  font-weight: 400 !important;
  font-size  : 13px !important;
  font-family: $font-Curator-Bold !important;
  color      : #333 !important;
}

#g-thumbnail-sm .g-aiPstyle1 {
  font-family: $font-Curator-Bold !important;
  font-style : normal !important;
}

#g-attackmap-xs .g-aiPstyle4 {
  margin-bottom: 10px;
  @include breakpoint(321px) {
    margin-bottom: inherit;
  };
}

.col-md-8 {
  padding: 0;
  @include breakpoint(825px) {
    min-width: 100%;
  }
  @include breakpoint(1030px) {
    min-width: inherit;
    //font-size: 20px !important;
  };
}

#box {
  min-width: 80%;
  padding  : 0;
  @include breakpoint(825px) {
    min-width: inherit;
  };
}

.container {
  padding-left : 35px !important;
  padding-right: 35px !important;
}

#g-ai2-13,
#g-ai2-5.g-Layer1.g-aiAbs,
#g-attackmap-lg .g-aiPstyle3,
#g-attackmap-lg .g-aiPstyle5,
#g-attackmap-lg .g-aiPstyle7,
#g-attackmap-lg .g-aiPstyle8 {
  display: none;
}
