html {
  background-image   : url("/images/coffee-image-background.jpg");
  width              : 100%;
  // height: 100%;
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;
}

.st-content-menu {
  position: absolute;
  top     : 0;
  width   : 100%;
}

.top-image {
  background-image   : url("/images/coffee-image-background-mobile.png");
  width              : 100%;
  height             : 200px;
  // height: 100%;
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;
  margin-top         : -50px;
  @include breakpoint($d_medium) {
    background-image: url("/images/main-height-300px.png");
    // width              : 100vw;
    height          : 300px;
    margin-top      : 50px;
    // height: 100%;
    // position: absolute;
    // background-position: center;
    // background-repeat  : no-repeat;
    // background-size    : cover;
    // top                : 0;
    // padding-bottom     : 230px;
  }
  @include breakpoint(2000px) {
    height: 400px;
  }

  .main-headline {
    text-align: center;
    // padding-top: 170px;
    padding   : 170px 15px 0;
    color     : #333333;
    @include breakpoint($d_medium) {
      // padding-top: 200px;
      padding: 200px 0 0;
    }
    @include breakpoint(1025px) {
      // padding-top: 220px;
      padding: 220px 0 0;
      color  : #333333;
    }
    @include breakpoint(2000px) {
      // padding-top: 300px;
      padding: 300px 0 0;
    }
    // b {
    //   font-weight: bold;
    // }
    .st-title h1 {
      @include breakpoint($d_medium) {
        font-size: 82px;
      }
    }

    .st-deck p {
      @include breakpoint($d_medium) {
        font-size: 22px;
      }
    }
  }
}

.content {
  position  : relative;
  margin-top: 200px;
  // height      : 700px;
  // width       : 320px;
  // margin-right: auto;
  // margin-left : auto;
  text-align: center;
  @include container;
  // @include breakpoint($d_medium) {
  @include breakpoint(1025px) {
    margin-top    : 200px;
    padding-bottom: 100px;
  }
  // @include breakpoint(320px) {
  //   margin-top  : 250px;
  //   height      : 800px;
  //   width       : 360px;
  //   margin-right: auto;
  //   margin-left : auto;
  // }
  // @include breakpoint(666px) {
  //   margin-top  : 350px;
  //   height      : 800px;
  //   width       : 600px;
  //   margin-right: auto;
  //   margin-left : auto;
  // }
  // @include breakpoint(568px) {
  //   margin-top  : 350px;
  //   width       : 550px;
  //   margin-left : 100px;
  //   margin-right: auto;
  //   margin-left : auto;
  // }
  // @include breakpoint(1024px) {
  //   height      : 500px;
  //   width       : 715px;
  //   margin-right: auto;
  //   margin-left : auto;
  //   margin-top  : 350px;
  //   // padding-top: 320px;
  // }
  // @include breakpoint(1025px) {
  //   height      : 500px;
  //   width       : 1200px;
  //   margin-right: auto;
  //   margin-left : auto;
  //   margin-top  : 200px;
  // }
  .details {
    // height      : 190px; //moblie
    width        : 160px;
    // float       : left;
    display      : inline-table;
    text-align   : center;
    margin-bottom: 20px;
    @media (min-width: 320px) and (max-width:359px) {
      // @include breakpoint(320px && 360px) {
      width: 140px;
    }
    @include breakpoint(550px) {
      margin-right: 30px;
      margin-left : 30px;
    }
    @include breakpoint($d_medium) {
      margin-right: 50px;
      margin-left : 50px;
    }
    @include breakpoint(1025px) {
      border-right: dotted #333333 1px;
      padding     : 0 20px;
      margin      : 0;

      &:last-of-type {
        border-right: none;
      }
    }
    // margin-top  : 15px;
    // @include breakpoint(321px) {
    //   height    : 190px; //moblie
    //   width     : 180px;
    //   margin-top: 10px;
    // }
    // @include breakpoint(376px) {
    //   height    : 200px; //moblie
    //   width     : 180px;
    //   margin-top: 10px;
    // }
    // @include breakpoint(1024px) {
    //   height: 280px;
    //   width : 237px;
    // }
    // @include breakpoint(1025px) {
    //   //desktop
    //   float       : left;
    //   height      : 190px;
    //   width       : 237px;
    //   // border-style: solid;
    //   border-color: #333333;
    //   border-width: 0 1px 0 0;
    // }
  }

  h2 {
    // color      : #333333;
    // text-align : center;
    font-family: $font-Thirty;
  }

  img {
    // margin-left  : 35px;
    width        : 100px;
    height       : 100px;
    border-radius: 100%;
    margin       : 20px auto;
    cursor       : pointer;
    opacity      : 0;
    // animation    : fadein 1s linear;
    // animation-name           : fadein;
    // animation-duration       : 3s;
    // animation-timing-function: linear;
    // animation-direction      : alternate;
    // animation-iteration-count: infinite;
    // animation-fill-mode: none;
    // animation-play-state     : running;
    &:hover {
      animation: stretch 1s ease-out;
      // animation-name           : stretch;
      // animation-duration       : 1.2s;
      // animation-timing-function: ease-out;
      // animation-delay          : 0;
      // animation-direction      : alternate;
      // animation-iteration-count: infinite;
      // animation-fill-mode      : none;
      // animation-play-state     : running;
    }
    // margin-top   : 10px;
    // @include breakpoint(321px) {
    //   margin-left  : 45px;
    //   width        : 100px;
    //   height       : 100px;
    //   border-radius: 100%;
    //   margin-top   : 10px;
    // }
    // @include breakpoint(1024px) {
    //   width        : 150px;
    //   height       : 150px;
    //   border-radius: 100%;
    //   margin-left  : 45px;
    //   margin-top   : 10px;
    // }
    // @include breakpoint(1025px) {
    //   width        : 100px;
    //   height       : 100px;
    //   border-radius: 100%;
    //   margin-left  : 65px;
    //   margin-top   : 10px;
    // }
  }

  strong {
    color      : #333333;
    font-size  : 13px;
    font-family: $font-Curator-Bold;
  }

  p {
    line-height  : 1.2;
    margin-bottom: 0;
    animation    : nudge 1s linear;
  }
  // p {
  // color      : #333333;
  // font-size  : 12px;
  // font-weight: bold;
  // text-align : center;
  // line-height: 15px;
  // font-family: $font-Curator-Regular;
  // animation  : nudge 3s linear;
  // @include breakpoint(1024px) {
  //   color      : #333333;
  //   font-size  : 20px;
  //   // font-weight: bold;
  //   text-align : center;
  //   line-height: 30px;
  //   font-family: $font-Curator-Regular;
  // }
  // @include breakpoint(1025px) {
  //   color      : #333333;
  //   font-size  : 12px;
  //   // font-weight: bold;
  //   text-align : center;
  //   line-height: 15px;
  //   font-family: $font-Curator-Regular;
  // }
  // }
}

#hand_space svg {
  pointer-events: none;
  position      : absolute;
  margin        : auto;
  left          : 0;
  right         : 0;
  top           : 20%;
}

.wrap_coffee_logo {
  text-align: center;

  img {
    width : 90px;
    cursor: pointer;
  }

  p {
    color      : #333;
    font-family: $font-Curator-Regular;
    font-size  : 16px;
    line-height: 23px;
    width      : 250px;
    margin     : 10px auto;
  }
}
// #Jakarta {
//   margin-left: 80px;
//   margin-top : 30px;
//   animation  : nudge 7s linear;
//   @include breakpoint(321px) {
//     margin-top : 30px;
//     margin-left: 90px;
//     animation  : nudge 7s linear;
//   }
//   @include breakpoint(568px) {
//     margin-left: 30px;
//     margin-top : 10px;
//     animation  : nudge 7s linear;
//   }
//   @include breakpoint(1025px) {
//     border-style: solid;
//     border-color: #333333;
//     border-width: 0 0 0 0;
//     margin-top  : 10px;
//     margin-left : 0;
//     animation   : nudge 7s linear;
//   }
// }
//
// #Bangkok {
//   animation: nudge 7s linear;
//   display  : none;
// }
//
// #Manila {
//   animation: nudge 7s linear;
//   display  : none;
// }
//
// #Tokyo {
//   animation: nudge 7s linear;
//   display  : none;
// }
//
// #Taipei {
//   animation: nudge 7s linear;
//   display  : none;
//   @include breakpoint(568px) {
//     margin-left: 100px;
//     animation  : nudge 7s linear;
//     display    : none;
//   }
//   @include breakpoint(1025px) {
//     margin-top : 10px;
//     margin-left: 0;
//     animation  : nudge 7s linear;
//     display    : none;
//   }
// }
//
// #Jakarta {
//   display: none;
//   // animation-name: stretch;
//   // animation-duration: 1.5s;
//   // animation-timing-function: ease-out;
//   // animation-delay: 0;
//   // animation-direction: alternate;
//   // animation-iteration-count: 3;
//   // animation-fill-mode: none;
//   // animation-play-state: running;
// }
@keyframes nudge {
  0% {
    transform: translate(0, 50px);
    opacity  : 0;
  }
  // 50% {
  //   transform: translate(0, 0);
  // }
  //
  // 80% {
  //   transform: translate(0, 0);
  // }
  100% {
    transform: translate(0, 0);
    opacity  : 1;
  }
}
@keyframes stretch {
  0% {
    transform: scale(1.0);
  }
  // 50% {
  // transform: scale(.8);
  // }
  100% {
    transform: scale(1.2);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
