.fake-vr-bg {
  width: 100%;
  @include breakpoint($d_medium) {
    background-color: #000000;
    height          : 300px;
  }

  .fake-vr-video {
    @include container;
    position: relative;

    .fake-vr-mask {
      // position: absolute;
      display: none;
      @include breakpoint($d_medium) {
        display : block;
        position: absolute;
        width   : 100%;
        // background: url("/images/stvr/combine-VR-mask-black-no-blur.png") center center no-repeat;
        // height    : 300px;
      }

      img {
        width : 100%;
        height: 300px;
      }
    }

    .two-video {
      @include breakpoint($d_medium) {
        position: absolute;
      }
      // top     : 50px;
      // z-index : -1;
      .one-video {
        @include breakpoint($d_medium) {
          float : left;
          width : 50%;
          height: 300px;
        }

        &:last-of-type {
          display: none;
          @include breakpoint($d_medium) {
            display: block;
          }
        }
      }

      video {
        width: 100%;
        @include breakpoint($d_medium) {
          height: 300px;
        }
        // margin    : 0 auto;
        // text-align: center;
        // min-width : 100%;
        // min-height: 100%;
        // transform : translate(50%, 50%);
        // right     : 50%;
        // bottom    : 50%;
        // left      : inherit;
        // top       : inherit;
        // position  : absolute;
        // max-width : inherit;
        // max-height: inherit;
        // width     : auto;
        // height    : auto;
      }
    }
  }
}

.scrollDown {
  // position    : absolute;
  // margin-left : auto;
  // margin-right: auto;
  // left        : 0;
  // right       : 0;
  // bottom      : 0;
  @include container(100px);
  height    : 80px;
  position  : relative;
  text-align: center;

  img {
    width       : 20px;
    position    : absolute;
    margin-left : auto;
    margin-right: auto;
    left        : 0;
    right       : 0;
    bottom      : 40px;
  }

  p {
    color         : #FFFFFF;
    font-size     : 11px;
    text-transform: uppercase;
    position      : absolute;
    bottom        : 10px;
    right         : 0;
    left          : 0;
    font-family   : $font-Curator-Regular;
  }

  #dotDown {
    animation: mover 2s ease infinite;
  }
  @keyframes mover {
    0% {
      transform: translateY(-10px);
      opacity  : 0.5;
    }

    50% {
      transform: translateY(0);
      opacity  : 1;
    }

    100% {
      transform: translateY(-10px);
      opacity  : 0.5;
    }
  }
}

.st-deck,
.st-title {
  opacity: 0;
}

.animate {
  visibility: hidden;
}

.animate_circle {
  visibility      : visible;
  stroke-dasharray: 1000;
  animation       : dash 5s linear;
}
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
}
