.toplink {
  width   : 100vw;
  height  : 35px;
  position: absolute;
}

.share {
  width: 80px;
  float: right;

  img {
    height: 25px;
    width : 25px;
  }
  @include breakpoint($d_medium) {
    //ipad no change yet
    float: right;
    width: 350px;

    img {
      height: 35px;
      width : 35px;
    }
  }
}

body {
  background-color: #36B4BB;
}

.content-columns {
  // margin-top: -60px;
  width     : 100vw;
  min-width : 100%;
  background: #1697AA;
  background: -webkit-linear-gradient(#1697AA,#96ABF2);
  background: -o-linear-gradient(#1697AA, #96ABF2);
  background: -moz-linear-gradient(#1697AA, #96ABF2);
  background: linear-gradient(#1697AA, #96ABF2);
  padding   : 0;
}

.moving-zone {
  // position: absolute;
  max-height: 400px;
  @include breakpoint($d_medium) {
    width      : 100%;
    max-height : none;
    height     : 600px;
    perspective: 1000px;
  }
}

.introduction {
  min-width     : 100%;
  height        : 100%;
  // background-color: #36B4BB;
  // margin-top: -280px;
  padding-bottom: 100px;
  // position: absolute;
  @include breakpoint($d_medium) {
    min-width     : 100%;
    height        : 100%;
    // background-color: #36B4BB;
    // margin-top: -12px;
    padding-bottom: 100px;
    position      : absolute;
  }
}

.introduction {
  img {
    width       : 100px;
    height      : 50px;
    margin-left : auto;
    margin-right: auto;
    padding-top : 35px;
    display     : block;
    @include breakpoint($d_medium) {
      width       : 170px;
      height      : 100px;
      margin-left : auto;
      margin-right: auto;
      padding-top : 35px;
      display     : block;
    }
  }

  h1 {
    font-family: $font-SelaneMinTen;
    font-size  : 33px;
    color      : #002626;
    text-align : center;
    margin-top : 35px;
    @include breakpoint($d_medium) {
      font-family: $font-SelaneMinTen;
      font-size  : 72px;
      line-height: 65px;
      color      : #002626;
      text-align : center;
      margin-top : 35px;
    }
  }

  p.intro {
    font-family : $font-SelaneTen;
    font-size   : 15px;
    line-height : 19px;
    color       : #002626;
    margin-left : auto;
    margin-right: auto;
    text-align  : center;
    @include breakpoint($d_medium) {
      font-family : $font-SelaneTen;
      font-size   : 20px;
      line-height : 29px;
      color       : #002626;
      margin-left : auto;
      margin-right: auto;
      width       : 350px;
      text-align  : center;
    }
  }
}
//<---------End introduction----------->

.content {
  background: #1697AA;
  background: -webkit-linear-gradient(#1697AA,#96ABF2);
  background: -o-linear-gradient(#1697AA, #96ABF2);
  background: -moz-linear-gradient(#1697AA, #96ABF2);
  background: linear-gradient(#1697AA, #96ABF2);
  // margin-left: -15px;
  // padding-top: 65px;
}

.content {
  .contentInformation {
    // opacity     : 0;
    margin-left : auto;
    margin-right: auto;
    width       : 300px;
    // border-bottom: dotted 1px #ccc;
    @include breakpoint($d_medium) {
      width       : 768px;
      margin-left : auto;
      margin-right: auto;
      // padding-top: 115px;
    }

    .contentheading {
      opacity       : 0;
      padding-top   : 50px;
      padding-bottom: 30px;
      text-align    : center;
      @include breakpoint($d_medium) {
        float       : left;
        margin-right: 30px;
        // padding-top : 110px;
      }
      // @include breakpoint(414) {
      //   padding-top: 0;
      // }
    }

    img {
      padding-left: 110px;
      margin-right: 140px;
      margin-top  : 60px;
      @include breakpoint($d_medium) {
        height      : 75px;
        width       : 75px;
        padding-left: 0;
        margin-right: 0;
        margin-top  : 0;
      }
      @include breakpoint(768) {
        padding-left: 110px;
        margin-right: 140px;
        margin-top  : 100px;
      }
    }

    .contentText {
      opacity      : 0;
      margin-left  : 20px;
      padding-top  : 50px;
      margin-bottom: 50px;
      @include breakpoint($d_medium) {
        margin-left: 105px;
      }

      h1 {
        font-family: $font-Thirty;
        font-size  : 28px;
        line-height: 35px;
        // line-height: 57.13px;
        color      : #002626;
        float      : left;
        // position: absolute;
        // width      : 300px;
        margin     : 0 0 25px;
        @include breakpoint($d_medium) {
          font-family: $font-Thirty;
          // font-size  : 28px;
          // line-height: 57.13px;
          color      : #002626;
          width      : 100%;
          float      : left;
          // position: absolute;
          padding-top: 50px;
        }
      }

      p {
        font-family: $font-SelaneTen;
        font-size  : 20px;
        line-height: 29px;
        color      : #FFFFFF;
        // text-align : justify;
        padding-top: 25px;
        @include breakpoint($d_medium) {
          font-family: $font-SelaneTen;
          // font-size  : 20px;
          // line-height: 29px;
          color      : #FFFFFF;
          text-align : inherit;
          padding-top: 25px;
          width      : 480px;
        }
      }
    }

    hr {
      // margin-top: 115px;
      // position: absolute;
      margin-top: 50px;
      border    : 1px dotted #ccc;
      @include breakpoint($d_medium) {
        // margin-top: 115px;
        border: 1px dotted #ccc;
      }
    }
  }
}

.bottom_banner {
  &:before {
    content            : '';
    display            : block;
    height             : 300px;
    background-image   : url("/images/stvr/bottom-banner.png");
    background-color   : #5f878a;
    background-repeat  : no-repeat;
    background-position: center center;
    @include breakpoint($d_medium) {
      display: none;
    }
  }

  .video_comp {
    position: relative;
    @include breakpoint(767px) {
      background       : url("/images/stvr/bottom-banner.png");
      background-size  : cover;
      background-repeat: no-repeat;
      height           : 300px;
    }
  }

  .banner-kicker {
    color      : #fff;
    font-family: $font-Curator-Regular;
    margin     : 10px auto;
    font-size  : 18px;
  }

  .banner-title {
    font-family  : "SelaneWebSTOne", Georgia, "Times New Roman", Times, serif;
    width        : 100%;
    line-height  : 1.2;
    margin-left  : auto;
    margin-right : auto;
    margin-bottom: 10px;

    a {
      height: 50px;
    }

    a,
    a:hover {
      background-image   : url("http://www.straitstimes.com/sites/default/files/logo-singapore-underwater.svg");
      background-repeat  : no-repeat;
      background-size    : contain;
      background-position: left bottom;
      width              : 100%;
      display            : block;
      color              : rgba(255, 255, 255, 0);
    }
  }

  .banner-desc {
    // font-family  : $font-Curator-Regular;
    font-family  : $font-SelaneTen;
    font-size    : 19px;
    line-height  : 1.35;
    margin-left  : auto;
    margin-right : auto;
    margin-bottom: 20px;
    color        : #fff;
  }

  .banner-link {
    border     : 1px solid #fff;
    color      : #fff;
    transition : background-color 0.5s;
    font-family: $font-Curator-Regular;
    padding    : 10px 20px;
    margin     : 20px 0;
    font-size  : 14px;

    &:before {
      content            : '';
      display            : inline-block;
      width              : 40px;
      height             : 1.2em;
      background-image   : url("http://www.straitstimes.com/sites/default/files/vr-icon.svg");
      background-repeat  : no-repeat;
      vertical-align     : top;
      background-position: 0 1px;
      margin-top         : 4px;
    }

    &:hover {
      background-color: #fff;
      color           : #333;
    }

    &:hover:before {
      filter: invert(80%);
    }
  }

  .wrap_banner_text {
    @include container;
    position: relative;
  }

  .banner-text {
    background: rgba(29, 29, 27, 0.4);
    padding   : 30px;
    font-size : 16px;
    @include breakpoint($d_medium) {
      position : absolute;
      top      : 50px;
      // left     : 50px;
      font-size: 20px;
      width    : auto;
    }
  }
}
// .bottom_banner {
// margin-top: -10px;
// background: transparent;
// box-shadow: none;
// }
// .bottom_banner .video_comp {
// position: relative;
// position: absolute;
// left: calc(50% - 50vw);
// height  : 297px;
// width   : 100vw;
// overflow: hidden;
// display : block;
// }
// .bottom_banner .video_comp img {
// height  : 150px;
// width   : 414px;
// margin  : auto;
// display : block;
// position: absolute;
// margin-top: 56px;
// display: none;
// width  : 100%;
//   @include breakpoint(767px) {
//     display: block;
//     width  : 100%;
//     height : 300px;
//     margin : auto;
//   }
// }
// .bottom_banner .banner-kicker {
//   color      : #fff;
//   font-family: $font-Curator-Regular;
//   margin     : 10px auto;
// }
// .bottom_banner .banner-text {
// padding    : 20px;
/*padding-top: 5%;*/
// background : #5f878a;
// color      : #333;
// position   : relative;
/*top: 25vw;*/
/*max-width: 580px;*/
// text-align : left;
// height     : 100%;
// font-family: $font-Curator-Regular;
// }
// .bottom_banner .banner-title {
//   font-family  : "SelaneWebSTOne", Georgia, "Times New Roman", Times, serif;
//   width        : 100%;
//   line-height  : 1.2;
//   /* line heights are best used without units and value is proportionate to font-size declared. */
//   margin-left  : auto;
//   margin-right : auto;
//   margin-bottom: 10px;
//   /*max-width: 580px;*/
// }
// .bottom_banner .banner-title a {
//   height: 50px;
// }
// .bottom_banner .banner-title a,
// .bottom_banner .banner-title a:hover {
//   background-image   : url("http://www.straitstimes.com/sites/default/files/logo-singapore-underwater.svg");
//   background-repeat  : no-repeat;
//   background-size    : contain;
//   background-position: left bottom;
//   width              : 100%;
//   display            : block;
// img {
//   float: left;
//   padding-top: 10px;
// }
// color              : rgba(255, 255, 255, 0);
// }
// .bottom_banner .banner-desc {
//   font-family  : $font-Curator-Regular;
//   font-size    : 19px;
//   line-height  : 1.35;
//   margin-left  : auto;
//   margin-right : auto;
//   margin-bottom: 20px;
//   /*max-width: 580px;*/
//   color        : #fff;
// }
// .bottom_banner .banner-link {
//   border     : 1px solid #fff;
//   color      : #fff;
//   transition : background-color 0.5s;
//   font-family: $font-Curator-Regular;
//   padding    : 10px 20px;
//   margin     : 20px 0;
// }
// .bottom_banner .banner-link:before {
//   content            : '';
//   display            : inline-block;
//   width              : 40px;
//   height             : 1.2em;
//   background-image   : url("http://www.straitstimes.com/sites/default/files/vr-icon.svg");
//   background-repeat  : no-repeat;
//   vertical-align     : top;
//   background-position: 0 1px;
// }
// .bottom_banner .banner-link:hover {
//   background-color: #fff;
//   color           : #333;
// }
// .bottom_banner .banner-link:hover:before {
//   filter: invert(80%);
// }
// @media (min-width: 740px) {
// .bottom_banner:before {
//   content            : '';
//   display            : block;
//   height             : 300px;
//   background-image   : url("/images/stvr/bottom-banner.png");
//   background-color   : #5f878a;
//   background-repeat  : no-repeat;
//   background-position: center center;
//   @include breakpoint($d_medium) {
//     display: none;
//   }
// display: block;
// height: 0;
// background-image: none;
// background-position: center bottom !important;
// background-color: #5f878a;
// }
// .bottom_banner {
//   bottom: 0;
//   position: absolute;
// }
// .bottom_banner .banner-text {
// background: rgba(29, 29, 27, 0.4);
// top: 0.8em;
/*25vw*/
/*max-width: 580px;*/
// height    : auto;
// bottom    : 0;
// // margin-top: -50px;
// padding   : 30px;
// font-size : 16px;
// @include breakpoint($d_medium) {
//   position : absolute;
//   top      : 50px;
//   left     : 50px;
//   font-size: 20px;
//   width    : auto;
// position     : absolute;
// top: 0.8em;
/*25vw*/
/*max-width: 580px;*/
// height       : auto;
// margin-bottom: 80px;
// margin-left  : 100px;
// }
// }
// .bottom_banner .banner-title a,
// .bottom_banner .banner-title a {
//   height: 24.4415px;
//   width : 290px;
//   @include breakpoint($d_medium) {
//     height: 30px;
//     width : 404px;
//   }
// }

.scroll {
  width       : 100%;
  margin-top  : -50px;
  padding-top : 0;
  position    : absolute;
  margin-right: auto;
  margin-left : auto;
  @include breakpoint($d_medium) {
    padding-top : 530px;
    margin-top  : 0;
    position    : absolute;
    margin-right: auto;
    margin-left : auto;
    width       : 100%;
  }
}

.scroll {
  a {
    color       : white;
    position    : absolute;
    width       : 100%;
    margin-left : auto;
    margin-right: auto;
  }

  a p {
    font-size   : 12px;
    text-align  : center;
    position    : absolute;
    margin-left : auto;
    margin-right: auto;
    width       : 100%;
    margin-top  : 40px;
    @include breakpoint($d_medium) {
      font-size   : 15px;
      text-align  : center;
      position    : absolute;
      margin-left : auto;
      margin-right: auto;
      width       : 100%;
      margin-top  : 48px;
    }
  }

  a span {
    position     : absolute;
    // top: 0;
    left         : 50%;
    width        : 16px;
    height       : 32px;
    margin-left  : -11px;
    border       : 1px solid #fff;
    border-radius: 35px;
    box-sizing   : border-box;
    @include breakpoint($d_medium) {
      position     : absolute;
      // top: 0;
      left         : 50%;
      width        : 22px;
      height       : 45px;
      margin-left  : -15px;
      border       : 1px solid #fff;
      border-radius: 50px;
      box-sizing   : border-box;
    }
  }

  a span::before {
    position         : absolute;
    top              : 5px;
    left             : 50%;
    content          : '';
    width            : 6px;
    height           : 6px;
    margin-left      : -3px;
    background-color : #fff;
    border-radius    : 100%;
    -webkit-animation: sdb10 2s infinite;
    animation        : sdb10 2s infinite;
    box-sizing       : border-box;
  }
  @-webkit-keyframes sdb10 {
    0% {
      -webkit-transform: translate(0, 0);
      opacity          : 0;
    }

    40% {
      opacity: 1;
    }

    80% {
      -webkit-transform: translate(0, 20px);
      opacity          : 0;
    }

    100% {
      opacity: 0;
    }
  }
  @keyframes sdb10 {
    0% {
      transform: translate(0, 0);
      opacity  : 0;
    }

    40% {
      opacity: 1;
    }

    80% {
      transform: translate(0, 20px);
      opacity  : 0;
    }

    100% {
      opacity: 0;
    }
  }
}
