#st-content-graphic {
    font-family     : $font-Curator-Regular;
    font-size       : 15px;
    line-height     : 1.8;
    color           : #333;
    background-color: #fff;

    * {
        box-sizing: border-box;
    }

    img {
        border: 0;
    }

    main {
        article {
            @include container(1200px);

            section.chapter-division {
                padding-left : 15px;
                padding-right: 15px;
            }
        }
    }

    .st_materialize {
        text-align    : right;
        padding-bottom: 15px;

        label {
            color    : #333;
            font-size: 15px;
        }

        [type="checkbox"] + label {
            height     : 24px;
            line-height: 24px;
        }

        [type="checkbox"].filled-in:checked + label:after {
            border          : 1px solid $stlightblue;
            background-color: $stlightblue;
            width           : 22px;
            height          : 22px;
            border-radius   : 0;
        }

        [type="checkbox"].filled-in:not(:checked) + label:after {
            border       : 1px solid #5a5a5a;
            width        : 22px;
            height       : 22px;
            border-radius: 0;
        }

        [type="checkbox"].filled-in:checked + label:before {
            left: 0;
        }
    }

    .pull-left {
        float: left;
    }

    .all-content-text {
        @include clearfix;

        .col-st-8 {
            @include breakpoint($d_medium) {
                 @include span(11 first);
            }
        }

        .col-st-4 {
            @include breakpoint($d_medium) {
                 @include span(5 last);
            }
        }
    }

    .input-group {
        position       : relative;
        display        : table;
        border-collapse: separate;

        .form-control {
            display                   : block;
            width                     : 100%;
            height                    : 34px;
            padding                   : 6px 12px;
            font-size                 : 14px;
            line-height               : 1.42857143;
            color                     : #555;
            background-color          : #fff;
            background-image          : none;
            border                    : 1px solid #ccc;
            border-radius             : 0;
            -webkit-transition        : border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition                : border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            box-shadow                : none;
            position                  : relative;
            z-index                   : 2;
            float                     : left;
            width                     : 100%;
            margin-bottom             : 0;
            display                   : table-cell;
            border-bottom-right-radius: 0;
            border-top-right-radius   : 0;
        }

        .input-group-addon {
            display         : table-cell;
            width           : 1%;
            white-space     : nowrap;
            vertical-align  : middle;
            padding         : 6px 12px;
            font-size       : 14px;
            font-weight     : 400;
            line-height     : 1;
            color           : #555;
            text-align      : center;
            background-color: #eee;
            border          : 1px solid #ccc;
            border-radius   : 0;
            cursor          : pointer;
        }

        .input-group-addon:last-child {
            border-bottom-left-radius: 0;
            border-top-left-radius   : 0;
        }

        .input-group-addon:last-child {
            border-left: 0;
        }
    }

    .chosen-container-single .chosen-single {
        height          : 34px;
        padding         : 6px 12px;
        background-color: #E7EAED;
    }

    .chosen-container-single .chosen-single span {
        margin-right: 30px;
    }

    .chosen-container-single .chosen-single div {
        right       : 0;
        padding-left: 0;
        width       : 30px;
        padding     : 4px 10px;
    }

    .search-choice-close {
        margin-top  : 5px;
        margin-right: 5px;
    }

    .chosen-container .chosen-results li.highlighted {
        background-color: #5A9DDC;
        background-image: none;
    }

    .none {
        display: none;
    }

    .div-content-text-filter,
    .div-content-text-filter2 {
        position: relative;
    }

    .div_content_text_2013,
    .div_content_text_2014,
    .div_content_text_2015,
    .div_content_text_2016 {
        overflow  : hidden;
        position  : relative;
        margin-top: 5px;
    }

    .div_content_text_2013 p,
    .div_content_text_2014 p,
    .div_content_text_2015 p,
    .div_content_text_2016 p {}

    .div_content_text_2013 span,
    .div_content_text_2014 span,
    .div_content_text_2015 span,
    .div_content_text_2016 span {
        background-color: #E7EAED;
        color           : #E7EAED;
    }

    .tag_scale_text {
        transform-origin        : 0 0;
        -ms-transform-origin    : 0 0;
        -webkit-transform-origin: 0 0;
        /*padding-right: 15px;padding-left: 15px;*/
    }

    .magnifier_text {
        position                : absolute;
        top                     : 0;
        background              : #5A9DDC;
        opacity                 : 0.4;
        left                    : 0;
        right                   : 0;
        transform-origin        : 0 0;
        -ms-transform-origin    : 0 0;
        -webkit-transform-origin: 0 0;
        cursor                  : pointer;
        z-index                 : 10;
    }

    .word_select_extern {
        display       : inline-block;
        min-width     : 10px;
        padding       : 3px 4px;
        font-size     : 13px;
        font-family   : $font-Curator-Bold;
        color         : #5A9DDC;
        line-height   : 1;
        vertical-align: baseline;
        white-space   : nowrap;
        text-align    : center;
        border-radius : 2px;
        position      : relative;
    }

    .div-content-text-filter,
    .div-content-text-filter2 {
        .cdr_total {
            display: none;
        }
    }

    .tag_scale_text .cdr_total {
        width           : 50%;
        position        : absolute;
        height          : 400%;
        top             : -150%;
        left            : 0;
        background-color: #333;
        color           : #333;
    }

    .tag_scale_text_active span {
        background-color: #C5CED3;
        color           : #C5CED3;
    }

    .tag_scale_text_active .cdr_total:hover {
        cursor: pointer;
        width : 75%;
        height: 700%;
        top   : -300%;
    }

    .form-control {
        box-shadow: none;
    }

    .form-control:focus {
        border-color: #ccc;
        box-shadow  : none;
        outline     : 0;
    }

    .before_speech,
    .current_speech {
        position: relative;

        p {
            font-size    : 14px;
            line-height  : 21px;
            padding-left : 17px;
            padding-right: 17px;
        }

        p {
            color: #666;

            &:after,
            &:before {
                color      : #666;
                font-size  : 45px;
                font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
                position   : absolute;
            }

            &:before {
                content: "\201C";
                margin : 0.25em 0 0 -0.4em;
            }

            &:after {
                content: "\201D";
                margin : 0.25em 0 0 0.1em;
            }
        }
    }

    .content-total-time,
    .content-total-words {
        color : #999;
        margin: 5px 0;

        span {
            color: #333;
        }
    }

    .old_g {
        @include clearfix;
    }

    .group_text_map {
        @include clearfix;

        p {
            font-size    : 14px;
            line-height  : 21px;
            padding-left : 17px;
            padding-right: 17px;
        }

        .col-st-8 {
            @include span(11 first);
            @include breakpoint($d_medium) {
                 @include span(12 first);
            }
            @include breakpoint($d_normal) {
                 @include span(13 first);
            }
        }

        .col-st-4 {
            @include span(5 last);
            @include breakpoint($d_medium) {
                 @include span(4 last);
            }
            @include breakpoint($d_normal) {
                 @include span(3 last);
            }
        }
    }

    .group_text_map {
        .div-content-text-filter,
        .div-content-text-filter2 {
            p {
                color: #666;

                &:after,
                &:before {
                    color      : #666;
                    font-size  : 45px;
                    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
                    position   : absolute;
                }

                &:before {
                    content: "\201C";
                    margin : 0.25em 0 0 -0.4em;
                }

                &:after {
                    content: "\201D";
                    margin : 0.25em 0 0 0.1em;
                }
            }
        }
    }

    .div-content-search {
        padding-top   : 10px;
        padding-bottom: 10px;

        .div-tab-search-desktop {
            display: none;
        }
        @include breakpoint($d_medium) {
            .div-tab-search-mobile {
                display: none;
            }

            .div-tab-search-desktop {
                display: block;
            }
        }
    }

    .div_content_year_2012,
    .div_content_year_2013,
    .div_content_year_2014,
    .div_content_year_2015,
    .div_content_year_2016,
    .div_count_word_2012,
    .div_count_word_2013,
    .div_count_word_2014,
    .div_count_word_2015,
    .div_count_word_2016 {
        padding-left: 5px;
        line-height : 1.3;
    }

    .div_head_text_filter,
    .div_head_text_filter2 {
        height       : 36px;
        padding-left : 17px;
        padding-right: 17px;
        margin-bottom: 18px;
        line-height  : 1.5;

        span {
            &:first-child {
                font-family: $font-Curator-Bold;
            }

            &:last-child {
                background    : #5A9DDC;
                color         : #fff;
                padding       : 2px 5px;
                font-family   : $font-Curator-Bold;
                text-transform: uppercase;
            }
        }

        hr {
            margin-top   : 10px;
            margin-bottom: 5px;
            border-top   : 1px solid #333;
        }
    }
    // .div_head_text_filter span:first-child {
    //     font-weight: bolder;
    // }
    // .div_head_text_filter span:last-child {
    //     background: #5A9DDC;
    //     color: #fff;
    //     padding-top: 2px;
    //     padding-bottom: 2px;
    //     padding-right: 5px;
    //     padding-left: 5px;
    //     font-weight: bolder;
    //     text-transform: uppercase;
    //     ;
    // }
    // .div_head_text_filter hr {
    //     margin-top: 10px;
    //     margin-bottom: 5px;
    //     border-top: 1px solid #333;
    // }
    .mobile_bak {
        display: none;
    }

    .ie_ok {
        display: none;
    }
    @media (max-width: 560px) {
        .div-content-search > div {
            margin-bottom: 5px;
        }

        .div_head_text_filter {
            display: none;
        }
        // .desktop_bak {
        //     display: none;
        // }
        // .mobile_bak {
        //     display: block;
        // }
    }
    @media (min-width: 560px) and (max-width: 767px) {
        .div-content-search > div {
            margin-bottom: 5px;
        }

        .div_words_select {
            width: 50%;
        }

        .div_category_select {
            width: 50%;
        }
    }

    #div_category,
    #div_words {
        display: table;
        margin : 0 auto;
    }

    .unit_word {
        cursor    : pointer;
        margin    : 5px;
        background: #C8E6F4;
        opacity   : 0.5;
        float     : left;

        div {
            padding: 2px 10px;
        }
    }

    .unit_word.wordActive {
        opacity: 1;
    }

    .unit_category {
        float : left;
        margin: 10px 6px;
        cursor: pointer;

        div:nth-child(2) {
            padding: 0 5px;
        }
        @include breakpoint(830px) {
            margin: 10px;
        }
        @include breakpoint(917px) {
            margin: 10px 15px;
        }
    }

    .unit_category.categoryActive div:nth-child(2) {
        background: #C8E6F4;
    }

    .btn_div_content_year {
        margin-bottom: 5px;
    }

    .btn-default.active,
    .btn-default:active,
    .btn-default:focus,
    .btn-default:hover,
    .open .dropdown-toggle.btn-default {
        background-color: #5A9DDC;
        color           : #fff;
        border-color    : #5A9DDC;
    }

    .div_count_word_2012 span:last-child,
    .div_count_word_2013 span:last-child,
    .div_count_word_2014 span:last-child,
    .div_count_word_2015 span:last-child,
    .div_count_word_2016 span:last-child {
        font-family: $font-Curator-Bold;
    }

    .btn.active,
    .btn:active {
        outline   : none;
        box-shadow: none;
    }

    .div-tab-search {
        .tab-content {
            padding-bottom: 10px;
            padding-top   : 10px;
        }

        a {
            color  : #333;
            outline: none;
        }

        .nav-tabs > li.active > a,
        .nav-tabs > li.active > a:focus,
        .nav-tabs > li.active > a:hover {
            background-color: #5A9DDC;
            border-color    : #5A9DDC;
            color           : #fff;
            border-radius   : 0;
        }

        .nav-tabs > li > a:hover {
            border-color : #5A9DDC;
            border-radius: 0;
        }

        .nav > li > a:focus,
        .nav > li > a:hover {
            background-color: #5A9DDC;
            border-radius   : 0;
        }
    }

    .user_select {
        -webkit-user-select: none;
        /* Chrome all / Safari all */
        -moz-user-select   : none;
        /* Firefox all */
        -ms-user-select    : none;
        /* IE 10+ */
        /* No support for these yet, use at own risk */
        -o-user-select     : none;
        user-select        : none;
    }

    .container a:hover {
        text-decoration: none;
    }

    .div-container-banner {
        // background-color   : #5A9DDC;
        // background-image   : url('../images/background-1900x950.jpg');
        // background-repeat  : no-repeat;
        // background-position: 50% 50%;
        // background-size    : cover;
        // height             : 100px;
        //
        // .desktop_bak {
        //     @include container(1200px);
        //     position: relative;
        //     height  : 100%;
        //
        //     a {
        //         position: absolute;
        //         bottom  : 10px;
        //         left    : 10px;
        //     }
        // }
        //
        // img {
        //     width: 100%;
        // }
        height           : 110px;
        padding-top      : 20px;
        /* For browsers that do not support gradients */
        background       : #5D9EDA;
        /* For Safari 5.1 to 6.0 */
        background       : url("../images/budget/pattern.png"), -webkit-linear-gradient(#5D9EDA, #36B4BB);
        /* For Opera 11.1 to 12.0 */
        background       : url("../images/budget/pattern.png"), -o-linear-gradient(#5D9EDA, #36B4BB);
        /* For Firefox 3.6 to 15 */
        background       : url("../images/budget/pattern.png"), -moz-linear-gradient(#5D9EDA, #36B4BB);
        /* Standard syntax */
        background       : url("../images/budget/pattern.png"), linear-gradient(#5D9EDA, #36B4BB);
        // background-image : url("../images/budget/pattern.png");
        background-repeat: repeat;

        .desktop_bak {
            @include container;

            img {
                height     : 82px;
                margin-left: 0;
            }
        }
    }

    .div_container_brand {
        background-color: #074B77;
    }

    .div_container_brand img {
        height: 46px;
    }

    .btn_shared_face,
    .btn_shared_twitter,
    .go_to_st {
        cursor: pointer;
    }

    .st-headline,
    .st-strap {
        max-width    : 900px;
        margin       : 0 auto;
        text-align   : center;
        padding-left : 15px;
        padding-right: 15px;
    }

    .st-headline {
        font-family   : $font-SelaneMinTen;
        font-size     : 2.2em;
        color         : #333;
        line-height   : 1.9;
        padding-top   : 40px;
        padding-bottom: 20px;
        @media (min-width: $d_small) {
            font-size: 2.8em;
        }
        @media (min-width: $d_medium) {
            font-size  : 4.8em;
            line-height: 1.7em;
        }
    }

    #st-content-graphic .st_materialize label {
        font-size: 14px !important;
    }

    .st-strap {
        font-family   : $font-SelaneTen;
        font-size     : 1.1em;
        line-height   : 1.6;
        color         : #333;
        padding-bottom: 20px;

        p:last-child {
            font-family  : $font-Curator-Regular;
            font-size    : 13px !important;
            color        : #666;
            text-align   : center;
            padding-right: 15px;
            padding-left : 15px;
        }
        @media (min-width: $d_medium) {
            font-size: 1.3em;
        }
    }

    .time {
        font-family  : $font-Curator-Regular;
        font-size    : 13px;
        color        : #666;
        text-align   : center;
        padding-right: 15px;
        padding-left : 15px;
    }

    .content_tweet {
        background-color          : #E7EAED;
        padding                   : 10px;
        overflow-y                : scroll;
        -webkit-overflow-scrolling: touch;
    }

    .unit_tweet {
        background-color: #146;
        margin          : 10px 0;
    }

    .t_account {
        background-color: #E7EAED;
        font-family     : $font-Curator-Regular;
        font-size       : 15px;
        color           : #333;
        line-height     : 1.5;
        padding-left    : 10px;
    }

    .t_date {
        background-color: #E7EAED;
        font-family     : $font-Curator-Regular;
        font-size       : 12px;
        color           : #333;
        line-height     : 1.5;
        padding-left    : 10px;
    }

    .t_message {
        background-color: #E7EAED;
        font-family     : $font-Curator-Regular;
        font-size       : 13px;
        color           : #333;
        line-height     : 1.5;
        padding         : 10px 10px 20px;
        border-bottom   : 1px dotted #333;
    }

    .list-option-radio {
        margin-bottom: 20px;
        @include clearfix;

        .option-radio {
            @include gallery(8 of 16);
        }

        input[type=radio] {
            opacity           : 0;
            -webkit-appearance: none;
            display           : inline-block;
            vertical-align    : middle;
            z-index           : 3;
            width             : 30px;
            height            : 30px;
            cursor            : pointer;
            top               : 50%;
            margin-top        : -15px;
            position          : absolute;
            left              : 15px;
        }

        label {
            display       : inline-block;
            position      : relative;
            font-size     : 1.1em;
            padding       : 0 0 0 50px;
            vertical-align: top;
            /*color: rgba(0,0,0,0.2);*/
            cursor        : pointer;
            margin-bottom : 0;
            font-weight   : normal;
        }
        @include breakpoint($d_medium) {
            display: none !important;
        }
    }

    .list-option-radio label:before {
        content         : '';
        background-color: #e7eaed;
        border-radius   : 50%;
        width           : 30px;
        height          : 30px;
        position        : absolute;
        left            : 0;
        margin-top      : -15px;
        top             : 50%;
    }

    .list-option-radio input[type=radio]:checked + label:after {
        content          : '';
        border-radius    : 50%;
        width            : 20px;
        height           : 20px;
        position         : absolute;
        left             : 5px;
        top              : 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform   : translateY(-50%);
        -ms-transform    : translateY(-50%);
        -o-transform     : translateY(-50%);
        transform        : translateY(-50%);
        background-color : #5A9DDC;
    }

    .list-option-radio div {
        position: relative;
        /*padding: 1em 0;*/
    }

    .list-option-radio svg {
        position      : absolute;
        width         : 30px;
        height        : 30px;
        top           : 50%;
        margin-top    : -15px;
        left          : 15px;
        pointer-events: none;
        display       : none;
    }

    .list-option-radio svg path {
        stroke         : #042029;
        stroke-width   : 10px;
        fill           : none;
        stroke-linecap : round;
        stroke-linejoin: round;
    }

    .both-profile {
        .display-both1 {
            padding-right: 15px;
            @include breakpoint($d_medium) {
                // width: 50%;
                // float: left;
            }
        }
        // .display-both2 {
        //     @include breakpoint($d_medium) {
        //         width: 50%;
        //         float: left;
        //         padding-left: 15px;
        //         border-left: 1px solid #333;
        //     }
        // }
    }

    .div_head_twitter {
        background-color: #dadfe3;
        line-height     : 22px;
        padding-top     : 10px;
    }

    .div_head_twitter hr {
        margin-top   : 5px;
        margin-bottom: 0;
        border       : 0;
        border-top   : 1px solid #fff;
    }

    .text_dinamic_show {
        padding    : 10px 10px 5px 35px;
        line-height: 19px;
    }

    .content_a {
        display: none;
    }

    .bold_number {
        font-family: $font-Curator-Bold;
    }

    .t_message a {
        display: none;
    }

    #div_words {
        @include clearfix;
    }

    #current-div-words {
        @include clearfix;

        #div-before-year {
            width         : 50%;
            display       : inline-block;
            vertical-align: top;
            padding-right : 15px;
        }

        #div-current-year {
            width         : 50%;
            display       : inline-block;
            vertical-align: top;
            padding-left  : 15px;
        }
    }

    .st-both_ministers {
        display: table;
        width  : 100%;

        .content-head-minister {
            width         : 100%;
            display       : table;
            padding-bottom: 18px;
            @include breakpoint(560px) {
                padding-bottom: 0;
            }
        }

        .head-data-minister {
            width         : 50%;
            display       : table-cell;
            vertical-align: top;
            position      : relative;
            padding-bottom: 35px;

            &:first-child {
                padding-right: 15px;
            }

            &:last-child {
                padding-left: 15px;
                border-left : 1px dotted #333;
            }

            .content-image-minister {
                @include breakpoint($d_medium) {
                    display       : inline-block;
                    vertical-align: middle;
                }

                img {
                    margin: 0;
                }
            }

            .content-data-minister {
                font-family: $font-Curator-Regular;

                .year-speach {
                    line-height   : 1.3;
                    padding-top   : 10px;
                    padding-bottom: 5px;
                }

                .charge-minister {
                    line-height   : 1.3;
                    padding-bottom: 5px;
                }

                .data-speach {
                    line-height: 1.3;
                    // padding-bottom: 10px;
                    color      : #999;

                    .number-words {
                        display    : block;
                        font-size  : 20px;
                        color      : #333;
                        font-family: $font-Curator-Bold;
                    }

                    .text-filter {
                        background    : #5A9DDC;
                        color         : #fff;
                        padding       : 2px 5px;
                        text-transform: uppercase;
                        font-family   : $font-Curator-Bold;
                        display       : table;
                        margin-top    : 3px;
                        margin-bottom : 3px;
                    }

                    .paragraph-text {
                        display: none;
                        @include breakpoint($d_medium) {
                            display: inline-block;
                        }
                    }
                }
                @include breakpoint($d_medium) {
                    display       : inline-block;
                    vertical-align: middle;
                    padding-left  : 10px;
                    min-width     : calc(100% - 116px);
                    max-width     : calc(100% - 116px);
                }
            }

            .c-read-paragraphs {
                position        : absolute;
                font-size       : 13px;
                bottom          : 0;
                font-family     : $font-Curator-Regular;
                background-color: #e7eaed;
                padding         : 5px 10px;
                right           : 0;
                left            : 0;
                max-width       : 90px;
                margin          : 0 auto;
                text-align      : center;
                @include breakpoint(560px) {
                    display: none;
                }
            }
            @include breakpoint(560px) {
                padding-bottom: 18px;
            }
        }

        .speech_no_active {
            &.content-detail-minister {
                display: none;
                @include breakpoint(560px) {
                    display: table-cell;
                }
            }

            .content-image-minister {
                opacity: 0.5;
                @include breakpoint(560px) {
                    opacity: 1;
                }
            }

            .content-data-minister {
                opacity: 0.5;
                @include breakpoint(560px) {
                    opacity: 1;
                }
            }

            .c-read-paragraphs {
                cursor: pointer;
            }
        }

        .speech_active {
            @include breakpoint(max-width 559px) {
                position: relative;

                &.head-data-minister:after {
                    position   : absolute;
                    bottom     : -20px;
                    text-align : center;
                    right      : 0;
                    left       : 0;
                    content    : "\e252";
                    font-family: 'Glyphicons Halflings';
                }
            }
        }

        .content-detail-minister {
            @include breakpoint(560px) {
                width         : 50%;
                display       : table-cell;
                vertical-align: top;
                padding-bottom: 18px;

                &:first-child {
                    padding-right: 15px;
                }

                &:last-child {
                    padding-left: 15px;
                    border-left : 1px dotted #333;
                }
            }
        }
    }
    @media (min-width: 768px) {
        .content_a {
            display    : block;
            padding-top: 10px;
        }
    }
    @media (min-width: 768px) {}
    @media (min-width: 1024px) {}
    @media (min-width: 1200px) {}
}
