@import "compass";



@import "variables_boot";
@import "mixins_boot";

@import "navs";
@import "bootstrap/glyphicons";



/*setup materialize*/

@import "materialize/components/color";
@import "materialize/components/variables";
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@import "materialize/components/form";
