.border{
   padding:1px;
   border:4px solid black;
   background-color:white;
}

.image-top{
	vertical-align: top;
	margin-top: 8px;
}
		
.img-responsive{
	margin-bottom: 8px !important;
}		

.name-slide-label{
	margin-bottom: 3px !important;
	font-size: 1.4em !important;
}

p .position-text{
	font-size: .5em !important;
}
p .former-position-text{
	font-size: .8em !important;
}

.name-slide-label{
	margin-top: -5px !important;
	margin-bottom: -5px !important;
}

.confirmed{
	margin-bottom: 25px !important;
}

// .key{
// margin-top: 360px !important;
// }
// .cabinet-level{
// margin-top: 830px !important;
// }

@import "slidedown.less";

// MASTHEAD VOTING BOX STYLE

.box{
	height: 60px;
	width:71px;
	display: block;
	margin-right: 8px;
	display:inline-block;
	vertical-align: top;
	margin-top: 20px;
	border-right:1px solid black;
	@media(max-width:400px){
		display:block;
		margin:20px auto -10px auto;
		border-right:none;
	}
}
.header-holder{
	display:inline-block;
	vertical-align: top;
	width:~"calc(100% - 90px)";
	@media(max-width:400px){
		width:100%;
		display:block;
		text-align: center;
	}
}
.mast-elect-group{
	width:390px;
	margin:0 auto 0 auto;
	@media(max-width:400px){
		width:100%;
		display:block;
	}

}


// POLL PAGE STYLES
	
.moe{
	margin-bottom: 20px;
}			

.candidate{
	margin-top: 5px !important;
}		

.remove-break{
	line-height: 1em !important;
}

.kicker{
	margin-top: -10px;
}

.tall{
	height: 2em !important;
}


// RESULTS PAGE TABLE STYLE

.tableHead{
	// text-align: center;	
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 25px;
}

.tableEntry{
	// text-align: center;	
	margin-bottom: 35px;
	font-weight: 300;
	height: 25px;

}
		

// RESULTS PAGE STYLES

.resultBar{
	height:30px;
	display:inline-block;
}
.result-container{
	font-size: 0px;
	position:relative;
	margin-bottom: 10px;
}
.keysquare{
	width:10px;
	height:10px;

	display:inline-block;
	background-color: red;
	&.soong{
		background-color:@orange3;
		margin-left: 0px;
	}
	&.pfp{
		background-color:@orange3;
	}
	&.npp{
		background-color: @yellow4;
	}
	&.tsu{
		background-color: @cyan3;
	}
	&.other{
		background-color: #666666;
	}

}

.key p{
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 0px;	

	}
.mid-line{
	height:50px;
	width:10px;
	position:absolute;
	top:-10px;
	left:50%;
	border-left: 2px solid black;
}
.result-table{
	p,h2,h3{
		margin:0px;
	}

	.result-image-block{
		width:120px;
		display:inline-block;
		margin-right:10px;
		&.right{
			margin-right: 0px;
			margin-left: 10px;
		}
	}
	.result-text-block{
		width:~"calc(100% - 140px)" !important;
		display:inline-block;
		@media(max-width:600px){
			width:100% !important;
		}
	}

}
									
	


			





							