.particulars {
  margin-top: 20px
}

.particulars, .st_author p {
  text-align: left;
  font-size: 16px;
  margin-top: 40px
}

.st_form input[type="text"] {
  padding: 12px;
  border: none;
  background-color: #EEF2F3;
  min-height: 22px;
  font-size: 16px;
  color: #666666;
  width: 100%;
  outline: none
}

.particulars, .st_form {
  margin-bottom: 40px;
  padding: 0 10px
}

.fields {
  margin-top: 20px;
  text-transform: uppercase;
  color: #333333
}

textarea#ans7, textarea#ans8, textarea#ans9 {
  background-color: #EEF2F3;
  min-height: 120px;
  padding: 12px;
  font-size: 16px;
  color: #666666;
  width: 100%;
  resize: none;
  border: none;
  outline: none
}
