#navbar.navbar-collapse.lower.collapse {
    margin-bottom: 40px;
}
// .st-content-banner {
//     width: 100%;
//     // background: #2596b4;
//     height: 100px;
//     background-image: url("../images/bg-image.png");
//     background-position: 50% 50%;
//     background-size: cover;
//     .st-banner {
//         @include container($max-width-container);
//         position: relative;
//         height: 100%;
//     }
//     .st-content-logo-budget {
//         position: absolute;
//         bottom: 10px;
//         left: 10px;
//         right: 10px;
//         // text-align: center;
//         img {
//             display: inline-block;
//         }
//         a {
//             display: block;
//         }
//     }
// }

.tipsy {
    position: absolute;
    padding : 5px;
    z-index : 100000;
}

.tipsy-inner {
    background-color: #000;
    color           : #FFF;
    max-width       : 200px;
    margin          : 0 0 20px;
    padding         : 10px;
    border          : 1px solid #333;
}

.tipsy-inner {
    border-radius: 0;
}

.tipsy-arrow {
    position   : absolute;
    width      : 0;
    height     : 0;
    line-height: 0;
    margin     : 0 0 20px;
    border     : 5px dashed #FFF;
}
/* Rules to colour arrows */
.tipsy-arrow-n {
    border-bottom-color: #000;
}

.tipsy-arrow-s {
    border-top-color: #000;
}

.tipsy-arrow-e {
    border-left-color: #000;
}

.tipsy-arrow-w {
    border-right-color: #000;
}

.tipsy-n .tipsy-arrow {
    top                : 0;
    left               : 50%;
    margin-left        : -5px;
    border-bottom-style: solid;
    border-top         : none;
    border-left-color  : transparent;
    border-right-color : transparent;
}

.tipsy-nw .tipsy-arrow {
    top                : 0;
    left               : 10px;
    border-bottom-style: solid;
    border-top         : none;
    border-left-color  : transparent;
    border-right-color : transparent;
}

.tipsy-ne .tipsy-arrow {
    top                : 0;
    right              : 10px;
    border-bottom-style: solid;
    border-top         : none;
    border-left-color  : transparent;
    border-right-color : transparent;
}

.tipsy-s .tipsy-arrow {
    bottom            : 0;
    left              : 50%;
    margin-left       : -5px;
    border-top-style  : solid;
    border-bottom     : none;
    border-left-color : transparent;
    border-right-color: transparent;
}

.tipsy-sw .tipsy-arrow {
    bottom            : 0;
    left              : 10px;
    border-top-style  : solid;
    border-bottom     : none;
    border-left-color : transparent;
    border-right-color: transparent;
}

.tipsy-se .tipsy-arrow {
    bottom            : 0;
    right             : 10px;
    border-top-style  : solid;
    border-bottom     : none;
    border-left-color : transparent;
    border-right-color: transparent;
}

.tipsy-e .tipsy-arrow {
    right              : 0;
    top                : 50%;
    margin-top         : -5px;
    border-left-style  : solid;
    border-right       : none;
    border-top-color   : transparent;
    border-bottom-color: transparent;
}

.tipsy-w .tipsy-arrow {
    left               : 0;
    top                : 50%;
    margin-top         : -5px;
    border-right-style : solid;
    border-left        : none;
    border-top-color   : transparent;
    border-bottom-color: transparent;
}

.gravity {
    width         : 100%;
    margin        : 5px 0;
    border-spacing: 5px;
}

.gravity td {
    text-align      : center;
    vertical-align  : middle;
    padding         : 5px 0;
    background-color: #d0d0d0;
    width           : 33%;
}

.gravity a:hover {
    color     : #505050;
    background: none;
}

.tip1 {
    font-family   : $font-Curator-Regular;
    text-transform: capitalize;
    text-align    : center;
}

.tip2 {
    font-family: $font-Curator-Regular;
    text-align : center;
}

.tip3 {
    font-family: $font-Curator-Regular;
    text-align : center;
}

.small-display {
    font-family   : $font-Curator-Regular;
    font-size     : 0.85em;
    text-transform: uppercase;
}

.large-display {
    font-family: $font-Curator-Regular;
    font-size  : 1.85em;
    line-height: 1.1;
}

.reg-display {
    font-family: $font-Curator-Regular;
    font-size  : 0.85em;
}

.st-header-page {
    @include clearfix;

    .st-header-title {
        padding: 30px 15px 15px;
        @include container(1200px);

        h1 {
            @include container (850px);
            color      : #333;
            text-align : center;
            font-family: $font-SelaneMinTen;
            font-size  : 3em;
            line-height: 1.2;
            @media (min-width: $d_small) {
                font-size: 2.8em;
            }
            @media (min-width: $d_medium) {
                font-size: 4.3em;
            }
        }
    }

    .st-header-strap {
        font-family: $font-SelaneTen;
        font-size  : 1.3em;
        line-height: 1.6;
        color      : #333;
        padding    : 15px;
        @include container(800px);

        p {
            font-family: $font-SelaneTen;
            color      : #333;
            text-align : center;
            margin     : 0;
            line-height: 1.5;
        }
        @media (min-width: $d_medium) {
            font-size: 1.3em;
        }
        // hr {
        //     border: none;
        //     border-bottom: 1px solid #ccc;
        //     margin-top: 40px;
        //     width: 90%;
        // }
    }

    .time {
        font-family  : $font-Curator-Regular;
        font-size    : 13px;
        color        : #666;
        padding      : 15px;
        text-align   : center;
        margin-bottom: 30px;
        @include container(1200px);
    }
}
