h1,
p,
strong {
    line-height: 120%;
    color: #333333;
}
h1 {
    font-size: 48px;
    margin-bottom: 29px;
}
p {
    font-size: 18px;
}
.organethemeBG {
    background-color: #bca08f;
}
.organetheme {
    color: #bca08f;
}
.longformSection {
    #fullwidthvideo-next {
        width: 100%;
        height: 200px;
        position: relative;
        overflow: hidden;
        @include breakpoint($d_medium) {
            height: 300px;
            margin-bottom: 50px;
        }



        video {
            position: absolute;
            left: 50%;
            top: 80%;
            /* The following will size the video to fit the full container. Not necessary, just nice.*/
            min-width: 100%;
            min-height: 100%;
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            z-index: -1;
        }
        .textonvideo {
            padding-top: 50px;
            @include breakpoint($d_medium) {
                padding-top: 100px;
            }
            h1,
            p {
                color: #ffffff;
                background-color: $black;
                padding: 5px 15px;
                display: inline-block;
                font-family: $font-Curator-Regular;
                margin-bottom: 15px;
            }
            p:hover {
                background-color: #fff;
                color: $black;
                transition: background-color 0.5s ease;
            }
            h3 {
                color: $black;
                font-family: $font-SelaneMinTen;
                line-height: 1.2em;
                max-width: 450px;
            }
            .white-text {
                color: #fff;
            }
            .st-deck {
                p {
                    font-family: $font-Curator-Regular;
                    text-align: left;
                    // font-size: 1.1em;
                    // line-height: 1.6;
                    font-size: 18px;
                    line-height: 1.5;
                    color: #fff;
                    // padding    : 15px;
                    // @media (min-width: $d_medium) {
                    //     font-size: 1.3em;
                    // }
                }
            }
        }
        // @extend .organethemeBG;
        // width              : 100%;
        // position           : absolute;
        // // height             : 500px;
        // z-index            : -2;
        // background-position: 50% 50%;
        //
        // .fullwidthBGvideo {
        //     width: 60%;
        //     // height: 500px;
        // }
    }
    .chapter-2 {
        width: 100%;
        // height: 200px;
        position: relative;
        overflow: hidden;
        @include breakpoint($d_medium) {
            // height: 300px;
            margin-bottom: 20px;
        }
        video {
            position: absolute;
            left: 50%;
            top: 90%;
            /* The following will size the video to fit the full container. Not necessary, just nice.*/
            min-width: 100%;
            min-height: 100%;
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            z-index: -1;
        }
        .textonvideo {
            padding-top: 50px;
            @include breakpoint($d_medium) {
                padding-top: 100px;
            }
            h1,
            p {
                color: #ffffff;
                background-color: $black;
                padding: 5px 15px;
                display: inline-block;
                font-family: $font-Curator-Regular;
                margin-bottom: 15px;
            }
            p:hover {
                background-color: #fff;
                color: $black;
                transition: background-color 0.5s ease;
            }
            h3 {
                color: $black;
                font-family: $font-SelaneMinTen;
                line-height: 1.2em;
                max-width: 450px;
            }
            .st-deck {
                p {
                    font-family: $font-Curator-Regular;
                    text-align: left;
                    // font-size: 1.1em;
                    // line-height: 1.6;
                    font-size: 18px;
                    line-height: 1.5;
                    color: #fff;
                    // padding    : 15px;
                    // @media (min-width: $d_medium) {
                    //     font-size: 1.3em;
                    // }
                }
            }
        }
        // @extend .organethemeBG;
        // width              : 100%;
        // position           : absolute;
        // // height             : 500px;
        // z-index            : -2;
        // background-position: 50% 50%;
        //
        // .fullwidthBGvideo {
        //     width: 60%;
        //     // height: 500px;
        // }
    }
    #fullwidthvideo {
        width: 100%;
        height: 400px;
        position: relative;
        overflow: hidden;
        @include breakpoint($d_medium) {
            height: 500px;
            margin-bottom: 50px;
        }

        .video-sizes {
            top: 70%;
          @include breakpoint(1600px) {
            top: 90%
          }
          @include breakpoint(2100px) {
            top: 100%
          }
        }
        .video-sizes2 {
            top: 70%;
          @include breakpoint(1800px) {
            top: 90%
          }
          @include breakpoint(2100px) {
            top: 100%
          }
        }
        video {
            position: absolute;
            left: 50%;
            top: 50%;
            /* The following will size the video to fit the full container. Not necessary, just nice.*/
            min-width: 100%;
            min-height: 100%;
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            z-index: -1;
        }
        .textonvideo {
            padding-top: 100px;
            @include breakpoint($d_medium) {
                padding-top: 250px;
            }
            h1,
            p {
                color: #ffffff;
            }
            .small-mobile {
              font-size: 32px;
              @include breakpoint(500px) {
                  font-size: 48px;
              }

            }
            .chapter-2 {
                color: $black;
            }
            .black-text {
                color: $black;
            }
            .st-deck {
                p {
                    font-family: $font-Curator-Regular;
                    text-align: left;
                    // font-size: 1.1em;
                    // line-height: 1.6;
                    font-size: 18px;
                    line-height: 1.5;
                    color: #fff;
                    // padding    : 15px;
                    // @media (min-width: $d_medium) {
                    //     font-size: 1.3em;
                    // }
                }
            }
            .chapter-2 {
                p {
                    color: $black !important;
                }
            }
        }
        .textonvideo-short-padding {
            padding-top: 50px;
            @include breakpoint($d_medium) {
                padding-top: 250px;
            }
        }
        // @extend .organethemeBG;
        // width              : 100%;
        // position           : absolute;
        // // height             : 500px;
        // z-index            : -2;
        // background-position: 50% 50%;
        //
        // .fullwidthBGvideo {
        //     width: 60%;
        //     // height: 500px;
        // }
    }
    #longform1.content-columns {
        padding-top: 30px;
        .column-paragraph-left {
            .text-paragraph {
                // &:first-of-type {
                //     padding-top: 300px;
                //
                //     h1,
                p {
                    font-family: $font-Curator-Regular;
                    font-size: 1.1em;
                    line-height: 1.5em;
                    margin-bottom: 1.5em;
                    // color: #FFFFFF;
                }
                .st-byline {
                  font-family: $font-Curator-Regular;
                  font-size: 0.9em;
                  margin-bottom: 35px;
                  color: #666;
                  border-bottom: 1px dotted #bfbfbf;
                  padding-bottom: 20px;

                }
                // }
                //
                // &:nth-of-type(2) {
                //     padding-top: 50px;
                //     @include breakpoint($d_medium) {
                //         padding-top: 100px;
                //     }
                // }
            }
            .photo-caption-bottom {
                padding: 25px 0;
                figcaption {
                    padding: 15px 0;
                    font-size: 15px;
                    color: #666;
                    font-family: $font-Curator-Regular;
                }
            }
            .quoteArea {
                padding: 3% 0 50%;
                @include container(430px);
                text-align: center;
                position: relative;
                margin-top: 10%;
                @include breakpoint($d_medium) {
                    padding: 3% 0 30%;
                }
                @include breakpoint(430px) {
                    padding: 3% 0 20%;
                }
                .quoteBG {
                    @extend .organethemeBG;
                    // height : 150px;
                    opacity: 0.5;
                }
                .chapter-2 {
                    background-color: #f8be48;
                    // height : 150px;
                }
                .blockquote {
                    // max-width     : 430px;
                    font-family: $font-Curator-Bold;
                    // text-transform: uppercase;
                    // background-color: #333;
                    // margin        : 50px auto;
                    margin-top: 1%;
                    color: #333;
                    // border-radius: 30px;
                    quotes: "\201C" "\201D";
                    // position      : relative;
                    position: absolute;
                    top: 0;
                }
                .content-blockquote {
                    // padding-top: 40px;
                    /* padding-right: 40px */
                    // max-width  : 320px;
                    margin: 0 auto 10%;
                    q {
                        font-size: 20px;
                        @include breakpoint(430px) {
                            font-size: 24px;
                            line-height: 1.2em;
                        }
                    }
                    cite > span:first-child {
                        margin-top: 15px;
                        opacity: 0.8;
                        display: inline-block;
                    }
                    cite {
                        div {
                            font-family: $font-Curator-Regular;
                            font-size: 0.8125em;
                            // font-weight: lighter;
                            // font-style : normal;
                            padding-top: 7px;
                            // text-align : left;
                            line-height: 1.2em;
                            padding: 10px 10px 0px 10px;
                        }
                    }
                    // .line-quote {
                    //     height          : 2px;
                    //     margin-top      : 10px;
                    //     background-color: $stlightblue;
                    // }
                    &:before {
                        @extend .organetheme;
                        position: absolute;
                        content: open-quote;
                        // color      : $stlightblue;
                        font-style: normal;
                        // font-weight: bolder;
                        font-size: 200px;
                        line-height: 0.45;
                        left: 35px;
                        font-family: $font-Thirty;
                        height: 1px;
                        height: 80px;
                        opacity: 0;
                    }
                    &:after {
                        color: #775949;
                        position: absolute;
                        content: close-quote;
                        // color      : $stlightblue;
                        font-style: normal;
                        // font-weight: bolder;
                        font-size: 200px;
                        line-height: 0.6;
                        left: 40%;
                        // text-align : right;
                        // left       : 0;
                        font-family: $font-Thirty;
                        margin-top: 30px;
                    }
                }
                .chapter-number3{
                  &:before {
                    color: #AA357B !important
                  }
                  &:after {
                    color: #AA357B !important

                  }

                }
                .chapter-number2{
                  &:before {
                    color: #f8be48 !important

                  }
                  &:after {
                    color: #f8be48 !important

                  }

                }
                .chapter-number4{
                  &:before {
                    color: #d6c452 !important

                  }
                  &:after {
                    color: #d6c452 !important

                  }

                }
                .chapter-number5{
                  &:before {
                    color: #54bde1 !important

                  }
                  &:after {
                    color: #54bde1 !important

                  }

                }
            }
            .longformtitle {
                position: relative;
                margin-bottom: 12px;
                margin-top: 25px;
                @include breakpoint($d_medium) {
                    margin-top: 50px;
                }
                .titleBG {
                    @extend .organethemeBG;
                    height: 25px;
                    width: 305px;
                    opacity: 0.5;
                }
                .chapter2 {
                    background-color: #f8be48;
                    // height : 150px;
                    opacity: 0.5;
                }
                .titleText {
                    position: absolute;
                    top: -12px;
                    font-size: 1.3em;
                }
                .mobile-padding {
                  margin-bottom: 50px;
                  @include breakpoint($d_medium) {
                      margin-top: 12px;
                  }

                }
            }
        }
    }
}
