.darkgrayBG {
    background-color: #483A32;
}

.orangBG {
    background-color: #F9B732;
}

.pinkBG {
    background-color: #AA357B;
}

.mustardBG {
    background-color: #D8BA3A;
}

.blueBG {
    background-color: #00327A;
}

.loading-icon {
    background: url("../images/st-loading.gif") no-repeat scroll center center #FFF;
    position  : absolute;
    height    : 100%;
    width     : 100%;
    z-index   : 10000;
}

.st-content-banner {
    display: none;
}

.st-content-menu {
    opacity: 0.7;
}

.fullpage-wrapper {
    width    : 100%!important;
    transform: none!important;
}

.fp-section {
    width     : 100%!important;
    position  : absolute;
    left      : 0;
    top       : 0;
    visibility: hidden;
    opacity   : 0;
    z-index   : 0;
    // transition: all 0.7s ease-in-out;
}

.fp-section.active {
    visibility: visible;
    opacity   : 1;
    z-index   : 1;
}

#fp-nav {
    top      : 40px;
    left     : 45%;
    opacity  : 0.7;
    transform: translateX(-50%);
    @include breakpoint($d_medium) {
        top : 40px;
        left: 50%;
    }

    ul li {
        display: inline-block;
        margin : 1px;
        width  : 10px;
        @include breakpoint($d_medium) {
            margin: 9px;
            width : 14px;
        }

        a {
            cursor: default;

            &.active {
                span {
                    background: #ffffff;
                }
            }

            span {
                width     : 5px !important;
                height    : 5px !important;
                margin    : 0 !important;
                border    : 1px solid #ffffff;
                background: transparent;
                @include breakpoint($d_medium) {
                    width : 7px !important;
                    height: 7px !important;
                }
            }
        }
    }
}

header {
    position: fixed;
    display : block;
    width   : 100%;
    z-index : 9;
    top     : 0;
}

.sounddiv img {
    float      : left;
    margin-top : 35px;
    margin-left: 5px;
    max-width  : 30px;
    max-height : 30px;
    cursor     : pointer;
    @include breakpoint($d_medium) {
        margin-left: 6%;
        max-width  : 35px;
        max-height : 35px;
        min-height : 35px;
        margin-top : 7px;
    }
}

.videotextposition {
    position   : absolute;
    z-index    : 10;
    left       : 4%;
    font-size  : 24px;
    max-width  : 500px;
    text-align : left;
    color      : #ffffff;
    line-height: 120%;
    @include breakpoint($d_medium) {
        left     : 30%;
        font-size: 26px;
    }
}

.section {
    text-align         : center;
    background-size    : cover;
    background-position: 50% 50%;
    overflow           : hidden;

    .uptext {
        @extend .videotextposition;
        top: 10%;

        img {
            width      : 150px;
            margin-left: 0;
        }
    }

    .updatenone {
        display: none;
    }

    .downtext {
        display: none;
        @extend .videotextposition;
        bottom : 10%;
    }

    .highlightText {
        strong {
            display                     : inline;
            line-height                 : 1.6;
            background                  : #000;
            padding                     : 0.5rem 0;
            -webkit-box-decoration-break: clone;
            -ms-box-decoration-break    : clone;
            -o-box-decoration-break     : clone;
            box-decoration-break        : clone;
            box-shadow                  : 0.5rem 0 0 #000, -0.5rem 0 0 #000;
        }
    }

    .myVideo {
        position           : absolute;
        right              : 0;
        bottom             : 0;
        top                : 0;
        right              : 0;
        width              : 100%;
        height             : 100%;
        background-size    : 100% 100%;
        // background-color   : black;
        /* our video */
        /* in case the video doesn't fit the whole page*/
        // background-image   :;
        background-position: center center;
        background-size    : contain;
        object-fit         : cover;
        /*cover video background */
        z-index            : 3;
    }

    .scrollDown {
        display     : none;
        position    : absolute;
        margin-left : auto;
        margin-right: auto;
        left        : 0;
        right       : 0;
        bottom      : 0;
        z-index     : 10;

        img {
            width       : 20px;
            position    : absolute;
            margin-left : auto;
            margin-right: auto;
            left        : 0;
            right       : 0;
            bottom      : 40px;
        }

        p {
            color    : #FFFFFF;
            font-size: 11px;
        }

        .dotDown {
            animation: mover 2s ease infinite;
        }
        @keyframes mover {
            0% {
                transform: translateY(-10px);
                opacity  : 0.5;
            }

            50% {
                transform: translateY(0);
                opacity  : 1;
            }

            100% {
                transform: translateY(-10px);
                opacity  : 0.5;
            }
        }
    }
}

#section1 {
    z-index: 8;

    .box-info-ie {
        width      : 430px;
        // height     : 98px;
        margin     : auto;
        background : #ffffff;
        color      : #333;
        // padding    : 25px 15px;
        padding    : 8px 15px;
        font-size  : 16px;
        line-height: 1.5;
        position   : absolute;
        right      : 0;
        left       : 0;
        top        : 50px;
        // bottom     : 13%;
        z-index    : 100;
        font-family: $font-Curator-Regular;
        @include box-sizing;

        a {
            color      : #333;
            font-family: $font-Curator-Bold;
        }
    }

    .titleImg {
        position  : absolute;
        z-index   : 10;
        transform : scale(0);
        left      : 0;
        right     : 0;
        margin-top: 5%;
        transition: transform 0.5s;

        img {
            width: 400px;
        }
    }
}

#section12 {
    background-color: #cfdadb;

    .finalPage {
        @include container;
        color     : #333;
        text-align: left;
        padding   : 0 5%;
        @include breakpoint($d_medium) {
            padding: 0;
        }

        .finaltitle {
            @include breakpoint($d_medium) {
                margin-bottom: 130px;
            }

            p {
                margin-top: 16px;
                max-width : 580px;
            }
        }

        .backtotopBtn {
            @include container(130px);
            text-align      : center;
            cursor          : pointer;
            padding         : 10px 20px;
            background-color: #ffffff;
            font-size       : 15px;
            margin-top      : 40px;

            &:hover {
                background-color: #C0CAC9;
            }
            @include breakpoint($d_medium) {
                float     : right;
                margin-top: 0;
            }
        }

        .selectIcon {
            display: none;

            .profile {
                // @include gallery(3 of 9);
                // @include breakpoint($d_medium) {
                //      @include gallery(2 of 10);
                // }
                img {
                    width : 160px;
                    cursor: pointer;
                    // display: none;
                }

                .profileName {
                    @include container(160px);
                    text-align: center;

                    .line {
                        margin : 15px auto;
                        width  : 72px;
                        height : 6px;
                        display: none;
                    }

                    p {
                        color  : #999;
                        display: block;
                        @include breakpoint($d_medium) {
                            display: none;
                        }
                    }
                }
            }
        }

        #fordesktop {
            height       : 250px;
            margin-bottom: 80px;

            .profile {
                @include gallery(2 of 10);
            }
        }

        #formobile {
            // margin-top: -3%;
            .profile {
                &:not(:first-of-type) {
                    width: 50%;
                    float: left;
                }

                img {
                    width: 60px;
                }

                .profileName {
                    p {
                        color    : #333;
                        font-size: 1.1em;
                    }
                }
            }
        }

        .thanksCredits {
            font-size: 13px;
        }
    }
}
