.st-header-page {
    @include clearfix;

    .st-header-title {
        padding: 30px 15px 15px;
        @include container(1200px);

        h1 {
            // @include container (850px);
            max-width: 900px;
            color      : #333;
            text-align : left;
            font-family: $font-SelaneMinTen;
            font-size  : 3em;
            line-height: 1.2;
            @media (min-width: $d_small) {
                font-size: 2.8em;
            }
            @media (min-width: $d_medium) {
                font-size: 4.3em;
            }
        }
    }

    .st-header-strap {
        font-family: $font-SelaneTen;
        font-size  : 1.3em;
        line-height: 1.6;
        color      : #333;
        padding-top    : 15px;
        padding-bottom    : 15px;
        max-width: 900px;

        // @include container(800px);

        p {
            font-family: $font-SelaneTen;
            color      : #333;
            text-align : left;
            margin     : 0;
            line-height: 1.5;
        }
        @media (min-width: $d_medium) {
            font-size: 1.3em;
        }
        // hr {
        //     border: none;
        //     border-bottom: 1px solid #ccc;
        //     margin-top: 40px;
        //     width: 90%;
        // }
    }

    .time {
        font-family  : $font-Curator-Regular;
        font-size    : 13px;
        color        : #666;
        padding-top    : 15px;
        padding-bottom    : 15px;
        text-align   : left;
        margin-bottom: 30px;
        @include container(1200px);
    }
}

.content-graphic {
    padding-left : 15px;
    padding-right: 15px;
    box-sizing   : border-box;
    padding-top  : 20px;
    @include container(800px);

    p {
        color          : #333;
        list-style-type: disc;
        display        : list-item;
    }

    a {
        font-family: $font-Curator-Regular;
        color      : #2D96B2;
    }
}

#content-sub-menu-fixed {
    margin        : 0 auto;
    text-align    : center;
    padding       : 10px 15px;
    background    : #fff;
    z-index       : 9;
    padding-bottom: 30px;
    width         : 100% !important;

    .wrap-margin {
        margin-left : -2px;
        margin-right: -2px;
        @include breakpoint($d_medium) {
            margin-left : -15px;
            margin-right: -15px;
        }
    }

    figure {
        display       : inline-block;
        color         : #333;
        padding-left  : 2px;
        padding-right : 2px;
        box-sizing    : border-box;
        width         : 16.666666667%;
        margin-right  : -4px;
        max-width     : 80px;
        // min-width: 75px;
        vertical-align: top;
        cursor        : pointer;
        opacity       : 0.5;
        margin-bottom : 10px;

        figcaption {
            line-height: 1.5;
            display    : none;
            @include breakpoint(480px) {
                display: block;
            }
        }

        &:hover {
            opacity: 1;
        }
        @include breakpoint($d_medium) {
            padding-left : 15px;
            padding-right: 15px;
            max-width    : 110px;
        }
    }

    .active-sub-menu {
        opacity: 1;

        figcaption {
            font-family: $font-Curator-Bold;
        }
    }

    .text-subtitle-mobile {
        display    : block;
        text-align : center;
        line-height: 1.5;
        color      : #333;
        font-family: $font-Curator-Bold;
        font-size  : 14px;
        padding-top: 5px;
        @include breakpoint(480px) {
            display: none;
        }
    }
}

.st-content-banner {
    // width              : 100%;
    // // background: #2596b4;
    // height             : 100px;
    // background-image   : url("../images/background-1900x950.jpg");
    // background-position: 50% 50%;
    // background-size    : cover;
    //
    // .st-banner {
    //     @include container;
    //     position: relative;
    //     height  : 100%;
    // }
    //
    // .st-content-logo-budget {
    //     position: absolute;
    //     bottom  : 10px;
    //     left    : 10px;
    //     right   : 10px;
    //     // text-align: center;
    //     img {
    //         display: inline-block;
    //     }
    //
    //     a {
    //         display: block;
    //     }
    // }
    height           : 110px;
    padding-top      : 20px;
    /* For browsers that do not support gradients */
    background       : #5D9EDA;
    /* For Safari 5.1 to 6.0 */
    background       : url("../images/budget/pattern.png"), -webkit-linear-gradient(#5D9EDA, #36B4BB);
    /* For Opera 11.1 to 12.0 */
    background       : url("../images/budget/pattern.png"), -o-linear-gradient(#5D9EDA, #36B4BB);
    /* For Firefox 3.6 to 15 */
    background       : url("../images/budget/pattern.png"), -moz-linear-gradient(#5D9EDA, #36B4BB);
    /* Standard syntax */
    background       : url("../images/budget/pattern.png"), linear-gradient(#5D9EDA, #36B4BB);
    // background-image : url("../images/budget/pattern.png");
    background-repeat: repeat;

    .st-banner {
        @include container;

        img {
            height     : 82px;
            margin-left: 0;
        }
    }
}
@include breakpoint($d_small) {
    .st-mobile {
        display: none;
    }

    .st-medium {
        display: block;
    }
}
@include breakpoint($d_medium) {
    .st-medium {
        display: none;
    }

    .st-desktop {
        display: block;
    }
}

.text-parraf {
    .st-btn-read-more {
        background    : #ecf0f1 !important;
        color         : #333 !important;
        width         : 153.902px !important;
        height        : 41.41px !important;
        vertical-align: middle;
        font-family   : $font-Curator-Regular !important;
        font-size     : 15px;
        line-height   : 43px;
        text-align    : center;
        display       : block;
        margin-top    : 1.125em;
        border-radius : 0 !important;
        box-sizing    : border-box;
        padding       : 0;
    }

    .st-btn-read-more:hover {
        transition: background-color 0.5s;
        background: #CFDBDE !important;
    }

    p {
        list-style-type: none;
    }
}
@include breakpoint($d_normal) {}
