.content-map {
    position: relative;

    .content-popup {
        padding: 15px;
        background: $screen;
        color: #333;
        max-width: 262px;
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 9999;
        @include breakpoint($d_medium) {
            max-width: 320px;
        };
    }
}

.content-popup {
    .popup-station {
        font-family: $font-Curator-Bold;
        padding-bottom: 10px;
    }

    .popup-description {
        font-size: 15px;
        line-height: 1.5;
        color: #333;
        font-family: $font-Curator-Regular;
        padding-top: 10px;
    }

    .btn-close {
        cursor: pointer;
        width: 15px;
        height: 15px;
        position: absolute;
        right: 15px;
        /* display: block; */
        top: 15px;

        svg {
            display: block;
        }
    }
}

.content-legend-mobile {
    display: none;
    @include breakpoint($d_medium) {
        display: none;
    };
}

.content-legend-desktop {
    // display: none;
    // @include breakpoint($d_medium){
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    // @include container;
    // };
}

.content-legend {
    @include container;
    @include clearfix;
    padding-top: 10px;
    padding-bottom: 10px;

    .max-legend {
        float: right;
        max-width: 587px;
        @include clearfix;
    }

    .line-legend {
        float: left;

        &:not(:last-child) {
            padding-right: 15px;
        }
    }

    span {
        vertical-align: middle;
        display: inline-block;
        font-size: 15px;
        color: #333;
        font-family: $font-Curator-Regular;
    }

    .line-1 {
        height: 5px;
        width: 30px;
        display: inline-block;
        background-color: #5a9ddc;
    }

    .line-2 {
        height: 5px;
        width: 30px;
        display: inline-block;
        background-color: #0c2b57;
    }

    .line-3 {
        height: 5px;
        width: 30px;
        display: inline-block;
        background-color: #98a9f2;
    }
}

.pay-1 {
    ul {
        padding-left: 20px;
    }
}
.content-timeline{
  position: relative;
  .dotline{
    position: absolute;
    border-left: 1px dotted #333;
    top: 10px;
    left: 4px;
    // bottom: 82px;
  }
}


path.circle-stop.leaflet-interactive{
  // stroke-dasharray: 43.98876953125;
  // stroke-dashoffset: 43.98876953125;
  animation: strokedash 2s infinite alternate;
  fill:#fff;
}

@keyframes strokedash {
  from {
    // stroke-dashoffset: 43.98876953125;
    fill:#fff;
  }
  to {
    // stroke-dashoffset: 0;
    fill:rgb(90, 157, 220);
  }
}



// 43.98876953125
