.st-content-banner {
    display: none;
}

.st-content-menu {
    opacity: 0.7;
}

header {
    position: fixed;
    display : block;
    width   : 100%;
    z-index : 9;
    top     : 0;
}

.sounddiv img {
    float      : left;
    margin-left: 12%;
    max-width  : 30px;
    cursor     : pointer;
    @include breakpoint($d_medium) {
        margin-left: 6%;
        max-width  : 40px;
    }
}

.bar-long {
    height            : 5px;
    width             : 0;
    z-index           : 1000;
    position          : fixed;
    top               : 0;
    left              : 0;
    -webkit-transition: width 1s;
    /* Safari */
    transition        : width 1s;
}

.blurimg {
    position           : absolute;
    left               : 0;
    right              : 0;
    top                : 0;
    width              : 100%;
    height             : 100%;
    z-index            : 1;
    background-image   : url("../images/otters/1-cover-M-blur.jpg");
    @include breakpoint($d_large) {
        background-image: url("../images/otters/1-cover-DX-blur.jpg");
    }
    @media (max-width:1200px) and (min-width:768px) {
        background-image: url("../images/otters/1-cover-D-blur.jpg");
    }
    background-repeat  : no-repeat;
    /*Avoid the image to repeat*/
    background-size    : cover;
    /*Make the image full size*/
    background-position: center;
    /*Center the img*/
}

.finalPage {
    // display         : none;
    position        : fixed;
    left            : 0;
    right           : 0;
    // bottom          : -1000px;
    width           : 100%;
    height          : 100%;
    z-index         : 100;
    background-color: #333333;
    // opacity         : 0.9;
    .finalContent {
        @include container;
        opacity: 1;
        margin : auto 5%;
        color  : #ffffff;
        @include breakpoint($d_medium) {
            margin: auto;
        }

        .upperpart {
            @include container(500px);
            margin-top: 20px;
            @include breakpoint($d_medium) {
                margin-top: 200px;
            }
            text-align: center;

            .backtotopBtn {
                @include container(160px);
                cursor          : pointer;
                padding         : 10px;
                background-color: $stlightblue;
                margin-bottom   : 22px;
                @include breakpoint($d_medium) {
                    margin-bottom: 32px;
                }

                &:hover {
                    background-color: #418ED7;
                }
            }

            .likeshare {
                p {
                    margin-bottom: 0;
                }
            }

            .shareIcon {
                cursor: pointer;
                @include container(100px);

                img {
                    max-width: 50px;
                    float    : left;
                }
            }
        }

        .readST {
            @include container;

            .storysec {
                @include span(isolate 100% last);
                margin-bottom: 15px;
                @include breakpoint($d_medium) {
                     @include span(32%);
                }

                .storyimg {
                    img {
                        max-width: 90px;
                        margin   : 0;
                        @include breakpoint($d_medium) {
                            max-width: 100%;
                            margin   : 0 auto;
                        }
                    }
                    float       : left;
                    margin-right: 10px;
                }

                .storytitle {
                    color      : #ffffff;
                    line-height: 130%;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }

        .divider {
            border-top: dotted #ccc 1px;
            margin    : 10px auto;
            @include breakpoint($d_medium) {
                margin: 60px auto;
            }
        }
    }
}

.section {
    text-align         : center;
    background-size    : cover;
    background-position: 50% 50%;
    overflow           : hidden;

    .text-bg {
        display         : none;
        background-color: #333333;
        position        : absolute;
        z-index         : 4;
        text-align      : left;
        bottom          : -200px;
        left            : 0;
        opacity         : 0.8;
        max-width       : 700px;

        p {
            color        : #FFFFFF;
            font-size    : 19px;
            line-height  : 120%;
            margin-bottom: 0;
            padding      : 12px 32px 32px;

            .photoCredits {
                font-size: 16px;
                color    : #999999;
            }
        }
    }

    #introPhoto {
        bottom          : 0;
        max-width       : 110px;
        background-color: transparent;
        @include breakpoint($d_medium) {
            max-width: 210px;
        }

        .photoCredits {
            font-size  : 13px;
            line-height: 100%;
            @include breakpoint($d_medium) {
                font-size  : 16px;
                line-height: 120%;
            }
        }
    }

    .myVideo {
        position           : absolute;
        right              : 0;
        bottom             : 0;
        top                : 0;
        right              : 0;
        width              : 100%;
        height             : 100%;
        background-size    : 100% 100%;
        // background-color   : black;
        /* our video */
        /* in case the video doesn't fit the whole page*/
        // background-image   :;
        background-position: center center;
        background-size    : contain;
        object-fit         : cover;
        /*cover video background */
        z-index            : 3;
    }
}

#sectionIntro {
    background-image: url("../images/otters/1-cover-M.jpg");
    @include breakpoint($d_large) {
        background-image: url("../images/otters/1-cover-DX.jpg");
    }
    @media (max-width:1200px) and (min-width:768px) {
        background-image: url("../images/otters/1-cover-D.jpg");
    }

    .content-columns {
        display   : none;
        @include container(940px);
        position  : relative;
        margin-top: 0;
        @include breakpoint($d_medium) {
            margin-top: -150px;
        }

        .main-headline {
            @include container(500px);
            color: #FFFFFF;

            h1 {
                font-size  : 38px;
                line-height: 120%;
                @include breakpoint($d_medium) {
                    font-size    : 60px;
                    margin-bottom: 20px;
                }
            }

            .st-deck {
                font-size  : 20px;
                line-height: 1.3;
                font-family: $font-SelaneTen;
                margin     : 15px;
                line-height: 120%;
                @include breakpoint($d_medium) {
                    // font-family: $font-SelaneMinTen
                    font-size: 24px;
                    padding  : 15px;
                    margin   : 0;
                }

                p {
                    padding-top: 15px;
                    @include breakpoint($d_medium) {
                        padding-top: 0;
                    }
                }

                .st-sub-deck {
                    font-size  : 16px;
                    line-height: 120%;
                    font-family: $font-Curator-Regular;
                }
            }

            .st-byline {
                font-size: 13px;
            }
        }
    }

    .scrollDown {
        display     : none;
        position    : absolute;
        margin-left : auto;
        margin-right: auto;
        left        : 0;
        right       : 0;
        bottom      : 0;

        img {
            width       : 20px;
            position    : absolute;
            margin-left : auto;
            margin-right: auto;
            left        : 0;
            right       : 0;
            bottom      : 40px;
        }

        p {
            color    : #FFFFFF;
            font-size: 11px;
        }

        #dotDown {
            animation: mover 2s ease infinite;
        }
        @keyframes mover {
            0% {
                transform: translateY(-10px);
                opacity  : 0.5;
            }

            50% {
                transform: translateY(0);
                opacity  : 1;
            }

            100% {
                transform: translateY(-10px);
                opacity  : 0.5;
            }
        }
    }
}

#section3 {
    background-image: url("../images/otters/3-spraint-M.jpg");
    @include breakpoint($d_medium) {
        background-image: url("../images/otters/3-spraint-D.jpg");
    }
}

#section9 {
    background-image: url("../images/otters/9-manmade-M.jpg");
    @include breakpoint($d_medium) {
        background-image: url("../images/otters/9-manmade-D.jpg");
    }
}

#section11 {
    background-image: url("../images/otters/11-urban-M.jpg");
    @include breakpoint($d_medium) {
        background-image: url("../images/otters/11-urban-D.jpg");
    }
}

#section12 {
    background-image: url("../images/otters/12-screenshot-M.jpg");
    @include breakpoint($d_medium) {
        background-image: url("../images/otters/12-screenshot-D.jpg");
    }
}
