$black1: #333333;


@mixin content-key-general-style {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
}

@mixin content-key-h4-style {
    font-size: 18px;
    font-family: $font-Curator-Bold;
    color: $black1;
}

.st-header-page {
    .st-header-title {
        padding-top: 68px;
        h1 {
            font-size: 4em;
        }
        .headline-appear {
            opacity: 0;
            transition: all .5s;
            &.appear {
                opacity: 1;
            }
        }
    }
    .st-header-strap {
        padding-top: 6px;
        font-size: 1em;
        p {
            font-size: 1.1em;
            line-height: 1.6;
        }
    }
    .time {
        padding-top: 10px;
        margin-bottom: 55px;
    }
}

.content-key-battles {
    >div {
        @include content-key-general-style;
        h4 {
            @include content-key-h4-style;
        }
        .battle-division {
            min-height: 20px;
            margin: 12px 0 20px;
            background-color: $screen;
            .head {
                height: 84px;
                padding: 30px;
                position: relative;
                >div {
                    display: inline-block;
                    line-height: 84px;
                    &:nth-of-type(3) {
                        float: right;
                    }
                    .head-icon, .head-icon-name {
                        display: inline-block;
                    }
                    .head-icon {
                        @include border-radius(50%);
                        width: 84px;
                        height: 84px;
                        vertical-align: top;
                    }
                    .head-icon-name, &.head-versus {
                        font-size: 17px;
                        color: $black1;
                        font-family: $font-Curator-Bold;
                        vertical-align: middle;
                        line-height: normal;
                        margin: 0 20px;
                        width: 80px;
                    }
                    &.head-versus {
                        position: absolute;
                        margin: 0 auto;
                        top: 63px;
                        left: 0;
                        right: 0;
                        width: 0;
                    }
                    .-right {
                        float: right;
                    }
                }
            }
            .body {
                padding: 10px 30px 30px;
                .map {
                    float: left;
                    .map-img {
                    width: 218px;
                    height: 168px;
                    }
                }
                .des{
                    font-family: $font-Curator-Regular;
                    font-size: 15px;
                    min-height: 168px;
                    line-height: 24px;
                    color: $black1;
                    margin-left: 238px;
                }
            }
        }
    }
}


.content-key-statistics {
    >div {
        @include content-key-general-style;
        margin-top: 30px;
        h4 {
            @include content-key-h4-style;
        }
        .battle-statistics {
            min-height: 20px;
            >p {
                font-family: $font-Curator-Bold;
                font-size: 15px;
                color: #333333;
                margin: 25px 0 0;
            }
            .statistics-match .match-each {
                  display: table-cell;
                .logo {
                    float: left;
                    width: 58%;
                    display: table;
                    .logo-img {
                        width: 100%;
                        display: table-cell;
                    }
                }
                .des {
                    // margin-left: 58%;
                    font-family: $font-Curator-Regular;
                    font-size: 15px;
                    line-height: 24px;
                    min-height: 251.3px;
                    color: $black1;
                    display: table;
                    @media (min-width: $d_medium) {
                        margin-top: 80px;
                    }

                    p {
                        display: table-cell;
                        // vertical-align: middle;
                    }
                }
            }
            .hr-mobile {
                display: none;
            }
        }

    }
}

.content-note {
    >div {
        clear: both;
        @include content-key-general-style;
        text-align: center;
        margin: 43px auto 80px;
        .see-prev-btn {
          display: none;
            background: $screen;
            padding: 18px;
            font-family: $font-Curator-Regular;
            font-size: 15px;
            line-height: 24px;
            color: #333333;
            &:hover {
                transition: background-color .5s;
                background: #CFDBDE;
            }
        }
        .hr-desktop {
            margin: 58px 0 15px;
            height: 1px;
            border: 0;
            border-bottom: 1px dotted #999999;
        }
        >p {
            font-family: $font-Curator-Regular;
            font-size: 13px;
            line-height: 21px;
            color: #333333;
            margin-bottom: 0;
            text-align: left;
            >strong {
                font-family: $font-Curator-Bold;
            }
        }
    }
}

section.content-fb-comments {
    padding-top: 0;
    padding-bottom: 50px;
}


@media(max-width: 767px) {
    .st-social-desktop .st-image-responsive {
        display: inline-block;
        float: right;
    }
    .st-header-page {
        .st-header-title {
            padding-top: 35px;
            padding-bottom: 10px;
            h1 {
                font-size: 2.8em;
            }
        }
        .st-header-strap {
            padding-bottom: 10px;
            p {
                font-size: 1.1em;
                line-height: 1.6;
            }
        }
    }


    .content-key-battles {
        >div {
            h4 {
                margin-left: 8px;
            }
            .battle-division {
                position: relative;
                .head {
                    position: relative;
                    padding: 20px 8px;
                    height: 100%;
                    >div {
                        .head-icon, .head-icon-name {
                            display: block;
                            text-align: center;
                        }
                        .head-icon-name {
                            margin: 15px auto 0;
                            font-size: 15px;
                        }
                        &:nth-of-type(3) {
                            .head-icon {
                                position: absolute;
                                top: 20px;
                                right: 8px;
                            }
                            .head-icon-name {
                                margin-top: 99px;
                            }
                        }
                    }
                }
                .body {
                    clear: both;
                    padding: 0;
                    text-align: center;
                    max-height: 0;
                    transition: all .5s ease-out;
                    overflow: hidden;
                    .map, .des {
                        display: block;
                    }
                    .map {
                        margin-left: 50px;
                        margin-right: 50px;
                        float: none;
                        .map-img {
                            width: 100%;
                            height: auto;
                        }
                    }
                    .des {
                        margin: 18px 8px 0;
                        clear: both;
                        text-align: left;
                        min-height: inherit;
                    }
                }
                .accordion-arrow {
                    position: absolute;
                    bottom: 9px;
                    margin-left: auto;
                    margin-right: auto;
                    left: 0;
                    right: 0;
                    background: url('../images/arrow-accordion-down-23x23px.svg') no-repeat;
                    background-size: cover;
                    background-position: 50%;
                    width: 23px;
                    height: 23px;
                }
                &.clicked {
                    .accordion-arrow {
                        background: url('../images/arrow-accordion-up-23x23px.svg') no-repeat;
                    }
                    .body {
                        max-height: 700px;
                        padding: 0 0 50px;
                        transition: all .5s ease-in;
                    }
                }
            }
        }
    }
    .content-key-statistics {
        >div {
            margin-top: 50px;
            h4 {
                margin: 0 8px;
                padding-bottom: 10px;
            }
            .battle-statistics {
                >p {
                    margin: 20px 8px 10px;
                }
                .statistics-match .match-each {
                    .logo, .des {
                        display: block;
                        clear: both;
                        margin-left: 8px;
                        margin-right: 8px;
                    }
                    .logo {
                        width: auto;
                    }
                    .des {
                        min-height: auto;
                        margin-bottom: 20px;
                    }
                }
                .hr-mobile {
                    display: block;
                    margin-left: 8px;
                    margin-right: 8px;
                    border-bottom: 1px dotted #999999;
                    height: 1px;
                }
            }
        }
    }
    .content-note {
        >div {
        margin-top: 78px;
        margin-bottom: 60px;
            .for-desktop {
                display: none;
            }
            .hr-desktop {
                display: none;
            }
            p {
                margin-left: 8px;
                margin-right: 8px;
            }
            p:first-of-type {
                margin-top: 78px;
            }
        }
    }
    section.content-fb-comments {
        padding-bottom: 30px;
    }
}
