<template>
  <main :class=page>
    <st-header :fullHeight="fullHeight" :header="header" v-if="header"></st-header>
    <st-article :fullHeight="fullHeight" :url="url" :article="article" :credits="credits" :next_chapter="next_chapter" ></st-article>
  </main>
</template>

<script>
import stHeader from "./header/st-header.vue";
import stArticle from "./article/st-article.vue";

export default {
  props: ['page','fullHeight','url','credits','header','article','next_chapter'],
  components: {
    "st-header":stHeader,
    "st-article":stArticle
  }
}
</script>
