* {
    -moz-box-sizing   : border-box;
    -webkit-box-sizing: border-box;
    box-sizing        : border-box;
}

body {
    background-color: $screen;
    font-size       : 16px;
}

footer {
    position: absolute;
    bottom  : 0;
    display : none;
}

p {
    line-height: 120%;
}

.Btn {
    cursor          : pointer;
    background-color: $yellow;
    padding         : 7px;
    text-align      : center;
    font-size       : 24px;
    color           : $black;
}
//
// .mask {
//     background: rgba(0,0,0,0.8);
//     position  : absolute;
//     top       : 0;
//     left      : 0;
//     width     : 100%;
//     height    : 100%;
// }

.sectionArea {
    @include container;
    color     : $black;
    position  : relative;
    margin-top: 20px;
}

.st-content-banner-bg {
    height           : 110px;
    padding-top      : 20px;
    /* For browsers that do not support gradients */
    background       : #5D9EDA;
    /* For Safari 5.1 to 6.0 */
    background       : url("../images/budget/pattern.png"), -webkit-linear-gradient(#5D9EDA, #36B4BB);
    /* For Opera 11.1 to 12.0 */
    background       : url("../images/budget/pattern.png"), -o-linear-gradient(#5D9EDA, #36B4BB);
    /* For Firefox 3.6 to 15 */
    background       : url("../images/budget/pattern.png"), -moz-linear-gradient(#5D9EDA, #36B4BB);
    /* Standard syntax */
    background       : url("../images/budget/pattern.png"), linear-gradient(#5D9EDA, #36B4BB);
    // background-image : url("../images/budget/pattern.png");
    background-repeat: repeat;

    img {
        height     : 82px;
        margin-left: 0;
    }
}

.st-header-page {
    .main-headline {
        @include container();
        position: relative;

        .leftpart {
            @include container(485px);
            float: left;
            // @include breakpoint($d_medium) {
            //      @include container(41%);
            // }
            h1,
            p {
                text-align: center;
                @include breakpoint($d_medium) {
                    text-align: left;
                };
            }

            p {
                margin-bottom: 0;
                @include breakpoint($d_medium) {
                    margin-bottom: 1.125em;
                };
            }

            .st-title {
                margin-bottom: 0;
                @include breakpoint($d_medium) {
                    margin-bottom: 25px;
                }
            }

            .st-byline {
                @include breakpoint($d_medium) {
                    text-align: left;
                }
            }

            .playBtn {
                @extend .Btn;
                @include container(104px);
                font-size: 19px;
                @include breakpoint($d_medium) {
                    margin-left: 15px;
                };
            }
        }

        .AnimatedImages {
            position: relative;
            bottom  : -150px;
            width   : 100%;
            z-index : -1;
            @include breakpoint($d_medium) {
                position   : absolute;
                width      : 60%;
                right      : 0;
                bottom     : 0;
                margin-left: 10%;
            };

            .woman {
                width   : 25%;
                position: absolute;
                left    : 30%;
                z-index : -2;
                bottom  : 0;
            }

            .man {
                width   : 30%;
                position: absolute;
                left    : 45%;
                bottom  : 0;
            }

            #machine {
                width: 700px;
            }

            #cashier-value {
                font-family: $font-digit;
                position   : absolute;
                // font-size  : 15px;
                left       : 6.5%;
                @include breakpoint($d_medium) {
                    left     : 8%;
                    font-size: 25px;
                };
            }

            .allGrocery {
                width   : 45%;
                position: absolute;
                bottom  : 5%;
                left    : 35%;
                z-index : -2;
            }

            .grocery {
                width   : 10%;
                position: absolute;
                bottom  : 1%;
                z-index : -1;
                @include breakpoint($d_medium) {
                    bottom: 5%;
                }
            }
        }
    }
}

article {
    display : none;
    position: relative;

    .helpIcon {
        cursor          : pointer;
        width           : 40px;
        height          : 40px;
        position        : absolute;
        background-color: #ffffff;
        left            : 0;

        img {
            width     : 20px;
            height    : 20px;
            margin-top: 10px;
        }
    }

    .cartStatus {
        cursor  : pointer;
        z-index : 1000;
        position: absolute;
        top     : -10px;
        right   : 5px;
        @include breakpoint($d_medium) {
            top: -20px;
        }

        .viewCart {
            float      : left;
            margin-top : 20%;
            margin-left: -10%;
            display    : none;
            @include breakpoint($d_medium) {
                display: block;
            }
        }

        .cartValue {
            float           : right;
            margin-right    : -73%;
            margin-top      : 9%;
            background-color: red;
            color           : #ffffff;
            width           : 25px;
            text-align      : center;
            border-radius   : 50%;
            @include breakpoint($d_medium) {
                margin-right: -30%;
            }
        }

        img {
            width       : 45px;
            float       : right;
            margin-right: 20%;
            margin-top  : 10%;
        }
    }

    .Game {
        @extend .sectionArea;

        .intro {
            width           : 266px;
            background-color: rgba(51, 51, 51, 0.9);
            color           : #ffffff;
            padding         : 20px;
            position        : absolute;
            display         : none;
            z-index         : 1000;

            .beginBtn {
                @extend .Btn;
                @include container(130px);
                font-size  : 16px;
                margin-left: 0;
            }

            .introTitle {
                font-size: 18px;
            }
        }

        .instruction {
            margin-bottom: 32px;
            margin-left  : 5%;
            margin-right : 30%;
            @include breakpoint($d_medium) {
                margin-left : auto;
                margin-right: auto;
            }
        }

        .switchSection {
            margin-bottom: 10px;
            min-height   : 50px;
            margin-left  : 5%;
            width        : 68%;
            // margin-right : 25%;
            @include breakpoint($d_medium) {
                margin-left: auto;
                width      : 100%;
            }

            .switch {
                float    : left;
                color    : #fff;
                @extend .Btn;
                @include container;
                width    : 100px;
                font-size: 14px;
                @include breakpoint($d_medium) {
                    width    : 142px;
                    font-size: 16px;
                }
            }

            #revBtn {
                margin-right    : 12px;
                background-color: $DarkYellow;
            }

            #expBtn {
                color           : $black;
                background-color: $screen;
                // opacity         : 0.2;
            }

            #closecartBtn {
                display     : none;
                float       : right;
                margin-right: 10%;
            }
        }

        .carousel_section {
            @media screen and (max-width: $d_medium) {
                // float   : left;
                width   : 100%;
                overflow: hidden;
            }

            .carousel {
                position: relative;
                left    : -230px; //-200px
                width   : 9999px;
                height  : 220px;
                @include breakpoint($d_medium) {
                    height: auto;
                    left  : 0;
                    @include container;
                }
            }

            .indCard {
                background-color  : #ffffff;
                -webkit-box-shadow: 1px 1px 5px -3px rgba(51,51,51,0.2);
                -moz-box-shadow   : 1px 1px 5px -3px rgba(51,51,51,0.2);
                box-shadow        : 1px 1px 5px -3px rgba(51,51,51,0.2);
                // -webkit-transition: width 1s, height 1s;
                // -moz-transition   : width 1s, height 1s;
                // -o-transition     : width 1s, height 1s;
                // transition        : width 1s, height 1s;
                height            : 180px;
                width             : 260px;
                float             : left;
                margin-right      : 20px;
                margin-top        : 10px;
                @include breakpoint($d_medium) {
                    width        : 360px;
                    height       : 160px;
                    margin-right : 8px;
                    margin-bottom: 8px;
                    margin-top   : 0;
                }

                .indexCard {
                    color  : #999;
                    float  : left;
                    padding: 5px 10px;
                    @include breakpoint($d_medium) {
                        display: none;
                    }
                }

                .cartBtn {
                    border    : 1px solid $grey;
                    width     : 110px;
                    // margin    : 6px 6px 6px 55%;
                    margin    : 6px 0 6px 144px;
                    cursor    : pointer;
                    text-align: center;
                    color     : $grey;
                    font-size : 13px;
                    @include breakpoint($d_medium) {
                        // margin: 6px 6px 6px 67%; //230px
                        margin: 6px 0 6px 244px;
                    }
                }

                .cardImg {
                    // @include gallery(8);
                    @include span(90px);
                    margin-right: 0;
                    padding     : 0 12px;
                    @include breakpoint($d_medium) {
                         @include span(110px);
                    }

                    img {
                        height: 100px;
                    }
                }

                .cardText {
                    margin-right: 12px;
                    margin-left : 100px;
                    @include breakpoint($d_medium) {
                        margin-left: 110px;
                    }

                    p {
                        margin-bottom: 0;
                    }

                    .RtextTitle {
                        display       : none;
                        color         : $DarkYellow;
                        font-size     : 13px;
                        text-transform: uppercase;
                    }

                    .EtextTitle {
                        display       : none;
                        color         : $DarkBlue;
                        font-size     : 13px;
                        text-transform: uppercase;
                    }

                    .textName {
                        font-family: $font-Curator-Bold;
                        font-size  : 18px;
                    }

                    .EtextValue {
                        color        : $stlightblue;
                        font-family  : $font-Curator-Bold;
                        font-size    : 22px;
                        margin-bottom: 2%;
                    }

                    .RtextValue {
                        color        : $DarkYellow;
                        font-family  : $font-Curator-Bold;
                        font-size    : 22px;
                        margin-bottom: 2%;
                    }

                    .textDes {
                        font-size: 15px;
                    }
                }
            }

            .toLarge {
                width     : 280px;
                height    : 240px;
                margin-top: 0;
            }
        }

        #revCarousel_section {
            .hand {
                z-index : 100;
                position: absolute;
                top     : 30%;
                // margin  : auto;
                // left    : 0;
                // right         : 0;
                // top     : 29%;
                img {
                    width: 50px;
                }
            }
        }

        .bullets {
            display: none;
            margin : 20px 0 0 30%;

            .indBullet {
                width                : 12px;
                height               : 12px;
                background           : #DDDDDD;
                -moz-border-radius   : 50px;
                -webkit-border-radius: 50px;
                border-radius        : 50px;
                float                : left;
                margin-right         : 10px;
            }
        }

        .barChartSection {
            @include container(900px);
            // margin-top  : 20px;
            margin-left : 5%;
            margin-right: 5%;
            // margin: auto 5%;
            @include breakpoint($d_medium) {
                // margin-top  : 0;
                margin-left : 100px;
                margin-right: auto;
            }

            .ExtraInfo {
                display         : none;
                width           : 266px;
                background-color: rgba(51, 51, 51, 0.9);
                color           : #ffffff;
                padding         : 20px;
                left            : 0;
                position        : absolute;
                z-index         : 1000;
                top             : 0;
                margin-left     : 5%;
                @include breakpoint($d_medium) {
                    margin-left: 0;
                }

                .closeBtn {
                    @extend .Btn;
                    @include container(130px);
                    font-size  : 16px;
                    margin-left: 0;
                }

                .infopic {
                    width       : 15px;
                    float       : left;
                    margin-top  : 5px;
                    margin-right: 5px;
                }
            }
            //
            // #revInfo {
            //     // height: 25%;
            //     border: 2px solid $DarkYellow;
            // }
            //
            // #expInfo {
            //     // height: 25%;
            //     border: 2px solid $DarkBlue;
            // }
            //
            // #difInfo {
            //     // height: 18%;
            //     border: 2px solid $busprimary;
            // }
            .barChart {
                position: relative;
                height  : 50px;
                margin  : 18px auto;

                .resultText {
                    float    : left;
                    font-size: 18px;

                    .barIcon {
                        position: absolute;
                        width   : 24px;
                        bottom  : 50%;
                    }

                    .barText {
                        margin-left: 30px;
                    }

                    .infoIcon {
                        position: absolute;
                        cursor  : pointer;
                        width   : 15px;
                        bottom  : 70%;
                    }

                    #infoRev {
                        left: 100px;
                    }

                    #infoExp {
                        left: 130px;
                    }

                    #infoDif {
                        left: 95px;
                    }
                }

                .resultValue {
                    float    : right;
                    font-size: 18px;
                }

                .basebar,
                .resultwidth {
                    height  : 20px;
                    position: absolute;
                    bottom  : 0;
                }

                .resultwidth {
                    z-index           : 50;
                    -webkit-transition: width 1s;
                    /* Safari */
                    transition        : width 1s;
                }

                .basebar {
                    width           : 100%;
                    background-color: #ffffff;
                }

                #revBar {
                    background-color: $DarkYellow;
                }

                .revValue {
                    color: $DarkYellow;
                }

                #expBar {
                    background-color: $stlightblue;
                }

                .expValue {
                    color: $stlightblue;
                }
            }

            #lastbar {
                // @include breakpoint($d_medium) {
                margin-bottom: 0;
                // }
            }

            .checkoutBtn {
                float           : right;
                text-align      : center;
                width           : 100%;
                background-color: $black;
                color           : #ffffff;
                padding         : 7px;
                cursor          : pointer;
                font-size       : 16px;
                @include breakpoint($d_medium) {
                    width: 110px;
                }
                // margin-bottom   : 5%;
            }
        }

        .warning {
            position        : absolute;
            display         : none;
            color           : #ffffff;
            background-color: rgba(51, 51, 51, 0.9);
            z-index         : 100;
            top             : 0;
            // left            : 30%;
            width           : 266px;
            padding         : 2%;
            // margin-left     : 3%;
        }
    }

    .cartSummary {
        // height          : 110%;
        width           : 100%;
        background-color: $black;
        color           : #ffffff;
        padding         : 24px;
        position        : absolute;
        top             : -20px;
        right           : -320px;
        overflow-y      : scroll;
        display         : none;
        z-index         : 2000;
        @include breakpoint($d_medium) {
            width: 320px;
            // height: 112%;
        }

        strong {
            font-size: 19px;
        }

        .cartStatus {
            z-index : 1000;
            cursor  : pointer;
            position: absolute;
            top     : 10px;
            right   : 10px;

            .viewCart {
                float      : left;
                margin-top : 20%;
                margin-left: -10%;
            }

            .cartValue {
                float           : right;
                margin-right    : -45%;
                margin-top      : 8%;
                background-color: red;
                color           : #ffffff;
                width           : 25px;
                text-align      : center;
                border-radius   : 50%;
                @include breakpoint($d_medium) {
                    margin-right: -43%;
                }
            }

            img {
                width       : 45px;
                float       : right;
                margin-right: 20%;
                margin-top  : 10%;
            }
        }

        .shoppingTitle {
            margin-top: 20%;
        }

        .clearItems {
            @extend .Btn;
            color           : #ffffff;
            width           : 100%;
            background-color: #666666;
            font-size       : 16px;
            margin-bottom   : 20px;
            margin-top      : 10%;
            @include breakpoint($d_medium) {
                width: 110px;
            }
        }

        .revCart {
            margin-top: 5%;

            span {
                font-size     : 18px;
                text-transform: uppercase;
                color         : $DarkYellow;
            }
        }

        .expCart {
            margin-top: 5%;

            span {
                font-size     : 18px;
                text-transform: uppercase;
                color         : $stlightblue;
                margin-top    : 24px;
            }
        }

        .cartCard {
            @include container;
            padding      : 18px 0;
            border-bottom: thin solid #666;
            position     : relative;

            strong {
                font-size: 16px;
            }

            .cartImg {
                // @include gallery(5);
                float       : left;
                margin-right: 12px;
                width       : 86px;

                img {
                    height: 100px;
                }
            }

            .cartText {
                line-height: 120%;
                padding    : 5% 20% 0 25%;
                // @include gallery(5);
            }

            .removeItem {
                cursor  : pointer;
                position: absolute;
                right   : 5%;
                bottom  : 40%;

                img {
                    width: 24px;
                }
            }
        }
    }

    .summaryReport {
        display   : none;
        @extend .sectionArea;
        padding   : 5%;
        margin-top: 0;
        @include breakpoint($d_medium) {
            padding   : 0;
            margin-top: 32px;
        }

        h3 {
            line-height: 120%;
            font-size  : 24px;
        }

        .revise {
            cursor       : pointer;
            margin-bottom: 20px;

            img {
                width       : 24px;
                float       : left;
                margin-right: 5px;
            }

            span {
                color    : #999999;
                font-size: 18px;
            }
        }

        .threeIcons {
            @include container(900px);
            text-align   : center;
            margin-bottom: 24px;

            span {
                font-family: $font-Curator-Bold;
                font-size  : 18px;
                @include breakpoint($d_medium) {
                    font-size: 28px;
                }
            }

            .symbol {
                float : left;
                margin: 15% 7%;
                @include breakpoint($d_medium) {
                    margin: 100px 50px 0;
                }

                img {
                    width: 12px;
                    @include breakpoint($d_medium) {
                        width: 17px;
                    }
                }

                #equalSign {
                    width: 17px;
                    @include breakpoint($d_medium) {
                        width: 27px;
                    }
                }
            }

            .firstIcon {
                float: left;
                width: 20%;
                @include breakpoint($d_medium) {
                    width : auto;
                    height: 187px;
                }

                img {
                    width: 120px;
                    @include breakpoint($d_medium) {
                        margin-bottom: 14px;
                    }
                }

                span {
                    color: $DarkYellow;
                }
            }

            .secIcon {
                float: left;
                width: 20%;
                @include breakpoint($d_medium) {
                    width : auto;
                    height: 187px;
                }

                img {
                    width     : 137px;
                    margin-top: 24%;
                    @include breakpoint($d_medium) {
                        margin-top   : 14%;
                        margin-bottom: 14px;
                    }
                }

                span {
                    color: $DarkBlue;
                }
            }

            .thirdIcon {
                float: left;
                width: 20%;
                @include breakpoint($d_medium) {
                    width : auto;
                    height: 187px;
                }

                img {
                    width     : 65%;
                    margin-top: 50%;
                    @include breakpoint($d_medium) {
                        width        : 64px;
                        margin-top   : 90%;
                        margin-bottom: 10px;
                    }
                }

                span {
                    color: $busprimary;
                }
            }
        }
        // .revSummary {
        //     border-bottom: 1px solid #CCCCCC;
        // }
        hr {
            border: 1px solid #CCCCCC;
            margin: 24px auto;
        }

        .revTitle {
            color : $DarkYellow;
            margin: 24px auto;
        }

        .expTitle {
            color : $DarkBlue;
            margin: 24px auto;
        }

        .summaryItem {
            @include container(900px);
            margin-bottom: 48px;

            .summaryImg {
                // @include span(3);
                float        : left;
                margin-right : 24px;
                margin-bottom: 5%;
                width        : 86px;

                img {
                    height: 100px;
                }
            }

            .summaryText {
                margin-left: 110px;
                // padding-right: 20%;
                line-height: 120%;
                @include breakpoint($d_medium) {
                    padding-right: 20%;
                    margin-left  : 0;
                }

                p {
                    margin-top: 10px;
                }
            }
        }

        .summaryExplain {
            @include container(700px);
            padding         : 25px;
            background-color: #ffffff;
            color           : #999;
            margin-bottom   : 50px;
        }

        .threeButtons {
            @include container(200px);
            position  : absolute;
            z-index   : 10;
            margin-top: 15px;
            left      : 0;
            right     : 0;
            // margin-left: 27%;
            @include breakpoint($d_medium) {
                margin-top : 0;
                margin-left: 46%;
                bottom     : 8%;
            }

            .shareSection {
                text-align: center;
                @include container(100px);

                .shareRfb {
                    cursor: pointer;
                    float : right;

                    img {
                        width: 50px;
                    }
                }

                .shareRtw {
                    cursor: pointer;
                    // float : left;
                    img {
                        width: 50px;
                    }
                }
            }

            .showRec {
                @include container(140px);
                background-color: $stlightblue;
                color           : #ffffff;
                text-align      : center;
                // width           : 140px;
                padding         : 8px;
                cursor          : pointer;
                margin-bottom   : 12px;
                font-size       : 15px;
                @include breakpoint($d_medium) {
                    margin-bottom: 19px;
                }
            }
        }

        .receipt {
            display             : none;
            width               : 100%;
            padding             : 5% 3%;
            background-color    : #ffffff;
            z-index             : 100;
            border-style        : solid;
            border-width        : 0 0 10px;
            background-clip     : padding-box;
            -webkit-border-image: url("../images/icons/receipt-edge-repeat copy.png") 50 13 10 repeat;
            /* Safari 3.1-5 */
            -o-border-image     : url("../images/icons/receipt-edge-repeat copy.png") 50 13 10 repeat;
            /* Opera 11-12.1 */
            border-image        : url("../images/icons/receipt-edge-repeat copy.png") 50 13 10 repeat;
            @include breakpoint($d_medium) {
                padding : 3%;
                position: absolute;
                width   : 450px;
                right   : 20px;
                bottom  : 80px;
            }

            .title {
                text-align: center;

                p {
                    margin-bottom: 0;
                }
            }

            .twoLine {
                border-bottom: thin solid $black;
                border-top   : thin solid $black;
                height       : 5px;
                margin       : 5% auto;
            }

            .receipt_exp {
                margin-top: 3%;
            }

            .receipt_title {
                .receipt_list_title {
                    @include span(13);
                }

                .receipt_org_value {
                    text-align: right;
                }
            }

            .list_text {
                @include span(10);
                margin-left: 5%;
            }

            .subTotal {
                border-bottom: thin solid $greydark;
                border-top   : thin solid $greydark;

                .subTotal_title {
                    @include span(13);
                }

                .subTotal_value {
                    text-align: right;
                }
            }

            .GrandTotal {
                margin-top: 3%;

                .GTotal_title {
                    @include span(13);
                }

                .GTotal_value,
                .finalword {
                    color     : $busprimary;
                    text-align: right;
                }
            }
        }

        .receiptBorder {
            width            : 100%;
            height           : 2px;
            background-repeat: repeat;
            background       : url("../images/icons/receipt-edge-repeat.png");
        }

        .BigImage {
            img {
                width        : 100%;
                margin-bottom: -1px;
            }
        }

        .underBigImage {
            // height          : 200px;
            background-color: #BAC4C6;
            position        : relative;
            // margin-bottom   : 20px;
            @include breakpoint($d_medium) {
                height: 100px;
                // margin-bottom: auto;
            }
        }
    }

    .infoClose {
        float  : right;
        cursor : pointer;
        z-index: 1500px;

        img {
            width: 10px;
        }
    }
}
