//main colours
$stblue                 : #0C2B57;
$stlightblue            : #5A9DDC;
$DarkBlue               : #4885B7;
$red                    : #EF4123;
$yellow                 : #FFD400;
$DarkYellow             : #DBB205;
$screen                 : #EFF3F4;
$black                  : #333; //neutrals
$grey                   : #999999;
$greydark               : #C0CAC9;
$greylight              : #E6EAE9;
$blueneutral            : #98A9D5;
$menudark               : #DDEAF2;
$menubg                 : #F2F7FA; //sections
//singapore
$sinprimary             : #56C8CE;
$sintext                : #36B4BB;
$sinscreen              : #F1F9FB; //business
$busprimary             : #68A94D;
$bustext                : #68A94D;
$busscreen              : #EFF2EB; //lifestyle
$lifprimary             : #96AAF2;
$liftext                : #8799D9;
$lifscreen              : #F2F4F8; //sport
$spoprimary             : #24A299;
$spotext                : #24A299;
$sposcreen              : #EBFAF6; //world and asia
$worprimary             : #29ABE2;
$wortext                : #13A2DF;
$worscreen              : #E9F6FC; //others
$orange                 : #E08523;
$pink                   : #942170;
$purple                 : #664B9A; //fonts serif
$font-SelaneMinTen      : 'Selane MinTen', serif;
$font-Thirty            : 'Selane Thirty', serif;
$font-SelaneTen         : 'Selane Ten', serif; //fonts san serif
$font-Curator-Regular   : 'Curator Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-Curator-Bold      : 'Curator Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-digit             : 'Digit Regular','Curator Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$padding_left_paragraph : 67px;
$padding_right_paragraph: 85px;
$d_small                : 420px;
$d_medium               : 768px;
$d_normal               : 992px;
$d_large                : 1200px;
$images_dir             : "../images/";
$susy                   : (container:$d_large, columns: 16, gutter:5px, output:isolate );
