html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  -webkit-text-size-adjust: 100%;
  position: relative;
  min-height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: "Curator Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #B3B3B3;
}
@media (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 26px;
  }
}

h1 {
  font-family: "Selane MinTen", serif;
  font-size: 2.5rem;
  line-height: 100%;
}
@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 100%;
  margin: 0px 0 0 0;
  color: #EFF3F4;
}

h3 {
  font-size: 1.8rem;
  line-height: 60%;
  color: #EFF3F4;
}

a {
  text-decoration: none;
  color: #5a9ddc;
}
a:hover {
  color: #467aa5;
}

p {
  margin-bottom: 1.125em;
}

strong {
  font-family: "Curator Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button {
  cursor: pointer;
}

li {
  margin-bottom: 1.125em;
}

label {
  color: #333;
}

svg {
  font-family: "Curator Regular", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.st-content-graphic {
  width: 100%;
}

.st-image-responsive {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  vertical-align: middle;
}

.st-image-fit-content {
  width: 100%;
  height: 100%;
}

.st-image-fit-content-50 {
  width: 100%;
  height: 100%;
  float: left;
  margin: 20px 5px;
}
@media (min-width: 520px) {
  .st-image-fit-content-50 {
    width: 45%;
  }
}

.transform-border-hairline {
  border-bottom: 1px dotted #b1b2b4;
  max-width: 1200px;
  padding: 20px 0;
}

.transform-border-hairline2 {
  border-bottom: 1px dotted #b1b2b4;
  max-width: 1200px;
}

.mouseover_tooltip_subtitle:hover:after,
.mouseover_tooltip_subtitle:focus:after {
  background: #5A9DDC;
  color: #fff;
  content: attr(title-show);
  padding: 5px 15px;
  position: fixed;
  z-index: 98;
  font-family: "Curator Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.75em;
  margin-top: 21px;
  margin-left: -27px;
  line-height: 1.2em;
}

.mouseover_tooltip_subtitle:hover:before,
.mouseover_tooltip_subtitle:focus:before {
  border: solid;
  border-color: #5A9DDC transparent;
  border-width: 0 15px 12px 0;
  content: "";
  position: fixed;
  margin-top: 10px;
  margin-left: 5px;
  z-index: 99;
}

.go-next-chapter {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}
.go-next-chapter:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
.go-next-chapter a {
  display: block;
}

.credits-section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: #666;
  font-family: "Curator Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin-top: 70px;
  padding: 20px 15px 30px 15px;
  border-top: dotted #ccc 1px;
  box-sizing: border-box;
}
.credits-section:after {
  content: " ";
  display: block;
  clear: both;
}
.credits-section .credits-label {
  font-family: "Curator Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn_shared_face,
.btn_shared_twitter {
  cursor: pointer;
}

.content-iframe-svg {
  position: relative;
}
.content-iframe-svg svg,
.content-iframe-svg iframe {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
.content-iframe-svg iframe {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg-lines-parraf {
  // background-image: url(/images/stripe_fdb.png);
  margin-top: 20px !important;
}

.st-content-header-subtitle {
  background-color: #0C2B57;
}
.st-content-header-subtitle .header-subtitle {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
}
.st-content-header-subtitle .header-subtitle:after {
  content: " ";
  display: block;
  clear: both;
}
.st-content-header-subtitle .header-subtitle div {
  font-family: "Curator Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.9375em;
  color: #5E5411;
  line-height: 1.5;
}
.st-content-header-subtitle .header-subtitle h2 {
  font-family: "Selane MinTen", serif;
  font-size: 2.3em;
  color: #fff;
  line-height: 1;
}
@media (min-width: 768px) {
  .st-content-header-subtitle .header-subtitle h2 {
    font-size: 3em;
  }
}
.st-content-header-subtitle .header-subtitle p {
  color: #74869F;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .st-content-header-subtitle .header-subtitle {
    padding-top: 20px;
    padding-left: 67px;
    padding-right: 85px;
    padding-bottom: 20px;
  }
}

article section .content-columns:first-of-type {
  padding-top: 60px;
}
article section .content-columns:last-of-type {
  padding-bottom: 80px;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-columns2 {
  padding: 0 15px;
  font-family: "Curator Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 17px;
  line-height: 1.6;
  box-sizing: border-box;
  background-color: #eff3f4;
}
@media (min-width: 768px) {
  .content-columns2 .column-parraf-left {
    float: left;
    width: 70%;
    margin-right: -100%;
  }
  .content-columns2 .column-parraf-left .text-parraf {
    padding-right: 45px;
  }
}

.content-columns-fluid {
  margin-right: 15px;
  margin-left: 15px;
}

.content-columns {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  font-family: "Selane Ten", serif;
  color: #333;
  font-size: 17px;
  line-height: 1.6;
  box-sizing: border-box;
}
.content-columns:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 768px) {
  .content-columns .column-parraf-left {
    float: left;
    width: 70%;
    margin-right: -100%;
  }
  .content-columns .column-parraf-left .text-parraf {
    padding-left: 52px;
    padding-right: 45px;
  }
  .content-columns .column-parraf-left .text-parraf p {
    font-family: "Selane Ten", serif;
    font-size: 1.2em;
    line-height: 1.6em;
    color: #333;
    margin-bottom: 1.125em;
  }
  .content-columns .column-parraf-left .text-parraf p span {
    color: blue;
    font-style: italic;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .content-columns .column-parraf-left .text-parraf p {
    font-size: 1.2em;
  }
}
@media (min-width: 768px) {
  .content-columns .column-parraf-left .text-parraf p:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .content-columns .column-parraf-right {
    float: left;
    width: 30%;
    margin-left: 70%;
    font-family: "Curator Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}
.content-columns .photo-small-caption-bottom {
  background-color: #5CDBC5;
  font-family: "Curator Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  line-height: 1.6;
  max-width: 414px;
  margin: 0 auto;
}
.content-columns .photo-small-caption-bottom figcaption {
  padding: 15px;
  font-size: 15px;
}
@media (min-width: 768px) {
  .content-columns .photo-small-caption-bottom {
    margin: 15px;
  }
}
.content-columns .photo-medium-caption-right {
  font-family: "Curator Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  background-color: #EFF3F4;
  margin-top: 20px;
  margin-bottom: 20px;
}
.content-columns .photo-medium-caption-right:before, .content-columns .photo-medium-caption-right:after {
  content: " ";
  display: table;
}
.content-columns .photo-medium-caption-right:after {
  clear: both;
}
@media (min-width: 768px) {
  .content-columns .photo-medium-caption-right img {
    width: 70%;
    float: left;
  }
}
.content-columns .photo-medium-caption-right figcaption {
  font-family: "Curator Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 15px;
  padding: 15px;
  box-sizing: border-box;
  line-height: 1.6;
}
@media (min-width: 768px) {
  .content-columns .photo-medium-caption-right figcaption {
    width: 30%;
    float: right;
  }
}
@media (min-width: 768px) {
  .content-columns .photo-medium-caption-right {
    margin: 50px;
  }
}
.content-columns .blockquote {
  max-width: 350px;
  font-family: "Curator Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin: 50px auto 50px auto;
  color: #333;
  quotes: "\201C" "\201D";
  position: relative;
}
.content-columns .blockquote .content-blockquote {
  padding-top: 40px;
  /* padding-right: 40px */
  max-width: 320px;
  margin: 0 auto;
}
.content-columns .blockquote .content-blockquote cite > span:first-child {
  margin-top: 15px;
  opacity: 0.8;
  display: inline-block;
}
.content-columns .blockquote .content-blockquote cite div {
  font-family: "Curator Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8125em;
  font-weight: lighter;
  font-style: normal;
  padding-top: 7px;
  text-align: left;
  line-height: 1.2em;
}
.content-columns .blockquote .content-blockquote .line-quote {
  height: 2px;
  margin-top: 10px;
  background-color: #ffd100;
}
.content-columns .blockquote:before {
  position: absolute;
  content: open-quote;
  color: #ffd100;
  font-style: normal;
  font-size: 200px;
  line-height: 0.45;
  left: 35px;
  font-family: "Selane Thirty", serif;
  height: 80px;
}

.header-divided {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 15px 30px 15px;
  text-align: center;
}
.header-divided:after {
  content: " ";
  display: block;
  clear: both;
}
.header-divided h1 {
  font-size: 45px;
  line-height: 45px;
  margin: 0 auto;
  color: #333;
  font-family: "Selane MinTen", serif;
}
@media (min-width: 768px) {
  .header-divided h1 {
    font-size: 75px;
    line-height: 75px;
  }
}
@media (min-width: 420px) {
  .header-divided .f_header {
    width: 62.02532%;
    float: left;
    margin-left: 0;
    margin-right: -100%;
  }
}
@media (min-width: 768px) {
  .header-divided .f_header {
    width: 74.68354%;
    float: left;
    margin-left: 0;
    margin-right: -100%;
  }
}
.header-divided .s_header {
  background-color: #eff3f4;
  padding: 10px;
}
@media (min-width: 420px) {
  .header-divided .s_header {
    width: 36.70886%;
    float: left;
    margin-left: 63.29114%;
    margin-right: -100%;
  }
}
@media (min-width: 768px) {
  .header-divided .s_header {
    width: 24.05063%;
    float: left;
    margin-left: 75.94937%;
    margin-right: -100%;
  }
}

footer.st-content-footer {
  background-color: #0c2b57;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer.st-content-footer .st-footer {
  padding: 15px;
  font-size: 13px;
  font-weight: normal;
  font-family: "Curator Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #bbc2c7;
  margin-bottom: 0;
  line-height: 1.5;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
footer.st-content-footer .st-footer:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 768px) {
  footer.st-content-footer .st-footer {
    padding: 20px;
  }
}

section.content-fb-comments {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  padding: 15px;
  margin-bottom: 0 !important;
}
section.content-fb-comments:after {
  content: " ";
  display: block;
  clear: both;
}
section.content-fb-comments .fb-comments span:first-child {
  width: 100% !important;
}
section.content-fb-comments .fb-comments span:first-child iframe {
  width: 100% !important;
}

.sp-caption-container {
  margin: 0 auto;
  background-color: #EFF3F4;
  width: 100%;
}
.sp-caption-container .bg_caption {
  font-family: "Curator Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 0.9375em;
  padding: 15px;
  color: #333;
  line-height: 1.4;
  text-align: left;
  width: 90%;
  margin: 0 auto;
}
.sp-caption-container .bg_caption p {
  margin: 0;
}
@media (min-width: 784px) {
  .sp-caption-container .bg_caption {
    width: auto;
    padding: 15px;
  }
}

.sp-layer {
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 307px;
  top: inherit !important;
  left: 15px !important;
  bottom: 10%;
  display: none;
  padding: 15px;
}
.sp-layer .st-layer-image {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  cursor: pointer;
}
.sp-layer .st-layer-image img {
  width: 60px;
  height: 60px;
  min-width: 60px;
}
.sp-layer .st-layer-image audio {
  display: none;
}
.sp-layer .st-layer-text {
  font-family: "Curator Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  vertical-align: middle;
  display: table-cell;
  color: #fff;
  line-height: 1.3em;
  font-size: 15px;
  padding-left: 10px;
}
@media (min-width: 520px) {
  .sp-layer {
    display: table;
  }
}

.sp-buttons .sp-button {
  border: 1px solid #fff;
}
.sp-buttons .sp-selected-button {
  background-color: #5A9DDC;
}
@media (min-width: 783px) {
  .sp-buttons {
    position: absolute;
    top: 70%;
  }
}
@media (min-width: 1200px) {
  .sp-buttons {
    top: 75%;
  }
}

.opacity1 {
  opacity: 1;
}

.opacity7 {
  opacity: 0.7;
}

.window-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}
.window-modal .content-window-modal {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  max-height: 510px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.window-modal .content-window-modal:after {
  content: " ";
  display: block;
  clear: both;
}
.window-modal .content-window-modal .clearfix-btn-close:before, .window-modal .content-window-modal .clearfix-btn-close:after {
  content: " ";
  display: table;
}
.window-modal .content-window-modal .clearfix-btn-close:after {
  clear: both;
}
.window-modal .content-window-modal .clearfix-btn-close .btn-modal-close {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  display: block;
  cursor: pointer;
  right: 0;
}

.modal-window-open {
  z-index: 9999999999;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}
.modal-window-open:before, .modal-window-open:after {
  content: " ";
  display: table;
}
.modal-window-open:after {
  clear: both;
}

.caption-bottom {
  color: #333;
  font-size: 15px;
  padding: 15px;
  box-sizing: border-box;
  line-height: 1.4;
  background-color: #EFF3F4;
}

.st-margin-20 {
  margin: 20px 0px 20px 0px;
}

.body-window-modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 48px;
  bottom: 48px;
}
.body-window-modal:before, .body-window-modal:after {
  content: " ";
  display: table;
}
.body-window-modal:after {
  clear: both;
}
.body-window-modal .column-content-modal {
  height: 100%;
  box-sizing: border-box;
}
.body-window-modal .column-content-modal iframe {
  margin: 0 auto !important;
}

.z-index-1 {
  z-index: -1;
}

.none {
  display: none !important;
}

/*modal css*/
.hidden-important {
  overflow: hidden !important;
}

.scroll-content-quote {
  position: relative;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

.st-content-menu {
  background-color: #0C2B57;
  max-height: 40px;
  height: 40px;
}
.st-content-menu .st-content-menu-fixed {
  background-color: #0C2B57;
  left: 0;
  right: 0;
  padding: 0 5px;
  -moz-transition: box-shadow 0.5s ease-out;
  -o-transition: box-shadow 0.5s ease-out;
  -webkit-transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px;
  left: 0;
  right: 0;
  z-index: 99999;
}
.st-content-menu .st-content-menu-fixed .navbar {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.st-content-menu .st-content-menu-fixed .navbar:after {
  content: " ";
  display: block;
  clear: both;
}
.st-content-menu .st-content-menu-fixed .navbar .st-logo {
  display: block;
  width: 17.72152%;
  float: left;
  margin-left: 0;
  margin-right: -100%;
}
.st-content-menu .st-content-menu-fixed .navbar .st-logo figure {
  max-width: 40px;
}
@media (min-width: 420px) {
  .st-content-menu .st-content-menu-fixed .navbar .st-logo {
    width: 36.70886%;
    float: left;
    margin-left: 0;
    margin-right: -100%;
  }
  .st-content-menu .st-content-menu-fixed .navbar .st-logo figure {
    max-width: 240px;
  }
}
@media (min-width: 768px) {
  .st-content-menu .st-content-menu-fixed .navbar .st-logo {
    width: 30.37975%;
    float: left;
    margin-left: 0;
    margin-right: -100%;
  }
}
.st-content-menu .st-content-menu-fixed .navbar ul {
  display: none;
}
.st-content-menu .st-content-menu-fixed .navbar ul li {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
}
.st-content-menu .st-content-menu-fixed .navbar ul li a {
  font-family: "Curator Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
  color: #74869F;
  padding: 0 5px;
  line-height: 1.4;
}
@media (min-width: 800px) {
  .st-content-menu .st-content-menu-fixed .navbar ul li a {
    padding: 0 7px;
  }
}
@media (min-width: 900px) {
  .st-content-menu .st-content-menu-fixed .navbar ul li a {
    padding: 0 15px;
  }
}
.st-content-menu .st-content-menu-fixed .navbar ul li a.current {
  color: #FFFFFF;
  cursor: default;
}
@media (min-width: 768px) {
  .st-content-menu .st-content-menu-fixed .navbar ul {
    display: table;
    height: 50px;
    position: absolute;
    right: 113px;
  }
}
.st-content-menu .st-content-menu-fixed .navbar .st-social-desktop {
  width: 75px;
  float: right;
  margin-right: 0;
}
.st-content-menu .st-content-menu-fixed .navbar .st-social-desktop img {
  cursor: pointer;
  width: 49.36709%;
  float: left;
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.st-content-menu .st-content-menu-fixed .navbar .st-social-desktop img:nth-child(2n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
.st-content-menu .st-content-menu-fixed .navbar .st-social-desktop img:nth-child(2n + 2) {
  margin-left: 50.63291%;
  margin-right: -100%;
  clear: none;
}
.st-content-menu .st-content-menu-fixed .navbar .st-social-desktop img:hover {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
@media (min-width: 768px) {
  .st-content-menu .st-content-menu-fixed .navbar .st-social-desktop {
    display: block;
    width: 103px;
    float: right;
    margin-right: 0;
  }
  .st-content-menu .st-content-menu-fixed .navbar .st-social-desktop img {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-right: -4px;
    max-width: 50px;
  }
}
.st-content-menu .st-button-menu-mobile {
  position: fixed;
  right: 5px;
  top: 5px;
  z-index: 99999;
  cursor: pointer;
  line-height: 1;
}
@media (min-width: 768px) {
  .st-content-menu .st-button-menu-mobile {
    display: none;
  }
}
.st-content-menu img {
  width: 100%;
  height: 40px;
  max-height: 40px;
  min-height: 40px;
}
@media (min-width: 768px) {
  .st-content-menu img {
    max-height: 50px;
    min-height: 50px;
    height: 50px;
  }
}
@media (min-width: 768px) {
  .st-content-menu {
    height: 50px;
    max-height: 50px;
  }
}

.modal-menu-mobile {
  background-color: #eee;
  position: fixed;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  -webkit-overflow-scrolling: 'touch';
  opacity: 0;
  pointer-events: none;
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
@media (min-width: 768px) {
  .modal-menu-mobile {
    display: none;
  }
}

.st-content-shared-social {
  padding: 2px 5px;
  background-color: #0c2b57;
  position: absolute;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
}
.st-content-shared-social:before, .st-content-shared-social:after {
  content: " ";
  display: table;
}
.st-content-shared-social:after {
  clear: both;
}
.st-content-shared-social .st-social-mobile {
  text-align: right;
}
.st-content-shared-social .st-social-mobile img {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.st-content-shared-social .st-social-mobile img:hover {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.st-content-menu-fixed.st_dialogIsOpen {
  position: fixed;
}

.st-content-detail-menu-mobile {
  padding: 13px;
  box-sizing: border-box;
  padding-bottom: 50px;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.st-content-detail-menu-mobile .detail-menu-mobile {
  font-family: "Curator Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}
.st-content-detail-menu-mobile .detail-menu-mobile .transform-border-hairline {
  margin: 5px 0;
}
.st-content-detail-menu-mobile .detail-menu-mobile .transform-border-hairline2 {
  margin: 5px 0;
}
.st-content-detail-menu-mobile .detail-menu-mobile .title-menu-mobile:before, .st-content-detail-menu-mobile .detail-menu-mobile .title-menu-mobile:after {
  content: " ";
  display: table;
}
.st-content-detail-menu-mobile .detail-menu-mobile .title-menu-mobile:after {
  clear: both;
}
.st-content-detail-menu-mobile .detail-menu-mobile .title-menu-mobile img {
  width: 24px;
}
.st-content-detail-menu-mobile .detail-menu-mobile .title-menu-mobile div {
  float: left;
}
.st-content-detail-menu-mobile .detail-menu-mobile .title-menu-mobile div:first-child {
  margin-top: 7px;
  margin-right: 50px;
}
.st-content-detail-menu-mobile .detail-menu-mobile .title-menu-mobile div:nth-child(2) {
  cursor: pointer;
}
.st-content-detail-menu-mobile .detail-menu-mobile .title-menu-mobile .st-title-arrow {
  float: right;
  margin-top: 7px;
}
.st-content-detail-menu-mobile .detail-menu-mobile .title-menu-mobile a {
  color: #999;
  cursor: pointer;
}
.st-content-detail-menu-mobile .detail-menu-mobile .title-menu-mobile a:hover {
  color: #999;
}
.st-content-detail-menu-mobile .detail-menu-mobile .selected-menu a,
.st-content-detail-menu-mobile .detail-menu-mobile .selected-menu a:hover {
  color: #333;
}
.st-content-detail-menu-mobile .detail-menu-mobile .content-subtitle-menu .subtitle-menu-mobile {
  padding-left: 74px;
  line-height: 1.5;
  padding-top: 8px;
  padding-bottom: 8px;
}
.st-content-detail-menu-mobile .detail-menu-mobile .content-subtitle-menu .subtitle-menu-mobile a {
  cursor: pointer;
  text-decoration: none;
  color: #999;
}
.st-content-detail-menu-mobile .detail-menu-mobile .content-subtitle-menu .subtitle-menu-mobile:first-child a {
  color: #333;
}

.st_dialogIsOpen {
  opacity: 1;
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  pointer-events: auto;
  z-index: 9999;
}

.li_menu_desktop {
  display: none;
  line-height: 30px;
  padding: 5px 10px;
}
.li_menu_desktop:before, .li_menu_desktop:after {
  content: " ";
  display: table;
}
.li_menu_desktop:after {
  clear: both;
}
.li_menu_desktop .text_chapter {
  float: left;
  width: 28%;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: "Curator Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.li_menu_desktop .st_option_menu_desktop {
  height: 100%;
  color: #333;
  float: left;
  width: 12%;
}
.li_menu_desktop .st_option_menu_desktop .title_menu_desktop {
  font-size: 13px;
  font-family: "Curator Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  cursor: pointer;
  color: #333;
  border-radius: 50%;
  background-color: #fff;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  font-size: 16px;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}
.li_menu_desktop .tag_select_menu .title_menu_desktop {
  font-size: 13px;
  font-family: "Curator Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  cursor: pointer;
  color: #fff;
  border-radius: 50%;
  background-color: #ffd100;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  font-size: 16px;
  -moz-transition: background-color 0.5s ease-in;
  -o-transition: background-color 0.5s ease-in;
  -webkit-transition: background-color 0.5s ease-in;
  transition: background-color 0.5s ease-in;
}
@media (min-width: 768px) {
  .li_menu_desktop {
    display: block;
    margin-top: 5px;
    width: 36.70886%;
    float: left;
    margin-left: 50.63291%;
    margin-right: -100%;
  }
}
@media (min-width: 1200px) {
  .li_menu_desktop {
    width: 30.37975%;
    float: left;
    margin-left: 56.96203%;
    margin-right: -100%;
  }
}

.st-header-page:before, .st-header-page:after {
  content: " ";
  display: table;
}
.st-header-page:after {
  clear: both;
}
.st-header-page .st-header-title {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.st-header-page .st-header-title:after {
  content: " ";
  display: block;
  clear: both;
}
.st-header-page .st-header-title h1 {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  color: #333;
  text-align: center;
  font-family: "Selane MinTen", serif;
  font-size: 3em;
  line-height: 1.2;
}
.st-header-page .st-header-title h1:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 420px) {
  .st-header-page .st-header-title h1 {
    font-size: 2.8em;
  }
}
@media (min-width: 768px) {
  .st-header-page .st-header-title h1 {
    font-size: 4.3em;
  }
}
.st-header-page .st-header-strap {
  font-family: "Selane Ten", serif;
  font-size: 1.3em;
  line-height: 1.6;
  color: #333;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.st-header-page .st-header-strap:after {
  content: " ";
  display: block;
  clear: both;
}
.st-header-page .st-header-strap p {
  font-family: "Selane Ten", serif;
  color: #333;
  text-align: center;
  margin: 0;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .st-header-page .st-header-strap {
    font-size: 1.3em;
  }
}
.st-header-page .time {
  font-family: "Curator Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #666;
  padding: 15px;
  text-align: center;
  margin-bottom: 30px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.st-header-page .time:after {
  content: " ";
  display: block;
  clear: both;
}

.content-graphic {
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  padding-top: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.content-graphic:after {
  content: " ";
  display: block;
  clear: both;
}
.content-graphic p {
  color: #333;
  list-style-type: disc;
  display: list-item;
}
.content-graphic a {
  font-family: "Curator Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2D96B2;
}

#content-sub-menu-fixed {
  margin: 0 auto;
  text-align: center;
  padding: 10px 15px;
  background: #fff;
  z-index: 9;
  padding-bottom: 30px;
  width: 100% !important;
}
#content-sub-menu-fixed .wrap-margin {
  margin-left: -2px;
  margin-right: -2px;
}
@media (min-width: 768px) {
  #content-sub-menu-fixed .wrap-margin {
    margin-left: -15px;
    margin-right: -15px;
  }
}
#content-sub-menu-fixed figure {
  display: inline-block;
  color: #333;
  padding-left: 2px;
  padding-right: 2px;
  box-sizing: border-box;
  width: 16.666666667%;
  margin-right: -4px;
  max-width: 80px;
  vertical-align: top;
  cursor: pointer;
  opacity: 0.5;
  margin-bottom: 10px;
}
#content-sub-menu-fixed figure figcaption {
  line-height: 1.5;
  display: none;
}
@media (min-width: 480px) {
  #content-sub-menu-fixed figure figcaption {
    display: block;
  }
}
#content-sub-menu-fixed figure:hover {
  opacity: 1;
}
@media (min-width: 768px) {
  #content-sub-menu-fixed figure {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 110px;
  }
}
#content-sub-menu-fixed .active-sub-menu {
  opacity: 1;
}
#content-sub-menu-fixed .active-sub-menu figcaption {
  font-family: "Curator Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#content-sub-menu-fixed .text-subtitle-mobile {
  display: block;
  text-align: center;
  line-height: 1.5;
  color: #333;
  font-family: "Curator Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding-top: 5px;
}
@media (min-width: 480px) {
  #content-sub-menu-fixed .text-subtitle-mobile {
    display: none;
  }
}

.st-content-banner {
  width: 100%;
  height: 250px;
  // background-image: url("/images/background-1900x950.jpg");
  background-position: 50% 50%;
  background-size: cover;
}
.st-content-banner .st-banner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%;
}
.st-content-banner .st-banner:after {
  content: " ";
  display: block;
  clear: both;
}
.st-content-banner .st-content-logo-budget {
  text-align: center;
}
.st-content-banner .st-content-logo-budget img {
  display: inline-block;
  margin-top: 40px;
}
.st-content-banner .st-content-logo-budget a {
  display: block;
}

.st-desktop, .st-medium {
  display: none;
}

@media (min-width: 420px) {
  .st-mobile {
    display: none;
  }

  .st-medium {
    display: block;
  }
}
@media (min-width: 768px) {
  .st-medium {
    display: none;
  }

  .st-desktop {
    display: block;
  }
}
.text-parraf .st-btn-read-more {
  background: #ecf0f1 !important;
  color: #333 !important;
  width: 153.902px !important;
  height: 41.41px !important;
  vertical-align: middle;
  font-family: "Curator Regular", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 15px;
  line-height: 43px;
  text-align: center;
  display: block;
  margin-top: 1.125em;
  border-radius: 0 !important;
  box-sizing: border-box;
  padding: 0;
}
.text-parraf .st-btn-read-more:hover {
  transition: background-color 0.5s;
  background: #CFDBDE !important;
}
.text-parraf p {
  list-style-type: none;
}

.st-header-page .st-header-title {
  padding-top: 68px;
}
.st-header-page .st-header-title h1 {
  font-size: 4em;
}
.st-header-page .st-header-title .headline-appear {
  opacity: 0;
  transition: all .5s;
}
.st-header-page .st-header-title .headline-appear.appear {
  opacity: 1;
}
.st-header-page .st-header-strap {
  padding-top: 6px;
  font-size: 1em;
}
.st-header-page .st-header-strap p {
  font-size: 1.1em;
  line-height: 1.6;
}
.st-header-page .time {
  padding-top: 10px;
  margin-bottom: 55px;
}

.content-key-battles > div {
  width: 100%;
  max-width: 650px;
  margin: 30px auto;
}
.content-key-battles > div h4 {
  font-size: 18px;
  font-family: "Curator Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
}
.content-key-battles > div .battle-division {
  min-height: 20px;
  margin: 12px 0 20px;
  background-color: #EFF3F4;
}
.content-key-battles > div .battle-division .head {
  height: 84px;
  padding: 30px;
  position: relative;
}
.content-key-battles > div .battle-division .head > div {
  display: inline-block;
  line-height: 84px;
}
.content-key-battles > div .battle-division .head > div:nth-of-type(3) {
  float: right;
}
.content-key-battles > div .battle-division .head > div .head-icon, .content-key-battles > div .battle-division .head > div .head-icon-name {
  display: inline-block;
}
.content-key-battles > div .battle-division .head > div .head-icon {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 84px;
  height: 84px;
  vertical-align: top;
}
.content-key-battles > div .battle-division .head > div .head-icon-name, .content-key-battles > div .battle-division .head > div.head-versus {
  font-size: 17px;
  color: #333333;
  font-family: "Curator Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  vertical-align: middle;
  line-height: normal;
  margin: 0 20px;
  width: 80px;
}
.content-key-battles > div .battle-division .head > div.head-versus {
  position: absolute;
  margin: 0 auto;
  top: 63px;
  left: 0;
  right: 0;
  width: 0;
}
.content-key-battles > div .battle-division .head > div .-right {
  float: right;
}
.content-key-battles > div .battle-division .body {
  padding: 10px 30px 30px;
}
.content-key-battles > div .battle-division .body .map {
  float: left;
}
.content-key-battles > div .battle-division .body .map .map-img {
  width: 218px;
  height: 168px;
}
.content-key-battles > div .battle-division .body .des {
  font-family: "Curator Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  min-height: 168px;
  line-height: 24px;
  color: #333333;
  margin-left: 238px;
}

.content-key-statistics > div {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  margin-top: 30px;
}
.content-key-statistics > div h4 {
  font-size: 18px;
  font-family: "Curator Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
}
.content-key-statistics > div .battle-statistics {
  min-height: 20px;
}
.content-key-statistics > div .battle-statistics > p {
  font-family: "Curator Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #333333;
  margin: 25px 0 0;
}
.content-key-statistics > div .battle-statistics .statistics-match .match-each {
  display: table-cell;
}
.content-key-statistics > div .battle-statistics .statistics-match .match-each .logo {
  float: left;
  width: 58%;
  display: table;
}
.content-key-statistics > div .battle-statistics .statistics-match .match-each .logo .logo-img {
  width: 100%;
  display: table-cell;
}
.content-key-statistics > div .battle-statistics .statistics-match .match-each .des {
  font-family: "Curator Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  min-height: 251.3px;
  color: #333333;
  display: table;
}
@media (min-width: 768px) {
  .content-key-statistics > div .battle-statistics .statistics-match .match-each .des {
    margin-top: 80px;
  }
}
.content-key-statistics > div .battle-statistics .statistics-match .match-each .des p {
  display: table-cell;
}
.content-key-statistics > div .battle-statistics .hr-mobile {
  display: none;
}

.content-note > div {
  clear: both;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  margin: 43px auto 80px;
}
.content-note > div .see-prev-btn {
  display: none;
  background: #EFF3F4;
  padding: 18px;
  font-family: "Curator Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #333333;
}
.content-note > div .see-prev-btn:hover {
  transition: background-color .5s;
  background: #CFDBDE;
}
.content-note > div .hr-desktop {
  margin: 58px 0 15px;
  height: 1px;
  border: 0;
  border-bottom: 1px dotted #999999;
}
.content-note > div > p {
  font-family: "Curator Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 21px;
  color: #333333;
  margin-bottom: 0;
  text-align: left;
}
.content-note > div > p > strong {
  font-family: "Curator Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content-svg-rd-1, .content-svg-rd-2, .content-svg-rd-3 {
  margin: 0 auto;
  max-width: 450px;
}

section.content-fb-comments {
  padding-top: 0;
  padding-bottom: 50px;
}

@media (max-width: 767px) {
  .st-social-desktop .st-image-responsive {
    display: inline-block;
    float: right;
  }

  .st-header-page .st-header-title {
    padding-top: 35px;
    padding-bottom: 10px;
  }
  .st-header-page .st-header-title h1 {
    font-size: 2.8em;
  }
  .st-header-page .st-header-strap {
    padding-bottom: 10px;
  }
  .st-header-page .st-header-strap p {
    font-size: 1.1em;
    line-height: 1.6;
  }

  .content-key-battles > div h4 {
    margin-left: 8px;
  }
  .content-key-battles > div .battle-division {
    position: relative;
  }
  .content-key-battles > div .battle-division .head {
    position: relative;
    padding: 20px 8px;
    height: 100%;
  }
  .content-key-battles > div .battle-division .head > div .head-icon, .content-key-battles > div .battle-division .head > div .head-icon-name {
    display: block;
    text-align: center;
  }
  .content-key-battles > div .battle-division .head > div .head-icon-name {
    margin: 15px auto 0;
    font-size: 15px;
  }
  .content-key-battles > div .battle-division .head > div:nth-of-type(3) .head-icon {
    position: absolute;
    top: 20px;
    right: 8px;
  }
  .content-key-battles > div .battle-division .head > div:nth-of-type(3) .head-icon-name {
    margin-top: 99px;
  }
  .content-key-battles > div .battle-division .body {
    clear: both;
    // padding: 0;
    padding: 10px 30px 30px;
    text-align: center;
    // max-height: 0;
    transition: all .5s ease-out;
    overflow: hidden;
  }
  .content-key-battles > div .battle-division .body .map, .content-key-battles > div .battle-division .body .des {
    display: block;
  }
  .content-key-battles > div .battle-division .body .map {
    margin-left: 50px;
    margin-right: 50px;
    float: none;
  }
  .content-key-battles > div .battle-division .body .map .map-img {
    width: 100%;
    height: auto;
  }
  .content-key-battles > div .battle-division .body .des {
    margin: 18px 8px 0;
    clear: both;
    text-align: left;
    min-height: inherit;
  }
  .content-key-battles > div .battle-division .accordion-arrow {
    position: absolute;
    bottom: 9px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    // background: url("/images/arrow-accordion-down-23x23px.svg") no-repeat;
    background-size: cover;
    background-position: 50%;
    width: 23px;
    height: 23px;
  }
  .content-key-battles > div .battle-division.clicked .accordion-arrow {
    // background: url("/images/arrow-accordion-up-23x23px.svg") no-repeat;
  }
  .content-key-battles > div .battle-division.clicked .body {
    max-height: 700px;
    padding: 0 0 50px;
    transition: all .5s ease-in;
  }

  .content-key-statistics > div {
    margin-top: 50px;
  }
  .content-key-statistics > div h4 {
    margin: 0 8px;
    padding-bottom: 10px;
  }
  .content-key-statistics > div .battle-statistics > p {
    margin: 20px 8px 10px;
  }
  .content-key-statistics > div .battle-statistics .statistics-match .match-each .logo, .content-key-statistics > div .battle-statistics .statistics-match .match-each .des {
    display: block;
    clear: both;
    margin-left: 8px;
    margin-right: 8px;
  }
  .content-key-statistics > div .battle-statistics .statistics-match .match-each .logo {
    width: auto;
  }
  .content-key-statistics > div .battle-statistics .statistics-match .match-each .des {
    min-height: auto;
    margin-bottom: 20px;
  }
  .content-key-statistics > div .battle-statistics .hr-mobile {
    display: block;
    margin-left: 8px;
    margin-right: 8px;
    border-bottom: 1px dotted #999999;
    height: 1px;
  }

  .content-note > div {
    margin-top: 78px;
    margin-bottom: 60px;
  }
  .content-note > div .for-desktop {
    display: none;
  }
  .content-note > div .hr-desktop {
    display: none;
  }
  .content-note > div p {
    margin-left: 8px;
    margin-right: 8px;
  }
  .content-note > div p:first-of-type {
    margin-top: 78px;
  }

  section.content-fb-comments {
    padding-bottom: 30px;
  }
}


.st-content-banner {
    width: 100%;
    // background: #2596b4;
    height: 100px;
    // background-image: url("../images/olympics/bg-image.jpg");
    background-position: 50% 50%;
    background-size: cover;
    .st-banner {
        @include container($d_large);
        position: relative;
        height: 100%;
    }
    .st-content-logo-budget {
        position: absolute;
        bottom: 10px;
        left: 10px;
        right: 10px;
        // text-align: center;
        img {
            display: inline-block;
        }
        a {
            display: block;
        }
    }
}
.st-content-hero {
    // background-image: url("../images/olympics/bg.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    position: relative;
    overflow: hidden;
    .bg-header-hero {
        background-image: url("/images/background-1900x950-2.jpg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .st-header-hero-video {
        // @include container(1200px);
        // padding-left: 10px;
        // padding-right: 10px;
        .st-content-athlete {
            position: absolute;
            bottom: 10%;
            left: 10px;
            max-width: 1200px;
            right: 10px;
            margin: 0 auto;
            text-align: center;
            @include breakpoint($d_medium) {
                position: absolute;
                bottom: 10%;
                left: 10px;
                right: 10px;
                margin: 0 auto;
            }
            .athlete-m {
                max-width: 650px;
                // background: rgba(0,0,0,0.1);
                padding: 10px 5px;
                margin: 0 auto;
                h1 {
                    padding-bottom: 10px;
                    line-height: 1.2;
                    color: #fff;
                    -moz-text-shadow: 0 0 12px rgba(27, 76, 112, 0.9);
                    -webkit-text-shadow: 0 0 12px rgba(27, 76, 112, 0.9);
                    text-shadow: 0 0 12px rgba(27, 76, 112, 0.9);
                    text-rendering: optimizeLegibility;
                    -webkit-font-smoothing: antialiased;


                        font-size: 45px;
                        line-height: 45px;
                        margin: 0 auto;
                        color: #fff;
                        font-family: $font-SelaneMinTen;
                        @media (min-width: $d_medium) {
                            font-size: 75px;
                            line-height: 75px;

                    }
                }
                time {
                    color: #fff;
                    -moz-text-shadow: 0 0 12px rgba(27, 76, 112, 0.9);
                    -webkit-text-shadow: 0 0 12px rgba(27, 76, 112, 0.9);
                    text-shadow: 0 0 12px rgba(27, 76, 112, 0.9);
                    text-rendering: optimizeLegibility;
                    -webkit-font-smoothing: antialiased;
                    font-family: $font-Curator-Regular;
                    font-size: 14px;
                }
                .st-deck {
                    @include container;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin-top: 35px;
                    margin-bottom: 55px;
                    box-sizing: border-box;
                    p {
                        color: #fff;
                        font-family: $font-SelaneTen;
                        font-size: 28px;
                        text-align: center;
                        line-height: 1.5;
                        -moz-text-shadow: 0 0 12px rgba(27, 76, 112, 0.9);
                        -webkit-text-shadow: 0 0 12px rgba(27, 76, 112, 0.9);
                        text-shadow: 0 0 12px rgba(27, 76, 112, 0.9);
                        text-rendering: optimizeLegibility;
                        -webkit-font-smoothing: antialiased;
                        @include container(600px);
                        margin-top: 15px;
                    }
                }
            }
            // img {
            //     position: absolute;
            //     bottom: 0;
            //     right: 0;
            //     height: 80%;
            // }
            figcaption {
                position: absolute;
                top: 50%;
                max-width: 320px;
                transform: translateY(-50%);
                color: #fff;
                margin: 0 auto;
                right: 10px;
                left: 10px;
            }
        }
        video {
            min-height: 100%;
            min-width: 100%;
            position: absolute;
            right: 50%;
            bottom: 50%;
            @include transform(translate(50%, 50%));
        }

    }
}
.st-content-strap {
    @include container;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 35px;
    margin-bottom: 55px;
    box-sizing: border-box;
    p {
        color: #333;
        font-family: $font-SelaneMinTen;
        font-size: 28px;
        text-align: center;
        line-height: 1.5;
        @include container(600px);
        margin-top: 15px;
    }
}
.content-row-down {
    z-index: 999;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-family: $font-Curator-Regular;
    font-weight: normal;
    color: #fff;
    cursor: pointer;
    pointer-events: none;
    line-height: 1;
    svg {
        pointer-events: all;
        max-width: 137px;
        max-height: 60px;
    }
}
