.node {
  font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #bbb;
}
.node:hover {
  fill: #000;
}
.link {
  stroke: steelblue;
  stroke-opacity: 0.4;
  fill: none;
  pointer-events: none;
}
.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}
.node--source {
  fill: #2ca02c;
}
.node--target {
  fill: #d62728;
}
.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
}
.link--source {
  stroke: #d62728;
}
.link--target {
  stroke: #2ca02c;
}

// .graphic-container{
//   position: relative;
//   width: 100%;
//   height: 0;
//   padding: 0;
//   padding-bottom: 100%;
//
//   svg{
//     position: absolute;
//     height: 100%;
//     width: 100%;
//     left:0;
//     top:0;
//   }
// }
