#hand_space {
  position: relative;

  svg {
    pointer-events: none;
    position      : absolute;
    margin        : auto;
    left          : 0;
    right         : 0;
    top           : 10%;
    @include breakpoint($d_medium) {
      top: 80%;
    }
  }
}


.oholder:hover {background-color: $greydark;} 
#obesity_img {
  width: 600px;
}

h2 {
  font-size  : 20px;
  line-height: 100%;
  margin     : 0;
  color      : #333;
  line-height: 1.2;
}

.st-content-header-subtitle-blue {
  background-color: $menudark;
  padding         : 40px;
  text-align      : center;
  color           : #333;
  font-family     : $font-SelaneTen;
}

.st-content-header-subtitle-blue .header-subtitle {
  max-width         : 1200px;
  margin-left       : auto;
  margin-right      : auto;
  -webkit-box-sizing: border-box(border-box);
  box-sizing        : border-box(border-box);
  padding           : 5px 15px;
}

.st-content-header-subtitle-blue .header-subtitle:after {
  content: " ";
  display: block;
  clear  : both;
}

.st-content-header-subtitle-blue .header-subtitle div {
  font-family: $font-Curator-Regular;
  font-size  : 0.9375em;
  color      : #FFF;
  line-height: 1.5;
}

.subtitle {
  max-width: 600px;
  padding  : 0;
  margin   : auto;
}

.st-byline {
  font-family: $font-Curator-Regular;
  font-size  : 13px;
  margin-top : 20px;
}

.container-article {
  max-width   : 1200px;
  margin-left : auto;
  margin-right: auto;
  color       : #333;
  font-family : $font-Curator-Regular;
}

.qn_title {
  font-size  : 18px;
  font-family: $font-Curator-Bold;
  margin     : 10px 0 45px;
  font-weight: bold;
}

.question-content {
  max-width   : 850px;
  margin-left : auto;
  margin-right: auto;
  padding     : 45px 0;
  border-top  : dotted #ccc 1px;
}

.question-content:nth-child(1) {
  max-width   : 850px;
  margin-left : auto;
  margin-right: auto;
  padding     : 45px 0;
  border      : none;
}

.question {
  max-width  : 900px;
  margin     : 0 auto;
  line-height: 1.25;
  padding    : 0 20px;
}

.holder {
  display: -webkit-flex;
  display: flex;
}

.holder-2 {
  display: inline-block;
}

.holder-2 .oholder-2 {
  padding   : 10px 60px 10px 20px;
  background: $screen;
  margin    : 0 0 10px;
  position  : relative;
}

.question-content .question .qn {
  padding-bottom: 20px;
}

.question-content .question .oholder {
  width     : 30.20339%;
  /* float: left; */
  background: $screen;
  padding   : 8px;
  position  : relative;
  cursor    : pointer;
}

.question-content .question .holder-ans {
  font-weight: bold;
  padding-top: 20px;
}

.question-content .question .holder-exp {
  background: #EFF3F4;
  padding   : 20px;
  margin-top: 20px;
}

.question-content .question .oholder .oholder-img {
  padding   : 15px;
  text-align: center;
}

.question-content .question .oholder .oholder-text {
  padding: 0 15px 15px;
}

.question-content .question .oholder .oholder-text p {
  margin-bottom: 10px;
}

.question-content .question .oholder:nth-child(3n+3) {
  margin-left: 15px;
  /*margin-right: 15px;*/
}

.question-content .question .oholder:nth-child(3n+2) {
  margin-left : 15px;
  margin-right: 0;
}

.ans_img {
  height           : 20px;
  width            : 22px;
  position         : absolute;
  background-repeat: no-repeat;
  bottom           : 5%;
  right            : 5%;
background-size: cover;
}

.correct_img {
  background-image: url("../../images/obesity/true.png");
}

.wrong_img {
  background-image: url("../../images/obesity/false.png");
}

.obesity-image-responsive {
  display       : block;
  max-width     : 40%;
  margin        : 0 auto;
  height        : auto;
  vertical-align: middle;
}
@media (max-width:767px) {
  .holder {
    display: inline;
  }

  .question-content .question .oholder {
    width        : 95%;
    cursor       : default;
    background   : $screen;
    padding      : 8px;
    margin-bottom: 20px;
  }

  .question-content .question .oholder:nth-child(3n+3) {
    margin-left: 0;
    /*margin-right: 15px;*/
  }

  .question-content .question .oholder:nth-child(3n+2) {
    margin-left : 0;
    margin-right: 0;
  }
    .question-content .question .oholder .oholder-text {
     font-size: 1.2em;
        line-height: 1.25;
    }
}
