<template>
<article class="st-article">
  <text-intro></text-intro>
  <section v-for="(el, count) in article" :class="'chapter-'+(count+1)">
    <component :class="'row'+'-'+(count+1)+'-'+(key+1)" v-for="(item, key) in el.chapter" v-bind:is="item.type" :key="item.type+'-'+count+'-'+key" :attributes="item.value" :division="count" ></component>
  </section>
  <!-- START CREDITS -->
  <st-credits></st-credits>
  <!--END CREDITS-->
  <st-next-chapter></st-next-chapter>
  <!-- <section v-if="!isMobile()" class="content-fb-comments"> -->
  <section class="content-fb-comments">
    <div class="fb-comments" :data-href="url()" data-width="100%" data-numposts="5" data-colorscheme="light">
    </div>
  </section>
</article>
</template>

<script>
import {
  mapState
} from 'vuex';

import StContentFullwidth from "./st-column-content-fullwidth.vue";
import StContent from "./st-column-content.vue";
import modules from "modulesProject";

var components = {
  "container-fullwidth": StContentFullwidth,
  container: StContent,
};

for (var stmodule in modules.block) {
  components[stmodule] = modules.block[stmodule].default;
}


export default {
  computed: mapState(['article']),
  methods: {
    url: function() {
      return window.location.href
    },
    isMobile:function(){
      return isMobile;
    }
  },
  components: components
}
</script>
