<template>
<header role="banner" class="st-content-menu">
  <nav class="st-content-menu-fixed">
    <div class="navbar">
      <figure class="st-logo" itemprop="associatedMedia image" itemscope itemtype="http://schema.org/ImageObject" data-component="image">
        <a href="http://www.straitstimes.com/" target="_blank">
            <img id="short_logo" src="~images/st-logo.svg" class="st-image-responsive" alt="Straitstimes logo" title="Straitstimes logo" />
            <img id="long_logo" src="~images/straits-times-logo.svg" class="st-image-responsive" alt="Straitstimes logo" title="Straitstimes logo" />
          </a>
      </figure>
      <ul>
        <!-- <li v-for="item in menu">
            <a :href="item.href" :title="item.title" :alt="item.title" :class="getClasses(item.current)">{{item.name}}</a>
          </li> -->
        <!-- <li v-for="item in menu">
          <router-link :title="item.title" :to="item.href">{{item.name}}</router-link>
        </li> -->
        <li v-for="item in menu">
          <a v-if="item.module==='no'" :href="item.href" :title="item.title" :alt="item.title">{{item.name}}</a>
          <router-link v-if="item.module!=='no'" :title="item.title" :to="item.href">{{item.name}}</router-link>
        </li>
      </ul>
      <figure class="st-social-desktop" itemprop="associatedMedia image" itemscope itemtype="http://schema.org/ImageObject" data-component="image">
        <img src="~images/st-button-facebook.svg" class="st-image-responsive" alt="st button facebook" title="st button facebook" />
        <img src="~images/st-button-twitter.svg" class="st-image-responsive" alt="st button twitter" title="st button twitter" />
      </figure>
    </div>
  </nav>
  <div class="st-mb">
    <div class="st-button-menu-mobile">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 35 35" enable-background="new 0 0 35 35" xml:space="preserve">
          <circle fill="#0C2B57" stroke="#FFFFFF" stroke-miterlimit="10" cx="18.2" cy="17.6" r="15.5"></circle>
          <line class="first_line" fill="none" stroke="#FFFFFF" stroke-width="1.7" stroke-miterlimit="10" x1="10.5" y1="13.2" x2="26.1" y2="13.2"></line>
          <line class="menu_mobile_line_center" fill="none" stroke="#FFFFFF" stroke-width="1.7" stroke-miterlimit="10" x1="10.5" y1="17.6" x2="26.1" y2="17.6"></line>
          <line class="second_line" fill="none" stroke="#FFFFFF" stroke-width="1.7" stroke-miterlimit="10" x1="10.5" y1="21.9" x2="26.1" y2="21.9"></line>
        </svg>
    </div>
    <div class="modal-menu-mobile">
      <div class="st-content-detail-menu-mobile">
        <div id="wrapper-detail-menu-mobile">
          <div class="body-detail-menu-mobile">
            <div v-for="item in menu" class="detail-menu-mobile">
              <!-- <div :class="getClassesMobile(item.current)">
                  <a :href="item.href" :title="item.title" :alt="item.title">{{item.name}}</a>
                </div> -->
                <!-- <div class="title-menu-mobile">
                  <router-link :title="item.title" :to="item.href">{{item.name}}</router-link>
                </div>   -->
              <div class="title-menu-mobile">
                <a v-if="item.module==='no'" :href="item.href" :title="item.title" :alt="item.title">{{item.name}}</a>
                <router-link v-if="item.module!=='no'" :title="item.title" :to="item.href">{{item.name}}</router-link>
              </div>
              <div class="transform-border-hairline"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="st-content-shared-social">
        <figure class="st-social-mobile" itemprop="associatedMedia image" itemscope itemtype="http://schema.org/ImageObject" data-component="image">
          <img src="~images/st-button-facebook.svg" class="st-image-responsive" alt="st button facebook" title="st button facebook" />
          <img src="~images/st-button-twitter.svg" class="st-image-responsive" alt="st button twitter" title="st button twitter" />
        </figure>
      </div>
    </div>
  </div>
</header>
</template>

<script>
import {
  mapState
} from 'vuex';

import IScroll from "iscroll";

export default {
  computed: mapState(['menu']),
  mounted: function() {
    this.$nextTick(function() {
      var myScroll = new IScroll("#wrapper-detail-menu-mobile", {
        // don't scroll horizontal
        scrollX: false,
        // but do scroll vertical
        scrollY: true,
        // show scrollbars
        scrollbars: true,
        // deactivating -webkit-transform because pin wouldn't work because of a webkit bug: https://code.google.com/p/chromium/issues/detail?id=20574
        // if you dont use pinning, keep "useTransform" set to true, as it is far better in terms of performance.
        useTransform: false,
        // deativate css-transition to force requestAnimationFrame (implicit with probeType 3)
        useTransition: false,
        // set to highest probing level to get scroll events even during momentum and bounce
        // requires inclusion of iscroll-probe.js
        probeType: 3,
        // pass through clicks inside scroll container
        click: true
      });
      window.addEventListener('resize', function() {
        setTimeout(function() {
          myScroll.refresh();
        }, 500);
      });
      window.addEventListener("orientationchange", function() {
        setTimeout(function() {
          myScroll.refresh();
        }, 500);
      });
    });
  },
  methods:{
  }
}
</script>
