.loading-icon {
    background: url("../images/st-loading.gif") no-repeat scroll center center #FFF;
    position  : absolute;
    height    : 100%;
    width     : 100%;
    z-index   : 10000;
}

.fullpage-wrapper {
    width    : 100%!important;
    transform: none!important;
}

.fp-section {
    width     : 100%!important;
    position  : absolute;
    left      : 0;
    top       : 0;
    visibility: hidden;
    opacity   : 0;
    z-index   : 0;
    // transition: all 0.7s ease-in-out;
}

.fp-section.active {
    visibility: visible;
    opacity   : 1;
    z-index   : 1;
}

.st-content-banner {
    display: none;
}

.navbar {
    opacity: 0.7;
}

.textMarginLeft {
    @include breakpoint($d_medium) {
        margin-left: 55% !important;
    }
}
// .modal-menu-mobile {
//     background-color: rgba(51, 51, 51, 0.9);
//     top             : 0;
//     padding-top     : 40px;
//
//     .detail-menu-mobile {
//         font-family  : $font-Sixty;
//         font-size    : 22px;
//         @include gallery(3 of 6);
//         margin-bottom: 12px;
//
//         &:last-of-type {
//             margin-left: 25%;
//         }
//
//         .title-menu-mobile {
//             position   : absolute;
//             margin-left: 12px;
//             margin-top : 12px;
//
//             a {
//                 color: #ffffff !important;
//             }
//         }
//
//         .gridImg {
//             img {
//                 width     : 100%;
//                 max-height: 100%;
//                 min-height: auto;
//             }
//         }
//     }
//
//     .st-content-shared-social {
//         background-color: transparent;
//     }
// }

.st-content-menu .st-content-menu-fixed .navbar ul li {
    padding-top: 5px;

    a {
        padding     : 0;
        margin-right: 40px;
        display     : inline-block;
        color       : #ffffff;
    }
}
// .underlineEffect {
//     content   : '';
//     display   : block;
//     width     : 0;
//     height    : 3px;
//     margin-top: 2px;
//     transition: width 0.3s;
// }

header {
    position: fixed;
    display : block;
    width   : 100%;
    z-index : 9;
    top     : 0;
}

.sounddiv img {
    float      : left;
    margin-left: 45px;
    max-width  : 30px;
    max-height : 30px;
    cursor     : pointer;
    @include breakpoint($d_medium) {
        margin-left: 6%;
        max-width  : 35px;
        max-height : 35px;
        min-height : 35px;
        margin-top : 7px;
    }
}
// @each $animal in 'Otters' 'Civet' 'Macaque' 'Python' 'Pangolin' {
//     #{$animal} {
//         &:after {
//             @extend .underlineEffect;
//             background: $animal;
//         }
//
//         &:hover::after {
//             width: 100%;
//         }
//     }
// }

.bar-long-BG {
    display         : none;
    height          : 5px;
    background-color: #FFFFFF;
    width           : 100%;
    z-index         : 500;
    position        : fixed;
    top             : 0;
    left            : 0;
}

.bar-long {
    height            : 5px;
    width             : 0;
    z-index           : 1000;
    position          : fixed;
    top               : 0;
    left              : 0;
    -webkit-transition: width 1s;
    /* Safari */
    transition        : width 1s;
}

.section {
    background-color   : $stlightblue;
    text-align         : center;
    background-size    : cover;
    background-position: 50% 50%;
    overflow           : hidden;
    padding            : 0 5%;
    @include breakpoint($d_medium) {
        padding: auto;
    }

    .myVideo {
        position           : absolute;
        right              : 0;
        bottom             : 0;
        top                : 0;
        right              : 0;
        width              : 100%;
        height             : 100%;
        background-size    : 100% 100%;
        // background-color   : black;
        /* our video */
        /* in case the video doesn't fit the whole page*/
        // background-image   :;
        background-position: center center;
        background-size    : contain;
        object-fit         : cover;
        /*cover video background */
        z-index            : 3;
    }

    .sectionText {
        display    : none;
        position   : absolute;
        width      : 90%;
        @include container;
        text-align : left;
        top        : 10%;
        // font-size  : 28px;
        font-size  : 22px;
        font-family: $font-Sixty;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
        line-height: 112%;
        z-index    : 3;
        @include breakpoint($d_medium) {
            // font-size: 55px;
            font-size  : 42px;
            width      : 34%;
            margin-left: 55px;
            // top        : 20%;
        }

        a,
        span {
            color: #ffffff;
            // position: absolute;
            // z-index: 3;
            top  : 15%;
            // width  : 90%;
            @include breakpoint($d_medium) {
                // width: 34%;
                top: 20%;
            }
        }

        a:hover {
            opacity: 0.8;
        }
        // .textbottom {
        //     top: 60%;
        //     @include breakpoint($d_medium) {
        //         top: 20%;
        //     }
        // }
        // #spanAns {
        //     top: 40%;
        // }
        .bartop {
            width           : 50px;
            height          : 8px;
            background-color: #ffffff;
            // position        : absolute;
            // top             : 10%;
            // z-index         : 3;
            margin-bottom   : 30px;
            // box-shadow      : 2px 2px rgba(0, 0, 0, 0.3);
            @include breakpoint($d_medium) {
                height: 15px;
                // top   : 15%;
            }
        }
        // .barbottom {
        //     top: 55%;
        //     @include breakpoint($d_medium) {
        //         top: 15%;
        //     }
        // }
        .readmoreBTN {
            @include container(200px);
        }
    }

    .sectionTextbottom {
        bottom: 50px;
        top   : auto;
        @include breakpoint($d_medium) {
            bottom: auto;
            top   : 10%;
        }
    }

    .sectionTextMiddle {
        @include breakpoint($d_medium) {
            top: 30%;
        }
    }
    // #sectionText12 {
    //     font-size: 22px;
    //     @include breakpoint($d_medium) {
    //         font-size: 42px;
    //     }
    // }
    .twitterVideo {
        position: absolute;
        left    : 0;
        top     : 45%;
        @include breakpoint($d_medium) {
            left: 50%;
            top : 150px;
        }

        video {
            width: 90%;
            @include breakpoint($d_medium) {
                width: auto;
            }
        }
    }

    .embededIG {
        display : none;
        position: absolute;
        right   : 20%;
        top     : 50px;
        width   : 330px;
    }

    .photoCredits {
        position : absolute;
        z-index  : 100;
        bottom   : 0;
        left     : 0;
        color    : #ffffff;
        font-size: 16px;
        margin   : 20px 15px;
    }
}

#section1 {
    // background-color: $stblue;
    background-image: url("../images/img/C-xi-trump-M.jpg");
    @include breakpoint($d_medium) {
        background-image: url("../images/img/C-xi-trump-D.jpg");
    }
    // background-image: url("../images/otters/cover_img_otter_M.png");
    // @include breakpoint($d_large) {
    //     background-image: url("../images/otters/cover_img_otter_DX.png");
    // }
    // @media (max-width:1200px) and (min-width:768px) {
    //     background-image: url("../images/otters/cover_img_otter_D.png");
    // }
    // animation       : coverImg 3s ease;
    // @keyframes coverImg {
    //     0% {
    //         -webkit-filter: blur(10px);
    //         filter: blur(10px);
    //         // -webkit-filter: opacity(70%);
    //         // filter: opacity(70%);
    //     }
    //
    //     100% {
    //         -webkit-filter: blur(0);
    //         filter: blur(0);
    //         // -webkit-filter: opacity(100%);
    //         // filter: opacity(100%);
    //     }
    // }
    // .coverText {
    //     display    : none;
    //     @include container;
    //     color      : #ffffff;
    //     z-index    : 1000;
    //     text-align : left;
    //     font-size  : 24px;
    //     font-family: $font-SelaneTen;
    //
    //     img {
    //         width      : 400px;
    //         margin-left: 0;
    //         // margin-left: 10%;
    //     }
    // }
    .content-columns {
        @include container(940px);
        position: relative;
        top     : -120px;
        @include breakpoint($d_medium) {
            top: 15%;
        }

        .main-headline {
            @include container(800px);
            color     : white;
            margin-top: 40px;
            @include breakpoint($d_medium) {
                margin-top: 0;
            }

            h1 {
                font-family: $font-Sixty;
                font-size  : 38px;
                line-height: 45px;
                text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
                @include breakpoint($d_medium) {
                    font-size  : 50px;
                    line-height: 120%;
                }
            }

            .st-deck {
                font-size  : 20px;
                line-height: 1.2;
                font-family: $font-SelaneTen;
                // margin     : 100px 15px 15px;
                text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
                @include breakpoint($d_medium) {
                     @include container(400px);
                    margin     : auto !important;
                    font-family: $font-SelaneTen;
                    font-size  : 20px;
                    line-height: 1.5;
                    // padding    : 15px;
                    padding    : 30px 15px 0;
                    margin     : 0;
                }

                p {
                    padding-top: 15px;
                    @include breakpoint($d_medium) {
                        padding-top: 0;
                    }
                }

                #mobiletext {
                    display: none;
                    @include breakpoint($d_medium) {
                        display: block;
                    }
                }
            }

            .st-byline {
                font-size: 13px;
            }
        }

        .makespaceMobile {
            // height: 145px;
            @include breakpoint($d_medium) {
                height: 0;
            }
        }
    }

    .scrollDown {
        display     : none;
        position    : absolute;
        margin-left : auto;
        margin-right: auto;
        left        : 0;
        right       : 0;
        bottom      : 0;

        img {
            width       : 20px;
            position    : absolute;
            margin-left : auto;
            margin-right: auto;
            left        : 0;
            right       : 0;
            bottom      : 40px;
        }

        p {
            color    : #FFFFFF;
            font-size: 11px;
        }

        #dotDown {
            animation: mover 2s ease infinite;
        }
        @keyframes mover {
            0% {
                transform: translateY(-10px);
                opacity  : 0.5;
            }

            50% {
                transform: translateY(0);
                opacity  : 1;
            }

            100% {
                transform: translateY(-10px);
                opacity  : 0.5;
            }
        }
    }
}

#section2 {
    background-image: url("../images/img/1-meeting-M.jpg");
    @include breakpoint($d_medium) {
        background-image: url("../images/img/1-meeting-D.jpg");
    }
}

#section4 {
    background-image: url("../images/img/4-low-exp-M.jpg");
    @include breakpoint($d_medium) {
        background-image: url("../images/img/4-low-exp-D.jpg");
    }
}

#section5 {
    background-image: url("../images/img/2-wh-M.jpg");
    @include breakpoint($d_medium) {
        background-image: url("../images/img/2-wh-D.jpg");
    }
}

#section9 {
    background-image: url("../images/img/7-no-golf-M.jpg");
    @include breakpoint($d_medium) {
        background-image: url("../images/img/7-no-golf-D.jpg");
    }
}

#section10 {
    background-image: url("../images/img/8-mao-richard-M.png");
    @include breakpoint($d_medium) {
        background-image: url("../images/img/8-mao-richard-D.png");
    }
}

#section12 {
    background-image: url("../images/img/10-jared-kushner-M.jpg");
    @include breakpoint($d_medium) {
        background-image: url("../images/img/10-jared-kushner-D.jpg");
    }
}

#section13 {
    background-image: url("../images/img/11-China-North-Korea-M.jpg");
    @include breakpoint($d_medium) {
        background-image: url("../images/img/11-China-North-Korea-D.jpg");
    }
}

#section14 {
    background-image: url("../images/img/12-trade-M.jpg");
    @include breakpoint($d_medium) {
        background-image: url("../images/img/12-trade-D.jpg");
    }
}

#section15 {
    background-image: url("../images/img/13-currency-M.jpg");
    @include breakpoint($d_medium) {
        background-image: url("../images/img/13-currency-D.jpg");
    }
}

#section16 {
    background-color: #333333;

    .finalContent {
        @include container;
        opacity: 1;
        margin : auto 5%;
        color  : #ffffff;
        @include breakpoint($d_medium) {
            margin: auto;
        }
        // .upperpart {
        //     @include container(500px);
        //     @include breakpoint($d_medium) {
        //         margin-top: 20px;
        //     }
        //     text-align: center;
        //
        //     .backtotopBtn {
        //         @include container(100px);
        //         cursor          : pointer;
        //         padding         : 10px;
        //         background-color: $stlightblue;
        //         margin-bottom   : 22px;
        //         transition      : all 0.3s ease 0s;
        //         @include breakpoint($d_medium) {
        //             margin-bottom: 32px;
        //         }
        //
        //         &:hover {
        //             background-color: #4e661e;
        //         }
        //     }
        //
        //     .likeshare {
        //         p {
        //             margin-bottom: 0;
        //         }
        //     }
        //
        //     .shareIcon {
        //         cursor: pointer;
        //         @include container(100px);
        //
        //         img {
        //             max-width: 50px;
        //             float    : left;
        //         }
        //     }
        // }
        .readST {
            @include container;
            text-align: left;

            .storysec {
                @include span(isolate 100% last);
                margin-bottom: 15px;
                @include breakpoint($d_medium) {
                     @include span(32%);
                }

                .storyimg {
                    img {
                        max-width: 90px;
                        margin   : 0;
                        @include breakpoint($d_medium) {
                            max-width: 100%;
                            margin   : 0 auto;
                        }
                    }
                    float       : left;
                    margin-right: 10px;
                }

                .storytitle {
                    color      : #ffffff;
                    line-height: 120%;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }

        .divider {
            border-top: dotted #ccc 1px;
            margin    : 10px auto;
            opacity   : 0.5;
            @include breakpoint($d_medium) {
                margin: 60px auto;
            }
        }

        .thanksCredits {
            text-align: left;
        }
    }
}

.backtotop {
    position: fixed;
    bottom  : 30px;
    right   : 30px;
    cursor  : pointer;
    @include breakpoint($d_medium) {
        bottom: 50px;
        right : 50px;
    }

    img {
        width : 30px;
        height: 30px;
        @include breakpoint($d_medium) {
            width: 50px;
            width: 50px;
        }
    }
}
