body,
html {
    height: 100%;
    overflow: hidden;

    #wrapper-page {
        overflow-y: auto;
        height: 100%;

        .scrollContent {
            min-height: 100%;
            box-sizing: border-box;
            position: relative;
        }
    }
}
