.content-model {
  .st-stick-model {
    .content-canvas {
      position        : relative;
      background-color: #fff;
      // height: 700px;
      #st-content-model {
        width       : 100%;
        height      : 100%;
        display     : block;
        min-height  : 250px;
        touch-action: none;
        outline     : none;
      }
    }
  }
}

.st-content-menu {
  position: absolute;
  width   : 100%;
  top     : 0;
  z-index : 10;

  .sounddiv img {
    float      : left;
    margin-left: 50px;
    max-width  : 35px;
    max-height : 35px;
    min-height : 35px;
    margin-top : 5px;
    cursor     : pointer;
    @include breakpoint($d_medium) {
      margin-left: 250px;
      // max-width  : 35px;
      // max-height : 35px;
      // min-height : 35px;
      margin-top : 7px;
    }
    @media (max-width: 360px) {
      margin-top : 45px;
      margin-left: 5px;
    }
  }
}

.content-main-body {
  // max-height: 100%;
  width         : 100%;
  z-index       : 2;
  padding-top   : 30px;
  padding-bottom: 20px;
  position      : relative;
}

.center-middle-vertical {
  position : absolute;
  bottom   : 50%;
  transform: translateY(50%);
}

.bg-bottom-main {
  background-color : transparent;
  background-repeat: no-repeat;
  text-align       : center;
  position         : absolute;
  bottom           : 0;
  width            : 100%;
  @include breakpoint($d_medium) {
    background-image: url("/images/city-background.png");
    height          : 174px;
    z-index         : 1;
  };
}
@mixin h2 {
  font-size  : 19px;
  font-family: $font-SelaneTen;
  color      : #333333;
}
@mixin p {
  font-family: $font-Curator-Regular;
  font-size  : 15px;
  line-height: 20px;
  color      : #333333;
}
@mixin mobilespan {
  font-family: $font-Curator-Regular;
  font-size  : 14px;
  line-height: 20px;
  color      : #333333;
}
@mixin mobileh2 {
  font-size  : 18px;
  font-family: $font-SelaneTen;
  color      : #333333;
}

.content-intro-model {
  // background             : url("/images/background-street.jpg") no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size   : cover;
  // -o-background-size     : cover;
  // background-size        : cover;
}
.content-intro-model:before{
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url("/images/background-street.jpg") no-repeat center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#clouds {
  position   : absolute;
  top        : 0;
  width      : 100%;
  overflow   : hidden;
  padding-top: 60px;

  .cloud {
    width                : 200px;
    height               : 60px;
    background           : #f2f2f2;
    border-radius        : 200px;
    -moz-border-radius   : 200px;
    -webkit-border-radius: 200px;
    position             : relative;
  }

  .cloud:after,
  .cloud:before {
    content              : '';
    position             : absolute;
    background           : #f2f2f2;
    width                : 100px;
    height               : 80px;
    position             : absolute;
    top                  : -15px;
    left                 : 10px;
    border-radius        : 100px;
    -moz-border-radius   : 100px;
    -webkit-border-radius: 100px;
    -webkit-transform    : rotate(30deg);
    transform            : rotate(30deg);
    -moz-transform       : rotate(30deg);
  }

  .cloud:after {
    width : 120px;
    height: 120px;
    top   : -55px;
    left  : auto;
    right : 15px;
  }

  .animationX {
    -webkit-animation: moveclouds 25s linear infinite;
    -moz-animation   : moveclouds 25s linear infinite;
    -o-animation     : moveclouds 25s linear infinite;
    opacity          : 0.3;
  }

  .x1 {
    -webkit-transform: scale(0.6);
    -moz-transform   : scale(0.6);
    transform        : scale(0.6);
    opacity          : 0.4;
    /*opacity proportional to the size*/
    @extend .animationX;
  }
  /*variable speed, opacity, and position of clouds for realistic effect*/
  .x2 {
    left             : 200px;
    -webkit-transform: scale(0.7);
    -moz-transform   : scale(0.7);
    transform        : scale(0.7);
    opacity          : 0.5;
    /*opacity proportional to the size*/
    /*Speed will also be proportional to the size and opacity*/
    /*More the speed. Less the time in 's' = seconds*/
    @extend .animationX;
  }

  .x3 {
    left             : -250px;
    top              : -100px;
    -webkit-transform: scale(0.4);
    -moz-transform   : scale(0.4);
    transform        : scale(0.4);
    opacity          : 0.6;
    /*opacity proportional to the size*/
    @extend .animationX;
  }

  .x4 {
    left             : 470px;
    top              : -80px;
    -webkit-transform: scale(0.5);
    -moz-transform   : scale(0.5);
    transform        : scale(0.5);
    opacity          : 0.7;
    /*opacity proportional to the size*/
    @extend .animationX;
  }

  .x5 {
    left             : -150px;
    top              : -150px;
    -webkit-transform: scale(0.4);
    -moz-transform   : scale(0.4);
    transform        : scale(0.4);
    opacity          : 0.75;
    /*opacity proportional to the size*/
    @extend .animationX;
  }
  @include breakpoint($d_medium) {
    padding-top: 70px;
  };
}
//MAIN PAGE

.content-main-body {
  @include container;
}

.transition {
  -webkit-transform: scale(5);
  -moz-transform   : scale(5);
  -o-transform     : scale(5);
  transform        : scale(5);
}

#box {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition   : all 1s ease-in-out;
  -o-transition     : all 1s ease-in-out;
  -ms-transition    : all 1s ease-in-out;
}

.main-headline {
  // padding-top: 40px;
  // padding-bottom: 20px;
  // position: relative;
  .st-title {
    padding-left : 15px;
    padding-right: 15px;
    display      : none;

    h1 {
      font-family: $font-SelaneMinTen;
      font-size  : 2.5rem;
      line-height: 1.3em;
      color      : $black;
      text-align : center;
      padding    : 0.67em 0;
      margin     : 0;
      @include breakpoint($d_medium) {
        font-size: 4.4rem;
        padding  : 10px 0 0.37em;
      }
      // @media (max-width: 360px) {
      //   font-size: 2rem;
      // }
    }

    p {
      font-size  : 1.2rem;
      font-family: $font-SelaneTen;
      color      : $black;
      max-width  : 500px;
      margin     : auto;
      text-align : center;
      @include breakpoint($d_medium) {
        font-size: 1.3rem;
      }
      @media (max-width: 360px) {
        font-size  : 1.1rem;
        line-height: 1.3;
      }
    }

    .st-byline {
      @include container(200px);
      color      : #666;
      margin-top : 30px;
      font-family: $font-Curator-Regular;
    }
  }
  //DRONE IMAGE
  #drone {
    @include breakpoint($d_medium) {
      // left: 33%;
      position: relative;
      // display : none;
      // -webkit-animation: move 3s;
      // animation: move 3s;
    }

    img {
      width : 270px;
      height: 165px;
      @include breakpoint($d_medium) {
        width              : 400px;
        height             : 200px;
        // -webkit-animation  : move 3s;
        // animation          : move 3s;
        left               : 50%;
        transform-origin   : 0;
        -webkit-transform  : rotate(0deg) translateX(-50%);
        -moz-transform     : rotate(0deg) translateX(-50%);
        -o-transform       : rotate(0deg) translateX(-50%);
        -ms-transform      : rotate(0deg) translateX(-50%);
        transform          : rotate(0deg) translateX(-50%);
        -webkit-transition : transform 1s ease-in-out;
        -moz-transition    : transform 1s ease-in-out;
        -o-transition      : transform 1s ease-in-out;
        -ms-transition     : transform 1s ease-in-out;
        transition-duration: 1s;
        position           : absolute;
        // @-webkit-keyframes move {
        //   from {
        //     left: 0;
        //     transform: translateX(0%);
        //   }
        //
        //   to {
        //     left: 50%;
        //     transform: translateX(-50%);
        //   }
        // }
        // @keyframes move {
        //   from {
        //     left     : 0;
        //     transform: translateX(0%);
        //   }
        //
        //   to {
        //     left     : 50%;
        //     transform: translateX(-50%);
        //   }
        // }
        &:hover {
          -webkit-transform: rotate(360deg) translateX(-50%);
          -moz-transform   : rotate(360deg) translateX(-50%);
          -o-transform     : rotate(360deg) translateX(-50%);
          -ms-transform    : rotate(360deg) translateX(-50%);
          transform        : rotate(360deg) translateX(-50%);
        }
      }
    }
  }
  //START MOBILE INTRO PAGE
  .mobilefirst {
    padding-left : 15px;
    padding-right: 15px;
    // padding-bottom: 20px;
    .vr-option {
      // padding-top:15px;
      // padding-bottom: 15px;
      text-align: center;

      p {
        font-family: $font-Curator-Regular;
        font-size  : 16px;
        line-height: 23px;
        color      : #333333;
        margin-top : 10px;
      }

      img {
        width     : 50px;
        height    : 30px;
        margin-top: 10px;
      }
    }

    .yes-no {
      text-align: center;
      margin-top: 20px;
      @include clearfix;
      @include container(400px);
    }

    .answer {
      @include gallery(8);
      // margin-bottom: 10px;
      text-align: center;
    }

    .no,
    .yes {
      cursor          : pointer;
      background-color: #5A9DDC;
      max-width       : 120px;
      line-height     : 20px;
      font-family     : $font-Curator-Regular;
      font-size       : 15px;
      color           : #FFF;
      text-align      : center;
      padding         : 10px 35px;
    }
    // @include breakpoint($d_medium) {
    //   display: none;
    // }
  }
  //END MOBILE INTRO
  //START MOBILE SECOND PAGE
  .mobilesecond {
    display   : none;
    text-align: center;
    margin-top: 50px;

    .steps {
      width : 90px;
      margin: auto;

      img {
        margin-top: 30px;
        width     : 65px;
        height    : 65px;
      }

      span {
        font-family: $font-Curator-Regular;
        font-size  : 14px;
        line-height: 20px;
        color      : #333333;
      }
    }
  }
  //END MOBILE SECOND PAGE
  .textarea {
    padding-right: 10px;
    padding-left : 10px;
    // padding-bottom: 15px;
    @include container(500px);
    // display: none;
    @include breakpoint($d_medium) {
       @include container(500px);
      // display: block;
      text-align: center;
      margin-top: 200px;
    }
  }
  //LEFT TEXT
  .txt1 {
    float       : left;
    width       : 48%;
    margin-right: 10px;
    @include breakpoint(400px) {
       @include span(7 first of 15);
    }
    @include transition(height 1s ease-in);
  }

  .txt2 {
    float: left;
    width: 48%;
    @include breakpoint(400px) {
       @include span(7 last of 15);
    }
    @include transition(height 1s ease-in);
  }

  .text {
    // @include span(7);
    // @include gallery(8);
    // display: none;
    background-color: $screen;
    // width: 40%;
    // margin-bottom: 10px;
    padding         : 13px;
    text-align      : center;
    position        : relative;
    // height          : 166px;
    // height          : 180px;
    @include box-sizing (border-box);
    @media (max-width: 360px) {
      height: 206px;
    }
    // @include breakpoint($d_medium) {
    //   height: 166px;
    // }
    h2 {
      @include mobileh2;
      // margin-bottom: 20px;
    }

    span {
      display: block;
      padding: 20px 0;
      @include mobilespan;
    }
    @include breakpoint($d_medium) {
      padding: 20px;

      span {
        @include p;
      }

      h2 {
        @include h2;
      }
    }
    // @include breakpoint($d_medium) {
    //   width: 160px;
    // }
  }
  //ENTER GUIDED TOUR/FLY THE DRONE
  .enter,
  .play {
    cursor          : pointer;
    background-color: #5A9DDC;
    line-height     : 20px;
    font-family     : $font-Curator-Regular;
    font-size       : 15px;
    color           : #FFF;
    text-align      : center;
    padding         : 10px;
    position        : absolute;
    bottom          : 13px;
    margin          : 0 auto;
    left            : 13px;
    right           : 13px;

    &:hover {
      background-color: darken(#5A9DDC, 20%);
    }
  }
}
// GUIDED TOUR
@-webkit-keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }

  100% {
    margin-left: -1000px;
  }
}
@-moz-keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }

  100% {
    margin-left: -1000px;
  }
}
@-o-keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }

  100% {
    margin-left: -1000px;
  }
}
// .content-instructions {
//   @include breakpoint(max-width 699px) {
//     display: none;
//   };
// }

.content-instructions2 {
  @include breakpoint(700px) {
    display: none;
  }
}

.content-instructions {
  position: absolute;
  top     : 50px;
  z-index : 1;
  @include clearfix;

  .instructions {
    float           : left;
    // white-space: nowrap;
    // @include breakpoint(700px) {
    background-color: #fff;
    width           : 400px;
    padding         : 20px;
    margin-top      : 20px;
    // }
    h2 {
      @include h2;
      min-width    : 400px;
      margin-bottom: 20px;
    }

    p {
      min-width    : 400px;
      margin-bottom: 10px;
      @include p;
    }

    .controls {
      min-width : 400px;
      text-align: center;

      .key {
        display    : inline-block;
        // padding-right: 30px;
        padding-top: 30px;

        span {
          @include p;
        }

        img {
          vertical-align: middle;
        }
        // .key-multi-tag{
        //   display: block;
        //   img,p{
        //     display: inline-block;
        //   }
        // }
      }
    }

    .contentlist {
      img {
        width: 15px;
      }
    }
  }

  .button {
    float     : right;
    cursor    : pointer;
    margin-top: 20px;
  }
  @include breakpoint($d_medium) {
    top: 60px;
  };
}

.dotted-right-border {
  display       : inline-block;
  width         : 1px;
  height        : 80px;
  border-right  : 2px dotted $black;
  border-width  : 1.5px;
  margin        : 0 15px;
  vertical-align: bottom;
}

.separate-span {
  margin: 0 10px;
}

.popup2 {
  width     : 100%;
  height    : 100%;
  position  : fixed;
  top       : 0;
  left      : 0;
  background: rgba(0,0,0,0.5);
  z-index   : 10;

  .popup-inner {
    width            : 300px;
    padding          : 20px;
    position         : absolute;
    top              : 50%;
    left             : 50%;
    -webkit-transform: translate(-50%, -50%);
    transform        : translate(-50%, -50%);
    background       : #fff;

    .closepopup {
      cursor  : pointer;
      position: absolute;
      top     : 20px;
      right   : 20px;
    }

    h2 {
      @include h2;
      margin-bottom: 10px;
    }

    p,
    span {
      @include p;
      margin-bottom: 10px;
    }

    img {
      width: 15px;
    }

    .startbtn {
      cursor     : pointer;
      @include container(40px);
      background : $stlightblue;
      color      : #ffffff;
      padding    : 10px 30px;
      margin-top : 30px;
      font-family: $font-Curator-Regular;
    }
  }
}

.keys {
  margin-top: 30px;

  #flying {
    float: left;
  }

  #ascdesc {
    float: right;
  }
}

.joystick-control-mobile {
  position: absolute;
  bottom  : 0;
  left    : 0;
  width   : 150px;
  height  : 150px;

  .nipple {
    .front {
      background: #081c36 !important;
      opacity   : 0.6 !important;
    }

    .back {
      background: #081c36 !important;
      opacity   : 0 !important;
    }
  }

  .show_area_control {
    .front {
      opacity: 0.9 !important;
    }

    .back {
      opacity: 0.6 !important;
    }
  }
}

.content-buttons-up-down {
  position: absolute;
  right   : 35px;
  bottom  : 10px;

  .button-up {
    position     : relative;
    margin-bottom: 10px;

    .btn-intern {
      &:after {
        border           : solid #fff;
        border-width     : 0 1px 1px 0;
        display          : block;
        padding          : 0;
        content          : " ";
        position         : absolute;
        top              : 5px;
        bottom           : 0;
        right            : 0;
        left             : 0;
        margin           : auto;
        width            : 10px;
        height           : 10px;
        transform        : rotate(-135deg);
        -webkit-transform: rotate(-135deg);
      }
    }
  }

  .button-down {
    position: relative;

    .btn-intern {
      &:after {
        border           : solid #fff;
        border-width     : 0 1px 1px 0;
        display          : block;
        padding          : 0;
        content          : " ";
        position         : absolute;
        top              : 0;
        bottom           : 5px;
        right            : 0;
        left             : 0;
        margin           : auto;
        width            : 10px;
        height           : 10px;
        transform        : rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
  }

  .btn-external {
    width           : 50px;
    height          : 50px;
    border-radius   : 50%;
    background-color: rgba(8,28,54,0.5);
  }

  .btn-intern {
    width           : 35px;
    height          : 35px;
    border-radius   : 50%;
    background-color: rgba(8,28,54,0.5);
    position        : absolute;
    top             : 0;
    bottom          : 0;
    right           : 0;
    left            : 0;
    margin          : auto;
  }
}

#DebugLayer {
  overflow: hidden;
  height  : 100%;
  width   : 100%;
}

#loading-page {
  z-index         : 9999999;
  width           : 100%;
  // height          : auto;
  min-height      : 100%;
  position        : absolute;
  text-align      : center;
  background-color: white;
  overflow        : visible;
  #loading-graphic {
    display  : block;
    position : absolute;
    margin   : 0;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);

    progress {
      width             : 200px;
      height            : 2px;
      margin-bottom     : 10px;
      -webkit-appearance: none;
      -moz-appearance   : none;
      appearance        : none;
    }

    progress[value] {
      color     : #00979d;
      background: #c6c6c6;
    }
    /* IE10 */
    // progress::-webkit-progress-bar-value {
    //   background: #00979d;
    // }
    progress::-webkit-progress-value {
      background: #00979d;
    }

    progress[value]::-webkit-progress-bar {
      background-color: #c6c6c6;
    }

    progress::-moz-progress-value {
      background: #c6c6c6;
    }

    progress[value]::-moz-progress-bar {
      background: #00979d;
    }

    img {
      // width: 300px;
      // height:168.6px;
    }

    p {
      font-family   : $font-Curator-Regular;
      font-size     : 16px;
      color         : #333333;
      letter-spacing: 2px;
      text-align    : center;
      margin-bottom : 10px;
    }

    #loading-num {
      font-family   : $font-Curator-Regular;
      font-weight   : bold;
      display       : block;
      // text-align: center;
    }
  }
}

// .go-to-back{
//   z-index:0;
// }
// .go-to-front{
//   z-index:3;
// }
.bubble-container{
  // z-index: 11;
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  @include breakpoint(max-width $d_medium){
  display:none;
  }
  @include breakpoint(max-width $d_small){
  display:initial;
  }

  // .add-to-home-bubble{
  //   font-family: $font-Curator-Regular;
  //   font-size: 14px;
  //   text-align: center;
  //   width: 150px;
  //   background-color: #F2F2F2;
  //   border: 8px solid #F2F2F2;
  //   box-shadow:0 0 8px #B2B2B2;
  //   border-radius: 3px;
  //   position: fixed;
  //   padding:3px;
  //   color: #4d4d4d;
  //   opacity: 0.8;
  // }
}
.bottom-bubble{
  z-index: 11;
  pointer-events: auto;
  font-family: $font-Curator-Regular;
  font-size: 14px;
  text-align: center;
  width: 150px;
  background-color: $screen;
  border: 8px solid $screen;
  // box-shadow:0 0 8px #B2B2B2;
  // border-radius: 3px;
  position: fixed;
  padding:3px;
  color: #4d4d4d;
  // opacity: 0.8;

  left: 0;
  right: 0;
  bottom:-4%;
  margin: 0 auto;
  margin-bottom: 50px;
}

// .bottom-bubble:before{
//   z-index: 2;
//   content: ' ';
//   position: absolute;
//   opacity: 0.8;
//   width: 0;
//   height: 0;
//   left:63px;
//   top:62px;
//   border: 24px solid;
//   border-width: 10px 10px 0;
//   border-color: #B2B2B2 transparent;
// }
.bottom-bubble:after{
  // z-index: 5;
  content: ' ';
  position: absolute;
  opacity: 0.95;
  width: 0;
  height: 0;
  left:66px;
  top:61px;
  border: 24px solid;
  border-width: 11px 11px 0;
  border-color: $screen transparent;
}

.top-right-bubble{
  z-index: 11;
  pointer-events: auto;
  font-family: $font-Curator-Regular;
  font-size: 14px;
  text-align: center;
  width: 150px;
  background-color: $screen;
  border: 8px solid $screen;
  // box-shadow:0 0 8px #B2B2B2;
  border-radius: 3px;
  position: fixed;
  padding:3px;
  color: #4d4d4d;
  // opacity: 0.8;

  top:0;
  right:0;
  margin: 0 auto;
  margin-right: 5px;
  margin-top: 20px;
}

// .top-right-bubble:before{
//   content: ' ';
//   position: absolute;
//   opacity: 0.95;
//   width: 0;
//   height: 0;
//   left: 136px;
//   top: -18px;
//   border: 25px solid;
//   border-width: 0px 10px 10px;
//   border-color: #B2B2B2 transparent;
// }
.top-right-bubble:after{
  content: ' ';
  position: absolute;
  // opacity: 0.95;
  width: 0;
  height: 0;
  left: 137px;
  top: -19px;
  border: 25px solid;
  border-width: 0px 11px 11px;
  border-color: $screen transparent;
}

#debug-test-anim {
  z-index    : 99999999;
  position   : absolute;
  width      : 200px;
  height     : 30px;
  left       : 20px;
  top        : 7em;
  height     : 20px;
  font-size  : 20px;
  color      : white;
  text-shadow: 2px 2px 0 black;
}
