.overlay {
  width     : 100%;
  height    : 100%;
  position  : fixed;
  top       : 0;
  left      : 0;
  background: rgba(0,0,0,0.5);
  z-index   : 10;

  .first_info {
    top              : 50%;
    left             : 50%;
    -webkit-transform: translate(-50%, -50%);
    transform        : translate(-50%, -50%);
    padding          : 20px;
    background       : #fff;
    width            : 80%;
    position         : relative;
    color            : #333;
    font-family      : $font-Curator-Regular;
    @include breakpoint($d_medium) {
      width: 400px;
    }

    .infotitle {
      font-size    : 22px;
      margin-bottom: 10px;
      margin-left  : 70px;
      font-family  : $font-SelaneTen;
      @include breakpoint($d_medium) {
        margin-bottom: 30px;
        margin-left  : 80px;
      }
    }

    .infolist {
      display      : inline-flex;
      margin-bottom: 10px;
      @include breakpoint($d_medium) {
        margin-bottom: 20px;
      }

      .infoicon {
        img {
          width : 40px;
          height: 40px;
          @include breakpoint($d_medium) {
            width : 60px;
            height: 60px;
          }
        }
      }

      .infonumber {
        font-family : $font-Curator-Bold;
        padding-top : 10px;
        padding-left: 20px;
      }

      .infotext {
        padding-left: 5px;
        padding-top : 10px;
        border-style: solid;
        @include breakpoint($d_medium) {
          border-bottom: thin dotted #666;
        }
      }

      .noborder {
        border: none;
      }
    }

    .gotitbtn {
      @include container(50px);
      cursor          : pointer;
      padding         : 10px 30px;
      background-color: $stlightblue;
      color           : #ffffff;
      @include breakpoint($d_medium) {
        margin-top: 30px;
      }

      &:hover {
        background-color: darken(#5A9DDC, 20%);
      }
    }
  }
}
//<------------Badge on the top------------>

.badgegroup {
  position: absolute;
  top     : 5px;
  right   : 80px;
  @include breakpoint($d_medium) {
    right: 120px;
  }

  .indbadge {
    float       : left;
    margin-right: 5px;
    position    : relative;
    @include breakpoint($d_medium) {
      margin-right: 10px;
    }

    img {
      width     : 30px;
      height    : 30px;
      max-height: 30px;
      min-height: 30px;
      @include breakpoint($d_medium) {
        width     : 40px;
        height    : 40px;
        max-height: 40px;
        min-height: 40px;
      }
    }

    .wrongcross {
      position  : absolute;
      width     : 20px;
      height    : 20px;
      max-height: 20px;
      min-height: 20px;
      bottom    : 5px;
      right     : 2px;
    }
  }
}
//<-----clue page---->

.clueSection {
  width         : 100%;
  height        : 100%;
  position      : fixed;
  top           : 0;
  left          : 0;
  pointer-events: none;

  .content-card-info {
    width            : 300px;
    padding          : 20px;
    position         : absolute;
    top              : 50%;
    left             : 50%;
    -webkit-transform: translate(-50%, -50%);
    transform        : translate(-50%, -50%);
    background       : rgba(255, 255, 255, 0.9);

    .infoimg {
      img {
        width       : 40px;
        height      : 40px;
        float       : left;
        margin-right: 10px;
      }
      @include breakpoint($d_medium) {}

      h1 {
        font-family: $font-Curator-Regular;
        font-size  : 15px;
        color      : #333333;
        float      : left;
      }

      span {
        width      : 300px;
        height     : 40px;
        font-family: $font-Thirty;
        font-size  : 40px;
        color      : #333333;
        float      : left;
      }

      p {
        float      : left;
        font-family: $font-Curator-Regular;
        font-size  : 15px;
        line-height: 20px;
        color      : #333333;
        margin-top : 15px;
      }
    }
  }
}
//<------quiz page------->

.quizSection {
  width   : 100%;
  height  : 100%;
  position: fixed;
  top     : 0;
  left    : 0;

  .content-card-quiz {
    width            : 80%;
    height           : 75%;
    padding          : 20px;
    position         : absolute;
    top              : 55%;
    left             : 50%;
    -webkit-transform: translate(-50%, -50%);
    transform        : translate(-50%, -50%);
    background       : rgba(255, 255, 255, 1);
    @media (max-width: $d_small) {
      height: auto;
    }
    @include breakpoint($d_medium) {
      top   : 50%;
      height: auto;
      width : auto;
    }

    .quizimg {
      display: none;
      @include breakpoint($d_medium) {
        float       : left;
        width       : 30%;
        margin-right: -100%;
        display     : block;
      }

      img {
        width : 330px;
        height: 390px;
      }
    }
    //<-------quiz text on the right side------->
    .quiztext {
      height  : 100%;
      overflow: scroll;
      @include breakpoint($d_medium) {
        float      : left;
        width      : 500px;
        margin-left: 350px;
        overflow   : auto;
      }

      .quiztitle {
        display: inline-flex;

        img {
          width       : 40px;
          height      : 40px;
          margin-right: 10px;
        }

        h1 {
          font-family: $font-Curator-Regular;
          font-size  : 15px;
          color      : #333333;
        }
      }

      hr {
        border    : none;
        border-top: 1px dotted #333333;
        color     : #333333;
        height    : 1px;
        width     : 100%;
      }

      .title {
        display      : none;
        font-family  : $font-Thirty;
        font-size    : 40px;
        color        : #333333;
        margin-bottom: 20px;
        @include breakpoint($d_medium) {
          display: block;
        }
      }

      .quiz_que {
        font-family  : $font-Curator-Bold;
        font-size    : 16px;
        line-height  : 1.2;
        color        : #333333;
        margin-bottom: 10px;
        @include breakpoint($d_medium) {
          margin-bottom: 30px;
          line-height  : 23px;
        }
      }
    }

    .closequiz {
      cursor  : pointer;
      position: absolute;
      top     : 20px;
      right   : 20px;

      img {
        width : 20px;
        height: 20px;
      }
    }
    //<------button------->
    .option {
      padding         : 10px;
      background-color: #EFF3F4;
      font-family     : $font-Curator-Regular;
      font-size       : 16px;
      color           : #333333;
      cursor          : pointer;
      margin-bottom   : 10px;
      width           : 80%;
      @include breakpoint($d_medium) {
        margin-bottom: 20px;
        width        : auto;
      }

      .image {
        display     : none;
        color       : #EFF3F4;
        width       : 15px;
        height      : 15px;
        float       : left;
        padding-top : 1px;
        margin-right: 10px;
      }

      p {
        margin-left: 25px;
      }
    }
    //<------button 1------->
    //<------button 2------->
    .rightAnswer {
      background-color: #368488;
      color           : #ffffff;

      .image {
        display     : block;
        color       : #EFF3F4;
        width       : 15px;
        height      : 15px;
        float       : left;
        padding-top : 1px;
        margin-right: 10px;
      }
    }
    //<------button 3------->
    .wrongAnswer {
      background-color: #EF4123;
      color           : #ffffff;

      .image {
        display     : block;
        color       : #EFF3F4;
        width       : 15px;
        height      : 15px;
        float       : left;
        padding-top : 1px;
        margin-right: 10px;
      }
    }

    #bottomtext {
      font-family: $font-Curator-Bold;
      font-size  : 16px;
      line-height: 23px;
      color      : #333333;
    }

    #bottomtext1 {
      font-family: $font-Curator-Regular;
      font-size  : 16px;
      line-height: 23px;
      color      : #333333;
      display    : inline-block;
    }

    #bottomtext2 {
      display: inline-block;
      margin : 0 10px;

      img {
        width : 30px;
        height: 30px;
      }
    }

    #bottomtext3 {
      font-family: $font-Curator-Bold;
      font-size  : 16px;
      line-height: 23px;
      color      : #333333;
      display    : inline-block;
    }
    //<------after selecting one of the button ------>
    #continue {
      display         : none;
      cursor          : pointer;
      margin-top      : 10px;
      background-color: #EFF3F4;
      font-family     : $font-Curator-Regular;
      font-size       : 16px;
      color           : #333333;
      float           : right;
      padding         : 10px 30px;
    }
  }
}
//<<-----------ending page---------------->

.endingpageoverlay {
  width   : 100%;
  height  : 100%;
  position: fixed;
  top     : 0;
  left    : 0;
  z-index : 1000;

  .endingpage {
    top              : 50%;
    left             : 50%;
    -webkit-transform: translate(-50%, -50%);
    transform        : translate(-50%, -50%);
    padding          : 20px 0;
    background       : #fff;
    position         : relative;
    color            : #333;
    width            : auto;
    @include breakpoint($d_medium) {
      width  : 55%;
      padding: 20px;
    }

    .additionaltext {
      font-family: $font-Curator-Regular;
      font-size  : 14px;
      margin-left: 5%;
      @include breakpoint($d_medium) {
        font-size  : 16px;
        margin-left: 50px;
      }
    }

    .endingbadge {
      text-align: center;

      .badgeicon {
        text-align: center;
        width     : 100px;
        display   : inline-block;
        margin    : 10px 0;
        @include breakpoint($d_medium) {
          width : auto;
          margin: 10px 24px;
        }

        img {
          width : 60px;
          height: 60px;
          @include breakpoint($d_medium) {
            width : 90px;
            height: 90px;
          }
        }

        p {
          font-family: $font-Curator-Regular;
          font-size  : 12px;
          color      : #CACACA;
          @include breakpoint($d_medium) {
            margin-top: 15px;
            font-size : 16px;
          }
        }

        .blackText {
          color: #333;
        }
      }
    }

    .totalscore {
      margin    : 20px 0;
      text-align: center;
      @media (max-height: 360px) {
        margin: 10px 0;
      }

      #score {
        font-family: $font-Curator-Bold;
        font-size  : 22px;
        color      : #333333;
        display    : inline-block;
      }

      .score1 {
        font-family: $font-Curator-Regular;
        font-size  : 15px;
        color      : #333333;
        display    : inline-block;

        b {
          font-size: 22px;
        }
      }
    }

    #endingtext {
      font-family  : $font-Curator-Regular;
      font-size    : 16px;
      color        : #333333;
      text-align   : center;
      margin-bottom: 15px;
      @include breakpoint($d_medium) {
        margin-bottom: 30px;
      }
      @media (max-height: 360px) {
        margin-bottom: 10px;
      }
    }

    .shareimg {
      cursor: pointer;
      @include container(80px);
      @media (max-height: 360px) {
        margin-bottom: 10px;
      }

      .shareimg1 {
        float       : left;
        margin-right: 10px;
      }
    }

    #share {
      text-align : center;
      font-family: $font-Curator-Regular;
      font-size  : 15px;
      color      : #333333;
      font-size  : 15px;
      margin     : 12px 0;
      @include breakpoint($d_medium) {
        margin: 12px 0 30px;
      }
      @media (max-height: 360px) {
        display: none;
      }
    }

    #tryagainbutton {
      cursor          : pointer;
      @include container(100px);
      padding         : 10px 30px;
      background-color: $stlightblue;

      &:hover {
        background-color: darken(#5A9DDC, 20%);
      }

      h3 {
        text-align : center;
        // padding-top: 10px;
        font-family: $font-Curator-Regular;
        font-size  : 14px;
        color      : #ffffff;
      }
    }
  }
}

.effectbadge {
  position: absolute;
  margin  : auto;
  top     : 0;
  bottom  : 0;
  right   : 0;
  left    : 0;
  z-index : 100000;
  width   : 264px;
  height  : 288px;
}

.sping {
  animation: rotate 0.5s linear 1;
}

.spinghard {
  animation: rotate 0.3s linear 3;
}
@-webkit-keyframes rotate {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

.upzindex {
  z-index: 1000;
}
