html {
    -webkit-text-size-adjust: 100%;
}//putting in a comment

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: $font-Curator-Regular;
    font-size: 14px;
    line-height: 24px;
    color: #B3B3B3;
    @media (min-width: $d_medium) {
        font-size: 16px;
        line-height: 26px;
        overflow: auto !important;
        position: relative !important;
    }
}


h2 {
    font-size: 1.5rem;
    line-height: 100%;
    margin: 20px 0 0 0;
    color: $orange;
}

h3 {
    font-size: 1.8rem;
    line-height: 60%;
    color: $orange;
}

h4 {
    font-family: $font-Curator-Bold;
}




a {
    text-decoration: none;
    color: #6C7F99;
    &:hover {
        color: $blue;
    }
}

p {
    margin-bottom: 1.3em;
}

.bg_lines_parraf {
    background-image: url(../images/stripe_fdb.png);
    margin-top: 20px !important;
}

.content_columns {
    @media (min-width: $d_medium) {
        position: relative;
        @include clearfix;



    }

    .column-parraf1 {
    @media (min-width: $d_medium) {
        float: left;
        width: 10%;

    }
}

.column-parraf2 {
    @media (min-width: $d_medium) {
        float: left;
        width: 50%;

    }
}

.column-parraf3 {
    @media (min-width: $d_medium) {
        float: left;
        width: 40%;
    }
}
}



.content_p_right {
    padding-bottom: 1px;
    p {
        font-family: $font-Curator-Regular;
        font-weight: normal;
        font-size: 0.9em;
        line-height: 1.6;
        color: #666;
        padding: 14px;
        margin: 10px;
        background: #fff;
    }
}

// .border_line_vertical{
//   @media (min-width: $d_medium){
//     border-right: 1px solid #999;
//   }
// }
em.start_sub_chapter {
    text-transform: uppercase;
    font-weight: normal;
}

.text-column-right {
    font-family: $font-Curator-Regular;
    font-weight: lighter;
    font-size: 0.9375em;
    color: #999;
    line-height: 1.6em;
    padding: 0px 20px 40px 15px;
    word-wrap: break-word;
    word-break: break-word;
    box-sizing:border-box;
    @media (min-width: $d_medium) {
        bottom: 0;
        padding: 20px;

    }
}

.signature {
    font-family: $font-Curator-Regular;
    font-size: 0.75em;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    padding-top: 7px;
    text-align: left;
    line-height: 1.2em;
}

.image_right_caption_bottom {
    margin-top: 0px;
    margin-left: 1px;
    div {
        padding: 15px;
        p {
            font-family: $font-Curator-Regular;
            font-weight: normal;
            font-size: 0.9em;
            line-height: 1.6;
            color: #666;
            padding: 14px;
            margin: 0;
            background-color: #fff;
        }
    }
    @media (min-width: $d_medium) {
        margin-top: 20px;
    }
}

strong {
    font-weight: bold;
}
