.wrap {
	@include container(1120px);
}

.votingBoxes {
	@include clearfix;
}

// .nom1,
// .nom2,
// .nom3,
// .nom4,
// .nom5 {
// 	@include gallery(6 of 12);
// 	margin-bottom: 10px;
// }

.voteImg {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}

.voteImg img {
	max-width: 100%;
	max-height: 100%;
}

.voteDesc {
	padding: 0 5px 5px 0;
}

.radioVote {
	width: 14%;
	display: inline-block;
}

.textVote {
	width: 86%;
	float: right;
}

#VoteButton {
	width: 150px;
	height: 52px;
	font-size: 16px;
	text-align: center;
	padding: 16px;
	background-color: #5A9DDC;
	color: #fff;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	margin-bottom: 10px;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}

#VoteButton:hover,
:focus {
	text-decoration: none;
	// background-color: #418ED7;
}

#Backbutton {
	width: 150px;
	height: 52px;
	font-size: 16px;
	text-align: center;
	padding: 16px;
	background-color: #5A9DDC;
	color: #fff;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	margin-bottom: 10px;
}

#Backbutton:hover,
:focus {
	text-decoration: none;
	// background-color: #418ED7;
}

.particulars {
	margin-top: 20px;
}

.particulars,
.st_author p {
	text-align: left;
	font-size: 16px;
	margin-top: 40px;
}

.st_form input[type="text"] {
	/* general style for input elements */
	padding: 12px;
	border: none;
	background-color: #EEF2F3;
	min-height: 22px;
	font-size: 16px;
	color: #666666;
	width: 100%;
	outline: none;
}
.st-title {
	margin-top: 10px;
}
.particulars,
.st_form {
	margin-bottom: 40px;
	padding: 0 10px;
}

.fields {
	margin-top: 20px;
	text-transform: uppercase;
	color: #333333;
}

textarea#ans2 {
	background-color: #EEF2F3;
	min-height: 120px;
	padding: 12px;
	font-size: 16px;
	color: #666666;
	width: 100%;
	resize: none;
	border: none;
	outline: none;
}
/* Changing Susy default global settings */
$susy: ( /* Tells Susy to use 3 columns */ columns: 3, /* Tells Susy that the container has a max-width of 1120px */ container: 1120px, /* Tells Susy to use border-box */ global-box-sizing: border-box );
/* Makes border-box properties */
@include border-box-sizing;

a.linkage:hover {
	color: $stblue;
}

.content_g_svg,
textarea#ans7,
textarea#ans8,
textarea#ans9 {
	max-width: 720px;
	margin: 0 auto;
	font-family: $font-Curator-Regular;
	color: #333;
	line-height: 1.7;
	font-size: 15px;
}

time {
	font-family: $font-Curator-Regular;
	font-size: 13px;
	margin-top: 25px;
}
.select2 {
	max-width: 320px !important;
}
.st-mobile {
	display: block;
}

.st-big,
.st-medium {
	display: none;
}

.image-hero {
	display: inline;
	margin-top: 20px;
}
header {
	@include container;
	padding: 20px 15px 0;
	text-align: center;

	h1 {
		font-size: 38px;
		line-height: 45px;
		margin: 0 auto;
		color: #333;
		font-family: $font-SelaneMinTen;
	}

	span {
		color: #EC432E;
	}
}

.st_author,
.st_headline,
.st_strap,
.st_strap_main {
	max-width: 800px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 25px;
	padding-top: 20px;
	color: #333;
}

.st_strap {
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
	padding-top: 20px;
}

.st_strap-bold {
	font-family: $font-Curator-Bold;
	color: #333;
	margin-top: 40px;
	font-size: 17px;
	margin-bottom: 15px;
}

.st_strap-bold-bigger {
	font-family: $font-Curator-Bold;
	color: #333;
	font-size: 19px;
}

.st_strap-bold-light {
	font-family: $font-Curator-Regular;
	color: #333;
	font-size: 16px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.st_strap_main {
	font-family: $font-SelaneTen;
	font-size: 19px;
	// line-height: 25px;
	// line-height: 1.5;
	padding-top: 20px;
	color: #666;
	// margin-bottom: 20px;
	a{
		color:#5A9DDC;
		padding:0 5px;
		&:hover{
			color:#5A9DDC;
		}
		&:focus{
			color:#5A9DDC;
			background: #fff;
		}
	}
}

.st_author {
	font-family: $font-Curator-Regular;
	color: #666;
	// margin-top: 15px;
	font-size: 14px;
	padding-top: 15px;
	line-height: 22px;
}

.st_form_condition {
	font-family: $font-Curator-Regular;
	color: #666;
	margin-top: 15px;
	font-size: 13px;
}

.accordion-toggle {
	cursor: pointer;
	color: #5A9DDC;
}

.accordion-content {
	display: block;
	background-color: #EDF3F9;
	padding: 15px;
	text-align: left;
	margin: 20px;
}

.accordion-content.default {
	display: block;
}

.st_author2 {
	font-family: $font-Curator-Regular;
	color: #666;
	margin-top: 15px;
	font-size: 14px;
	padding-top: 15px;
	line-height: 21px;
	margin: 15px 0 20px 20px;
	@include clearfix;

	.text {
		float: none;
		margin-top: 5px;
	}

	.photo-blog {
		max-width: 150px;
		display: none;
	}
	@media (min-width: $d_medium) {
		.photo-blog {
			display: inline;
			margin-bottom: 30px;
		}
	}
	@media (min-width: $d_small) {
		.text {
			float: left;
			margin-right: 15px;
		}
	}
}

.column-parraf4 {
	display: inline;
	@media (min-width: $d_medium) {
		display: none;
	}
}

.column-parraf3 {
	display: none;
	@media (min-width: $d_medium) {
		display: inline;
	}
}

.st-banner {
	background-color: #070806;
}

.content_parraf {
	padding: 50px 15px 15px;
	max-width: 600px;
	margin: 0 auto;

	p {
		font-family: Georgia, Serif;
		font-size: 1.072em;
		line-height: 1.75em;
		color: #333;
	}
}

.desktop {
	display: none;
	background: #E6E6FA;
}

.choice_hero_on {
	margin-top: 20px;
}
.medium {
	display: block;
	background: #E6E6FA;
}
@media (min-width: $d_small) {
	.fix_video {
		position: fixed;
		top: 50px;
		width: 40%;
		max-width: 440px;
	}

	.st-mobile {
		display: none;
	}

	.st-medium {
		display: block;
	}

	.nom1,
	.nom2,
	.nom3,
	.nom4,
	.nom5 {
		@include gallery(4 of 12);
		margin-bottom: 10px;
	}
}
@media (min-width: $d_medium) {
	.desktop {
		display: block;
	}

	.medium,
	.st-medium {
		display: none;
	}

	.st-big {
		display: block;
	}

	header {
		@include container;
		padding: 20px 15px 0;
		text-align: center;

		h1 {
			font-size: 60px;
			line-height: 72px;
			margin-bottom: 30px;
		}

		.nom1,
		.nom2,
		.nom3,
		.nom4,
		.nom5 {
			@include gallery(4 of 12);
			margin-bottom: 10px;
		}
	}
}

.content_columns {
	@include container;
}

.content_columns_fluid {
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
	width: 100%;
	overflow: hidden;
}

.content_subchapter > div:first-child {
	margin-top: 20px;
}

.content_subchapter > div {
	margin-bottom: 1.625em !important;
}

.content_subchapter {
	width: 100%;
	// max-width: $d_normal;
	background-color: #fff;
	padding-top: 20px;
	@include center_div;

	.strap_header {
		font-family: $font-primary;
		font-size: 1.125em;
		line-height: 1.8753em;
		color: #333;
		padding-left: 15px;
		padding-right: 15px;
		@media (min-width: $d_medium) {
			padding-left: $padding_left_parraf;
			padding-right: $padding_right_parraf;
		}
	}

	.content_columns {
		.text_parraf {
			padding-left: 15px;
			padding-right: 15px;

			p {
				font-family: $font-SelaneTen;
				font-size: 1.2em;
				line-height: 1.6em;
				color: #333;
				@media (min-width: $d_medium) {
					font-size: 1.2em;
				}

				strong {
					font-weight: bold;
				}

				span {
					color: $color_chapter_1;
					font-style: italic;
				}
			}

			p:last-child {
				margin-bottom: 0;
			}

			.manage_cover {
				p {
					margin-bottom: 1.625em;
				}
			}
			@media (min-width: $d_medium) {
				padding-left: $padding_left_parraf;
				padding-right: 45px;
			}
		}
	}
}
input[type="radio"] {
  margin-top: 20px;
	a:hover {
		color: $darkblue;
	}
}

.image_picker_image {
	border-radius: 50%;
}

.newsletter {
	padding-top: 15px;
	padding-bottom: 10px;

	img {
		margin: 0;
	}
}

@-webkit-keyframes filter-in {
  0% {
    // -webkit-filter: grayscale(1);
		// filter: grayscale(1);
		opacity: 0.4;
  }

  50% {
    // -webkit-filter: grayscale(0.5);
		// filter: grayscale(0.5);
		opacity: 0.8;
  }

  100% {
    // -webkit-filter: grayscale(0);
		// filter: grayscale(0);
		opacity: 1;
  }
}

.morelink {
	color: #999999;
  border: 1px solid #999999;
  padding: 6px 8px;
	font-size: 15px;
	:hover {
		color: #999999;
		background-color: #999999;
	}
}

.ticker {
	position: absolute;
	border: transparent;
	margin-left: 82px;
	z-index: 2;
	@media (min-width: $d_medium) {
		margin-left: 100px;
	}
}

ul.thumbnails.image_picker_selector {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin-top: 20px;
	margin-right: 1px;
  margin-left: 10px;
	@media (min-width: $d_medium) {
		// margin-right: 80px;
	  // margin-left: 80px;
	}
	ul {
	    overflow: auto;
	    list-style-image: none;
	    list-style-position: outside;
	    list-style-type: none;
	    padding: 0px;
		}
	li.group_title {
		    float: none;
		}

.label_On {
	max-width: 100px;
	text-align: center;
	font-family: $font-Curator-Regular;
	margin-bottom: 12px;
	@media (min-width: $d_medium) {
		margin-bottom: 20px;
		margin-left: 20px;
		font-size: 14px;
}

}
	li {
			  margin: 14px 13px;
				display: inline-block;
				cursor: pointer;
				@media (min-width: $d_medium) {
					margin: 29px 8px 14px 0px;
				}
				.thumbnail {
				      padding: 3px;
				      -webkit-user-select: none;
				      -moz-user-select: none;
				      -ms-user-select: none;
							img {
											max-width: 104px;
							        -webkit-user-drag: none;
											// -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
								    	// filter: grayscale(100%);
											opacity: 0.4;
											border: 2px solid transparent;
											@media (min-width: $d_medium) {
												max-width: 133px;
											}
									}
							p {
								margin-top: 12px;
						    margin-left: 0;
						    text-align: center;
						    width: 100px;
								@media (min-width: $d_medium) {
							    margin-left: 20px;
								}
							}
						}
				.thumbnail.selected {
									img {
									-webkit-animation: filter-in 0.4s;
									-webkit-filter: none; /* Safari 6.0 - 9.0 */
									opacity: 1;
									filter: none;
									border: 2px solid $blue;
									transition: border-color 1s ease;
								}
					}
		}
}

ul.thumbnails.image_picker_selector li.group {
	width:100%;
}
