.st_content_menu {
    width: 100%;
    height: 40px;
    background-color: #0c2b57;
    .st_content_menu_fixed {
        background-color: #0c2b57;
        padding:0 5px;
        @include transition(box-shadow 0.5s ease-out);
        @include box-shadow(rgba(0,0,0,0.1) 0px 0px 1px);
        @media (min-width: $d_medium) {
            left: 0;
            right: 0;
            position: fixed;
            z-index: 1;
        }
    }
    .shadow_menu{
        @include transition(box-shadow 0.5s ease-out);
        @include box-shadow(rgba(0,0,0,0.1) 0px 5px 5px);
    }
    .st_menu_mobile {
        right: 0;
        position: fixed;
        top: 0;
        padding-top: 4px;
        z-index: 1;
        &:hover {
            cursor: pointer;
        }
        @media (min-width: $d_medium) {
            display: none;
        }
    }
    @media (min-width: $d_small) {
        height: 50px;
    }
}
.st_menu_intern {
    @include container;
    height: 40px;
    @include clearfix;
    .st_glogo {
        text-align: left;
        height: 100%;
        @include span(4 first);
        .st_glogo_small {
            height: 100%;
            display: none;
            @media (min-width: $d_small){
                max-height: 50px;
            }
            @media (min-width: $d_medium) {
                display: block;
            }
            @media (min-width: $d_normal) {
                display: none;
            }
        }
        .st_glogo_large {
            height:auto;
            display:block;
            vertical-align: middle;
            max-height: 40px;
            max-width: 50px;
            margin-left: 0;
            @media (min-width: $d_small) {
                max-height: 50px;
            }
            @media (min-width: $d_medium) {
                display: none;
            }
            @media (min-width: $d_normal) {
                display: block;
                // max-height: 40px;
                max-width: 55px;
                text-align: left;
                margin-left: 0;
            }
        }
        @media (min-width: $d_small) {
            @include span(2 first);
        }
        @media (min-width: $d_medium) {
            @include span(1 first);
        }
        @media (min-width: $d_normal) {
            @include span(1 first);
        }
    }

    .li_menu_desktop {
        display: none;
        line-height: 40px;
        height: 100%;
        margin-top: 10px;
        @include clearfix;
        .text_chapter{
            float: left;
            width: 28%;
            color:#0C2B57;
            text-align: center;
            font-size: 16px;
            padding-right:5px;
        }
        .st_option_menu_desktop {
            // border-left: 1px solid #98A3AA;
            height: 100%;
            color: #333;
            float: left;
            width: 33%;
            position: relative;
            .title_menu_desktop {
                font-size: 13px;
                // line-height: 20px;
                font-family: $font-Curator-Regular;
                text-align: center;
                cursor: pointer;
                // padding: 0 10px 0 10px;
                color: #6C7F99;


                margin: 0 auto;
                font-size: 16px;
                position: absolute;
                right: 0;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                line-height: 30px;
                vertical-align: middle;
            }
        }
        .st_menu_active {
            .title_menu_desktop a{
                font-size: 13px;
                // line-height: 20px;
                font-family: $font-Curator-Regular;
                text-align: center;
                cursor: pointer;
                // padding: 0 10px 0 10px;
                color: #fff !important;



                font-size: 16px;
            }
        }
        @media (min-width: $d_medium) {
            display: block;
            @include span(12 of 16 at 3);
        }
        @media (min-width: $d_normal) {
            @include span(9 of 16 at 4);
        }
    }
    .st_content_shared_social_desktop {
        // padding-top: 4px;
        // padding-bottom: 4px;
        @include clearfix;
        .st_shared_social {
            float: right;
            @include clearfix;
            div{
                float: left;
                padding-right: 5px;

                img {
                    max-height: 40px;
                    max-width: 50px;
                    @media (min-width: $d_small){
                        max-height: 50px;
                    }
                    @include transform(scale(0.9));
                    @include transition-duration(0.3s);
                }
                &:hover img {
                    @include transform(scale(1));
                    @include transition-duration(0.3s);
                }
            }
        }
        @media (min-width: $d_medium) {
            display: block;
            @include span(3 last);
        }
        @media (min-width: $d_normal) {
            @include span(2 last);
        }
    }
    @media (min-width: $d_small) {
        height: 50px;
    }
}
.fixed_menu_mobile {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
}

.modal-menu-mobile {
    background-color: #eee;
    position: fixed;
    top: 40px;
    bottom: 45px;
    left: 0;
    right: 0;
    overflow: auto;
    -webkit-overflow-scrolling:'touch';
    opacity: 0;
    pointer-events: none;
    @include translateX(100%);
    @include transition-duration(0.5s);
    @media (min-width: $d_medium) {
        display: none;
    }
}
.st_content_shared_social {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    background-color: #0C2B57;
    opacity: 0;
    @include translateX(100%);
    @include transition-duration(0.5s);
    @include clearfix;
    .st_shared_social {
        float: right;
        @include clearfix;
        div {
            margin-right: 10px;
            float: left;
            img {
                width: 35px;
            }
        }
    }
    @media (min-width: $d_medium) {
        display: none;
    }
}
.st_dialogIsOpen {
    opacity: 1;
    @include translateX(0%);
    @include transition-duration(0.5s);
    pointer-events: auto;
}
.content_detail_menu_mobile {
    padding: 13px;
    .detail_menu_mobile {
        font-family: $font-Curator-Regular;
        font-size: 16px;
        color: #333;
        line-height: 2.5;
        // &:nth-child(1) .title_menu_mobile {
        //     color: $color_chapter_1;
        // }
        // &:nth-child(2) .title_menu_mobile {
        //     color: $color_chapter_2;
        // }
        // &:nth-child(3) .title_menu_mobile {
        //     color: $color_chapter_3;
        // }
        // &:nth-child(4) .title_menu_mobile {
        //     color: $color_chapter_4;
        // }
        .title_menu_mobile {
            @include clearfix;
            img {
                width: 24px;
            }
            div {
                float: left;
                &:first-child {
                    margin-top: 7px;
                    margin-right: 50px;
                }
            }
            .st_title_arrow {
                float: right;
                margin-top: 7px;
            }
        }
        .content_subtitle_menu {
            .subtitle_menu_mobile {
                padding-left: 30px;
                line-height: 1.5;
                margin-bottom: 15px;
                a {
                    cursor: pointer;
                    text-decoration: none;
                    color: #999;
                }
                &:first-child a {
                    color: #333;
                }
            }
        }
    }
}
.transform-border-hairline {
    border-bottom: 1px solid #d6d6d6;
    transform: scaleY(0.5);
}
