.st_content_graphic {
    width: 100%;
}

.st-image-responsive {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}

.st-image-fit-content {
    width: 100%;
    height: 100%;
}

.transform-border-hairline2 {
    border-bottom: 1px solid #b1b2b4;
    transform: scaleY(0.5);
    max-width: $d_normal;
    @include center_div;
}

.content_slider_sub6 {
    margin-top: 20px !important;
}

.st_lazy_load {
    opacity: 0;
}

.tooltip_subtitle {
    display: block;
    position: relative;
}

.mouseover_tooltip_subtitle:hover:after,
.mouseover_tooltip_subtitle:focus:after {
    background: #5A9DDC;
    color: #fff;
    content: attr(title-show);
    padding: 5px 15px;
    position: fixed;
    z-index: 98;
    font-family: $font-Roboto;
    font-weight: normal;
    font-size: 0.75em;
    margin-top: 21px;
    margin-left: -27px;
    line-height: 1.2em;
}

.mouseover_tooltip_subtitle:hover:before,
.mouseover_tooltip_subtitle:focus:before {
    border: solid;
    border-color: #5A9DDC transparent;
    border-width: 0 15px 12px 0;
    content: "";
    position: fixed;
    margin-top: 10px;
    margin-left: 5px;
    z-index: 99;
}

.go_next_chapter {
    cursor: pointer;
    // img{
    @include opacity(0.8);
    @include transition(opacity 0.5s 0 ease-in);
    // }
    &:hover {
        @include opacity(1);
        @include transition(opacity 0.5s 0 ease-out);
    }
}

.description_social {
    padding: 15px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 15px;
    line-height: 25px;
    color: #333333;
}

.author_social {
    padding: 0 15px 15px 15px;
    font-family: $font-Roboto;
    font-size: 14px;
    line-height: 1.3em;
    color: #333333;
    font-weight: normal;
}

.btn_shared_face,
.btn_shared_twitter {
    cursor: pointer;
}

.image_400 {
    display: block;
    @media (min-width: $d_small) {
        display: none;
    }
}

.image_768 {
    display: none;
    @media (min-width: $d_small) {
        display: block;
    }
    @media (min-width: $d_large) {
        display: none;
    }
}

.image_992 {
    display: none;
    @media (min-width: $d_large) {
        display: block;
    }
}

.block_400 {
    display: block;
    @media (min-width: $d_small) {
        display: none;
    }
}

.block_992 {
    display: none;
    @media (min-width: $d_small) {
        display: block;
    }
    @media (min-width: $d_normal) {
        display: none;
    }
}

.block_1280 {
    display: none;
    @media (min-width: $d_normal) {
        display: block;
    }
}

.content_svg {
    position: relative;
    svg, iframe {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
    }
}

.iframe {
    margin-bottom: 20px;
}

.none {
    display: none;
}

.ie_block {
    display: none;
}

.ie_none {
    display: block;
}

.st_footer {
    background-color: #0c2b57;
    text-align: center;
    .content_st_footer {
        @include container;
        .f_hold {
            padding: 20px;
            font-size: 13px;
            font-family: $font-Roboto;
            font-weight: normal;
            color: #bbc2c7;
        }
    }
}
