$lightgray      : #819090;
$gray           : #708284;
$mediumgray     : #536870;
$darkgray       : #475B62;
$darkblue       : #0A2933;
$darkerblue     : #042029;
$paleryellow    : #FCF4DC;
$paleyellow     : #EAE3CB;
$yellow         : #A57706;
$orange         : #BD3613;
$red            : #D11C24;
$pink           : #C61C6F;
$purple         : #595AB7;
$blue           : #2176C7;
$cyan           : #259286;
$stred          : #EC432E;
$stblue			: #0c2b57;

$font-primary: Georgia, serif;
$font-Merriweather: 'Merriweather', serif;
$font-Playfair: 'Playfair Display', serif;
$font-Roboto: 'Roboto', sans-serif;

$font-SelaneMinTen:'Selane MinTen', serif;
$font-Thirty:'Selane Thirty', serif;

$font-SelaneTen:'Selane Ten', serif;


$font-Curator-Regular:'Curator Regular', sans-serif;
$font-Curator-Bold:'Curator Bold', sans-serif;

$default-border-radius : 10px;

$d_small:420px;
$d_medium:800px;
$d_normal:1200px;
$d_large:1280px;

$color_chapter_1:#0C2B57;

$padding_left_parraf:67px;
$padding_right_parraf:85px;


$images_dir:"../images/";

$susy: (container:$d_normal, columns: 16, gutter:5px, output:isolate );