.select2-container {
    color: #333;

    &:focus,
    .select2-selection:focus,
    .selection:focus {
        box-shadow: none;
        outline: none;
    }

    .select2-results .select2-results__option--highlighted {
        background-color: #8fabb4;

    }

    .select2-dropdown {
        // background-color: #EFF3F4;
        background-color: #fff;
        border-radius: 0;
        border: none;
        font-size: 15px;
        color: #333;
        line-height: 1.5;
        z-index: 10;
        // border-color: #efdfe2;
    }

    .select2-selection__rendered {
        pointer-events: none;

        .select2-selection__clear {
            font-size: 23px;
            pointer-events: all;
            line-height: 28px;
        }
    }

    li {
        margin-left: 0;
        margin-bottom: 0;
    }

    .select2-selection {
        border-radius: 0;
        border: none;
        background-color: #eff3f4;
        // border-bottom: 1px solid #333;
        // background-color: #fff;
    }

    .select2-results > .select2-results__options {
        max-height: 300px !important;
        .select2-results__option span{
          display: block;
          position: relative;
          padding-right: 20px;
          line-height: 1.4;
          @include clearfix;
          img{
            position: absolute;
            height: 20px;
            top: 0;
            bottom: 0;
            right: 4px;
            margin: auto;
            display: none;
          }
        }
    }

    .select2-selection__placeholder {
        color: #9a9a9a !important;
        font-family: $font-Curator-Regular;
        font-size: 15px;
    }

    .select2-container--default .select2-selection--single {
        .select2-selection__arrow {
            height: 20px;

            b {
                border-color: #333 transparent transparent transparent;
                margin-top: -6px;
            }
        }
    }

    .select2-selection__clear {
      display: none;
        line-height: 14px;
    }

    .select2-container--default {
        .select2-selection--single .select2-selection__rendered {
            color: #333;
            line-height: 1;
        }
    }
}

#select2-orchard_select-results {
    border:1px #efdfe2 solid;
    border-top:none;

    .select2-results__option--highlighted[aria-selected] {
        background-color: #f46e6e;
        color: #FFFFFF;
        span {
        img {
          display: inline;
        }
      }
    }

    .select2-container .select2-selection--single {
        height: 19px;
    }

    .select2-results__option[aria-selected=true] {
        background-color: #efdfe2;
        color: #333;
    }
}

#select2-non_orchard_select-results {
    border:1px #e6efec solid;
    border-top:none;

    .select2-results__option--highlighted[aria-selected] {
        background-color: #238759;
        color: #FFFFFF;
        span {
        img {
          display: inline;
        }
      }
    }

    .select2-container .select2-selection--single {
        height: 19px;
    }

    .select2-results__option[aria-selected=true] {
        background-color: #e6efec;
        color: #333;
    }
}
