
.header_intern_chapter1{
	position: relative;
}
.header_intern_chapter1 svg{
	position: absolute;
	top: 0;
}
.ie_block{
	display: block;
}
.ie_none{
	display: none;
}


.st_content_graphic{
	display: none;
}
#error{
	text-align: center;
}

.modal-menu-mobile{
	display: none;
}
.st_content_shared_social{
	display: none;
}