.loading-icon {
    background: url("/images/st-loading.gif") no-repeat scroll center center #FFF;
    position  : absolute;
    height    : 100%;
    width     : 100%;
    z-index   : 10000;
}

body,
html {
    margin : 0;
    padding: 0;
    // height : 100%;
    width  : 100%;
}

main {
    // background-color: rgba(51, 51, 51, 0.9);
    z-index: 1;
}

.st-header-page {
    // @include container;
    margin: 0 auto;
    color : #ffffff;
    @include breakpoint($d_medium) {
        position: absolute;
        z-index : 1;
        right   : 0;
        left    : 0;
        pointer-events: none;
    }

    .st-byline,
    .st-deck,
    h1 {
        color: #ffffff !important;
    }

    .st-deck {
        display: none;
        @include breakpoint($d_medium) {
            display: block;
        }
    }
}

.modal-menu-mobile {
    // background-color: rgba(51, 51, 51, 0.9);
    @include breakpoint($d_medium) {
        display: none;
    }

    .detail-menu-mobile {
        font-family  : $font-Thirty;
        font-size    : 22px;
        @include gallery(3 of 6);
        margin-bottom: 12px;

        // &:last-of-type {
        //     margin-left: 25%;
        // }

        .title-menu-mobile {
            position   : absolute;
            margin-left: 12px;
            margin-top : 12px;
            color      : #ffffff;
            z-index    : 10;
            // a {
            //     color: #ffffff !important;
            // }
        }

        .gridImg {
            opacity: 0.7;

            &:focus {
                opacity: 1.0;
            }

            img {
                width     : 100%;
                max-height: 100%;
                min-height: auto;
            }
        }
    }

    .st-content-shared-social {
        background-color: transparent;
    }
}

.st-content-menu .st-content-menu-fixed .navbar ul li {
    padding-top: 5px;

    a {
        padding     : 0;
        margin-right: 40px;
        display     : inline-block;
        color       : #ffffff;
    }
}
/* MIXINS */
@mixin vertical-align {
    position: relative;
    // top              : 50%;
    // -webkit-transform: translateY(-30%);
    // -ms-transform    : translateY(-30%);
    // transform        : translateY(-30%);
}
@mixin transition($effect, $time) {
    -webkit-transition: $effect $time ease-in-out;
    transition        : $effect $time ease-in-out;
}

.contact {
    display: none;
    @include breakpoint($d_medium) {
        display         : block;
        background-color: #000;
        height          : 100%;
        width           : 100%;
        position        : absolute;
        top             : 0;
    }
}

.contact-container {
    cursor          : pointer;
    // background-color: rgba(51, 51, 51, 0.9);
    // background-color: #9e4d38;
    width           : 100%;
    height          : 100%;
    // &:hover {
    //     .contact-col {
    //         width: 18%;
    //
    //         &:hover {
    //             width: 28%;
    //         }
    //     }
    // }
}

.contact-col {
    cursor         : pointer;
    width          : 25%;
    height         : 100%;
    float          : left;
    @include transition(all, 0.6s);
    // background-position: center !important;
    background-size: cover !important;
    opacity        : 0.7;
    position       : relative;

    &:hover {
        opacity: 1.0;
        // background: rgba(248, 220, 93, 0.6);
    }

    .contact-option {
        // display    : none;
        position   : relative;
        color      : #ffffff;
        font-size  : 36px;
        font-family: $font-Thirty;
        // left       : 20px;
        text-align: center;
        top: 40vh;
        img {
          display: block;
          margin: 0 auto;
        }
    }
}

.col-1 {
    @include breakpoint($d_medium) {
        background: url('/images/smart-nation-long-form/china-bg-desktop.jpg') no-repeat;
    }
    .contact-option {
      p {
        background: rgba(#00FFFF, .5)
      }
    }
}

.col-2 {
    @include breakpoint($d_medium) {
        background: url('/images/smart-nation-long-form/japan-bg-desktop.jpg') no-repeat;
    }
    .contact-option {
      p {
        background: rgba(#FFA500, .5)
      }
    }
}

.col-3 {
    @include breakpoint($d_medium) {
        background: url('/images/smart-nation-long-form/singapore-bg-desktop.jpg') no-repeat;
    }
    .contact-option {
      p {
        background: rgba(#A52A2A, .5)
      }
    }
}

.col-4 {
    @include breakpoint($d_medium) {
        background: url('/images/smart-nation-long-form/korea-bg-desktop.jpg') no-repeat;
    }
    .contact-option {
      p {
        background: rgba(#008000, .5)
      }
    }
}

.navbar {
  z-index: 2;
}

.main-headline {
  padding-top: 0;
  margin-top: 0 !important;
  .st-title {
    h1 {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
  }
}

.st-content-footer {
  z-index: -1;
}

.st-title {
  margin-bottom: 0 !important;
}

.st-content-menu .st-button-menu-mobile {
  display: none;
}

.st-social-desktop {
  display: block !important;
}

body {
    background-color: rgba(51, 51, 51, 0.9);
}
