.st-content-graphic {
    width: 100%;
}

.st-image-responsive {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    vertical-align: middle;
}

.st-image-fit-content {
    width: 100%;
    height: 100%;
}

.transform-border-hairline {
    border-bottom: 1px solid #b1b2b4;
    transform: scaleY(0.5);
    max-width: $d_normal;
    @include center_div;
}

.mouseover_tooltip_subtitle:hover:after,
.mouseover_tooltip_subtitle:focus:after {
    background: #5A9DDC;
    color: #fff;
    content: attr(title-show);
    padding: 5px 15px;
    position: fixed;
    z-index: 98;
    font-family: $font-Roboto;
    font-weight: normal;
    font-size: 0.75em;
    margin-top: 21px;
    margin-left: -27px;
    line-height: 1.2em;
}

.mouseover_tooltip_subtitle:hover:before,
.mouseover_tooltip_subtitle:focus:before {
    border: solid;
    border-color: #5A9DDC transparent;
    border-width: 0 15px 12px 0;
    content: "";
    position: fixed;
    margin-top: 10px;
    margin-left: 5px;
    z-index: 99;
}

.go-next-chapter {
    cursor: pointer;
    // img{
    @include opacity(0.8);
    @include transition(opacity 0.5s 0 ease-in);
    // }
    &:hover {
        @include opacity(1);
        @include transition(opacity 0.5s 0 ease-out);
    }
    a {
        display: block;
    }
}

.credits-section {
    @include container;
    color: #666;
    font-family: $font-Curator-Regular;
    font-size: 13px;
    padding: 30px 15px 50px 15px;
    border-top: dotted #ccc 1px;
    box-sizing: border-box;
    .credits-label {
font-family: $font-Curator-Bold;
    }
}

.btn_shared_face,
.btn_shared_twitter {
    cursor: pointer;
}

.content-iframe-svg {
    position: relative;
    svg,
    iframe {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
    }
    iframe {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}

.none {
    display: none;
}

.bg-lines-parraf {
    background-image: url(../images/stripe_fdb.png);
    margin-top: 20px !important;
}

.header-subtitle {
    padding: 50px 15px;
    @include container (800px);
    box-sizing: border-box;
    h2 {
        display: inline-block;
        // background-color: #000;
        padding: 15px 20px 15px 15px;
        font-family: $font-Curator-Bold;
        font-size: 18px;
        color: #333;
    }
    p {
        display: inline-block;
        // background-color: #000;
        padding: 15px 20px 15px 15px;
        font-family: $font-Curator-Regular;
        font-size: 15px;
        color: #333;
    }
}

article section {
    .content-columns {
        &:first-of-type {
            // margin-top: 60px;
        }
        &:last-of-type {
            // margin-bottom: 80px;
        }
    }
}

.content-columns2 {
    padding: 0 15px;
    font-family: $font-Curator-Regular;
    color: #333;
    font-size: 17px;
    line-height: 1.6;
    box-sizing: border-box;
    background-color: #eff3f4;
    .column-parraf-left {
        @include breakpoint($d_medium) {
            float: left;
            width: 70%;
            margin-right: -100%;
            .text-parraf {
                padding-right: 45px;
            }
        }
    }
}

.content-columns-fluid {
    margin-right: 15px;
    margin-left: 15px;
}

.content-columns {
    @include container;
    padding: 0 15px;
    font-family: $font-Curator-Regular;
    color: #333;
    font-size: 17px;
    line-height: 1.6;
    box-sizing: border-box;
    .column-parraf-left {
        @include breakpoint($d_medium) {
            float: left;
            width: 70%;
            margin-right: -100%;
            .text-parraf {
                padding-right: 45px;
            }
        }
    }
    .column-parraf-right {
        @include breakpoint($d_medium) {
            float: left;
            width: 30%;
            margin-left: 70%;
        }
    }
    .photo-small-caption-bottom {
        background-color: #5CDBC5;
        color: #fff;
        line-height: 1.4;
        max-width: 414px;
        margin: 0 auto;
        figcaption {
            padding: 15px;
            font-size: 15px;
        }
        @include breakpoint($d_medium) {
            margin: 15px;
        }
    }
    .photo-medium-caption-right {
        @include clearfix;
        background-color: #5CDBC5;
        margin-top: 20px;
        margin-bottom: 20px;
        img {
            @include breakpoint($d_medium) {
                width: 70%;
                float: left;
            }
        }
        figcaption {
            color: #fff;
            font-size: 15px;
            padding: 15px;
            box-sizing: border-box;
            line-height: 1.4;
            @include breakpoint($d_medium) {
                width: 30%;
                float: right;
            }
        }
    }
    .blockquote {
        max-width: 350px;
        font-family: 'golden_ageregular';
        text-transform: uppercase;
        background-color: #3e1693;
        margin: 50px auto 50px auto;
        color: #fff;
        border-radius: 30px;
        quotes: "\201C" "\201D";
        position: relative;
        .content-blockquote {
            padding: 40px;
            cite > span:first-child {
                margin-top: 15px;
                opacity: 0.8;
                display: inline-block;
            }
        }
        &:before {
            position: absolute;
            content: open-quote;
            color: #5cdbc5;
            font-style: normal;
            font-weight: bolder;
            font-size: 140px;
            line-height: 0.6;
            left: 0;
            font-family: Arial, san-serif;
        }
        &:after {
            position: absolute;
            content: close-quote;
            color: #5cdbc5;
            font-style: normal;
            font-weight: bolder;
            font-size: 140px;
            line-height: 0.6;
            text-align: right;
            right: 0;
            font-family: Arial, san-serif;
        }
    }
    .do-you-know {
        background-color: #3E1693;
        padding: 15px 15px 20px 25px;
        margin-top: 15px;
        position: relative;
        .do-you-know-title {
            font-family: $font-Curator-Bold;
            font-size: 25px;
            color: #FFFF00;
        }
        .do-you-know-description {
            font-family: $font-Curator-Regular;
            font-size: 15px;
            line-height: 1.4;
            color: #fff;
            padding-right: 55px;
        }
        figure {
            position: absolute;
            right: 10px;
            bottom: 0;
        }
        @include breakpoint($d_medium) {
            margin-top: 70px;
        }
    }
    .st-promotion-article {
        max-width: 290px;
        margin-right: auto;
        margin: auto;
        margin-top: 15px;
        @include breakpoint($d_medium) {
            margin-top: 70px;
        }
    }
}

.header-divided {
    @include container;
    padding: 30px 15px 30px 15px;
    text-align: center;
    h1 {
        font-size: 45px;
        line-height: 45px;
        margin: 0 auto;
        color: #333;
        font-family: $font-SelaneMinTen;
        @media (min-width: $d_medium) {
            font-size: 75px;
            line-height: 75px;
        }
    }
    .f_header {
        @media (min-width: $d_small) {
            @include span(10 first);
        }
        @media (min-width:$d_medium) {
            @include span(12 first);
        }
    }
    .s_header {
        background-color: #eff3f4;
        padding: 10px;
        @media (min-width: $d_small) {
            @include span(6 last);
        }
        @media (min-width:$d_medium) {
            @include span(4 last);
        }
    }
}

footer.st-content-footer {
    background-color: #0c2b57;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    .st-footer {
        padding: 15px;
        font-size: 13px;
        font-weight: normal;
        font-family: $font-Curator-Regular;
        color: #bbc2c7;
        margin-bottom: 0;
        line-height: 1.5;
        @include box-sizing(border-box);
        @include container;
        @include breakpoint($d_medium) {
            padding: 20px;
        }
    }
}

section.content-fb-comments {
    @include container;
    margin-top: 60px;
    padding: 15px;
    margin-bottom: 0 !important;
    .fb-comments {
        span:first-child {
            width: 100% !important;
            iframe {
                width: 100% !important;
            }
        }
    }
}

.sp-caption-container {
    margin: 0 auto;
    background-color: #5CDBC5;
    width: 100%;
    .bg_caption {
        font-family: $font-Curator-Regular;
        font-weight: lighter;
        font-size: 0.9375em;
        padding: 15px;
        color: #fff;
        line-height: 1.4;
        text-align: left;
        width: 90%;
        margin: 0 auto;
        p {
            margin: 0;
            // padding:15px;
        }
        @media (min-width: 784px) {
            width: auto;
            padding: 15px;
        }
    }
}

.sp-buttons {
    .sp-button {
        border: 1px solid #fff;
    }
    .sp-selected-button {
        background-color: $color_chapter;
    }
    @media (min-width: 783px) {
        position: absolute;
        top: 70%;
    }
    @media (min-width: $d_normal) {
        top: 75%;
    }
}

.window-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    @include transparent;
    @include transition(opacity 0.5s 0 ease-in);
    .content-window-modal {
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: absolute;
        max-height: 510px;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        @include container($d_normal);
        .clearfix-btn-close {
            @include clearfix;
            .btn-modal-close {
                float: right;
                margin-right: 10px;
                margin-top: 10px;
                display: block;
                cursor: pointer;
                right: 0;
            }
        }
    }
}

.modal-window-open {
    z-index: 9999999999;
    @include opacity(1);
    @include transition(opacity 0.5s 0 ease-in);
    @include clearfix;
}

.body-window-modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 48px;
    bottom: 48px;
    @include clearfix;
    .column-content-modal {
        height: 100%;
        box-sizing: border-box;
        iframe {
            margin: 0 auto !important;
        }
    }
}


.z-index-1 {
    z-index: -1;
}

.none {
    display: none;
}

/*modal css*/

.hidden-important {
    overflow: hidden !important;
}

.scroll-content-quote {
    position: relative;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}
