<!doctype html>
<html class="no-js" lang="">

<head>
	<meta charset="utf-8">
	<!-- Browser Compatibility -->
	<meta http-equiv="cleartype" content="on">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<!-- SOCIAL -->
	<!-- Twitter -->
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	<!-- Linked In -->
	<script src="//platform.linkedin.com/in.js" type="text/javascript">
        lang: en_US
    </script>
	<!-- Google -->
	<script src="https://apis.google.com/js/platform.js" async defer></script>


	<title>{{trans "headline"}}</title>
	<!-- G+ -->
	<meta itemprop="name" content="{{trans "headline"}}">
	<meta itemprop="description" content="{{trans "description"}}">
	<meta itemprop="image" content="{{trans "page_url"}}images/{{trans "share-image"}}">
	<meta itemprop="thumbnailUrl" content="{{trans "page_url"}}images/{{trans "share-image"}}">

	<!-- FB -->
	<meta property="fb:app_id" content="319194411438328" />
	<meta property="fb:admins" content="616167736" />
	<meta property="fb:admins" content="625796953" />
	<meta property="fb:admins" content="571759798" />
	<meta property="og:url" content="{{trans "page_url"}}index.html" />
	<meta property="og:title" content="{{trans "headline"}}" />
	<meta property="og:image" content="{{trans "page_url"}}images/{{trans "share-image"}}" />
	<meta property="og:site_name" content="Reuters" />
	<meta property="og:description" content="{{trans "description"}}" />
	<meta name="description" content="{{trans "description"}}" />

	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@Reuters">
	<meta name="twitter:title" content="{{trans "headline"}}">
	<meta name="twitter:description" content="{{trans "description"}}">
	<meta name="twitter:creator" content="@ReutersGraphics">
	<meta name="twitter:image:src" content="{{trans "page_url"}}images/{{trans "share-image"}}">
	<meta name="twitter:domain" content="http://www.reuters.com/">
	<link rel="canonical" href="{{trans "page_url"}}index.html" />
    
    <link rel="shortcut icon" href="{{trans "page_url"}}favicon.ico">


	<!-- build:css styles/main.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="/bower_components/nouislider/distribute/nouislider.min.css" />
	<link rel="stylesheet" href="/bower_components/jquery.tablesorter/dist/css/theme.blue.min.css" />
	<!-- endbower -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->


	<!-- build:js scripts/vendor/vendor-top.js -->
	<script src="scripts/vendor/babel-external-helpers.js"></script>
	<!-- endbuild -->

	<script type="application/ld+json">
          {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "headline": "{{trans "headline"}}",
            "url": "",
            "thumbnailUrl": "{{trans "page_url"}}images/{{trans "share-image"}}",
            "dateCreated": "",
            "articleSection": "Graphics",
            "creator": "Reuters Graphics",
            "keywords": ["reuters graphics","reuters","graphics","interactives"]
          }

    </script>
	<script>
        PAGE_TO_TRACK = '{{trans "page_url"}}';
        TITLE_TO_TRACK = '{{trans "headline"}}';
        //chartbeat
        var _sf_startpt=(new Date()).getTime();
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
        (function() {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') + 
            '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        })();
        googletag.cmd.push(function() {
            googletag.defineSlot('/4735792/reuters_investigates', [[300, 250]], 'div-gpt-ad-1441822201033-0').addService(googletag.pubads());
            googletag.pubads().enableSingleRequest();
            googletag.enableServices();
        });
    </script>









</head>

<body class="graphics">
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=319194411438328&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
      </script>

	<nav class="header navbar navbar-full navbar-fixed-top navbar-dark bg-inverse">
		<div class="navbar-brand">
			<a class="logo-container" href="http://www.reuters.com">
				<img class="logo reuters-graphics" src="images/reuters-graphics.png">
			</a>
			<a class="page-title" href="{{trans "page_url"}}">
				<span>{{trans "headline"}}</span>
			</a>
		</div>

		<div class="pull-right" id="ReutersMainNav">
			<ul class="social nav navbar-nav">
				<li class="nav-item">
					<a href="{{ twitter }}">
						<i class="fa fa-twitter" aria-hidden="true"></i>
					</a>
				</li>
				<li class="nav-item">
					<a href="{{ facebook }}">
						<i class="fa fa-facebook" aria-hidden="true"></i>
					</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="main">
	</div>







	<nav class="footer navbar navbar-full navbar-dark bg-inverse">
		<a class="navbar-brand hidden-md-down" href="http://www.reuters.com">
			<img src="images/reuters-footer.png" class="footer-logo">
		</a>

		<div class="center container">
			<ul class="nav navbar-nav">
				<li class="nav-item">
					<a href="http://thomsonreuters.com/">
                           Thomsonreuters.com
                       </a>
				</li>
				<li class="nav-item">
					<a href="http://www.reuters.com/privacy-policy">
                           Privacy Policy
                       </a>
				</li>
				<li class="nav-item">
					<a href="http://www.reuters.com/terms-of-use">
                           Terms of Use
                       </a>
				</li>
				<li class="nav-item">
					<a href="http://thomsonreuters.com/copyright/">
                           Copyright
                       </a>
				</li>
			</ul>
		</div>
	</nav>


	<!-- build:js scripts/vendor.js -->
	<!-- bower:js -->
	<script src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/bower_components/underscore/underscore.js"></script>
	<script src="/bower_components/backbone/backbone.js"></script>
	<script src="/bower_components/d3/d3.js"></script>
	<script src="/bower_components/topojson/topojson.js"></script>
	<script src="/bower_components/pym.js/dist/pym.js"></script>
	<script src="/bower_components/moment/moment.js"></script>
	<script src="/bower_components/waypoints/lib/noframework.waypoints.js"></script>
	<script src="/bower_components/tether/dist/js/tether.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/bower_components/nouislider/distribute/nouislider.js"></script>
	<script src="/bower_components/charter-commons/js/src/color.js"></script>
	<script src="/bower_components/charter-commons/js/src/localizer.js"></script>
	<script src="/bower_components/basic-charter/dist/js/basicCharter.js"></script>
	<script src="/bower_components/scatter-charter/dist/js/scatterCharter.js"></script>
	<script src="/bower_components/jquery.tablesorter/dist/js/jquery.tablesorter.combined.js"></script>
	<script src="/bower_components/table-charter/dist/js/tableCharter.js"></script>
	<script src="/bower_components/d3-queue/d3-queue.js"></script>
	<script src="/bower_components/textures/textures.min.js"></script>
	<script src="/bower_components/map-charter/dist/js/mapCharter.js"></script>
	<script src="/bower_components/sankey-charter/dist/js/sankeyCharter.js"></script>
	<script src="/bower_components/sorting-charter/dist/js/sorterCharter.js"></script>
	<!-- endbower -->
	<!-- endbuild -->


	<!-- build:js scripts/main.js -->
	<script src="scripts/templates.js"></script>
	<script src="scripts/utils.js"></script>
	<script src="scripts/main.js"></script>
	<!-- endbuild -->


	<script>
    	//Reuters.Investigates.gaCategory = 'Reuters Investigates';
    	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    	
    	ga('create', 'UA-41619329-3', {cookieDomain: 'auto'});
    	ga('require', 'linkid', 'linkid.js');
    	ga('send', 'pageview', {'page': PAGE_TO_TRACK, 'title': TITLE_TO_TRACK });
    	//dotcom
    	ga('create', 'UA-24152976-1', 'auto', 'dotcom');
    	ga('dotcom.send', 'pageview');   
    	//chartbeat            
    	var _sf_async_config={};
    	/** CONFIGURATION START **/
    	_sf_async_config.uid = 52639; //YOUR ACCOUNT NUMBER ALWAYS THE SAME
    	_sf_async_config.domain = 'reuters.com';
    	_sf_async_config.sections = 'graphics'; 
    	_sf_async_config.authors = '';
    	_sf_async_config.type = 'Article'; 
    	_sf_async_config.path = 'reuters.com' + PAGE_TO_TRACK; 
    	/** CONFIGURATION END **/
    	(function(){
    	  function loadChartbeat() {
    	      window._sf_endpt=(new Date()).getTime();
    	      var e = document.createElement('script');
    	      e.setAttribute('language', 'javascript');
    	      e.setAttribute('type', 'text/javascript');
    	      e.setAttribute('src', '//static.chartbeat.com/js/chartbeat.js');
    	      document.body.appendChild(e);
    	  }
    	  var oldonload = window.onload;
    	  window.onload = (typeof window.onload != 'function') ?
    	      loadChartbeat : function() { oldonload(); loadChartbeat(); };
    	})();             
	</script>





</body>

</html>