html {
  background             : url("/images/background-street.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size   : cover;
  -o-background-size     : cover;
  background-size        : cover;
  overflow               : scroll;
}
@mixin h2 {
  font-size  : 19px;
  font-family: $font-SelaneTen;
  color      : #333333;
}
@mixin p {
  font-family: $font-Curator-Regular;
  font-size  : 15px;
  line-height: 20px;
  color      : #333333;
}
@mixin mobilespan {
  font-family: $font-Curator-Regular;
  font-size  : 14px;
  line-height: 20px;
  color      : #333333;
}
@mixin mobileh2 {
  font-size  : 18px;
  font-family: $font-SelaneTen;
  color      : #333333;
}

.st-content-footer {
  @include breakpoint($d_medium) {
    background-image: url("/images/city-background.png");
    height          : 174px;
    z-index         : -1;
  }
}
//clouds
body {
  /*To hide the horizontal scroller appearing during the animation*/
  overflow: hidden;
}

#clouds {
  height: 0;
}
/*Time to finalise the cloud shape*/
.cloud {
  width                : 200px;
  height               : 60px;
  background           : #f2f2f2;
  border-radius        : 200px;
  -moz-border-radius   : 200px;
  -webkit-border-radius: 200px;
  position             : relative;
}

.cloud:after,
.cloud:before {
  content              : '';
  position             : absolute;
  background           : #f2f2f2;
  width                : 100px;
  height               : 80px;
  position             : absolute;
  top                  : -15px;
  left                 : 10px;
  border-radius        : 100px;
  -moz-border-radius   : 100px;
  -webkit-border-radius: 100px;
  -webkit-transform    : rotate(30deg);
  transform            : rotate(30deg);
  -moz-transform       : rotate(30deg);
}

.cloud:after {
  width : 120px;
  height: 120px;
  top   : -55px;
  left  : auto;
  right : 15px;
}
/*Time to animate*/
.x1 {
  -webkit-transform: scale(0.6);
  -moz-transform   : scale(0.6);
  transform        : scale(0.6);
  opacity          : 0.6;
  /*opacity proportional to the size*/
  -webkit-animation: moveclouds 35s linear infinite;
  -moz-animation   : moveclouds 35s linear infinite;
  -o-animation     : moveclouds 35s linear infinite;
}
/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
  left             : 200px;
  -webkit-transform: scale(0.7);
  -moz-transform   : scale(0.7);
  transform        : scale(0.7);
  opacity          : 0.7;
  /*opacity proportional to the size*/
  /*Speed will also be proportional to the size and opacity*/
  /*More the speed. Less the time in 's' = seconds*/
  -webkit-animation: moveclouds 45s linear infinite;
  -moz-animation   : moveclouds 45s linear infinite;
  -o-animation     : moveclouds 45s linear infinite;
}

.x3 {
  left             : -250px;
  top              : -100px;
  -webkit-transform: scale(0.4);
  -moz-transform   : scale(0.4);
  transform        : scale(0.4);
  opacity          : 0.4;
  /*opacity proportional to the size*/
  -webkit-animation: moveclouds 35s linear infinite;
  -moz-animation   : moveclouds 35s linear infinite;
  -o-animation     : moveclouds 35s linear infinite;
}

.x4 {
  left             : 470px;
  top              : -80px;
  -webkit-transform: scale(0.5);
  -moz-transform   : scale(0.5);
  transform        : scale(0.5);
  opacity          : 0.5;
  /*opacity proportional to the size*/
  -webkit-animation: moveclouds 40s linear infinite;
  -moz-animation   : moveclouds 40s linear infinite;
  -o-animation     : moveclouds 40s linear infinite;
}

.x5 {
  left             : -150px;
  top              : -150px;
  -webkit-transform: scale(0.4);
  -moz-transform   : scale(0.4);
  transform        : scale(0.4);
  opacity          : 0.4;
  /*opacity proportional to the size*/
  -webkit-animation: moveclouds 40s linear infinite;
  -moz-animation   : moveclouds 40s linear infinite;
  -o-animation     : moveclouds 40s linear infinite;
}
@-webkit-keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }

  100% {
    margin-left: -1000px;
  }
}
@-moz-keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }

  100% {
    margin-left: -1000px;
  }
}
@-o-keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }

  100% {
    margin-left: -1000px;
  }
}

.transition {
  -webkit-transform: scale(5);
  -moz-transform   : scale(5);
  -o-transform     : scale(5);
  transform        : scale(5);
}

#box {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition   : all 1s ease-in-out;
  -o-transition     : all 1s ease-in-out;
  -ms-transition    : all 1s ease-in-out;
}
//MAIN PAGE
.main-headline {
  padding: 20px;
  @include container;

  .st-title {
    display: none;

    h1 {
      font-family: $font-SelaneMinTen;
      font-size  : 1.8rem;
      line-height: 1.3em;
      color      : $black;
      text-align : center;
      @include breakpoint($d_medium) {
        font-size: 4.4rem;
      }
    }

    p {
      font-size  : 1.2rem;
      font-family: $font-SelaneTen;
      color      : $black;
      max-width  : 500px;
      margin     : auto;
      text-align : center;
      @include breakpoint($d_medium) {
        font-size: 1.5rem;
      }
    }
  }
  //DRONE IMAGE
  #drone {
    display: none;
    @include breakpoint($d_medium) {
      left             : 33%;
      position         : relative;
      display          : none;
      -webkit-animation: move 3s;
      animation        : move 3s;
    }

    img {
      width : 270px;
      height: 165px;
      @include breakpoint($d_medium) {
        width              : 400px;
        height             : 200px;
        @-webkit-keyframes move {
          from {
            left: 0;
          }

          to {
            left: 50%;
          }
        }
        @keyframes move {
          from {
            left: 0;
          }

          to {
            left: 33%;
          }
        }
        -webkit-transition : all 1s ease-in-out;
        -moz-transition    : all 1s ease-in-out;
        -o-transition      : all 1s ease-in-out;
        -ms-transition     : all 1s ease-in-out;
        transition-duration: 1s;
        position           : absolute;

        &:hover {
          -webkit-transform: rotate(360deg);
          -moz-transform   : rotate(360deg);
          -o-transform     : rotate(360deg);
          -ms-transform    : rotate(360deg);
          transform        : translate();
        }
      }
    }
  }
  //START MOBILE INTRO PAGE
  .mobilefirst {
    display: none;
    @include breakpoint($d_medium) {
      display: none;
    }
  }

  .vr-option {
    text-align: center;

    p {
      font-family: $font-Curator-Regular;
      font-size  : 16px;
      line-height: 23px;
      color      : #333333;
      margin-top : 10px;
    }

    img {
      width : 50px;
      height: 30px;
    }
  }

  .yes-no {
    text-align: center;
    margin-top: 20px;
  }

  .answer {
    @include gallery(8);
    margin-bottom: 10px;
    text-align   : center;
  }

  .no,
  .yes {
    cursor          : pointer;
    background-color: #5A9DDC;
    max-width       : 120px;
    line-height     : 20px;
    font-family     : $font-Curator-Regular;
    font-size       : 15px;
    color           : #FFF;
    text-align      : center;
    padding         : 10px 35px;
  }
  //END MOBILE INTRO
  //START MOBILE SECOND PAGE
  .mobilesecond {
    display   : none;
    text-align: center;
    margin-top: 50px;

    .steps {
      width : 90px;
      margin: auto;

      img {
        margin-top: 30px;
        width     : 65px;
        height    : 65px;
      }

      span {
        font-family: $font-Curator-Regular;
        font-size  : 14px;
        line-height: 20px;
        color      : #333333;
      }
    }
  }
  //END MOBILE SECOND PAGE
  .textarea {
    @include container(500px);
    display: none;
    @include breakpoint($d_medium) {
       @include container(500px);
      display   : block;
      text-align: center;
      margin-top: 200px;
    }
  }
  //LEFT TEXT
  .text {
    @include gallery(8);
    display         : none;
    background-color: $screen;
    width           : 40%;
    margin-bottom   : 10px;
    padding         : 12px;
    text-align      : center;
    position        : relative;
    height          : 180px;

    h2 {
      @include mobileh2;
      margin-bottom: 20px;
    }

    span {
      @include mobilespan;
    }
    @include breakpoint($d_medium) {
      padding: 20px;

      span {
        @include p;
      }

      h2 {
        @include h2;
      }
    }
    @include breakpoint($d_medium) {
      width: 160px;
    }
  }
  //ENTER GUIDED TOUR/FLY THE DRONE
  .enter,
  .play {
    cursor          : pointer;
    background-color: #5A9DDC;
    max-width       : 140px;
    margin-top      : 20px;
    line-height     : 20px;
    font-family     : $font-Curator-Regular;
    font-size       : 15px;
    color           : #FFF;
    text-align      : center;
    padding-top     : 10px;
    padding-bottom  : 10px;
    position        : absolute;
    bottom          : 10px;
    margin          : 0 auto;
    left            : 0;
    right           : 0;

    &:hover {
      background-color: darken(#5A9DDC, 20%);
    }
  }
}
// GUIDED TOUR

.popup {
  display   : none;
  width     : 100%;
  height    : 100%;
  position  : fixed;
  top       : 0;
  left      : 0;
  background: rgba(0,0,0,0.5);
  //GUIDED TOUR POP UP
  .popup-inner {
    width            : 300px;
    padding          : 20px;
    position         : absolute;
    top              : 50%;
    left             : 50%;
    -webkit-transform: translate(-50%, -50%);
    transform        : translate(-50%, -50%);
    background       : #fff;

    h2 {
      @include h2;
      margin-bottom: 10px;
    }

    p {
      @include p;
    }

    .start {
      cursor          : pointer;
      background-color: #5A9DDC;
      width           : 160px;
      margin          : 40px auto auto;
      font-family     : $font-Curator-Regular;
      font-size       : 15px;
      color           : #FFF;
      text-align      : center;
      padding-top     : 12px;
      padding-bottom  : 12px;

      &:hover {
        background-color: darken(#5A9DDC, 20%);
      }
    }
  }
}
// FLY THE ST DRONE
.wrap-word{
  white-space: nowrap;
}
.instructions {
  display    : none;
  float      : left;
  // white-space: nowrap;
  @include breakpoint($d_medium) {
    background-color: white;
    width           : 400px;
    padding         : 20px;
    margin-top      : 20px;

    h2 {
      @include h2;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 10px;
      @include p;
    }

    .controls {
      text-align: center;

      .key {
        display      : inline-block;
        padding-right: 30px;
        padding-top  : 30px;

        span {
          @include p;
        }
      }
    }
  }
}
//button

.button {
  display   : none;
  cursor    : pointer;
  margin-top: 20px;
}
//GUIDED TOUR FOR MOBILE POP UP

.popup2 {
  display   : none;
  width     : 100%;
  height    : 100%;
  position  : fixed;
  top       : 0;
  left      : 0;
  background: rgba(0,0,0,0.5);

  .popup-inner {
    width            : 300px;
    padding          : 20px;
    position         : absolute;
    top              : 50%;
    left             : 50%;
    -webkit-transform: translate(-50%, -50%);
    transform        : translate(-50%, -50%);
    background       : #fff;

    h2 {
      @include h2;
      margin-bottom: 10px;
    }

    p,
    span {
      @include p;
    }
  }
}

.keys {
  margin-top: 30px;

  #flying {
    float: left;
  }

  #ascdesc {
    float: right;
  }
}
//LOADING PAGE

.loadingscreen {
  display   : none;
  text-align: center;
  margin-top: 50px;

  .loading {
    margin: auto;

    img {
      margin-top: 20px;
    }

    span {
      font-family: $font-Curator-Regular;
      font-size  : 18px;
      line-height: 20px;
      color      : #333333;
    }
  }
}
