<template>
  <div :class="defineClassFromPath(attributes)">
  </div>
</template>

<script>
import GetSvg from "GetSvg";

export default {
  props: ['attributes'],
  methods:{
    getSvg:function(folder){
      if(folder){
        if(this.$el){
          new GetSvg({
            tags: [this.$el],
            folders: [folder],
            todo: function(d) {
            }
          });
        }
      }
    },
    defineClassFromPath:function(path){
      return path.split("/").join("-");
    }
  },
  mounted:function(){
    this.getSvg(this.attributes);
  }
}
</script>
