$color60s: $spotext;
$color70s: $worprimary;
$color80s: $busprimary;
$color90s: $red;
$color00s: $purple;
$color10s: $greydark;

[id^="opt-196"]{
background-color: $color60s;
}
[id^="opt-197"]{
background-color: $color70s;
}
[id^="opt-198"]{
background-color: $color80s;
}
[id^="opt-199"]{
background-color: $color90s;
}
[id^="opt-200"]{
background-color: $color00s;
}
[id^="opt-201"]{
background-color: $color10s;
}
.content-sub-menu{
  margin: 0 auto;
  margin-bottom: 10px;
  padding-bottom: 20px;
  text-align: center;
  background: #fff;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 90%,rgba(255,255,255,0) 100%);
  z-index:9;
  width: 100%;
  position: relative;
  // .sub-menu-box{
  //   font-family: $font-Curator-Regular;
  //   display: inline-block;
  //   width: 100px;
  //   margin-top: 4px;
  //   line-height: 30px;
  //   font-size: 10px;
  //   color: $worscreen;
  //   pointer-events: all;
  //   cursor: pointer;
  //
  //   @include breakpoint($d_medium){
  //     width: 150px;
  //     margin-right: 10px;
  //     font-size: 13px;
  //   }
  // }


  .sub-menu-dropdox{
    display: block;
    font-family: $font-Curator-Regular;
    margin:4px auto;
    width:100px;

    @include breakpoint($d_tlmedium){
      display: inline-block;
      margin:15px;

    }
  }
}

.content-sub-menu-empty{
  opacity: 0;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  background: #fff;
  width: 100%;
  position: relative;
  padding-top:5px;
//   .sub-menu-box{
//     font-family: $font-Curator-Regular;
//     display: inline-block;
//     width: 100px;
//     margin-top: 4px;
//     line-height: 30px;
//     font-size: 10px;
//     color: $worscreen;
//     pointer-events: all;
//     cursor: pointer;
//
//     @include breakpoint($d_medium){
//       width: 150px;
//       margin-right: 10px;
//       font-size: 13px;
//     }
// }
}

.fix-menu{
  position: fixed;
  padding-top:5px;
  padding-bottom: 5px;
    top:0;
  @include breakpoint($d_tlmedium){
    padding-top:0;
  }
}

// .filter-opacity{
//   -webkit-filter: blur(1px); /* Safari */
//   filter: blur(1px);
//
// }

.timeline-container{
  @include container;
  position: relative;
  margin:0 auto;
  // &::before{
  //   //the vertical line
  //   content:"";
  //     position: absolute;
  //     z-index: -1;
  //      top:0;
  //     bottom: 0;
  //     left: 50%;
  //     border-left: 1px dotted $black;
  //     // display: none;
  //     // @include breakpoint($d_medium){
  //     //   display: block;
  //     // }
  // }

  // .tl-date{
  //   position: relative;
  //   z-index:2;
  //   margin: 3em auto;
  //   display: block;
  //   background: $black;
  //   width: 220px;
  //   text-align: center;
  //   p{
  //     font-family: $font-Curator-Bold;
  //     padding: 10px;
  //   }
  // }

  .tl-block{
    position: relative;
    text-align: center;
    opacity: 0;
    display: inline-block;
    // @include clearfix;
    width: 100%;
    margin:0 0 2em 0;
    clear: both;
    padding-top: 4em;
    @include breakpoint($d_tlmedium){
      width: 50%;
      text-align: left;
    }
  }

  .tl-node{
    z-index:2;
    position: relative;
    display: inline-block;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    clear: both;
    @include breakpoint ($d_tlmedium){
       margin: 0;
       width: 100px;
       clear: none;
    }
    p{
      font-family: $font-Curator-Bold;
      color: $worscreen;
      padding: 5px;
      font-size: 14px;
    }

    &::after{
      content:'';
    }


  }
  .node-l{
    float:none;
    @include breakpoint($d_tlmedium){
      float:right;
    }
  }
  .node-r{
    float:none;
    @include breakpoint($d_tlmedium){
      float:left;
    }
  }
  .tl-content{
    z-index: 2;
    position: relative;
    // top:30px;
    background: $screen;
    padding:1em;
    margin: 0 auto;
    @include clearfix;
    width: 80%;
    @include breakpoint ($d_tlmedium){
      margin: 10px 20px;
    }
    @include breakpoint (max-width $d_small){
      // width: 70%;
    }

    p{
      font-family: $font-Curator-Regular;
      color: $black;
      line-height: 23px;
      font-size: 16px;
    }


  }
}

.tl-r{
    float: right;
    clear:right;
    margin-left: 10px;
    // margin-top: 1em;
}
.tl-l{
  float: left;
  clear:left;
  margin-right: 10px;
  // margin-top:1.5em;
}

.tl-line{
  //the vertical line
    position: absolute;
    z-index: 1;
     top:0;
    // bottom: 0;
    left: 50%;
    height: 99%;
    border-left: 1px dotted $black;
    // display: none;
    @include breakpoint($d_tlmedium){
    height:100%;
    }
}

.tl-image{
  text-align: center;
  .img-avatar{
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border-radius: 50%;
    display: inline-block;
  }

  @include breakpoint ($d_tlmedium){
      text-align: left;
      .img-avatar{
      width: 120px;
      height: 120px;
    }
  }
  @include breakpoint($d_small){
    text-align: left;
    .img-avatar{
      width: 100px;
      height: 100px;
    }
  }

}

.img-segment{
  // padding-top: 20px;

  img{
    width:100%;
    display: inline-block;
  }

  figcaption{
    margin-top: 5px;
    line-height: 1.4em;
    font-family: $font-Curator-Regular;
    font-size: 13px;
    color:$black;
  }

}

.read-more{
  display: inline-block;
  background: #fff;
  padding: 10px 17px;
  color:$black;
  font-size: 13px;
  font-family: $font-Curator-Regular;
  margin-top:10px;

  &:hover{
    background: #ddd;
  }
}

.filter-layer{
  pointer-events: none;
  opacity: 0;
  content: '';
  position: absolute;
  z-index:3;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  // display: none;
  background: #fff;
}

.content-video{
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  margin-top: 20px;
iframe{
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

}

.st-deck p:nth-of-type(2){
  font-family: $font-Thirty;
  margin-top: 5px;
}

.content-fake-bg{
  z-index:1;
position: absolute;
width: 100%;
height: 100%;
top:0;
background-color: #CBDFF3;
display: none;
@include breakpoint($d_medium){
  display: block;
};

  .fake-bg-l{
    position: absolute;
    background-image: linear-gradient(to bottom,
                                      #CBDFF3 0%, #CBDFF3 37.5%,
                                      #BDBFC0 37.5%, #BDBFC0 74.7%,
                                      #3091BB 74.7%, #3091BB 100%);
    width: 50%;
    height: 230px;
    bottom: 0;
    left:0;
  }
  .fake-bg-r{
    position: absolute;
  background-image: linear-gradient(to bottom,
                                    #CBDFF3 0%, #CBDFF3 61.4%,
                                    #13A2DF 60%, #13A2DF 100%);
    width: 50%;
    height: 230px;
    bottom: 0;
    right: 0;
  }
}

.st-content-banner-desktop,.st-content-banner-mobile{
  position: relative;
  z-index: 2;

  img{
    width: 100%;
  }
}
.wrap-bg-contain{
  @include container;
}

.wrap-bg-desktop {
  //
  position: relative;
  display: none;
  z-index: 2;
  padding-top: 0;
  @include breakpoint($d_medium) {
    display : block;
    width: 100%;
    padding-top: 230px;
  }
  @include breakpoint(970px){
    padding-top: 140px;
  }
}

.wrap-bg-mobile-mb{
  margin-bottom: 28%;
}

.wrap-bg-mobile {
  position: relative;
  display: block;
  z-index: 2;
  width   : 100%;
  height: 100%;
  @include breakpoint($d_medium) {
    display: none;
  };
}

.svg-container{
  position: relative;
  top:0;
  left: 0;
  height: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 50%;

  svg{
    position: absolute;
    // height: 100%;
    width: 100%;
    top:0;
    left:0;
  }
}

.main-headline{
  z-index: 3;
  position: relative;
  transform: none;
  @include breakpoint($d_medium){
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%,8%);
  }
}
.fadein {
  opacity                    : 0.5;
  /* make things invisible upon start */
  -webkit-animation          : fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation             : fadeIn ease-in 1;
  animation                  : fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode   : forwards;
  animation-fill-mode        : forwards;
  animation-iteration-count  : infinite;
  -webkit-animation-duration : 1.3s;
  -moz-animation-duration    : 1.3s;
  animation-duration         : 1.3s;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 0.1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 0.1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 0.1;
  }
}
.one {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay   : 0.5s;
  animation-delay        : 0.5s;
}

.two {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay   : 0.6s;
  animation-delay        : 0.6s;
}

.three {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay   : 0.7s;
  animation-delay        : 0.7s;
}

.four {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay   : 0.8s;
  animation-delay        : 0.8s;
}

.five {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay   : 0.9s;
  animation-delay        : 0.9s;
}

.six {
  -webkit-animation-delay: 1s;
  -moz-animation-delay   : 1s;
  animation-delay        : 1s;
}

.seven {
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay   : 1.1s;
  animation-delay        : 1.1s;
}

.eight {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay   : 1.2s;
  animation-delay        : 1.2s;
}

.nine {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay   : 1.3s;
  animation-delay        : 1.3s;
}
