.contest-form {
  @include container(794px);
  color  : #333;
  padding: 0 5%;

  font-family: $font-Curator-Regular;
  fieldset {
    border : none;
    margin : 0;
    padding: 0;
  }

  .st_strap-bold {
    font-family: $font-Curator-Bold;
    color      : #333;
    margin-top : 30px;
    @include breakpoint($d_medium) {
      margin-top: 50px;
    }
  }

  #headform {
    margin-top: 0;
  }

  .fields {
    margin-top: 20px;
    >div{
      margin-bottom: 10px;
    }
    color     : #333333;
  }

  .questionTitle {
    margin: 15px 0;
    font-family: $font-Thirty;
    font-size: 22px;
    line-height: 26px;
    color:$black;
  }

  .st_form input[type="text"] {
    /* general style for input elements */
    padding         : 12px;
    border          : none;
    background-color: #EEF2F3;
    min-height      : 22px;
    font-size       : 16px;
    color           : #666666;
    width           : 90%;
    outline         : none;
    @include breakpoint($d_medium) {
      width: 700px;
    }
  }

  input[type="radio"] {
    margin-top: 20px;

    a:hover {
      color: $stblue;
    }
  }

  .radiobtn {
    @include breakpoint($d_medium) {
      float: left;
      width: 200px;
    }
  }

  .st_form_condition {
    font-family: $font-Curator-Regular;
    color: #777;
    width: 100%;
    @include breakpoint($d_medium) {
      width: 700px;
    }
    p{
      line-height: 23px;
      padding-bottom: 10px;
    }
  }

  .checkboxdiv {
    margin: 18px 0 21px;
  }

  .submitbtn {
    margin-top: 35px;
    input{
      font-family: $font-Curator-Regular;
    }
  }

  #VoteButton {
    width                : 250px;
    height               : 52px;
    font-size            : 16px;
    text-align           : center;
    padding              : 16px;
    // background-color     : #5A9DDC;
    background-color     : $red;
    color                : #fff;
    text-transform       : uppercase;
    border               : none;
    cursor               : pointer;
    margin-bottom        : 10px;
    -webkit-appearance   : none;
    -webkit-border-radius: 0;
  }

  #VoteButton:hover,
  #VoteButton:focus {
    text-decoration: none;
    // background-color: #418ED7;
    background-color: darken($red,10%);
  }
}

.extrainfo {
  background-color: #EEF2F3;
  width           : 100%;
  color           : #333;
  margin-top      : 50px;
}

.innerinfo,
.innnerTC {
  @include container(794px);
  padding: 63px;
}

.innnerTC {
  strong {
    font-size: 14px;
  }

  p {
    font-size: 13px;
  }
}

.st-content-banner div a img {
  width : 100%;
  margin: 0;
}

.thankyou {
  @include container(700px);
  color     : #333;
  text-align: left;
  padding   : 5%;

  .st_strap_main {
    margin-bottom: 30px;

    h1 {
      font-size  : 20px;
      line-height: 37px;
      margin     : 0 auto;
      color      : #333;
      font-family: $font-Curator-Bold;
      @include breakpoint($d_medium) {
        font-size  : 20px;
        line-height: 27px;
        margin     : 30px auto;
      }
    }
    p{
      font-size: 16px;
      line-height: 1.3em;
      font-family: $font-Curator-Regular;
    }
  }

  #Backbutton {
    width                : 140px;
    height               : 40px;
    font-size            : 16px;
    text-align           : center;
    // padding              : 16px 0;
    line-height: 1.3em;
    background-color     : #5A9DDC;
    color                : #fff;
    text-transform       : uppercase;
    border               : none;
    cursor               : pointer;
    -webkit-appearance   : none;
    -webkit-border-radius: 0;
    margin-bottom        : 10px;
    font-family: $font-Curator-Regular;


  }

  #Backbutton:hover,
  :focus {
    text-decoration: none;
    // background-color: #418ED7;
  }
}

.contest-end{
  @include container(600px);
  color     : #333;
  text-align: center;
  padding   : 5%;

  .st_strap_main {
    margin-bottom: 30px;

    h1 {
      font-size  : 20px;
      line-height: 37px;
      margin     : 0 auto;
      color      : #333;
      font-family: $font-Curator-Bold;
      @include breakpoint($d_medium) {
        font-size  : 20px;
        line-height: 27px;
        margin     : 30px auto;
      }
    }
    p{
      font-size: 16px;
      line-height: 1.3em;
      font-family: $font-Curator-Regular;
      span{
        font-family: $font-Curator-Bold;
      }
    }

    &:nth-child(2), &:nth-child(3){
      p{
        color: #666;
      }
    }
  }
}

.timenow{
  color:#000;
  size:20px;

  span{
    font-weight: bold;
    size:30px;
  }
}

.headline-sub{
  font-size: 72px;
  line-height: 74px;
  margin-top: 0;
  margin-bottom: 0;
}

.headline-main{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 50px;
  line-height: 74px;
}

.ndp-logo{
  text-align: center;
  margin-bottom: 10px;
  img{
    width: 30px;
    @include breakpoint($d_medium){
      width: 40px;
    }
  }

}

.reasonTxtA{
  width: 90%;
  resize:none;
  // margin-top: 20px;
  padding:12px;
  background-color: #EEF2F3;
  border: none;
  color:#666666;
  outline: none;
  height: 130px;
  font-size: 16px;
  @include breakpoint($d_medium) {
    width: 700px;
  }
}

.field .reason{
  margin-top: 40px;
}

@mixin shadowBg() {
  width: 70%;
  border-width: 20px;
  border-style: solid;
  border-color: #EEF2F3;
  // box-shadow: 6px 6px 0 $greydark;
  background-color :  #EEF2F3;
  @include breakpoint($d_small) {
    width: 60%;
    // box-shadow: 10px 10px 0 $greydark;
  }
  @include breakpoint($d_medium) {
    width: 50%;
    // box-shadow: 15px 15px 0 $greydark;
  }
}

.img-guess-container {
  margin-bottom: 45px;
  text-align: left;
  img {
    @include shadowBg;
  }
}

.prev-contest,.prev-contest-end{
  @include container(794px);
  padding: 5%;
  // hr{
  //   border-top: dotted 1px;
  //   margin: 80px 0;
  // }
  h2{
    font-family: $font-Thirty;
    // font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: $black;
    margin-bottom: 35px;
  }

  >p{
    font-family: $font-SelaneTen;
    font-size: 20px;
    line-height: 26px;
    color: $black;
  }
}

.prev-contest-container{
  display: block;
  margin: 45px 0;
  padding-bottom: 20px;
  color: $black;
  .prev-img-container{
    @include shadowBg;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-color: #EEF2F3;
    font-family: $font-Curator-Regular;
    img{
      width: 100%;
      margin-bottom: 10px;
    }
    p{
      // padding-bottom: 5px;
    }
    span{
      // padding-bottom: 40px;
    }
  }

  .prev-feeback{
    font-family: $font-SelaneTen;
    font-size: 20px;
    line-height: 26px;
    color: $black;
      margin-left: 0;
      margin-top: 20px;
      display: inline-block;
      vertical-align: middle;
      width: 100%;
    @include breakpoint(850px){
      margin-left: 30px;
      width: 40%;
    }

    p{
      padding-bottom: 20px;
    }
    .head-author{
      font-family: $font-Curator-Regular;
      font-size: 15px;
      text-transform: uppercase;
    }
  }
}

.loading-form{
  display: block;
  margin: 0 auto;
  padding: 200px 0;
  text-align: center;

  &:after{
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
    padding-right: 20px;
  }
}

@keyframes ellipsis {
  to {
    width: 20px;
    padding-right: 0;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;
    padding-right: 0;
  }
}

.content-fake-bg{
  z-index:1;
position: absolute;
width: 100%;
height: 100%;
top:0;
  .fake-bg-l{
    background-image: linear-gradient(to bottom,
                      #CBDFF3 0%, #CBDFF3 66.4%,
                      #CBDFF3 66.5%, #BDBEC0 66.75%,
                      #BDBEC0 66.75%,#BDBEC0 88.5%,
                      #31C4F3 88.5%, #31C4F3 100%);
    width: 50%;
    height: 100%;
float:left;
  }
  .fake-bg-r{
    background-image: linear-gradient(to bottom, #CBDFF3 0%, #CBDFF3 80.8%, #31C4F3 81.1%, #31C4F3 100%);
    width: 50%;
    height: 100%;
    float: right;
  }
}

.prev-separation{
  display: block;
  width: 100%;
  border-top: thin dotted $black;
  margin-bottom: 50px;
}

.st-content-banner-desktop,.st-content-banner-mobile{
  position: relative;
  z-index: 2;
}
