$font-primary               : Georgia, serif;
$font-Merriweather          : 'Merriweather', serif;
$font-Playfair              : 'Playfair Display', serif;
$font-Roboto                : 'Roboto', sans-serif; //fonts san serif
$font-Curator-Regular       : 'Curator Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-Curator-Bold          : 'Curator Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$default-border-radius      : 10px;
$d_small                    : 420px;
$d_medium                   : 768px;
$d_normal                   : 992px;
$d_large                    : 1200px;
$color_chapter              : #0C2B57;
$padding_left_parraf        : 67px;
$padding_right_parraf       : 85px;
$st-color-blue              : #0c2b57;
$images_dir                 : "../images/";
$susy                       : (container:$d_large, columns: 16, gutter:5px, output:isolate );
$bootstrap-sass-asset-helper: false !default;
$gray-base                  : #000 !default;
$gray-darker                : lighten($gray-base, 13.5%) !default; // #222
$gray-dark                  : lighten($gray-base, 20%) !default; // #333
$gray                       : lighten($gray-base, 33.5%) !default; // #555
$gray-light                 : lighten($gray-base, 46.7%) !default; // #777
$gray-lighter               : lighten($gray-base, 93.5%) !default; // #eee
$brand-primary              : darken(#428bca, 6.5%) !default; // #91b0c3
$brand-success              : #5cb85c !default;
$brand-info                 : #5bc0de !default;
$brand-warning              : #f0ad4e !default;
$brand-danger               : #d9534f !default; //main colours
$stblue                     : #0C2B57;
$stlightblue                : #5A9DDC;
$red                        : #EF4123;
$yellow                     : #FFD400;
$screen                     : #EFF3F4;
$black                      : #333; //neutrals
$greydark                   : #C0CAC9;
$greylight                  : #E6EAE9;
$blueneutral                : #98A9D5;
$menudark                   : #DDEAF2;
$menubg                     : #F2F7FA; //sections
//singapore
$sinprimary                 : #56C8CE;
$sintext                    : #36B4BB;
$sinscreen                  : #F1F9FB; //business
$busprimary                 : #68A94D;
$bustext                    : #68A94D;
$busscreen                  : #EFF2EB; //lifestyle
$lifprimary                 : #96AAF2;
$liftext                    : #8799D9;
$lifscreen                  : #F2F4F8; //sport
$spoprimary                 : #24A299;
$spotext                    : #24A299;
$sposcreen                  : #EBFAF6; //world and asia
$worprimary                 : #29ABE2;
$wortext                    : #13A2DF;
$worscreen                  : #E9F6FC; //others
$orange                     : #E08523;
$pink                       : #942170;
$purple                     : #664B9A; //fonts serif
$font-SelaneMinTen          : 'Selane MinTen', serif;
$font-Thirty                : 'Selane Thirty', serif;
$font-SelaneTen             : 'Selane Ten', serif;
$padding_left_parraf        : 67px;
$padding_right_parraf       : 85px;
