// body {
//   overflow: scroll;
// }

html {
  background             : url("/images/NDP-2017/background-project.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size   : cover;
  -o-background-size     : cover;
  background-size        : cover;
}

main {
  @include breakpoint($d_medium) {
     @include container;
  };
}

footer.st-content-footer {
  position: fixed;
}

.merlion {
  position: absolute;
  left    : 0;
  bottom  : 0;
  z-index : -1;
}

#water {
  position: relative;
  width   : 1100px;
}

#merlion {
  position: absolute;
  left    : 0;
  bottom  : 0;
}
// .st-title h1 {
//   overflow         : hidden;
//   border-right     : 2px solid rgba(192,192,192,0.3);
//   white-space      : nowrap;
//   /* keeps content in one line */
//   //letter-spacing: 0.1em;
//   -webkit-animation: typing 2s steps(22, end), blink-caret 2s step-end;
//   -moz-animation   : typing 2s steps(22, end), blink-caret 2s step-end;
// }
//
// .st-title h2 {
//   color                      : #333;
//   font-family                : $font-SelaneMinTen;
//   text-align                 : center;
//   font-size                  : 72px;
//   white-space                : nowrap;
//   overflow                   : hidden;
//   border-right               : 2px solid rgba(192,192,192,0.3);
//   -webkit-animation          : typing2 2s steps(22, end), blink-caret2 2s step-end;
//   -webkit-animation-delay    : 3s;
//   -webkit-animation-fill-mode: both;
//   -moz-animation             : typing2 2s steps(22, end), blink-caret2 2s step-end;
//   -moz-animation-delay       : 3s;
// }
// /* The typing effect */
// @keyframes typing {
//   from {
//     width: 0;
//   }
//
//   to {
//     width: 10em;
//   }
// }
// @keyframes typing2 {
//   from {
//     width: 0;
//   }
//
//   to {
//     width: 10em;
//   }
// }
// @keyframes blink-caret {
//   from,
//   to {
//     border-color: transparent;
//   }
//
//   1% {
//     border-color: rgba(192,192,192,0.3);
//   }
// }
// @keyframes blink-caret2 {
//   from,
//   to {
//     border-color: transparent;
//   }
//
//   1% {
//     border-color: rgba(192,192,192,0.3);
//   }
// }

.main-headline {
  background-color: rgba(255,255,255,0.5);
  height          : 600px;
}

#start p {
  display         : none;
  background-color: darken(red, 10%);
  width           : 250px;
  margin          : 50px auto auto;
  cursor          : pointer;
  font-size       : 30px;
  color           : #FFF;
  text-align      : center;
  padding         : 20px;
}

.st-content-graphic {
  padding: 0 !important;
}

#avatar {
  margin-top : 30px;
  margin-left: 10%;
  //text-align: center;
  //display   : inline-block;
  img {
    height     : 100px;
    cursor     : pointer;
    margin-left: 30px;
    opacity    : 0.5;
  }
}

#avatar img:hover {
  opacity          : 1;
  -webkit-transform: rotate(10deg);
  -moz-transform   : rotate(10deg);
  -o-transform     : rotate(10deg);
  -ms-transform    : rotate(10deg);
  transform        : rotate(10deg);
}
// .selected {
//   // box-shadow   : 0 12px 22px 1px #333;
//   border            : solid 1px #555;
//   background-color  : #eed;
//   box-shadow        : 7px -2px rgba(0,0,0,0.6);
//   -moz-box-shadow   : 7px -2px rgba(0,0,0,0.6);
//   -webkit-box-shadow: 7px -2px rgba(0,0,0,0.6);
//   -o-box-shadow     : 7px -2px rgba(0,0,0,0.6);
//   border-radius     : 100px;
//   //opacity           : 1 !important;
// }

input[type="radio"] {
  visibility: hidden;
}

#mobile {
  display: none;
}

#form {
  display: none;
}

#form-outer {
  z-index: -1 !important;
}

.half {
  float    : left;
  display  : none;
  z-index  : 1;
  position : fixed;
  left     : 50%;
  top      : 50%;
  transform: translate(-50%, -50%);
  @include breakpoint(770px) {
    left     : auto;
    transform: none;
    top      : 0;
  }
}

#info {
  display    : none;
  padding-top: 50px;
}

.locationsize {
  height    : 65vh;
  max-height: 770px;
  width     : auto;
}

.halfscreen {
  float   : left;
  position: relative;
  width   : auto;
  margin  : inherit;
}

.effect {
  position: absolute;
  top     : 0;
  height  : 50%;
  @include breakpoint($d_medium) {
    right: -300px;
  };
}

.characters {
  position: absolute;
  bottom  : 0;
  height  : 50%;
  @include breakpoint($d_medium) {
    right: -300px;
  };
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.hide {
  display: none;
}

.online {
  margin          : inherit;
  display         : none;
  padding-top     : 10px;
  padding-bottom  : 10px;
  background-color: $greylight;

  img {
    width      : 50px;
    margin-left: 10px;
  }
  @include breakpoint($d_medium) {
    margin-left: 50%;
  };
}

#deskdrpdwn {
  display  : none;
  position : fixed;
  height   : 100vh;
  transform: translateY(67%);
  cursor   : pointer;

  span {
    background-color: darken(red, 10%);
    color           : #FFF;
    font-size       : 18px;
    padding         : 20px;
  }
}

.notification {
  position: relative;
  display : none;
}

#drpdwn {
  position        : absolute;
  border-radius   : 20px 5px 5px 20px;
  margin-top      : 130%;
  padding         : 10px;
  right           : -100px;
  background-color: rgba(192,192,192,0.3);
  width           : 130px;
  height          : 45px;
  z-index         : 2;
  box-shadow      : 0 0 0 rgba(192,192,192,0.4);
  animation       : pulse 2s infinite;

  span {
    color: #333;
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(192,192,192,0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(192,192,192,0.4);
    box-shadow     : 0 0 0 0 rgba(192,192,192,0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    box-shadow     : 0 0 0 10px rgba(204,169,44, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    box-shadow     : 0 0 0 0 rgba(204,169,44, 0);
  }
}

#status {
  display   : none;
  display   : inline-block;
  text-align: center;
  width     : 70%;

  p {
    font-size: 20px;
    color    : black;
  }
  @include breakpoint(767px) {
    width: 80%;
  };
}

.details {
  display   : none;
  text-align: center;
  position  : absolute;
  transform : translate(50%, 75%);
  height    : 100vh;
  @include breakpoint($d_medium) {
    float       : right;
    position    : relative;
    transform   : none;
    margin-top  : 20px;
    margin-right: 15%;
    height      : auto;
  }
}

.newparade {
  margin-top: 40px;
  cursor    : pointer;

  span {
    border-style: solid;
    border-width: medium;
    border-color: $black;
    padding     : 10px;
  }
}

#download {
  cursor: pointer;

  span {
    margin-top  : 20px;
    border-style: solid;
    border-width: medium;
    border-color: $black;
    padding     : 10px;
  }
}

#canvas {
  max-width: 500px;
  width    : auto;
  @include breakpoint($d_medium) {
    max-height: 800px;
    max-width : 765px;
    width     : 50vw;
  };
}

.conversational-form .conversational-form-inner {
  height          : 83vh !important;
  position        : inherit !important;
  display         : -ms-flexbox !important;
  display         : -webkit-flex !important;
  background-image: url("/images/bg10.png");
  width           : auto !important;
  background-color: #FFF;
  @include breakpoint ($d_medium) {
    max-width : 600px;
    height    : 59vh !important;
    max-height: 700px !important;
  }
}

.conversational-form {
  z-index         : 1 !important;
  width           : 100vw !important;
  margin          : 0 !important;
  position        : inherit !important;
  float           : right !important;
  padding         : 0 !important;
  background-color: transparent !important;
  @include breakpoint(770px) {
    width: 50% !important;
  }
}

.conversational-form:before {
  background: none !important;
}

cf-chat scrollable {
  overflow-x: scroll !important;
  overflow-y: scroll !important;
  max-height: 100vh !important;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  display: none;
}

cf-chat-response.can-edit {
  pointer-events: none !important;
}

.conversational-form--enable-animation cf-input textarea,
cf-input.animate-in cf-input-button.cf-input-button {
  pointer-events: none !important;
}

.cf-input-button {
  pointer-events: none !important;
}

cf-input-button {
  pointer-events: none !important;
}

cf-chat-response.show thumb {
  width : 35px;
  height: 35px;
}

cf-chat-response.show text[value-added] {
  font-size: 14px;
}

cf-chat-response.show text {
  margin-left : 10px;
  margin-right: 10px;
}

.cf-button .cf-image {
  height: 200px !important;
  @include breakpoint($d_small) {
    height: auto !important;
  };
}
