body {
    color: $black;

    p {
        margin: 0;
    }
}

.leadSection {
    background: #c5e2ff;

    .leadOutDiv {
        @include container;

        .leadDiv {
            @include container(500px);
            padding   : 0 15px;
            text-align: center;
            @include breakpoint($d_medium) {
                float     : left;
                text-align: left;
                padding   : 110px 0;
                margin    : 0 5%;
            };

            p {
                font-family: $font-SelaneTen;
                font-size  : 19pt;
                line-height: 1;
                @include breakpoint($d_medium) {
                    font-size  : 17pt;
                    line-height: 1;
                }
            }
        }

        .leadAnimate {
            @include container(450px);
            float       : left;
            margin-right: 300px;
            transform   : scale(0.5);
            float       : none;
            // padding: 40px 0;
            // margin : 0 5%;
            @include breakpoint($d_medium) {
                margin-right: auto;
                transform   : none;
                float       : left;
            }
        }
    }
}

.g-axis text {
    font-size  : 14px;
    font-family: $font-Curator-Regular;
}

.g-axis line,
.g-axis path {
    fill           : none;
    stroke         : #000;
    shape-rendering: crispEdges;
}

.ques_intro {
    font-family  : $font-Curator-Regular;
    font-size    : 18px;
    margin-bottom: 25px;
}

.main-headline {
    margin          : 0;
    background-color: #c5e2ff;
    @include breakpoint($d_medium) {
        margin          : 30px 0;
        background-color: transparent;
    };
}

.ques_num {
    font-family: $font-Curator-Regular;
    font-size  : 19px;
}

.numberBlock {
    display      : block;
    position     : absolute;
    border-radius: 50%;
    font-size    : 16px;
    left         : 0;
    right        : 0;
    // border: solid 1px #333;
    top          : 0;
    width        : 35px;
    height       : 35px;
    margin       : 0 auto;
    line-height  : 35px;
}

.content-article {
    @include container;

    .questions {
        margin-top: 40px;
        padding   : 0 5%;

        .ques_top {
            margin-bottom: 40px;

            .ques_title {
                font-size  : 25px;
                margin     : 10px 0;
                line-height: 120%;
                font-family: $font-Curator-Bold;
                @include breakpoint($d_medium) {
                    font-size  : 18px;
                    line-height: 100%;
                }
            }

            p {
                font-family: $font-Curator-Regular;
                font-size  : 18px;
                line-height: 120%;
                margin-top : 20px;
                @include breakpoint($d_medium) {}
            }
        }

        .ques_body {
            .beforeDrag {
                @include container;

                .leftpic {
                    // width  : 400px;
                    // display: inline-block;
                    overflow: hidden;
                    @include span(37%);

                    .questionpic {
                        max-width : 320px;
                        height: 140px;
                        margin-left: -40px;
                        @include breakpoint($d_medium) {
                            height: 274px;
                            max-width : 399px;
                            margin-left: 0;
                        }
                    }

                    .ques_goal {
                        text-align: right;
                    }
                }

                .equalpic {
                    @include span(20%);
                    height: 140px;
                    // display: block;
                    // display: inline-block;
                    // opacity: 0.2;
                    // margin : 0 10px;
                    // width  : 20px;
                    @include breakpoint($d_medium) {
                         @include span(15%);
                        // width : 32px;
                        height: 300px;
                        // margin: 0 76px;
                    };

                    img {
                        width     : 30px;
                        margin-top: 100%;
                        @include breakpoint($d_medium) {
                            width     : 50px;
                            margin-top: 70%;
                        }
                    }
                }

                .rightpic {
                    @include span(37%);
                    // width  : 400px;
                    // display: inline-block;
                    .answerarea_all {
                        height        : 140px;
                        width         : 100%;
                        display       : inline-block;
                        vertical-align: middle;
                        text-align    : center;

                        &.ui-droppable {
                            border: 1px dashed rgba(183, 183, 183, 0.5);
                            @include animation(all 5s ease-out);
                        }

                        &.ui-droppable-active {
                            border: 1px solid rgba(183, 183, 183, 0.5);
                            @include animation(all 5s ease-in);
                        }

                        &.ui-droppable-hover {
                            border: 1px solid rgba(53,176,132,0.5);
                            @include animation(all 5s ease-in);
                        }
                        @include breakpoint($d_medium) {
                            height: 274px;
                            width : 100%;
                        }

                        p {
                            opacity: 0.5;
                        }
                    }

                    .ques_answer {
                        text-align: right;
                        display   : none;
                    }
                }
            }

            .dragger_area {
                @include container(900px);
                margin-top: 30px;
                text-align: center;

                .holder {
                    @include gallery(4 of 12);
                    cursor       : default;
                    border-radius: 50%;
                    position     : relative;

                    .imageholder {
                        position        : absolute;
                        margin-left     : auto;
                        margin-right    : auto;
                        left            : 0;
                        right           : 0;
                        height          : 58px;
                        width           : 58px;
                        border-radius   : 50%;
                        background-color: $greylight;

                        &.ui-droppable {
                            border: 1px dashed rgba(204, 204, 204, 0.5);
                        }

                        &.ui-droppable-active {
                            border: 1px solid rgba(204, 204, 204, 1);
                        }

                        &.ui-droppable-hover {
                            // box-shadow: inset 0 0 0 2px rgba(204, 204, 204, 1);
                            border: 1px solid rgba(53,176,132,0.5);
                        }
                        @include breakpoint($d_medium) {
                            height: 145px;
                            width : 145px;
                        }
                    }

                    .dragbub {
                        cursor       : pointer;
                        border-radius: 50%;

                        img {
                            @include breakpoint($d_medium) {
                                height: 147px;
                                width : 147px;
                            }
                            height                           : 60px;
                            width                            : 60px;
                            border-radius                    : 50%;
                            -webkit-animation-name           : Floatingx;
                            -webkit-animation-duration       : random(2)s;
                            -webkit-animation-iteration-count: infinite;
                            -webkit-animation-timing-function: ease-in-out;
                        }
                    }
                }
            }

            #hand_space {
                position: relative;

                svg {
                    pointer-events: none;
                    position      : absolute;
                    margin        : auto;
                    left          : 0;
                    right         : 0;
                    top           : 29%;
                }
            }

            .ques_explanationall {
                display   : none;
                margin-top: 40px;

                h3 {
                    line-height: 100%;
                    font-family: $font-Curator-Bold;
                    font-size  : 18pt;
                }

                .replaybutton {
                    background-color: #96aaf2;
                    /* Green */
                    border          : none;
                    color           : white;
                    padding         : 12px 25px;
                    text-align      : center;
                    text-decoration : none;
                    font-size       : 16px;
                    margin          : 20px auto auto;
                    width           : 40%;
                    cursor          : pointer;
                    display         : block;
                    text-transform  : uppercase;
                    @include breakpoint($d_medium) {
                        font-family: $font-Curator-Regular;
                        top        : 40px;
                        font-size  : 18px;
                        margin     : 5px;
                        left       : 300px;
                        position   : relative;
                        display    : inline-block;
                        width      : 14%;
                    }
                }

                .svg-content {
                    width     : 100%;
                    margin-top: 20px;
                    @include breakpoint($d_medium) {
                        width: 70%;
                        // float: left;
                    }

                    .g-datashow text {
                        font-size: 12px;
                        @include breakpoint($d_medium) {
                            font-size: 18px;
                        }
                    }
                }

                .healthhint {
                    background-color: #f7f7f7;
                    max-width       : 200px;
                    padding         : 20px;
                    margin          : 10px auto 0;
                    @include breakpoint($d_medium) {
                        float    : right;
                        max-width: 20%;
                    }

                    .weightip {
                        width       : 25px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .divider {
        border-top: dotted #ccc 1px;
        margin    : 60px auto;
    }
}
/* All Explain aft Answer */
.explaination {
    color      : $black;
    font-family: $font-Curator-Regular;
    font-size  : 16px;
}

circle {
    cursor: pointer;
}

.ui-droppable-hover {
    background-color: white;
    z-index         : 1;
    // -moz-box-shadow   : inset 0 0 1px #000000;
    // -webkit-box-shadow: inset 0 0 2px #000000;
    // box-shadow        : inset 0 0 4px #000000;
}

.ui-droppable-active {
    background-color: white;
    z-index         : 0;
    // -moz-box-shadow   : inset 0 0 1px #000000;
    // -webkit-box-shadow: inset 0 0 1px #000000;
    // box-shadow        : inset 0 0 1px #000000;
}

.bub_all {
    color: $red;
}

.node {
    fill        : #ccc;
    stroke      : #fff;
    stroke-width: 2px;
}

.link {
    stroke      : #777;
    stroke-width: 2px;
}
@include keyframes(Floating) {
    from {
        -moz-transform: translate(0, 0px);
    }

    65% {
        -moz-transform: translate(0, 4px);
    }

    to {
        -moz-transform: translate(0, -0px);
    }
}
/* Answer */
.answer {
    margin          : auto;
    background-color: #EFF3F4;
    color           : $black;
    font-size       : 15px;
    font-family     : $font-Curator-Regular;
    padding         : 10px 20px;
    margin-bottom   : 50px;
}
/* Credits Part */
.credits {
    max-width  : 1200px;
    margin     : auto;
    border-top : dotted #828282 1px;
    font-family: $font-Curator-Regular;
    font-size  : 12px;
    color      : #333;
    padding    : 20px 10px 50px;
    line-height: 15px;

    .graphics {
        margin: 15px 0;
    }

    span {
        font-family: $font-Curator-Bold;
    }

    a:link {
        color           : #707070;
        background-color: transparent;
        text-decoration : none;
    }

    a:visited {
        color           : #707070;
        background-color: transparent;
        text-decoration : none;
    }

    a:hover {
        color           : #C0CAC9;
        background-color: transparent;
        text-decoration : none;
    }

    a:active {
        color           : #707070;
        background-color: transparent;
        text-decoration : underline;
    }
}
