.st-image-responsive {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    vertical-align: middle;
}

.st-image-fit-content {
    width: 100%;
    height: 100%;
}

.transform-border-hairline {
    border-bottom: 1px solid #b1b2b4;
    transform: scaleY(0.5);
    @include container;
    // max-width: $d_normal;
    // @include center_div;
}

.credits-section {
    @include container;
    color: #666;
    font-family: $font-Curator-Regular;
    font-size: 13px;
    margin-top: 70px;
    padding: 20px 15px 30px;
    border-top: dotted #ccc 1px;
    box-sizing: border-box;

    .credits-label {
        font-family: $font-Curator-Bold;
    }
}

.none {
    display: none;
}

.st-header-page {
    .st-header-hero {
        position: relative;
        overflow: hidden;

        .st-header-hero-video {
            overflow: hidden;
        }

        .st-header-hero-image {
            background-image: url("../images/supercharging-header.jpg");
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
        }

        .st-title-general {
            @include container;
            position: absolute;
            bottom: 40%;
            right: 15px;
            left: 15px;
            z-index: 99;

            section {
                @include container(500px);
                text-align: center;
            }

            h1 {
                // max-width: 500px;
                color: #fff;
            }

            figure {
                max-width: 600px;
                margin: 0;
                -moz-text-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
                -webkit-text-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
                text-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
                text-rendering: optimizeLegibility;
                -webkit-font-smoothing: antialiased;

                figcaption {
                    @include container(650px);
                    color: #fff;
                    font-size: 20px;
                    text-align: left;
                    line-height: 1.3;
                    margin-top: 40px;
                    text-rendering: optimizeLegibility;

                    h1 {
                        margin-bottom: 15px;
                    }

                    p {
                        margin-bottom: 20px;
                    }

                    span {
                        font-size: 0.75em;
                        line-height: 0.3em;
                    }

                    time {
                        font-size: 14px;
                        color: #FFF;
                    }
                    @include breakpoint($d_medium) {
                        font-size: 24px;
                    }
                }
            }
        }
    }

    .st-header-hero-video {
        line-height: 1;
        overflow: hidden;
        background: #000;

        video {
            max-height: 100%;
            max-width: 100%;
            margin: 0 auto;
            text-align: center;
            width: 100%;
            height: 100%;
        }
    }

    .main-headline {
        .st-title {
            padding: 15px;
            margin-bottom: 25px;

            h1 {
                span {
                    color: $red !important;
                }
                color: #333;
                font-family: $font-SelaneMinTen;
                text-align: center;
                font-size: 38px;
                line-height: 45px;
                @media (min-width: $d_medium) {
                    font-size: 65px;
                    line-height: 130%;
                }
            }
        }

        .st-deck {
            font-family: $font-SelaneTen;
            text-align: center;
            // font-size: 1.1em;
            // line-height: 1.6;
            font-size: 20px;
            line-height: 1.5;
            color: #333;
            padding: 15px;
            // @media (min-width: $d_medium) {
            //     font-size: 1.3em;
            // }
        }

        .st-byline {
            font-family: $font-Curator-Regular;
            font-size: 13px;
            color: #666;
            padding: 15px;
            text-align: center;
        }
        @include breakpoint(320px) {
            // margin: 30px 0;
        }
        @include breakpoint(780px) {
            margin: 45px 0 40px;
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.st-content-header-subtitle {
    background-color: #0C2B57;

    .header-subtitle {
        @include container;
        box-sizing: border-box;
        // background-color: #999;
        padding: {
            top: 5px;
            left: 15px;
            right: 15px;
            bottom: 5px;
        }

        div {
            font-family: $font-Curator-Regular;
            font-size: 0.9375em;
            color: #5E5411;
            line-height: 1.5;
        }

        h2 {
            font-family: $font-SelaneMinTen;
            font-size: 2.3em;
            color: #fff;
            line-height: 1;
            @include breakpoint($d_medium) {
                font-size: 3em;
            }
        }

        p {
            color: #74869F;
            line-height: 1.5;
        }
        @include breakpoint($d_medium) {
            padding: {
                top: 20px;
                left: $padding_left_paragraph;
                right: $padding_right_paragraph;
                bottom: 20px;
            }
        }
    }
}

article section {
    .content-columns {
        &:first-of-type {
            padding-top: 60px;
        }

        &:last-of-type {
            padding-bottom: 80px;
        }
    }

    .content-columns {
        @include container;
        padding: 0 15px;
        font-family: $font-SelaneTen;
        color: #333;
        font-size: 17px;
        line-height: 1.6;
        box-sizing: border-box;

        .column-paragraph-left {
            @include breakpoint($d_medium) {
                float: left;
                width: 70%;
                margin-right: -100%;

                .text-paragraph {
                    padding-left: 52px;
                    padding-right: 45px;

                    p {
                        font-family: $font-SelaneTen;
                        font-size: 1.2em;
                        line-height: 1.6em;
                        color: #333;
                        margin-bottom: 1.125em;

                        span {
                            color: #333;
                            text-transform: uppercase;
                        }
                        @include breakpoint($d_medium) {
                            font-size: 1.2em;
                        }
                    }

                    p:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .column-paragraph-right {
            @include breakpoint($d_medium) {
                float: left;
                width: 30%;
                margin-left: 70%;
                font-family: $font-Curator-Regular;
            }
        }

        .photo-small-caption-bottom {
            background-color: #5CDBC5;
            font-family: $font-Curator-Regular;
            color: #fff;
            line-height: 1.6;
            max-width: 414px;
            margin: 0 auto;

            figcaption {
                padding: 15px;
                font-size: 15px;
            }
            @include breakpoint($d_medium) {
                margin: 15px;
            }
        }

        .photo-medium-caption-right {
            font-family: $font-Curator-Regular;
            color: #fff;
            @include clearfix;
            background-color: #EFF3F4;
            margin-top: 20px;
            margin-bottom: 20px;

            img {
                @include breakpoint($d_medium) {
                    width: 70%;
                    float: left;
                }
            }

            figcaption {
                font-family: $font-Curator-Regular;
                color: #333;
                font-size: 15px;
                padding: 15px;
                box-sizing: border-box;
                line-height: 1.6;
                @include breakpoint($d_medium) {
                    width: 30%;
                    float: right;
                }
            }
            @include breakpoint($d_medium) {
                margin: 50px;
            }
        }

        .blockquote {
            max-width: 350px;
            font-family: $font-Curator-Bold;
            text-transform: uppercase;
            // background-color: #333;
            margin: 50px auto;
            color: #333;
            // border-radius: 30px;
            quotes: "\201C" "\201D";
            position: relative;

            .content-blockquote {
                padding-top: 40px;
                /* padding-right: 40px */
                max-width: 320px;
                margin: 0 auto;

                cite > span:first-child {
                    margin-top: 15px;
                    opacity: 0.8;
                    display: inline-block;
                }

                cite {
                    div {
                        font-family: $font-Curator-Regular;
                        font-size: 0.8125em;
                        font-weight: lighter;
                        font-style: normal;
                        padding-top: 7px;
                        text-align: left;
                        line-height: 1.2em;
                    }
                }

                .line-quote {
                    height: 2px;
                    margin-top: 10px;
                    background-color: #ffd100;
                }
            }

            &:before {
                position: absolute;
                content: open-quote;
                color: #ffd100;
                font-style: normal;
                // font-weight: bolder;
                font-size: 200px;
                line-height: 0.45;
                left: 35px;
                font-family: $font-Thirty;
                height: 80px;
            }
            // &:after {
            //     position: absolute;
            //     content: close-quote;
            //     color: #5cdbc5;
            //     font-style: normal;
            //     font-weight: bolder;
            //     font-size: 140px;
            //     line-height: 0.6;
            //     text-align: right;
            //     right: 0;
            //     font-family: Arial, san-serif;
            // }
        }

        .st-promotion-article {
            max-width: 290px;
            margin: 15px auto auto;
            @include breakpoint($d_medium) {
                margin-top: 70px;
            }
        }
    }

    .content-columns {
        .text-unique-paragraph {
            max-width: 650px;
            @include breakpoint($d_medium) {
                padding-left: 52px;
                padding-right: 45px;
            }

            p {
                @include breakpoint($d_medium) {
                    font-size: 1.2em;
                    line-height: 1.6em;
                    color: #333;
                    margin-bottom: 1.125em;
                }
            }

            h3 {
                box-sizing: border-box;
                font-family: $font-Thirty;
                color: #333;
                font-size: 23px;
                line-height: 1.3;
                // padding: 15px;
                padding-top: 0;
                color: #666;
                margin-bottom: 15px;
            }
        }
    }
}

.content-columns-fluid {
    margin-right: 15px;
    margin-left: 15px;
}

.header-divided {
    @include container;
    padding: 30px 15px;
    text-align: center;

    h1 {
        font-size: 45px;
        line-height: 45px;
        margin: 0 auto;
        color: #333;
        font-family: $font-SelaneMinTen;
        @media (min-width: $d_medium) {
            font-size: 75px;
            line-height: 75px;
        }
    }

    .f_header {
        @media (min-width: $d_small) {
             @include span(10 first);
        }
        @media (min-width:$d_medium) {
             @include span(12 first);
        }
    }

    .s_header {
        background-color: #eff3f4;
        padding: 10px;
        @media (min-width: $d_small) {
             @include span(6 last);
        }
        @media (min-width:$d_medium) {
             @include span(4 last);
        }
    }
}

footer.st-content-footer {
    background-color: #0c2b57;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;

    .st-footer {
        padding: 15px;
        font-size: 13px;
        font-weight: normal;
        font-family: $font-Curator-Regular;
        color: #bbc2c7;
        margin-bottom: 0;
        line-height: 1.5;
        @include box-sizing(border-box);
        @include container;
        @include breakpoint($d_medium) {
            padding: 20px;
        }
    }
}

section.content-fb-comments {
    @include container;
    margin-top: 60px;
    padding: 15px;
    margin-bottom: 0 !important;

    .fb-comments {
        span:first-child {
            width: 100% !important;

            iframe {
                width: 100% !important;
            }
        }
    }
}
// csss video youtube responsive

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container embed,
.embed-container iframe,
.embed-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.window-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    @include transparent;
    @include transition(opacity 0.5s 0 ease-in);

    .content-window-modal {
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: absolute;
        max-height: 510px;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        @include container($d_normal);

        .clearfix-btn-close {
            @include clearfix;

            .btn-modal-close {
                float: right;
                margin-right: 10px;
                margin-top: 10px;
                display: block;
                cursor: pointer;
                right: 0;
            }
        }
    }
}

.modal-window-open {
    z-index: 9999999999;
    @include opacity(1);
    @include transition(opacity 0.5s 0 ease-in);
    @include clearfix;
}

.body-window-modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 48px;
    bottom: 48px;
    @include clearfix;

    .column-content-modal {
        height: 100%;
        box-sizing: border-box;

        iframe {
            margin: 0 auto !important;
        }
    }
}

.z-index-1 {
    z-index: -1;
}

.st-content-banner-bg {
    // @include background-image(linear-gradient(to right, #0C2B57 0%,#0C2B57 50%, #0C2B57 50%,#EF4123 100%));
    // background-image: url("../images/USelection/bg.svg");
    // background-size: 100% 100%;

    .st-content-banner {
        @include container;
    }

    a {
        display: block;
    }
}

.st-mobile {
    display: block;
    @include breakpoint($d_small) {
        display: none;
    }
}

.st-tablet {
    display: none;
    @include breakpoint($d_small) {
        display: block;
    }
    @include breakpoint($d_medium) {
        display: none;
    }
}

.st-desktop {
    display: none;
    @include breakpoint($d_medium) {
        display: block;
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes st-fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.8;
    }
}
@keyframes st-fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.8;
    }
}

.st-fadeIn {
    -webkit-animation-name: st-fadeIn;
    animation-name: st-fadeIn;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
// Pushpin
.pin-bottom,
.pin-top {
    position: relative;
}

.pinned {
    position: fixed !important;
}
