<template>
<header role="banner" class="st-content-menu">
  <nav class="st-content-menu-fixed">
    <div class="navbar">
      <figure class="st-logo" itemprop="associatedMedia image" itemscope itemtype="http://schema.org/ImageObject" data-component="image">
        <a href="http://www.straitstimes.com/" target="_blank">
              <img id="short_logo" src="~images/st-logo.svg" class="st-image-responsive" alt="Straitstimes logo" title="Straitstimes logo" />
              <img id="long_logo" src="~images/straits-times-logo.svg" class="st-image-responsive" alt="Straitstimes logo"
                title="Straitstimes logo" />
          </a>
      </figure>
      <ul>
        <li v-for="item in menu">
          <a :href="item.href" :title="item.title" :alt="item.title" :class="getClasses(item.current)">{{item.name}}</a>
        </li>
      </ul>
      <figure class="st-social-desktop" itemprop="associatedMedia image" itemscope itemtype="http://schema.org/ImageObject" data-component="image">
        <img src="~images/st-button-facebook.svg" class="st-image-responsive" alt="st button facebook" title="st button facebook" />
        <img src="~images/st-button-twitter.svg" class="st-image-responsive" alt="st button twitter" title="st button twitter" />
      </figure>
    </div>
  </nav>
  <div class="st-mb">
    <div class="st-button-menu-mobile">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 35 35" enable-background="new 0 0 35 35" xml:space="preserve">
          <circle fill="#0C2B57" stroke="#FFFFFF" stroke-miterlimit="10" cx="18.2" cy="17.6" r="15.5"></circle>
          <line class="first_line" fill="none" stroke="#FFFFFF" stroke-width="1.7" stroke-miterlimit="10" x1="10.5" y1="13.2" x2="26.1" y2="13.2"></line>
          <line class="menu_mobile_line_center" fill="none" stroke="#FFFFFF" stroke-width="1.7" stroke-miterlimit="10" x1="10.5" y1="17.6" x2="26.1" y2="17.6"></line>
          <line class="second_line" fill="none" stroke="#FFFFFF" stroke-width="1.7" stroke-miterlimit="10" x1="10.5" y1="21.9" x2="26.1" y2="21.9"></line>
        </svg>
    </div>
    <div class="modal-menu-mobile">
      <div class="st-content-detail-menu-mobile">
        <div v-for="item in menu" class="detail-menu-mobile">
          <div :class="getClassesMobile(item.current)">
            <a :href="item.href" :title="item.title" :alt="item.title">{{item.name}}</a>
          </div>
          <div class="transform-border-hairline"></div>
        </div>
      </div>
      <div class="st-content-shared-social">
        <figure class="st-social-mobile" itemprop="associatedMedia image" itemscope itemtype="http://schema.org/ImageObject" data-component="image">
          <img src="~images/st-button-facebook.svg" class="st-image-responsive" alt="st button facebook" title="st button facebook" />
          <img src="~images/st-button-twitter.svg" class="st-image-responsive" alt="st button twitter" title="st button twitter" />
        </figure>
      </div>
    </div>
  </div>
</header>
</template>

<script>
export default {
  props: ['menu'],
  methods:{
    getClasses:function(classi){
      return "st_option_menu_desktop "+((Boolean(classi))?"current":"");
    },
    getClassesMobile:function(classi){
      return "title-menu-mobile "+((Boolean(classi))?"selected-menu":"");
    }
  }
}
</script>
