//this does not work.
/*
.btn{
    outline: none;
    &:focus, input:focus{
        outline-color: transparent;
        outline-style: none;
        box-shadow: none;
    }
}
*/

.btn-group-vertical{
    label{
        margin-top: 0;
        margin-bottom: 0;
    }
}

.masthead-nav{
    border-top: 1px solid $gray-dark;
    border-bottom: 1px solid $gray-dark;
    padding: .25rem 0 .25rem 0;
    //make the buttons dissappear on mobile
    @include media-breakpoint-down(xs){
        display:none;
    }  

    .btn-link, .nav-link{
        color: $gray;
        font-weight: 300;
        font-size: $font-size-lg;
        font-family: $font-family-knowledge;
        margin-bottom:0;
        border: 0;
        padding: .5rem 1rem;
        display: inline-block;
        cursor: pointer;
        line-height: 1.5rem;
        &:hover{
            color:$gray-light !important;
            text-decoration: none !important;
        }
        &.active{
            font-weight: 500;
            border: 0;
            &:hover{
                color:$gray !important;
            }
        }
        
    }

    .nav{
        display: block;
    }
    .nav-item{
        display: inline-block;
        margin: 0 !important;
        padding: .5rem 1rem !important;
        text-align: left;
        &:first-of-type{
            .nav-link{
                margin-left: .15rem;
                margin-right: .15rem;
            }
        }
    }
    .nav, .nav-item{
        padding: 0;
        border: 0;
        line-height: 1.5rem;
        margin: 0;
        float: none;
    }
    .nav-link{
        text-align: left;
        padding: 0 !important;
        margin-left: -.30rem;
        
    }
    
}

.btn{
    font-family: $font-family-knowledge;
    font-size: $font-size-sm;
    &:focus,
    &.focus {
        outline-color: transparent !important;
        outline-style: none !important;
    }
    &.square{
        border-radius: 0;
    }
    &.circle{
        @include border-radius(50%);
        line-height: 1;
        &.sm{
            width: 30px;
            height: 30px;
            padding: 7px 9px;
        }
        &.md{
            width: 45px;
            height: 45px;
            padding: 8px 15px;
            font-size: 1.5rem;
        }
        &.lg{
            width: 60px;
            height: 60px;
            font-size: 2.25rem;
            padding: 10px 20px;
        }
    }
    &.smaller{
        padding: .25rem .5rem;
    }
    &.top-button{
        width: 60px;
        height: 60px;
        padding: 12px 15px 0 15px;
        background: $gray-lighter;
        border-color: $gray-lighter;
        color: #FFF;
        text-transform: uppercase;
        font-family: $font-family-sans-serif;
        &:before{
            content: $fa-var-long-arrow-up;
            font-family: $font-family-font-awesome;
            display: block;
            margin-bottom: .25rem;
            font-size: $font-size-lg;
        }
    }
}

.btn-primary{
    $background: $btn-primary-bg;
    $color: $btn-primary-color;
    $border: $btn-primary-border; 

    $active-background: $gray;
    $active-border: $gray;
    $active-color: #FFF;


    @include hover {
        color: $gray-dark;
        background-color: $gray-lighter;
            border-color: $btn-primary-border; 
    }


    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: $active-color;
        background-color: $active-background;
            border-color: $active-border;
        // Remove the gradient for the pressed/active state
        background-image: none;
        @include box-shadow($btn-active-box-shadow);

        &:hover,
        &:focus,
        &.focus {
        color: $active-color;
        background-color: $active-background;
            border-color: $active-border;
        }
    }
}


.btn-group.multi-select, .btn-group-vertical.multi-select{
    &.reuters-list-select{

        .btn{
            border: none;
            background: transparent;
            color: $gray-dark;
            text-align: left;
            padding-left: 1.25rem;
            
            &.active{
                background: #FFFFFF;
                &:before{
                    content: $fa-var-times-circle;
                    font-family: $font-family-font-awesome; 
                    position: absolute;
                    left: .25rem;
                    color: $gray-lighter;
                }
                
            }

            
        }

        &.horizontal{
            border: 1px solid $gray-dark;
            padding: .15rem;
            .btn{
                margin: .25rem $btn-toolbar-margin / 2;
                padding: .35rem;
                background-color: $gray-lighter;
                &.active{
                    padding: .35rem .35rem .35rem 1.35rem;
                    background: $gray-lighter;
                    &:before{
                        color: #FFF;
                    }
                    
                }
                @include hover {
                    color: $gray-lighter;
                    background-color:$gray;
                        border-color: $gray-light;
                }
            }
        }

        &.vertical{
            background-color: $gray-lighter;
            padding: .5rem;
            .btn{
                margin-top: $btn-toolbar-margin / 2;
                margin-bottom: $btn-toolbar-margin / 2;
                @include hover {
                    color: $gray-lighter;
                    background-color:$gray;
                        border-color: $gray-light;
                }
            }
        }

        

    }
}