.carousel {
    //the images themselves.
    .carousel-inner {

        > .carousel-item {
            // Account for jankitude on images
            > img,
            > a > img {
                width: 100%;
            }
        }
    }

    //the left/right arrows overtop the image.
    .carousel-control{
        opacity: 0;
        @include hover-focus {
            color: $carousel-control-color;
            text-decoration: none;
            outline: 0;
            opacity: .75;
        }
        &.left{
            @include gradient-x($start-color: rgba(107,106,107,.25), $end-color: rgba(107,106,107,.0001));
        }
        &.right{
            @include gradient-x($start-color: rgba(107,106,107,.0001), $end-color: rgba(107,106,107,.25));
        }

        .icon-prev {
            &:before {
                content: $fa-var-chevron-left;
                font-family: $font-family-font-awesome;
            }
        }
        .icon-next {
            &:before {
                content: $fa-var-chevron-right;
                font-family: $font-family-font-awesome;
            }
        }
    }

    //the pips below the images. The elements themselves actually have to be ABOVE the container 
    //in the HTML for it to work properly, which is... odd.
    .carousel-indicators {
        bottom: 0px;
        li{
            background-color: $gray-light;
            &.active{
                background-color: $carousel-indicator-active-bg;
            }
        }
    }
    .carousel-caption {
        position: inherit;
        left: auto;
        right: auto;
        bottom: auto;
        top: auto;
        width: 100%;
        padding: .25rem 0 2rem 0;
        text-align: left;
        text-shadow: none;
    }
}

/*

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: $carousel-indicators-width;
  padding-left: 0;
  margin-left: -($carousel-indicators-width / 2);
  text-align: center;
  list-style: none;

  li {
    display: inline-block;
    width: $carousel-indicator-size;
    height: $carousel-indicator-size;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    // IE9 hack for event handling
    //
    // Internet Explorer 9 does not properly handle clicks on elements with a `background-color` of `transparent`,
    // so we use `rgba(0,0,0,0)` instead since it's a non-buggy equivalent.
    // See https://developer.mozilla.org/en-US/docs/Web/Events/click#Internet_Explorer
    background-color: rgba(0,0,0,0); // IE9
    border: 1px solid $carousel-indicator-border-color;
    border-radius: $carousel-indicator-size;
  }

  .active {
    width: $carousel-indicator-active-size;
    height: $carousel-indicator-active-size;
    margin: 0;
    background-color: $carousel-indicator-active-bg;
  }
}
*/