section.graphic-section{
	max-height: 0px;
	transition:opacity 0.5s;
	opacity:.00001;
	overflow: hidden;
    &.selected{
		opacity:1;
		max-height: 100000px;
    }
    @include media-breakpoint-down(xs){
        max-height:none;
        opacity: 1;
        border-bottom: 1px solid black;
        padding-bottom: 10px;
    }
}
#package-container{
    @include media-breakpoint-down(xs){
        border-bottom: 1px solid black;
        h1{
            font-size:$display4-size;
        }
    }
}

.feature-header{
    position:relative;
    margin-top:-30px;
    @include media-breakpoint-up(xl){
        // @include make-container()
        // @include make-container-max-widths();
        // margin-top:20px;
    }
    @include media-breakpoint-down(sm){
        .feature-header-title-container{
            // position:static;
            color:white;
            .display-1, .display-2,.display-3,.display-4{
                color:white;
                line-height: 1;
            }
            .display-3{
                font-size:$display4-size;
            }
        }
    }
}
.feature-header-title-container{
    position:relative;
    top:65%;

    color:white;
    .display-1, .display-2,.display-3,.display-4,.display-5,.display-6{
        color:white;
        line-height: 1;
    }
		@include media-breakpoint-down(sm){
			top:48%;
		}

		@media (max-width: 350px){
			top:10%;
		}
}
