.tooltip-inner {
    text-align: left;
    border: 1px solid $gray-dark;
    p{
        margin-bottom: 0px;
        line-height: 1.3;
    }
    .tooltip-title{
        font-size: $font-size-lg;
        font-weight: 700;
    }
    .tooltip-text{
    
    }
    .tooltip-subhead{
        font-weight:700;
        text-transform: uppercase;
        margin-top: 8px;
        line-height: 1;
    }
    .tooltip-display{
        font-weight:100;
        font-size: $font-size-xl;
    }    
    hr{
        margin:8px auto 4px auto;
        border: 1px solid $gray;
    }

}