.graphic-title{
    font-size: $font-size-h2;
    margin-top: $reuters-standard-margin / 2;
}
.graphic-subhead{
    font-family: $font-family-sans-serif;
    line-height: 1.4rem;
}

.graphic-chart-label{
    font-family: $font-family-knowledge;
    text-transform: uppercase;
    font-weight: 500;
    font-size:$font-size-lg;
    margin-bottom:-0.2rem;
}

.graphic-chart-subhead{
    font-size: $font-size-sm;
    margin-bottom:0;
}

.graphic-timestamp{
    text-transform: uppercase;
    font-size: $font-size-sm;
    font-weight: 600;
}

.graphic-source{
    font-size: $font-size-xs;
    color: $gray;
}


.text-muted{
    font-family: $font-family-knowledge;
    font-size: $font-size-xs;
    color: $gray !important;
    font-weight: 400;
}
