.st-content-header {
    width: 100%;
    background: #0E4C75;
    .st-header-top {
        padding: 0 10px;
        @include container;
        @include clearfix;
        .pull-left {
            float: left;
        }
        .pull-right {
            float: right;
        }
        .go_to_st {
            cursor: pointer;
        }
        .content_social {
            @include clearfix;
            .btn_shared_twitter,
            .btn_shared_face {
                cursor: pointer;
            }
        }
        img {
            max-height: 46px;
            display: block;
            margin: 0 auto;
            height: auto;
            max-width: 45px;
        }
    }
}

.st-content-banner {
    width: 100%;
    // background: #2596b4;
    height: 100px;
    // background-image: url("../images/background-1900x950.jpg");
    // background-position: 50% 50%;
    // background-size: cover;
    /* For browsers that do not support gradients */
    background       : #5D9EDA;
    /* For Safari 5.1 to 6.0 */
    background       : url("../images/budget/pattern.png"), -webkit-linear-gradient(#5D9EDA, #36B4BB);
    /* For Opera 11.1 to 12.0 */
    background       : url("../images/budget/pattern.png"), -o-linear-gradient(#5D9EDA, #36B4BB);
    /* For Firefox 3.6 to 15 */
    background       : url("../images/budget/pattern.png"), -moz-linear-gradient(#5D9EDA, #36B4BB);
    /* Standard syntax */
    background       : url("../images/budget/pattern.png"), linear-gradient(#5D9EDA, #36B4BB);
    // background-image : url("../images/budget/pattern.png");
    background-repeat: repeat;
    .st-banner {
        @include container;
        // background-image: url("../images/budget/pattern.png");
        position: relative;
        height: 100%;
    }
    .st-content-logo-budget {
        position: absolute;
        bottom: 0;
        // left: 10px;
        // text-align: center;
        img {
            display: inline-block;
            max-width: 67%;
        }
    }
}

.st-graphic1 {
    @include container(980px);
    margin-left: 0;
}

.content_strap {
    margin-top: 40px;
    .st-strap,
    .st-headline {
        max-width: 930px;
        // margin: 0 auto;
    }
    .st-headline {
        font-family: $font-SelaneMinTen;
        font-size: 2.2em;
        color: #333;
        line-height: 1.2;
        padding-top: 20px;
        padding-bottom: 20px;
        @media (min-width: $d_small) {
            font-size: 2.8em;
        }
        @media (min-width: $d_medium) {
            font-size: 4em;
        }
    }
    .st-strap {
        font-family: $font-SelaneTen;
        font-size: 1.1em;
        line-height: 1.6;
        color: #333;
        padding-bottom: 2px;
        @media (min-width: $d_medium) {
            font-size: 1.15em;
        }
    }
    .time {
        font-family: $font-Curator-Regular;
        font-size: 13px;
        color: #666;
        text-align: left;
        padding-right: 15px;
        // padding-left: 15px
    }
}

.content_slider {
  display: none;
    width: 90%;
    margin-left: 8%;
    @media (min-width: $d_small) {
        display: none;
        width: 89%;
        margin-left: 9%;
    }
    @media (min-width: $d_medium) {
        display: block;
        width: 93%;
        margin-left: 6%;
    }

    #slider1 {
        width: 100%;
        margin-top: 10px;
    }
    .d3-slider-handle {
        background: #2596b4;
        border-radius: 50%;
        height: 1.4117647059em;
        width: 1.4117647059em;
    }
    .d3-slider-horizontal .d3-slider-handle {
        top: -0.45em;
    }
    .d3-slider-horizontal {
        height: 0.6em;
    }
    svg.d3-slider-axis {
        display: none;
    }
}

rect.isdeployment {
    // stroke: #fff;
    // stroke-width: 1;
    // stroke-opacity: 0.3;
}

.st-breadcumb-expenditure {
    margin-bottom: 15px;
    min-height: 66px;
    @include clearfix;
    .unit_breadcumb {
        position: relative;
        float: left;
        line-height: 1.5;
        box-sizing: border-box;
        width: 30%;
        @include clearfix;
        .arrow_left {
            float: left;
            max-height: 67px;
            margin-right: -14px;
            img {
                height: auto;
            }
        }
        .next_to_arrow {
            float: left;
            margin-left: 29px;
        }
        .breadcumb_name {
            font-family: $font-Curator-Regular;
            font-size: 15px;
            color: #333333;
            font-weight: normal;
        }
        .breadcumb_total,
        .breadcumb_percentage {
            font-family: $font-Curator-Regular;
            font-size: 15px;
            color: #666;
            font-weight: lighter;
        }
    }
}

.st-breadcumb-revenue {
    @include clearfix;
    .unit_breadcumb {
        position: relative;
        float: left;
        line-height: 1.5;
        box-sizing: border-box;
        .arrow_left {
            position: absolute;
            height: 100%;
            img {
                height: 100%;
            }
        }
        .next_to_arrow {
            margin-left: 14px;
        }
        .breadcumb_name {
            font-family: $font-Curator-Regular;
            font-size: 15px;
            color: #333333;
            font-weight: normal;
        }
        .breadcumb_total,
        .breadcumb_percentage {
            font-family: $font-Curator-Regular;
            font-size: 15px;
            color: #666;
            font-weight: lighter;
        }
    }
}

.st_division_text,
.st_division_text_top {
    padding: 15px 0;
    border-bottom: 1px #ccc solid;
}

.searchsomething {
    display: block;
    width: 100%;
    height: 34px;
    padding: 0 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #E7EAED;
    background-image: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    box-sizing: border-box;
}

#input_search_e .isparent {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-left: 15px;
    line-height: 1.5;
}

#input_search_e .ischild {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 15px;
    line-height: 1.5;
}

.text_graphic_complete,
.term_max_increase,
.text_increase_compareTo,
.term_min_increase,
.text_decrease_compareTo,
.text_ligther,
.text_select_year {
    font-family: $font-Curator-Regular;
    font-size: 15px;
    color: #333333;
    font-weight: lighter;
}

.text_ligther {
    font-size: 14px;
}

.small_scale {
    line {
        stroke-width: 1.5px;
        stroke: #333;
    }
    text {
        font-family: $font-Curator-Regular;
        font-size: 14px;
        color: #666;
        font-weight: lighter;
    }
}

#rad-total-expenditure + label,
#rad-percentaje-expenditure + label,
#rad-total-revenue + label,
#rad-percentaje-revenue + label {
    font-family: $font-Curator-Regular;
    font-size: 15px;
    color: #333333;
    font-weight: lighter;
    opacity: 0.6;
}

.content_control_expenditure .term_max_increase span,
.content_control_expenditure .term_min_increase span {
    padding: 5px 10px;
    background-color: #FBD7C6;
    cursor: pointer;
}

.content_control_revenue .term_max_increase span,
.content_control_revenue .term_min_increase span {
    padding: 5px 10px;
    background-color: #DFE6EF;
    cursor: pointer;
}

.max_increse_compareto,
.min_decrese_compareto {
    font-family: $font-Curator-Regular;
    font-size: 15px;
    color: #333333;
    font-weight: bolder;
}

rect.parent {
    fill: transparent;
    cursor: pointer;
    pointer-events: all;
    stroke: #fff;
    stroke-width: 1;
}

rect.child {
    pointer-events: none;
}

.list-option-radio input[type=radio] {
    opacity: 0;
    -webkit-appearance: none;
    display: inline-block;
    vertical-align: middle;
    z-index: 3;
    width: 30px;
    height: 30px;
    cursor: pointer;
    top: 50%;
    margin-top: -15px;
    position: absolute;
    left: 0;
    &:checked + label {
        opacity: 1 !important;
        &:after {
            content: '';
            @include transition-property(opacity);
            @include transition-duration(0.3s);
            @include border-radius(50%);
            width: 20px;
            height: 20px;
            position: absolute;
            left: 5px;
            margin-top: -10px;
            top: 50%;
            background-color: #435A72;
        }
    }
}

.list-option-radio label {
    display: inline-block;
    position: relative;
    font-size: 1.1em;
    padding: 0 0 0 50px;
    vertical-align: top;
    cursor: pointer;
    @include transition-property(color);
    @include transition-duration(0.3s);
    margin-bottom: 0;
    font-weight: normal;
    &:before {
        content: '';
        @include transition-property(opacity);
        @include transition-duration(0.3s);
        @include border-radius(50%);
        width: 30px;
        height: 30px;
        position: absolute;
        left: 0;
        margin-top: -15px;
        top: 50%;
        background-color: #E7EAED;
    }
}

.list-option-radio {
    padding-top: 10px;
    div {
        position: relative;
        padding: 0.3em 0;
    }
    svg {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 50%;
        margin-top: -18px;
        left: 2px;
        pointer-events: none;
        display: none;
        path {
            stroke: #042029;
            stroke-width: 10px;
            fill: none;
            stroke-linecap: round;
            stroke-linejoin: round;
        }
    }
}

.header_intern_chapter1 {
    position: relative;
    // max-width: $d_large;
    @include center_div;
}

.body_chapter1 {
    background-color: #fff;
    @include container;
}

//css chapter1 - header 1
.image_head_1_400 {
    width: 100%;
    display: block;
    @media (min-width: $d_small) {
        display: none;
    }
}

.image_head_1_992 {
    width: 100%;
    display: none;
    @media (min-width: $d_small) {
        display: block;
    }
    @media (min-width: $d_normal) {
        display: none;
    }
}

.image_head_1_1280 {
    width: 100%;
    display: none;
    @media (min-width: $d_normal) {
        display: block;
    }
}

.modal_graphic_sub2 {
    position: fixed;
    background-color: #fff;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    font-family: $font-Curator-Regular;
    font-weight: lighter;
    overflow: auto;
    @include translateY(100%);
    @include transition-duration(0.5s);
    @media (min-width: $d_small) {
        display: none;
    }
    .content_image_graphic_sub2 {
        padding: 15px 15px 10px 15px;
        @include clearfix;
        .icon_image_graphic_sub2 {
            float: left;
        }
        .close_modal_graphic_sub2 {
            float: right;
        }
    }
    .modal_title_graphic_sub2 {
        text-transform: uppercase;
        color: $color_chapter_1;
        font-size: 1.0625em;
        padding-left: 15px;
        padding-bottom: 15px;
    }
    .modal_parraf_graphic_sub2 {
        color: #333;
        font-size: 1.0714285714em;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        @media (min-width: $d_medium) {
            font-size: 0.9375em;
            line-height: 1.6875em;
        }
    }
}

.st_modal_eje_y {
    opacity: 1;
    @include translateY(0%);
    @include transition-duration(0.5s);
    pointer-events: auto;
}

.close_modal_graphic_sub2 {
    cursor: pointer;
}

.image_pioner_mobile {
    display: block;
    @media (min-width: $d_small) {
        display: none;
    }
}

.image_pioner_small {
    display: none;
    @media (min-width: $d_small) {
        display: block;
    }
    @media (min-width: $d_medium) {
        display: none;
    }
}

.image_pioner_desktop {
    display: none;
    @media (min-width: $d_medium) {
        display: block;
    }
}

.go_to_expenditure,
.go_to_revenue {
    cursor: pointer;
}

.text_bottom_header {
    background-color: $color_chapter_1;
    display: none;
    .content_text_bottom_header {
        @include container;
        font-family: $font-Curator-Regular;
        color: #FFFFFF;
        text-align: center;
        font-weight: lighter;
        -webkit-font-smoothing: antialiased;
        div {
            padding: 10px 40px 10px 40px;
            font-size: 20px;
            line-height: 35px;
            @media (min-width: $d_medium) {
                font-size: 23px;
                line-height: 34px;
                padding: 40px 60px 40px 60px;
            }
            @media (min-width: $d_normal) {
                font-size: 23px;
                line-height: 34px;
                padding: 40px 120px 40px 120px;
            }
        }
    }
    @media (min-width: $d_small) {
        display: block;
    }
}

.st-content-header {
    width: 100%
}

.st-graphic-summary,
.st-expenditure,
.st-revenue {
    display: inline;
}

#min1,
#min2,
#min3,
#min4,
#min5,
#min6,
#min7,
#min8,
#min9,
#min10,
#min11,
#screen2b,
#screen1b
{
    cursor: pointer;
}
