.st_content_graphic {
    padding: 0 10px;
    @include container;
    @media (min-width: $d_normal) {
        padding: 0;
    }
}
.head-st-budget {
    padding-top: 60px;
    .title_budget {
        font-family: $font-Curator-Bold;
        font-size: 18px;
        color: #333;
    }
    .strap_budget {

        font-family: $font-Curator-Regular;
        font-size: 15px;
        color: #666;
        padding-bottom: 20px;
        line-height: 1.6;
        display: none;

        @media (min-width: $d_medium){
            display: block
        }
    }
    @media (min-width: $d_medium){
        padding-top:60px;
    }
}
.credits-section {
    @include container;
    color: #666;
    font-family: $font-Curator-Regular;
    font-size: 13px;
    margin-top: 70px;
    padding: 20px 15px 30px 15px;
    border-top: dotted #ccc 1px;
    box-sizing: border-box;
    .credits-label {
        font-family: $font-Curator-Bold;
    }
}

.btn_shared_face,
.btn_shared_twitter {
    cursor: pointer;
}

footer.st-content-footer {
    background-color: #0c2b57;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;

    .st-footer {
        padding: 15px;
        font-size: 13px;
        font-weight: normal;
        font-family: $font-Curator-Regular;
        color: #bbc2c7;
        margin-bottom: 0;
        line-height: 1.5;
        @include box-sizing(border-box);
        @include container;
        @include breakpoint($d_medium) {
            padding: 20px;
        }
    }
}

section.content-fb-comments {
    @include container;
    margin-top: 60px;
    padding: 15px;
    margin-bottom: 0 !important;
    .fb-comments {
        span:first-child {
            width: 100% !important;
            iframe {
                width: 100% !important;
            }
        }
    }
}
.st-expenditure {
    .body-st-expenditure {
        position: relative;
        @include clearfix;
        .st-graphic-expenditure_content {
            overflow: hidden;
            width: 100%;
            .st-graphic-expenditure_translate {
                @include translateX(0);
                @include transition-duration(0.5s);
                min-width: 776px;
                .st-graphic-expenditure {}
            }
            @media (min-width: $d_medium) {
                float: left;
                width: 70%
            }
        }
        .control-expediture {
            display: none;
            .content_control_expenditure {
                padding: 15px;
            }
            @media (min-width: $d_medium) {
                display: block;
                width: 30%;
                float: left;
            }
        }
        .tooltip_expenditure {
            position: absolute;
            max-width: 93px;
            background-color: #e7eaed;
            color: #333;
            padding: 7px;
            z-index: 2;
            overflow:hidden;
            display: none;
            .head_box_compare {
                font-family: $font-Curator-Regular;
                font-size: 15px;
                line-height: 1.2;
                color: #333;
                margin-bottom: 10px;
            }
            .percentaje_box_compare {
                font-family: $font-Curator-Regular;
                font-size: 13px;
                color: #333;
                line-height: 1.5;
                margin-bottom: 10px;
            }
            .svg_box_compare {
                text {
                    font-family: $font-Curator-Regular;
                    font-size: 13px;
                    font-weight: lighter;
                }
            }
            .content_btn_break_down {
                text-align: center;
                button {
                    border: none;
                    cursor: pointer;
                    padding: 10px 6px;
                    display: inline-block;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    outline: none;
                    background: lighten(#435a72, 10%);
                    color: #fff;
                    font-family: $font-Curator-Regular;
                    font-size: 13px;
                    &:hover {
                        background: #435a72;
                    }
                    @media (min-width: $d_medium) {
                        padding: 10px 15px;
                    }
                }
            }
            @media(min-width: $d_medium) {
                padding: 15px;
                max-width: 180px;
            }
        }
    }
}
.st-revenue {
    .body-st-revenue {
        position: relative;
        @include clearfix;
        .st-graphic-revenue_content {
            overflow: hidden;
            width: 100%;
            .st-graphic-revenue_translate {
                min-width: 524px;
                .st-graphic-revenue {}
            }
            @media (min-width: $d_medium) {
                @include clearfix;
                float: left;
                width: 70%
            }
        }
        .control-revenue {
            display: none;
            .content_control_revenue {
                padding: 15px;
            }
            @media (min-width: $d_medium) {
                display: block;
                width: 30%;
                float: left;
            }
        }
        .tooltip_revenue {
            position: absolute;
            max-width: 93px;
            background-color: #e7eaed;
            color: #333;
            padding: 15px;
            z-index: 2;
            display: none;
            .head_box_compare {
                font-family: $font-Curator-Regular;
                font-size: 15px;
                line-height: 1.2;
                color: #333;
                margin-bottom: 10px;
            }
            .percentaje_box_compare {
                font-family: $font-Curator-Regular;
                font-size: 13px;
                color: #333;
                line-height: 1.5;
                margin-bottom: 10px;
            }
            .svg_box_compare {
                text {
                    font-family: $font-Curator-Regular;
                    font-size: 13px;
                }
            }
            .content_btn_break_down {
                text-align: center;
                button {
                    border: none;
                    cursor: pointer;
                    padding: 10px 15px;
                    display: inline-block;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    outline: none;
                    background: lighten(#435a72, 10%);
                    color: #fff;
                    font-family: $font-Curator-Regular;
                    font-size: 13px;
                    &:hover {
                        background: #435a72;
                    }
                }
            }
            @media (min-width: $d_medium) {
                max-width: 180px;
            }
        }
    }
}
.st-image-responsive {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}
.st-image-fit-content {
    width: 100%;
}
.center-block {
    margin: 0 auto;
}
.text-center {
    text-align: center;
    vertical-align: middle;
}
.transform-border-hairline {
    border-bottom: 1px solid #b1b2b4;
    transform: scaleY(0.5);
    max-width: $d_normal;
    @include center_div;
}
.st_lazy_load {
    opacity: 0;
}
.tooltip_subtitle {
    display: block;
    position: relative;
}
.mouseover_tooltip_subtitle:hover:after, .mouseover_tooltip_subtitle:focus:after {
    background: rgba(86, 104, 116, .8);
    color: #fff;
    content: attr(title-show);
    padding: 5px 15px;
    position: fixed;
    z-index: 98;
    font-family: $font-Curator-Regular;
    font-size: 0.875em;
    margin-top: 21px;
    margin-left: -27px;
}
.mouseover_tooltip_subtitle:hover:before, .mouseover_tooltip_subtitle:focus:before {
    border: solid;
    border-color: rgba(86, 104, 116, .8) transparent;
    border-width: 0 15px 12px 0;
    content: "";
    position: fixed;
    margin-top: 10px;
    margin-left: 5px;
    z-index: 99;
}
.tooltip_wall {
    display: block;
    position: relative;
}
.mouseover_tooltip_wall:hover:after, .mouseover_tooltip_wall:focus:after {
    background: rgba(86, 104, 116, .8);
    color: #fff;
    content: attr(title-show);
    padding: 10px 15px;
    position: fixed;
    z-index: 98;
    font-family: $font-Roboto;
    font-weight: lighter;
    font-size: 0.875em;
    margin-top: 8px;
    margin-left: -95px;
    line-height: 1.2;
}
.mouseover_tooltip_wall:hover:before, .mouseover_tooltip_wall:focus:before {
    border: solid;
    border-color: rgba(86, 104, 116, .8) transparent;
    border-width: 0px 0px 12px 14px;
    content: "";
    position: fixed;
    margin-top: 28px;
    margin-left: 0px;
    z-index: 99;
}
.go_next_chapter {
    line-height: 0;
    cursor: pointer;
    // img{
    @include opacity(0.8);
    @include transition(opacity 0.5s 0 ease-in);
    // }
    &:hover {
        @include opacity(1);
        @include transition(opacity 0.5s 0 ease-out);
    }
}
.content_svg {
    position: relative;
    svg {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
        max-height: 100%;
        max-width: 100%;
    }
    iframe {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
        max-height: 100%;
    }
}
.opacity {
    opacity: 0;
}
.none {
    display: none !important;
}
.st-big {
    display: none;
}
.st-medium {
    display: none;
}
.st-mobile {
    display: block;
}
.text_bold {
    font-family: $font-Curator-Bold;
    font-size: 15px;
    color: #333333;
}
.expenditure_axis, .revenue_axis {
    path {
        display: none;
    }
    text {
        font-family: $font-Curator-Regular;
        font-size: 11px;
        color: #666666;
    }
}
.st-expenditure .body-st-expenditure .st-graphic-expenditure_content .st-graphic-expenditure_translate.move_126 {
    @include translateX(-160px);
    @include transition-duration(0.5s);
}
.st-expenditure .body-st-expenditure .st-graphic-expenditure_content .st-graphic-expenditure_translate.move_252 {
    @include translateX(-315px);
    @include transition-duration(0.5s);
}
.expenditure_axis .tick line, .revenue_axis .tick line, .expenditure_axis path, .revenue_axis path {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.btn_go_back, .btn_go_back2 {
    @media(min-width: $d_medium) {
        display: none;
    }
}
@media (min-width: $d_small) {
    .st-big {
        display: none;
    }
    .st-medium {
        display: block;
    }
    .st-mobile {
        display: none;
    }
}
@media (min-width: $d_medium) {
    .st-big {
        display: block;
    }
    .st-medium {
        display: none;
    }
    .st-mobile {
        display: none;
    }
}
