.st-header-page {
    @include container(1200px);
    margin-top: 50px;
    @include clearfix;

    .main-headline {
        text-align: center;

        h1 {
            //            font-family: $font-Curator-Bold;
            color        : #333;
            padding-left : 15px;
            padding-right: 15px;
            max-width    : 850px;
            // -moz-text-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
            // -webkit-text-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
            // text-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
            //            line-height: 1.2;
            //            font-size: 32px;
            @include breakpoint($d_medium) {
                padding-left : 35px;
                padding-right: 35px;
            }
        }

        .st-description {
            padding  : 25px 15px 20px;
            max-width: 850px;
            //                padding: 60px 35px 60px 0px;
            p {
                font-family: $font-SelaneTen;
                font-size  : 20px;
                line-height: 1.5;
                color      : #333333;
            }
            @include breakpoint($d_medium) {
                padding-left : 35px;
                padding-right: 35px;
            }
        }
        @include breakpoint($d_medium) {
             @include span(11 first);
        }
    }

    .numbers-prize {
        text-align: center;
        color     : #333;

        .content-values-prize {
            // background-color: #ecf0f1;
            padding  : 25px;
            max-width: 200px;
            margin   : 0 auto 40px;

            .value-prize {
                font-family: $font-Curator-Bold;
                font-size  : 25px;
            }

            .label-value-prize {
                font-family: $font-Curator-Bold;
                font-size  : 18px;
            }

            .img-prize {
                img {
                    max-width: 200px;
                }
            }
            @include breakpoint( $d_medium) {
                margin: 0;
            }
        }
        @include breakpoint($d_medium) {
             @include span(5 last);
        }
    }

    .st-header-hero {
        position: relative;
        overflow: hidden;

        .st-header-hero-video {
            overflow: hidden;
        }

        .st-header-hero-image {
            background-image   : url("../images/supercharging-header.jpg");
            background-repeat  : no-repeat;
            background-position: 50% 50%;
            background-size    : cover;
        }

        .st-title-general {
            @include container;
            position: absolute;
            bottom  : 40%;
            right   : 15px;
            left    : 15px;
            z-index : 99;

            section {
                @include container(500px);
                text-align: center;
            }

            h1 {
                // max-width: 500px;
                color: #fff;
            }

            .st-byline {
                // position: absolute;
                // top: 100%;
                width      : 100%;
                margin-top : 15px;
                padding-top: 15px;
                font-size  : 14px;
                // border-top: 1px solid rgba(255, 255, 255, 0.25);
                // max-width: 500px;
                color      : #fff;
            }

            figure {
                max-width             : 600px;
                margin                : 0;
                -moz-text-shadow      : 0 0 12px rgba(0, 0, 0, 0.9);
                -webkit-text-shadow   : 0 0 12px rgba(0, 0, 0, 0.9);
                text-shadow           : 0 0 12px rgba(0, 0, 0, 0.9);
                text-rendering        : optimizeLegibility;
                -webkit-font-smoothing: antialiased;

                figcaption {
                    @include container(650px);
                    color         : #fff;
                    font-size     : 20px;
                    text-align    : left;
                    line-height   : 1.3;
                    margin-top    : 40px;
                    text-rendering: optimizeLegibility;

                    h1 {
                        margin-bottom: 15px;
                    }

                    p {
                        margin-bottom: 20px;
                    }

                    span {
                        font-size  : 0.75em;
                        line-height: 0.3em;
                    }

                    time {
                        font-size: 14px;
                        color    : #FFF;
                    }
                    @include breakpoint($d_medium) {
                        font-size: 24px;
                    }
                }
            }
        }

        .st-content-circuit {
            position  : absolute;
            bottom    : 20px;
            left      : 0;
            right     : 0;
            text-align: center;

            img {
                display: inline-block;
            }
        }
    }

    .st-header-hero-video2 {
        line-height: 1;
        overflow   : hidden;
        background : #000;

        video {
            max-height: 100%;
            max-width : 100%;
            margin    : 0 auto;
            text-align: center;
            width     : 100%;
            height    : 100%;
        }
    }

    .st-header-title {
        h1 {
            @include container (850px);
            color     : #333;
            text-align: center;
            margin-top: 50px;
        }
    }

    .st-header-strap {
        @include container;
        max-width  : 770px;
        color      : #333;
        padding    : 60px 35px 0;
        font-size  : 16px;
        font-family: $font-SelaneTen;
        text-align : center;
        @include breakpoint($d_medium) {
            padding    : 67px 67px 0;
            font-size  : 20px;
            line-height: 1.6;
        }
        // hr {
        //     border: none;
        //     border-bottom: 1px solid #ccc;
        //     margin-top: 40px;
        //     width: 90%;
        // }
    }

    .time {
        font-family  : $font-Curator-Regular;
        font-size    : 13px;
        color        : #666;
        margin-bottom: 20px;
    }
}

.legend-ss {
    font-family  : $font-Curator-Regular;
    text-align   : right;
    padding-left : 15px;
    padding-right: 25px;
    @include container(1293px);
    margin-bottom: 15px;

    span {
        display       : inline-block;
        color         : #333;
        vertical-align: bottom;
    }

    img {
        display       : inline-block;
        width         : 18px;
        height        : 25px;
        vertical-align: bottom;
    }
}

.text-dr {
    font-family  : $font-Curator-Regular;
    text-align   : left;
    padding      : 10px 25px 10px 15px;
    @include container(1293px);
    margin-bottom: 15px;
    font-size    : 14px;
    color        : #666;
}

.st-content-header-subtitle {
    .header-subtitle {
        padding-top   : 15px;
        padding-bottom: 15px;

        h2 {
            padding-bottom: 15px;
            font-family   : $font-SelaneTen;
        }

        p {}
    }
}

.content-columns {
    .text-unique-parraf {
        max-height: 1200px;
        max-width : 650px;
        @include breakpoint($d_medium) {
            padding-left : 52px;
            padding-right: 45px;
        }

        p {
            @include breakpoint($d_medium) {
                font-size    : 1.2em;
                line-height  : 1.6em;
                color        : #333;
                margin-bottom: 1.125em;
            }
        }

        h3 {
            box-sizing   : border-box;
            font-family  : $font-Thirty;
            color        : #333;
            font-size    : 23px;
            line-height  : 1.3;
            // padding: 15px;
            padding-top  : 0;
            color        : #666;
            margin-bottom: 15px;
        }
    }
}

.content-columns-fluid-full {
    .content-big-image-quote {
        padding-top: 30px;

        .st-byline-article {
            // text-transform: uppercase;
            box-sizing : border-box;
            box-sizing : border-box;
            // font-family: $font-Curator-Regular;
            font-family: $font-Thirty;
            color      : #666;
            // font-size: 0.8em;
            font-size  : 23px;
            line-height: 1.3;
            padding    : 15px 15px 5px;
            @include container(1200px);
            @include breakpoint($d_medium) {
                padding-left : 68px;
                padding-right: 45px;
            }

            a {
                color: #333;

                &:hover {
                    color: #333;
                }
            }
        }

        h3 {
            box-sizing : border-box;
            font-family: $font-Thirty;
            color      : #333;
            font-size  : 23px;
            line-height: 1.3;
            padding    : 0 15px 15px;
            @include container(1200px);
            @include breakpoint($d_medium) {
                padding-left : 68px;
                padding-right: 45px;
            }
        }

        .content-image-quote {
            position: relative;

            img {
                // width: 100%;
                max-width: none;
            }

            .move-content-absolute {
                @include container(1200px);
                position: absolute;
                top     : 0;
                left    : 0;
                right   : 0;
            }

            .blockquote {
                max-width          : 290px;
                font-family        : $font-SelaneTen;
                //            text-transform: uppercase;
                // background-color: #333;
                //                margin: 50px auto 50px auto;
                color              : #fff;
                // border-radius: 30px;
                quotes             : "\201D" "\201C";
                //        quotes: "“" "”" "‘" "’";
                position           : relative;
                -moz-text-shadow   : 0 0 12px rgba(51, 51, 51, 0.95);
                -webkit-text-shadow: 0 0 12px rgba(51, 51, 51, 0.95);
                text-shadow        : 0 0 12px rgba(51, 51, 51, 0.95);
                padding            : 15px 15px 45px;
                @include breakpoint($d_medium) {
                    padding: 15px 15px 45px 68px;
                }

                .content-blockquote {
                    padding-bottom: 40px;
                    /* padding-right: 40px */
                    max-width     : 320px;
                    margin        : 0 auto;

                    q {
                        font-size  : 30px;
                        line-height: 1.3;
                    }

                    cite > span:first-child {
                        margin-top: 15px;
                        opacity   : 0.8;
                        display   : inline-block;
                    }

                    cite {
                        div {
                            font-size  : 0.87em;
                            font-weight: lighter;
                            font-style : normal;
                            padding-top: 7px;
                            text-align : left;
                            line-height: 1.4em;
                            font-family: $font-Curator-Regular;
                        }
                    }

                    .line-quote {
                        height          : 2px;
                        margin-top      : 10px;
                        background-color: #ffd100;
                    }
                }
                //        &:before {
                //            position: absolute;
                //            content: open-quote;
                //            color: #ffd100;
                //            font-style: normal;
                //            // font-weight: bolder;
                //            font-size: 200px;
                //            line-height: 0.45;
                //            left: 35px;
                //            font-family: $font-Thirty;
                //            height: 80px;
                //        }
                &:after {
                    position   : absolute;
                    content    : open-quote;
                    color      : #fff;
                    font-style : normal;
                    //             font-weight: bolder;
                    font-size  : 180px;
                    line-height: 0.45;
                    // right: 35px;
                    height     : 80px;
                    font-family: $font-Thirty;
                }
            }
        }

        .caption-image-quote {
            box-sizing : border-box;
            color      : #999999;
            font-size  : 14px;
            line-height: 1.5;
            line-height: 1.5;
            padding    : 15px 15px 30px;
            @include container(1200px);
            @include breakpoint($d_medium) {
                padding-left : 68px;
                padding-right: 45px;
            }
        }
    }
}

.content-svg-map {
    .title-svg-map {
        font-family   : $font-Curator-Bold;
        font-size     : 15px;
        line-height   : 1.5;
        padding-top   : 10px;
        padding-bottom: 10px;
    }

    .status-svg-map {
        padding-top   : 10px;
        padding-bottom: 10px;

        .status-label {
            font-family: $font-Curator-Regular;
            font-size  : 16px;
            line-height: 1.5;
        }

        .status-description {
            font-family: $font-Curator-Regular;
            font-size  : 15px;
            line-height: 1.5;
        }
    }
}

.content-graphic {
    padding-left : 15px;
    padding-right: 15px;
    @include container(1293px);
}

.content-row-down {
    z-index       : 999;
    position      : absolute;
    bottom        : 0;
    left          : 0;
    right         : 0;
    text-align    : center;
    font-family   : $font-Curator-Regular;
    font-weight   : normal;
    color         : #fff;
    cursor        : pointer;
    pointer-events: none;
    line-height   : 1;

    svg {
        pointer-events: all;
        max-width     : 137px;
        max-height    : 60px;
    }
}

p.capitalLetter:first-letter {
    color       : #333;
    display     : block;
    /* Lo convertimos en bloque */
    float       : left;
    /*Lo mandamos a la izquierda */
    font-size   : 3.5em;
    /* Hacemos crecer la primera letra */
    margin-right: 15px;
    font-family : $font-SelaneMinTen;
    line-height : 0.9;
}

.st-desktop,
.st-medium {
    display: none;
}

.column-parraf-right {
    font-family: $font-Curator-Regular;

    object {
        max-width : 360px;
        text-align: center;
        width     : 100%;
    }

    audio {
        max-width: 100%;
    }
}

.container-dates {
    clear  : both;
    display: inline-block;
    margin : 20px 20px 20px 50px !important;
    @include container;

    .element-singles {
        @include gallery(14 of 15);
        @include breakpoint(480px) {
             @include gallery(5 of 15);
        }
    }

    .item-product {
        margin-bottom: 10px;
    }

    .flag-text {
        font-size  : 15px;
        line-height: 21px;
        padding    : 10px;
        font-family: $font-Curator-Regular;
        color      : #333;
        margin-left: 10px;
    }
}

.content-graphic {
    @include clearfix;

    .content-map-graphic {
        .map-prizes {
            min-height: 270px;
            @include breakpoint($d_small) {
                min-height: 400px;
            }
            @include breakpoint($d_medium) {
                min-height: 700px;
            }
        }
        @include breakpoint($d_medium) {
             @include span(12 first);
        }
    }

    .nano {
        max-height: 250px;
        margin-top: 20px;

        .content-cards {
            padding-left : 0;
            padding-right: 15px;
            outline      : none;

            .st-card {
                cursor          : pointer;
                background-color: #EFF3F4;
                padding         : 15px;
                @include transition(background-color .7s .5s);

                .st-start {
                    font-family: $font-Curator-Bold;
                    color      : #333;
                    font-size  : 15px;
                    line-height: 1;
                    text-align : right;
                }

                .row_card {
                    .label_card {
                        font-family: $font-Curator-Bold;
                        color      : #333;
                        font-size  : 15px;
                        line-height: 1.3;
                        @include transition(color .7s .5s);
                    }

                    .description_card {
                        font-family: $font-Curator-Regular;
                        color      : #333;
                        font-size  : 14px;
                        line-height: 1.4;
                        @include transition(color .7s .5s);
                    }

                    &:not(:last-child) {
                        padding-bottom: 10px;
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }

            .st-highlighter {
                background-color: #ff6700;
                @include transition(background-color .7s .5s);

                .st-start {
                    color: #fff;
                    @include transition(color .7s .5s);
                }

                .row_card {
                    .description_card,
                    .label_card {
                        color: #fff;
                        @include transition(color .7s .5s);
                    }

                    .label_card a {
                        color          : #fff;
                        @include transition(color .7s .5s);
                        text-decoration: underline;
                    }
                }
            }

            .st-highlighter-thisYear {
                background-color: #EF4123;
                @include transition(background-color .7s .5s);

                .st-start {
                    color: #fff;
                    @include transition(color .7s .5s);
                }

                .row_card {
                    .description_card,
                    .label_card {
                        color: #fff;
                        @include transition(color .7s .5s);
                    }

                    .label_card a {
                        color          : #fff;
                        @include transition(color .7s .5s);
                        text-decoration: underline;
                    }
                }
            }
            @include breakpoint($d_medium) {
                padding-left: 15px;
            }
        }
        @include breakpoint($d_small) {
            max-height: 300px;
        }
        @include breakpoint($d_medium) {
            max-height: 700px;
            margin-top: 45px;
            @include span(4 last);
        }
    }
}

.st-content-selects {
    // .content-select-award,
    // .content-select-price,
    // .content-select-country,
    // .content-select-grape,
    // .content-select-vintage,
    // .content-search-wine {
    //     @include span(2);
    // }
    .select2-container--default .select2-results > .select2-results__options {
        max-height: 400px !important;
    }

    .select2-selection__placeholder {
        font-size: 15px;
    }

    .select2-selection.background_select {
        background-color: #d9e3e6;
    }

    .select2-selection {
        border-radius   : 0;
        border          : none;
        background-color: #eff3f4;
    }
}

.select2-container {
    &:focus,
    .select2-selection:focus,
    .selection:focus {
        box-shadow: none;
        outline   : none;
    }

    .select2-results .select2-results__option--highlighted {
        background-color: #8fabb4;
    }

    .select2-dropdown {
        background-color: #EFF3F4;
        border-radius   : 0;
        border          : none;
        font-size       : 15px;
        color           : #666;
        line-height     : 1.5;
    }

    .select2-selection__rendered {
        pointer-events: none;

        .select2-selection__clear {
            font-size     : 23px;
            pointer-events: all;
        }
    }

    li {
        margin-left  : 0;
        margin-bottom: 0;
    }
}

.content-filters {
    font-size    : 14px;
    font-family  : $font-Curator-Regular;
    font-size    : 15px;
    color        : #333333;
    margin-bottom: 15px;
    @include clearfix;

    .st-content-selects {
        width: 150px;
        float: left;
    }

    .numer-search-out {
        font-family: $font-Curator-Regular;
        float      : right;

        .strong {
            font-family: $font-Curator-Bold;
        }
    }
}

.content-prizes-numbers-repeat {
    padding-left : 15px;
    padding-right: 15px;
    margin-top   : 40px;

    .table-responsive {
        border: none;
    }

    .max-width-box {
        h2 {
            font-family  : $font-SelaneMinTen;
            text-align   : center;
            color        : #333;
            font-size    : 48px;
            margin-top   : 20px;
            margin-bottom: 20px;
        }

        .title-top-table {
            font-family  : $font-Curator-Regular;
            font-size    : 14px;
            color        : #333;
            margin-top   : 10px;
            margin-bottom: 10px;
            padding-left : 5px;
            @include container(560px);
            @include breakpoint(700px) {
                display: none;
            }
        }

        .title-top-table2 {
            font-family  : $font-Curator-Regular;
            font-size    : 14px;
            color        : #333;
            margin-top   : 10px;
            margin-bottom: 10px;
            display      : none;
            @include breakpoint(700px) {
                display         : block;
                position        : absolute;
                position        : absolute;
                transform-origin: 50% 50%;
                transform       : rotate(-90deg) translate(50%, -70px);
                top             : 50%;
            }
        }

        .container-box {
            font-family: $font-Curator-Regular;
            color      : #333;
            position   : relative;
            @include container(560px);

            .st-tbody-box {
                tr {
                    &:first-child {
                        td {
                            border: none;
                        }
                    }
                }

                td {
                    padding: 5px;

                    &:first-child {
                        border: none;
                    }

                    div {
                        line-height   : 22px;
                        text-align    : left;
                        vertical-align: middle;
                        padding       : 3px;
                        margin        : 0 auto;
                        font-size     : 15px;
                        height        : 22px;
                        width         : 100%;
                        border-radius : 50%;
                        @include transition(background-color .5s .3s);
                    }

                    &:not(:first-child) {
                        div {
                            width     : 22px;
                            text-align: center;
                        }
                    }
                }

                .highlight-numbers {
                    border-radius: 50%;
                    // background-color: #ffcd00;
                    // @include transition(background-color .7s .5s);
                }
            }
        }
    }

    .text-bottom {
        font-family: $font-Curator-Regular;
        text-align : center;
        font-size  : 14px;
        color      : #333;
        margin-top : 15px;
    }
}

.content-last-table {
    padding         : 25px 15px;
    background-color: #f5f7f7;
    color           : #707070;
    margin-top      : 40px;

    .header-subtitle {
        text-align   : center;
        // @include container(600px);
        margin-bottom: 20px;

        img {
            width  : 70px;
            height : 80px;
            display: inline-block;
        }

        h2 {
            display       : inline-block;
            padding-left  : 15px;
            color         : #333;
            font-family   : $font-SelaneMinTen;
            font-size     : 48px;
            vertical-align: middle;
        }
    }

    .table-last {
        display: none;
        @include container(685px);

        thead {
            font-family: $font-Curator-Bold;
        }

        .table-responsive {
            border: none;
        }
        @include breakpoint(520px) {
            display: block;
        }
    }

    .table-last-mobile {
        display: block;
        @include container(420px);

        .content-card-table {
            .st-card-mobile {
                padding-top   : 10px;
                padding-bottom: 10px;

                .t-row-mobile {
                    font-size     : 16px;
                    padding-top   : 3px;
                    padding-bottom: 3px;
                    line-height   : 1.4;

                    .label-mobile {
                        font-family: $font-Curator-Bold;
                    }

                    .description-mobile {
                        font-family: $font-Curator-Regular;
                    }
                }

                &:not(:last-child) {
                    border-bottom: 1px solid #ccc;
                }
            }
        }
        @include breakpoint(520px) {
            display: none;
        }
    }
}

.text-inline-parraf {
    color          : #333;
    text-decoration: underline;

    &:hover {
        color: #333;
    }
}
@include breakpoint($d_small) {
    .st-mobile {
        display: none;
    }

    .st-medium {
        display: block;
    }
}
@include breakpoint($d_medium) {
    .st-medium {
        display: none;
    }

    .st-desktop {
        display: block;
    }

    .st-header-hero-video {
        animation-name           : kenBurns-right-top;
        animation-duration       : 40s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}

.sky-tabs > input:checked + label span {
    font-family: $font-Curator-Bold;
}
@include breakpoint($d_normal) {}
