/*css slider*/

.st-slider .axis {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.8;
    color: #333;
    font-weight: lighter;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.st-slider .axis.x line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.st-slider .axis .domain {
    /*fill: none;
    stroke: #000;
    stroke-opacity: .3;
    stroke-width: 10px;
    stroke-linecap: square;*/
    fill: none;
    stroke: #ddd;
    /*stroke-opacity: .3;*/
    stroke-width: 10px;
    stroke-linecap: square;
}

.st-slider .axis .halo {
    fill: none;
    stroke: #ddd;
    stroke-width: 8px;
    stroke-linecap: initial;
    /*fill: none;
    stroke: #ddd;
    stroke-width: 8px;
    stroke-linecap: square;*/
}

.st-slider .slider .handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: .5;
    stroke-width: 1.25px;
    cursor: pointer;
}