article {
  height    : 100%;
  min-height: 100%;
  width     : 100%;
  margin    : 0 auto;
}

.panotour {
  display : none;
  position: fixed;
  height  : calc(100vh - 50px);
  overflow: hidden;
}

.st-button-menu-mobile {
  display: none;
}

.st-content-graphic {
  padding-bottom: 0 !important;
}

.st-footer {
  padding-top   : 16px;
  padding-bottom: 16px;
}

.st-header-page {
  .main-headline {
    .st-title {
      margin: 0;

      h1 {
        color  : #FFFFFF !important;
        margin : 0;
        padding: 0.9em 0 0;
      }
    }

    .st-deck {
      margin: 0 auto;

      p {
        color    : #FFFFFF;
        max-width: 350px;
        margin   : 0 auto;
      }
    }

    .st-byline {
      time {
        color: #FFFFFF;
      }
    }
  }
}

.st-header-page {
  .st-header-hero-video {
    position: relative;
    height  : calc(100vh - 50px);
    z-index : 0;

    .bgposter,
    video {
      max-height: 100%;
      max-width : 100%;
      margin    : 0 auto;
      text-align: center;
      min-width : 100%;
      min-height: 100%;
      transform : translate(50%, 50%);
      right     : 50%;
      bottom    : 50%;
      left      : inherit;
      top       : inherit;
      position  : absolute;
      max-width : inherit;
      max-height: inherit;
      width     : auto;
      height    : auto;
    }

    .darken {
      min-width       : 100%;
      min-height      : 100%;
      background-color: #000000;
      opacity         : 0.7;
      position        : relative;
      z-index         : 99;
    }
  }

  .st-header-hero {
    .st-title-general {
      top      : 0;
      bottom   : 0;
      left     : 0;
      right    : 0;
      margin   : auto;
      max-width: 100%;

      section {
        position     : absolute;
        top          : 50%;
        right        : 0;
        left         : 0;
        padding-right: 15px;
        padding-left : 15px;
        text-align   : left;
        @include transform(translateY(-50%));
        @include container(500px);

        h1 {
          color  : #fff;
          padding: 15px 0;
          @include breakpoint($d_medium) {
            font-size  : 4em;
            line-height: 1.5;
          };
        }

        .st-deck {
          padding-top: 15px;
          color      : #fff;
          font-size  : 16px;
          line-height: 1.4;
          font-family: $font-Curator-Regular;
          max-width  : 400px;
          margin     : 0 auto;
        }

        .st-byline {
          color        : #fff;
          padding      : 15px 0 35px;
          font-size    : 14px;
          line-height  : 1.5;
          margin-bottom: 25px;
        }
        @include breakpoint($d_medium) {
          width: 70%;
        };
      }
      @include breakpoint($d_medium) {
        border       : 2px solid rgba(255,255,255,0.8);
        border-radius: 50%;
        width        : 620px;
        height       : 620px;
      };
    }

    .slide-up-fade-in {
      animation                        : slide-up-fade-in ease 2s;
      animation-iteration-count        : 1;
      transform-origin                 : 50% 50%;
      animation-fill-mode              : forwards;
      /*when the spec is finished*/
      -webkit-animation                : slide-up-fade-in ease 2s;
      -webkit-animation-iteration-count: 1;
      -webkit-transform-origin         : 50% 50%;
      -webkit-animation-fill-mode      : forwards;
      /*Chrome 16+, Safari 4+*/
      -moz-animation                   : slide-up-fade-in ease 2s;
      -moz-animation-iteration-count   : 1;
      -moz-transform-origin            : 50% 50%;
      -moz-animation-fill-mode         : forwards;
      /*FF 5+*/
      -o-animation                     : slide-up-fade-in ease 2s;
      -o-animation-iteration-count     : 1;
      -o-transform-origin              : 50% 50%;
      -o-animation-fill-mode           : forwards;
      /*Not implemented yet*/
      -ms-animation                    : slide-up-fade-in ease 2s;
      -ms-animation-iteration-count    : 1;
      -ms-transform-origin             : 50% 50%;
      -ms-animation-fill-mode          : forwards;
      /*IE 10+*/
      // animation-delay: 10s;
      animation-play-state             : paused;
      opacity                          : 0;
      opacity                          : 1\9;
    }
    @keyframes slide-up-fade-in {
      0% {
        opacity  : 0;
        transform: translate(0px,40px);
      }

      100% {
        opacity  : 1;
        transform: translate(0px,0px);
      }
    }
    @-moz-keyframes slide-up-fade-in {
      0% {
        opacity       : 0;
        -moz-transform: translate(0px,40px);
      }

      100% {
        opacity       : 1;
        -moz-transform: translate(0px,0px);
      }
    }
    @-webkit-keyframes slide-up-fade-in {
      0% {
        opacity          : 0;
        -webkit-transform: translate(0px,40px);
      }

      100% {
        opacity          : 1;
        -webkit-transform: translate(0px,0px);
      }
    }
    @-o-keyframes slide-up-fade-in {
      0% {
        opacity     : 0;
        -o-transform: translate(0px,40px);
      }

      100% {
        opacity     : 1;
        -o-transform: translate(0px,0px);
      }
    }
    @-ms-keyframes slide-up-fade-in {
      0% {
        opacity      : 0;
        -ms-transform: translate(0px,40px);
      }

      100% {
        opacity      : 1;
        -ms-transform: translate(0px,0px);
      }
    }

    .bgposter {
      position           : absolute;
      overflow           : hidden;
      margin             : auto;
      background-image   : url('/images/poster.jpg');
      background-size    : cover;
      background-position: center center;
      width              : 1400px;
      height             : 785px;
      animation          : bgposter 90s cubic-bezier(.2,0,.8,1) infinite;
      top                : 0;
      right              : 0;
      bottom             : 0;
      left               : 0;
    }
    @keyframes bgposter {
      from {
        transform: scale(1,1);
      }

      to {
        transform: scale(2,2);
      }
    }
  }
}

.st-content-btn-vr {
  text-align : center;
  padding-top: 20px;

  .st-btn-rh {
    margin-left: 9px;
    font-size  : 15px;
    padding    : 0;
    color      : #fff;
    border     : 1px solid rgba(255,255,255,0.5);
    background : transparent;
    outline    : none;

    a {
      color      : #fff;
      font-family: $font-Curator-Regular;
      outline    : none;
      padding    : 10px 15px;
      display    : block;
      @include breakpoint(350px) {
        padding: 10px 20px;
      };
    }

    a:hover {
      transition      : background-color 0.5s;
      background-color: #fff;
      color           : $black;
    }
  }
}
// .kolorAreaContainer {
//   display: block;
//   .kolorArea {
//     padding: 0px 65px;
//     .kolorAreaHeader {
//       .kolorAreaTitle {
//         font-family: $font-Curator-Bold !important;
//         font-size: 17px !important;
//         color: #333333 !important;
//       }
//     }
//     .kolorAreaContent {
//       div {
//         font {
//           font-family: $font-Curator-Regular !important;
//           line-height: 23px !important;
//           font-size: 16px !important;
//           color: #333333 !important;
//         }
//       }
//     }
//   }
// }
