.masthead-nav {
  max-width   : 1200px;
  // display: block;
  margin-left : auto;
  margin-right: auto;
}

.graphic-subhead {
  margin-top: 30px;
}

h4 {
  font-family: $font-Curator-Regular;
}

h5 {
  font-family: $font-Curator-Regular;
}

p {
  font-family: $font-SelaneTen;
}

div {
  font-family: $font-Curator-Regular;
}

.justify-content-center .col-md-3 p {
  font-family: $font-Curator-Regular;
}

.btn {
  background-color: $screen!important;
  color           : #333333!important;
}

.active {
  background-color: #5a9ddc!important;
  color           : #FFFFFF!important;
}

#issue-sort p {
  font-family: $font-Curator-Regular;
}

.text-issue {
  font-family: $font-Curator-Regular;
}
/*legend*/
.legend {
  font-size    : 0.9rem;
  line-height  : 1.2rem;
  margin-bottom: 10px;
}

.legend-box {
  width       : 12px;
  height      : 12px;
  display     : inline-block;
  margin-right: 2px;
}

.legend-box.cdu {
  background-color: black;
}

.legend-box.csu {
  background-color: #4D4D4F;
  margin-left     : 10px;
}

.legend-box.spd {
  background-color: #EC2033;
  margin-left     : 10px;
}

.legend-box.dielinke {
  background-color: #952978;
  margin-left     : 10px;
}

.legend-box.green {
  background-color: #A6B626;
  margin-left     : 10px;
}

.legend-box.pds {
  background-color: #82000D;
  margin-left     : 10px;
}

#reutersGraphic-historyresults .pie-chart,
#reutersGraphic-historyresults .pie-legend,
#reutersGraphic-results-seats .pie-chart,
#reutersGraphic-results-seats .pie-legend {
  width: 100% !important;
}

#reutersGraphic-results-percent .chart-holder.smaller .nested-legend {
  min-height: 0;
}

#reutersGraphic-results-percent .chart-holder.smaller .legend-items-holder {
  height : 0;
  display: none;
}

#reutersGraphic-blackgreen .legend-items-holder div:first-child .nameTip,
#reutersGraphic-blackyellow .legend-items-holder div:first-child .nameTip,
#reutersGraphic-grand .legend-items-holder div:first-child .nameTip,
#reutersGraphic-jamaica .legend-items-holder div:first-child .nameTip,
#reutersGraphic-redredgreen .legend-items-holder div:first-child .nameTip {
  display: none;
}

#reutersGraphic-blackgreen .legend-items-holder div:first-child .circleTip.bar,
#reutersGraphic-blackyellow .legend-items-holder div:first-child .circleTip.bar,
#reutersGraphic-grand .legend-items-holder div:first-child .circleTip.bar,
#reutersGraphic-jamaica .legend-items-holder div:first-child .circleTip.bar,
#reutersGraphic-redredgreen .legend-items-holder div:first-child .circleTip.bar {
  display: none;
}

.arc {
  stroke        : white;
  stroke-opacity: 0.5;
}
