.g-artboard {
                                margin: 0 auto;
                            }

                            #g-ai2html-medium,
                            #g-ai2html-desktop {
                                display: none
                            }
                            
                            #g-ai2html-mobile {
                                display: block;
                            }
                            
                            @media only screen and (min-width: 460px) {
                                /* For tablets: */
                                #g-ai2html-desktop,
                                #g-ai2html-mobile {
                                    display: none
                                }
                                #g-ai2html-medium {
                                    display: block;
                                }
                            }
                            
                            @media only screen and (min-width: 768px) {
                                #g-ai2html-medium,
                                #g-ai2html-mobile {
                                    display: none
                                }
                                #g-ai2html-desktop {
                                    display: block;
                                }
                            }
                            
                
                            
                            .g-bold-text p {
                                font-family: 'Curator Bold' !important;
                            }




                            #g-ai2html-desktop {
                                    position: relative;
                                    overflow: hidden;
                                }
                                
                                .g-aiAbs {
                                    position: absolute;
                                }
                                
                                .g-aiImg {
                                    display: block;
                                    width: 100% !important;
                                }
                                
                                #g-ai2html-desktop p {
                                    font-family: 'Curator Regular', arial, helvetica, sans-serif;
                                    font-size: 13px;
                                    line-height: 18px;
                                    margin: 0;
                                }
                                
                                #g-ai2html-desktop .g-aiPstyle0 {
                                    font-size: 15px;
                                    line-height: 70px;
                                    text-align: right;
                                    color: #707070;
                                }
                                
                                #g-ai2html-desktop .g-aiPstyle1 {
                                    font-size: 15px;
                                    line-height: 16px;
                                    text-align: center;
                                    color: #ffffff;
                                }
                                
                                #g-ai2html-desktop .g-aiPstyle2 {
                                    font-size: 15px;
                                    line-height: 16px;
                                    text-align: center;
                                    color: #ffffff;
                                }
                                
                                #g-ai2html-desktop .g-aiPstyle3 {
                                    font-size: 15px;
                                    line-height: 36px;
                                    text-align: center;
                                    color: #ffffff;
                                }
                                
                                #g-ai2html-desktop .g-aiPstyle4 {
                                    font-size: 15px;
                                    line-height: 16px;
                                    text-align: center;
                                    color: #333333;
                                }
                                
                                #g-ai2html-desktop .g-aiPstyle5 {
                                    font-size: 15px;
                                    line-height: 16px;
                                    text-align: center;
                                    color: #333333;
                                }
                                
                                #g-ai2html-desktop .g-aiPstyle6 {
                                    font-size: 15px;
                                    line-height: 16px;
                                    color: #333333;
                                }
                                
                                #g-ai2html-desktop .g-aiPstyle7 {
                                    font-size: 15px;
                                    line-height: 16px;
                                    color: #333333;
                                }





                                #g-ai2html-medium {
                                    position: relative;
                                    overflow: hidden;
                                }
                                
                                .g-aiAbs {
                                    position: absolute;
                                }
                                
                                .g-aiImg {
                                    display: block;
                                    width: 100% !important;
                                }
                                
                                #g-ai2html-medium p {
                                    font-family: 'Curator Regular', arial, helvetica, sans-serif;
                                    font-size: 13px;
                                    line-height: 18px;
                                    margin: 0;
                                }
                                
                                #g-ai2html-medium .g-aiPstyle0 {
                                    font-size: 15px;
                                    line-height: 70px;
                                    text-align: right;
                                    color: #707070;
                                }
                                
                                #g-ai2html-medium .g-aiPstyle1 {
                                    font-size: 15px;
                                    line-height: 17px;
                                    color: #333333;
                                }
                                
                                #g-ai2html-medium .g-aiPstyle2 {
                                    font-size: 15px;
                                    line-height: 17px;
                                    color: #333333;
                                }
                                
                                #g-ai2html-medium .g-aiPstyle3 {
                                    font-size: 15px;
                                    line-height: 17px;
                                    text-align: center;
                                    color: #ffffff;
                                }
                                
                                #g-ai2html-medium .g-aiPstyle4 {
                                    font-size: 15px;
                                    line-height: 17px;
                                    text-align: center;
                                    color: #ffffff;
                                }
                                
                                #g-ai2html-medium .g-aiPstyle5 {
                                    font-size: 15px;
                                    line-height: 17px;
                                    text-align: center;
                                    color: #333333;
                                }
                                
                                #g-ai2html-medium .g-aiPstyle6 {
                                    font-size: 15px;
                                    line-height: 17px;
                                    text-align: center;
                                    color: #333333;
                                }
                                
                                #g-ai2html-medium .g-aiPstyle7 {
                                    font-size: 15px;
                                    line-height: 17px;
                                    text-align: right;
                                    color: #333333;
                                }
                                
                                #g-ai2html-medium .g-aiPstyle8 {
                                    font-size: 15px;
                                    line-height: 17px;
                                    text-align: right;
                                    color: #333333;
                                }





                                #g-ai2html-mobile {
                                    position: relative;
                                    overflow: hidden;
                                }
                                
                                .g-aiAbs {
                                    position: absolute;
                                }
                                
                                .g-aiImg {
                                    display: block;
                                    width: 100% !important;
                                }
                                
                                #g-ai2html-mobile p {
                                    font-family: 'Curator Regular', arial, helvetica, sans-serif;
                                    font-size: 13px;
                                    line-height: 18px;
                                    margin: 0;
                                }
                                
                                #g-ai2html-mobile .g-aiPstyle0 {
                                    font-size: 15px;
                                    line-height: 70px;
                                    text-align: right;
                                    color: #707070;
                                }
                                
                                #g-ai2html-mobile .g-aiPstyle1 {
                                    font-size: 15px;
                                    line-height: 16px;
                                    text-align: right;
                                    color: #333333;
                                }
                                
                                #g-ai2html-mobile .g-aiPstyle2 {
                                    font-size: 15px;
                                    line-height: 16px;
                                    text-align: right;
                                    color: #333333;
                                }
                                
                                #g-ai2html-mobile .g-aiPstyle3 {
                                    font-size: 15px;
                                    line-height: 16px;
                                    color: #333333;
                                }
                                
                                #g-ai2html-mobile .g-aiPstyle4 {
                                    font-size: 15px;
                                    line-height: 16px;
                                    color: #333333;
                                }