.st-mobile-v {
  @include breakpoint($d_medium) {
    display: none;
  };
}

.st-desktop-h {
  display: none;
  @include breakpoint($d_medium) {
    display: block;
  };
}

.graphic-multiple {
  padding: 30px 0;
  @include clearfix;

  div {
    // @include breakpoint($d_small){
    @include gallery(4 of 8);
    // }
    @include breakpoint(520px) {
       @include gallery(3 of 9);
    }
    @include breakpoint($d_medium) {
       @include gallery(4 of 16);
    }
    @include breakpoint(900px) {
       @include gallery(3 of 15);
    };
  }
}

article section .content-columns {
  p {
    margin-bottom: 0.8em;
  }

  strong {
    font-size: 1.2em;
    font-family: $font-Thirty;
    line-height: 1.5;
    display: inline-block;
    margin-top: 60px;
    @include breakpoint($d_medium) {
      font-size: 1.35em;
    }
  }

  .subheadline {
    font-size: 1em;
    @include breakpoint($d_medium) {
      font-size: 1.2em;
    }
  }

  .gallery-tips {
    padding-top: 10px;
    padding-bottom: 20px;
    @include clearfix;

    .card-tips {
      font-size: 17px;
      font-family: $font-Curator-Regular;
      line-height: 1.5;
      color: #333;
      margin: 0;
      text-align: center;
      padding: 10px 20px;
      @include box-sizing;
      @include breakpoint(520px) {
         @include gallery(3 of 9);
      }
      @include breakpoint($d_medium) {
         @include gallery(4 of 16);
      }

      .card-tips-text {
        // height: 115px;
        padding: 10px;
      }
    }
  }

  .column-paragraph-left {
    .text-paragraph {
      padding-left: 0;

      p {
        line-height: 1.5;

        strong {
          font-size: 1.2em;
          font-family: $font-Thirty;
          line-height: 1.5;
          display: inline-block;
          margin-top: 20px;
          @include breakpoint($d_medium) {
            margin-top: 40px;
          };
        }
      }

      ul {
        list-style-type: square;
        padding-left: 20px;

        li {
          font-size: 17px;
          font-family: $font-Curator-Regular;
          line-height: 1.5;
          color: #333;
          margin: 0 0 10px;
        }
      }
    }
  }

  .column-paragraph-right {
    position: relative;

    div.icon-vr {
      position: absolute;
      top: 45%;
      @include translateY(-90%);
      // position: absolute;
      left: 50%;
      margin-left: -50px;
      // top: 50%;
      // margin-top: -100px;
    }

    .caption-link-external {
      padding: 0 20px 1px;
      background-color: $screen;

      .button-link {
        width: 51px;
        height: 22px;
        display: block;
        background-color: $stlightblue;
        color: #fff;
        font-family: $font-Curator-Regular;
        font-size: 14px;
        padding: 10px 20px;
        margin-bottom: 20px;
        transition: all 0.3s ease 0s;
      }

      .button-link:hover {
        background-color: #267ED1;
        color: #fff;
      }
    }
  }

  .photo-caption-bottom {
    padding: 35px 0;

    figcaption {
      padding: 15px 0;
      font-size: 15px;
      color: #666;
      font-family: $font-Curator-Regular;
    }
  }
}

.st-header-page {
  .st-header-hero-video {
    position: relative;

    .video-js {
      width: 100%;
      height: 100%;
    }

    .vjs-custom-control-spacer,
    .vjs-dock-shelf,
    .vjs-dock-text,
    .vjs-menu,
    .vjs-player-info-modal,
    .vjs-time-control {
      display: none;
    }

    .vjs-control-bar {
      height: auto;
    }

    .vjs-control:not(.vjs-progress-control) {
      display: none;
    }

    video {
      /* max-height: 100%; */
      /* max-width: 100%; */
      margin: 0 auto;
      text-align: center;
      min-width: 100%;
      min-height: 100%;
      transform: translate(50%, 50%);
      right: 50%;
      bottom: 50%;
      left: inherit;
      top: inherit;
      position: absolute;
      max-width: inherit;
      max-height: inherit;
      width: auto;
      height: auto;
    }
  }

  .st-header-hero {
    .st-title-general {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      // @include background-image(linear-gradient(white, #cccccc, #aaaaaa));
      @include background-image(linear-gradient(rgba(66,104,117,0), rgba(66,104,117,0.8)));
      // background-color: rgba(66,104,117,0.8);
      max-width: 100%;

      section {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        padding-right: 15px;
        padding-left: 15px;
        text-align: left;
        @include transform(translateY(-50%));
        @include container(500px);
        @include box-sizing;

        h1 {
          color: #fff;
          padding: 15px 0;
          @include breakpoint($d_medium) {
            font-size: 4em;
            line-height: 1.5;
          };
        }

        .st-deck {
          padding-top: 15px;
          color: #fff;
          font-size: 16px;
          line-height: 1.4;
          font-family: $font-Curator-Regular;
        }

        .st-byline {
          color: #fff;
          padding: 15px 0 35px;
          font-size: 14px;
          line-height: 1.5;
          margin-bottom: 25px;
        }
        @include breakpoint($d_medium) {
          width: 70%;
        };
      }
      @include breakpoint($d_medium) {
        border: 2px solid rgba(255,255,255,0.8);
        border-radius: 50%;
        width: 620px;
        height: 620px;
      };
    }
  }
}

.content-line-chart {
  padding: 30px 0;

  .st-desktop-h,
  .st-mobile-v {
    max-width: 600px;
  }

  p {
    margin: 0 !important;

    strong {
      font-family: $font-Curator-Regular !important;
      font-size: 18px !important;
      display: block;
    }
  }
}

.content-bar-chart {
  padding: 15px 0;

  .st-mobile-v {
    max-width: 420px;
  }

  .st-desktop-h {
    max-width: 600px;
  }

  p {
    margin: 0 !important;

    strong {
      font-family: $font-Curator-Regular !important;
      font-size: 18px !important;
      display: block;
    }
  }
}

.content-diagram-graphic {
  padding: 35px 0;

  .st-mobile-v {
    max-width: 420px;
  }

  .st-desktop-h {
    max-width: 700px;
  }
}

.section-5 {
  li {
    word-wrap: break-word;
  }
}

article section .content-columns .blockquote {
  .content-blockquote {
    padding-bottom: 25px;

    .line-quote {
      margin: 0 0 15px;
      width: 53px;
      height: 13px;
    }

    cite div {
      padding-top: 15px;
    }
  }
}

.st-content-btn-vr {
  text-align: center;

  .st-btn-vr {
    font-size: 15px;
    color: #fff;
    border: 1px solid rgba(255,255,255,0.5);
    background: transparent;
    outline: none;
    padding: 0;

    a {
      color: #fff;
      font-family: $font-Curator-Regular;
      outline: none;
      display: block;
      padding: 10px 15px;
      @include breakpoint(350px) {
        padding: 10px 20px;
      };
    }

    a:before {
      padding: 9px 20px;
      content: '';
      display: inline-block;
      background-image: url("../images/underwater/vr-icon.svg");
      background-repeat: no-repeat;
      vertical-align: top;
      background-position: 0 1px;
    }

    a:hover:before {
      filter: invert(80%);
    }

    a:hover {
      transition: background-color 0.5s;
      background-color: #fff;
      color: $black;
    }
  }

  .st-btn-rh {
    margin-left: 9px;
    font-size: 15px;
    padding: 0;
    color: #fff;
    border: 1px solid rgba(255,255,255,0.5);
    background: transparent;
    outline: none;

    a {
      color: #fff;
      font-family: $font-Curator-Regular;
      outline: none;
      padding: 10px 15px;
      display: block;
      @include breakpoint(350px) {
        padding: 10px 20px;
      };
    }

    a:hover {
      transition: background-color 0.5s;
      background-color: #fff;
      color: $black;
    }
  }
}

.content-buttons-sound {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;

  img {
    cursor: pointer;
  }
}

.comon-varibles-background {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.content-phases-temperature {
  overflow: hidden;
  max-width: 1200px;
  margin: auto;
  position: relative;

  .all-phases-temperature {
    svg {
      display: block;
    }

    .phases-temperature-320 {
      @include breakpoint(550px) {
        display: none;
      };
    }

    .phases-temperature-550 {
      display: none;
      @include breakpoint(550px $d_medium) {
        display: block;
      };
    }

    .phases-temperature-960 {
      display: none;
      @include breakpoint(max-width 960px) {
        display: block;
      };
      @include breakpoint(max-width $d_medium) {
        display: none;
      };
    }

    .phases-temperature-1200 {
      @include breakpoint(max-width 960px) {
        display: none;
      };
    }

    .content-keys-temperature {
      display: none;
      @include breakpoint(550px) {
        display: block;
        position: absolute;
        bottom: 10px;
        right: 15px;
        max-width: 300px;
      };
    }
  }
}

.content-all-box {
  position: relative;

  .box-text {
    background: #fff;
    max-width: 320px;
    padding: 15px;
    position: absolute;
    top: 0;
    z-index: 5;

    p {
      font-size: 15px;
      color: #333;
      line-height: 1.5;
    }
  }

  .box-text-last {
    background: #fff;
    max-width: 320px;
    padding: 15px;
    position: relative;
    top: 0;
    z-index: 5;

    p {
      font-size: 15px;
      color: #333;
      line-height: 1.5;
    }
  }
  @include breakpoint(550px 1099px) {
    position: absolute;
    top: 10%;
    right: 15px;
    // left: 15px;
  };
  @include breakpoint(1100px) {
    position: absolute;
    top: 10%;
    left: 15px;
  };
}

.content-climate-change {
  overflow: hidden;
  position: relative;
  @include container;

  .map-climate-change {
    svg {
      display: block;
    }
  }

  .all-box-climate-changes {
    position: relative;

    .box-text {
      background: #fff;
      max-width: 320px;
      padding: 15px;
      position: absolute;
      top: 0;
      z-index: 5;

      p {
        font-size: 15px;
        color: #333;
        line-height: 1.5;
      }
    }

    .box-text-last {
      background: #fff;
      max-width: 320px;
      padding: 15px;
      position: relative;
      top: 0;
      z-index: 5;

      p {
        font-size: 15px;
        color: #333;
        line-height: 1.5;
      }
    }
    // @include breakpoint(550px 1099px){
    //   position: absolute;
    //   top: 10%;
    //   right: 15px;
    //   // left: 15px;
    // };
    @include breakpoint(550px) {
      position: absolute;
      top: 10%;
      left: 15px;
    };
  }
}


.st-video{
  .video-js{
    max-width: 100%;
    outline: none;
    .vjs-big-play-button{
      width:1.6em;
      height: 1.6em;
      border-radius: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    }
    .vjs-poster{
      background-size: cover;
    }
  }
}
.twentytwenty-wrapper {
  padding-top: 30px;
}
