<template>
<article>
  <section v-if="article" class="st-article">
    <div v-for="elem in article" :class="elem.type==='show_description'?'virtual-singapore-section':'content-columns'">
      <!-- content for head  -->
      <div v-if="elem.type==='show_description'" class="content-columns">
        <div class="text-unique-paragraph">
          <p v-html="elem.value">
          </p>
        </div>
      </div>
      <!-- end content head -->
      <!-- content for columns -->
      <st-column-left v-if="elem.type==='columns' && elem.value.left" :left="elem.value.left" :fullHeight="fullHeight"></st-column-left>
      <st-column-right v-if="elem.type==='columns' && elem.value.left && elem.value.right" :right="elem.value.right" :fullHeight="fullHeight">
      </st-column-right>

      <!-- end content for columns -->
      <!-- content for svg -->
      <st-get-svg v-if="elem.type==='svg'" :folder="elem.value.folder"></st-get-svg>
      <!-- end content for svg  -->
      <!-- content st-full-width -->
      <st-full-width v-if="elem.type==='columns' && elem.value.fullWidth" :fullWidth="elem.value.fullWidth" :fullHeight="fullHeight"></st-full-width>
      <!-- end st-full-width  -->
      <!-- content 2 columns with background -->
      <st-column-background v-if="elem.type==='columnsBg'" :left="elem.value.left" :right="elem.value.right" ></st-column-background>
      <!-- end 2 columns with background -->
    </div>
  </section>
  <!-- START CREDITS -->
  <section class="credits-section" v-if="credits">
    <div class="st-sources" v-if="credits.source">
      <span class="credits-label"> Source:&nbsp;</span>
      <span>
          {{credits.source}}
        </span>
    </div>
    <div v-if="credits.produced_by">
      <span class="credits-label">Produced by:</span>
      <span itemprop="author" v-for="item in credits.produced_by">&nbsp;{{item}}</span>
    </div>
  </section>
  <!--END CREDITS-->
  <section v-if="next_chapter">
    <div class="go-next-chapter">
      <div class="content-columns">
        <div class="label">NEXT CHAPTER </div>
        <div>
          <h3>
            {{next_chapter.name}}
          </h3>
          <a :href=next_chapter.url :title=next_chapter.name>
            <img src="~images/urban-planning/go-next-arrow.svg"  :alt=next_chapter.name  class="st-image-responsive">
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="content-fb-comments">
    <div class="fb-comments" :data-href=url data-width="100%" data-numposts="5" data-colorscheme="light"></div>
  </section>
</article>
</template>


<script>
import stGetSvg from "./st-get-svg.vue";
import stColumnLeft from "./st-column-left.vue";
import stColumnRight from "./st-column-right.vue";
import stFullWidth from "./st-full-width.vue";
import stColumnBackground from "./st-column-background.vue"
export default {
  props: ['fullHeight','url', 'article', 'credits', 'next_chapter'],
  components: {
    "st-get-svg": stGetSvg,
    "st-column-left": stColumnLeft,
    "st-column-right": stColumnRight,
    "st-full-width": stFullWidth,
    "st-column-background":stColumnBackground
  }
}
</script>
