<template>
  <div class="content-block">
    <div class="left-block">
      <div v-html="left" class="text-paragraph">

      </div>
    </div>
    <div v-html="right" class="right-block">
    </div>
  </div>
</template>
<script>
export default {
  props: ['right','left']
}

</script>
