<template>
  <div class="column-paragraph-right" v-if="right_string" v-html="right">
  </div>
  <div class="column-paragraph-right" v-else>
    <component v-for="(item, key, index) in right" v-bind:is="item.type" :key="item.type+index" :property="item"></component>
  </div>
</template>
<script>
import drone from "artefacts/drone.vue";
export default {
  props: ['right','fullHeight'],
  computed:{
    right_string:function(){
      if(!Array.isArray(this.right))return this.right;
    }
  },
  components: {drone}
}
</script>
