<template>
  <div class="text-unique-paragraph" v-html="fullWidth">
  </div>
</template>
<script>
export default {
  props: ["fullHeight",'fullWidth'],
  watch:{
    height550:function(val){
      var _this=this;
      var stVideo = _this.$el.querySelectorAll(".st-video");
      _this.assignHeightVideo(stVideo,val)
    }
  },
  computed:{
    height550:function(){
      return (this.fullHeight>=550)?550:this.fullHeight;
    }
  },
  methods:{
    assignHeightVideo:function(videos,height){
      var stVideo=videos;
      if (stVideo.length > 0) {
        stVideo.forEach(function(d){
          d.style.height = height + "px";
        });
      }
    }
  },
  mounted:function(){
    var _this=this;
    var stVideo = _this.$el.querySelectorAll(".st-video");
    _this.assignHeightVideo(stVideo,_this.height550);
  }
}
</script>
