.st-content-graphic.scrollContent {
  background-color: #fff;
}

article {
  @include container;
}

label {
  color: #666;
}

input,
textarea {
  border-radius: 0;
}

.open_new_tab {
  width        : 10px;
  margin-bottom: -4px;

  &:hover {
    path {
      fill: #333;
    }
  }
}

.st_author,
.st_headline,
.st_strap,
.st_strap_main {
  max-width  : 800px;
  margin     : 0 auto;
  font-size  : 16px;
  font-weight: 300;
  line-height: 25px;
  padding-top: 20px;
  color      : #333;
}

.st-header-page {
  text-align: center;
}

.st_author {
  max-width: 800px;
  margin   : auto;
}

.particulars {
  margin-top: 20px;
}

.st_author {
  font-family: $font-Curator-Regular;
  color      : #666;
  font-size  : 14px;
  padding-top: 15px;
  line-height: 17px;
}

.particulars,
.st_author p {
  text-align: left;
  font-size : 16px;
  margin-top: 40px;
}

.st_form input[type="text"] {
  padding         : 12px;
  border          : none;
  background-color: #EEF2F3;
  min-height      : 22px;
  font-size       : 16px;
  color           : #666666;
  width           : 95%;
  outline         : none;
  @include breakpoint($d_medium) {
    width: 100%;
  };
}

.particulars,
.st_form {
  margin-bottom: 40px;
  padding      : 0 10px;
}

.fields {
  margin-top    : 20px;
  text-transform: uppercase;
  color         : #333333;
}

.st_strap_main p {
  font-family  : $font-Thirty;
  font-size    : 18px;
  font-weight  : 300;
  line-height  : 1.5;
  padding-top  : 20px;
  color        : #666;
  margin-bottom: 20px;
}

.st_strap_main a {
  color  : $stblue;
  padding: 0 5px;
}

.st_strap_main a:hover {
  color: $stblue;
}

.st_strap_main a:focus {
  color     : $stblue;
  background: #fff;
}

.st_strap {
  font-size  : 16px;
  font-weight: 300;
  line-height: 25px;
  padding-top: 20px;
}

.st_strap-bold-bigger {
  font-family: $font-Curator-Bold;
  color      : #333;
  font-size  : 19px;
}

.st_strap-bold-light {
  font-family   : $font-Curator-Regular;
  color         : #333;
  font-size     : 16px;
  padding-top   : 15px;
  padding-bottom: 15px;
}

.st_strap-bold {
  font-family: $font-Curator-Bold;
  color      : #333;
  margin-top : 40px;
}

.st_form_condition {
  font-family: $font-Curator-Regular;
  color      : #666;
  margin-top : 15px;
  font-size  : 14px;
}

#ans7,
#ans8,
#ans9 {
  background-color: #EEF2F3;
  min-height      : 120px;
  padding         : 12px;
  font-size       : 16px;
  color           : #666666;
  width           : 95%;
  resize          : none;
  border          : none;
  outline         : none;
  max-width       : 720px;
  margin          : 0 auto;
  font-family     : $font-Curator-Regular;
  line-height     : 1.7;
  font-size       : 15px;
  @include breakpoint($d_medium) {
    width: 100%;
  };
}

#VoteButton {
  width           : 150px;
  height          : 52px;
  font-size       : 16px;
  text-align      : center;
  padding         : 16px;
  background-color: #5A9DDC;
  color           : #fff;
  text-transform  : uppercase;
  border          : none;
}

#VoteButton:hover {
  text-decoration : none;
  background-color: #418ED7;
}
