.thankyou {
  margin: auto;
}

.st-header-page {
  display            : flex;
  text-align         : center;
  background         : url("/images/soty2017/background-soty.png");
  background-size    : contain;
  background-repeat  : no-repeat;
  background-color   : $sinprimary;
  background-position: top center !important;

  .main-headline {
    margin: 50px auto 80px;
  }
}

.logo img {
  width: 220px;
}

.st_headline,
.st_strap_main p {
  color: #fff !important;
}

.st_strap_main p {
  font-family: $font-SelaneTen;
  font-size  : 19px !important;
}

.st_form input[type="text"] {
  margin-top: 5px;
}

.st_form_condition p {
  line-height: 130% !important;
}

#VoteButton {
  font-family: $font-Curator-Regular !important;
  cursor     : pointer;
}

.tyvm {
  .st_strap_main {
    font-family  : $font-SelaneTen;
    font-size    : 18px;
    line-height  : 1.4;
    padding-top  : 40px;
    color        : #666;
    margin-bottom: 20px;
    text-align   : center;
  }

  .st_strap_main a {
    color  : $stblue;
    padding: 0 5px;
  }

  .st_strap_main a:hover {
    color: $stblue;
  }

  .st_strap_main a:focus {
    color     : $stblue;
    background: #fff;
  }

  .st_author3 {
    font-family: $font-Curator-Regular;
    color      : #666;
    font-size  : 14px;
    padding-top: 15px;
    line-height: 17px;
    text-align : center;

    #Backbutton {
      font-family          : $font-Curator-Regular;
      width                : 150px;
      height               : 52px;
      font-size            : 16px;
      text-align           : center;
      padding              : 16px;
      background-color     : #5A9DDC;
      color                : #fff;
      text-transform       : uppercase;
      border               : none;
      cursor               : pointer;
      -webkit-appearance   : none;
      -webkit-border-radius: 0;
      margin-bottom        : 10px;
    }

    #Backbutton:hover,
    :focus {
      text-decoration : none;
      background-color: #418ED7;
    }
  }
}
