/* REUTERS KNOWLEDGE */
@font-face {
    font-family: 'Knowledge';
    font-style:normal;
    font-weight:100;
    src: local('Knowledge Ultra Light'), 
         local('KnowledgeUltraLight'), 
         url('#{$reuters-font-path}/KnowledgeUltraLight.woff') format('woff');
}

@font-face {
    font-family: 'Knowledge';
    font-style:normal;
    font-weight:400;
    src: local('Knowledge Regular'), 
         local('KnowledgeRegular'), 
         url('#{$reuters-font-path}/KnowledgeRegular.woff') format('woff');
}

@font-face {
    font-family: 'Knowledge';
    font-style:italic;
    font-weight:400;
    src: local('Knowledge Regular Italic'), 
         local('KnowledgeRegularItalic'), 
         url('#{$reuters-font-path}/KnowledgeRegularItalic.woff') format('woff');
}

@font-face {
    font-family: 'Knowledge';
    font-style:normal;
    font-weight:500;
    src: local('Knowledge Medium'), 
         local('KnowledgeMedium'), 
         url('#{$reuters-font-path}/KnowledgeMedium.woff') format('woff');
}

@font-face {
    font-family: 'Knowledge';
    font-style:normal;
    font-weight:700;
    src: local('Knowledge Bold'), 
         local('KnowledgeBold'),
         url('#{$reuters-font-path}/KnowledgeBold.woff') format('woff');
}

@font-face {
    font-family: 'Knowledge';
    font-style:italic;
    font-weight:700;
    src: local('Knowledge Bold Italic'), 
         local('KnowledgeBoldItalic'),
         url('#{$reuters-font-path}/KnowledgeBoldItalic.woff') format('woff');
}



/* SOURCE SANS PRO */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), 
       local('SourceSansPro-Regular'), 
       url(http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), 
       local('SourceSansPro-Semibold'), 
       url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCmgpmuQqK2I-L2S9cF65Ek.woff) format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), 
       local('SourceSansPro-Bold'), 
       url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGIqjGYJUyOXcBwUQbRaNH6c.woff) format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), 
       local('SourceSansPro-It'), 
       url(http://fonts.gstatic.com/s/sourcesanspro/v9/M2Jd71oPJhLKp0zdtTvoM_bce-VcyLJMRR1FC9qWbU8.woff) format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), 
       local('SourceSansPro-Light'), 
       url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGMVNtom4QlEDNJaqqqzqdSs.woff) format('woff');
}

