@import "variables";
@import "fonts";

// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
@import "bower_components/components-font-awesome/scss/font-awesome.scss";
@import "bower_components/charter-commons/scss/color.scss";
@import "bower_components/charter-commons/scss/chartstyles.scss";
@import "bower_components/scatter-charter/scss/scatterchartstyles.scss";
@import "bower_components/table-charter/scss/tablestyles.scss";
@import "bower_components/map-charter/scss/mapchartstyles.scss";
@import "bower_components/sankey-charter/scss/sankeystyles.scss";
@import "bower_components/sorting-charter/scss/sorterstyles.scss";
// endbower

//components
@import "components/querry-strings";
@import "components/utilities";
@import "components/header";
@import "components/footer";
@import "components/type";
@import "components/buttons";
@import "components/forms";
@import "components/custom-forms";
@import "components/navs";
@import "components/no-ui-slider";
@import "components/tooltip";
@import "components/feature-page";
@import "components/carousel";


.main{
    padding-top: 77px;
    overflow-x: hidden;
    @include clearfix();
}

.feature-header {
  width:100%;
  height:96vh;
  background:url("../images/top2.png") no-repeat;
  background-size: cover;
  background-position:bottom right;
}

body{
  background-color: #fafafa;
}


.bold{
  font-weight:700;
  margin:0;
}

.name{
  margin:0;
}

.suspects img{
  width:100%;
  @include media-breakpoint-up(md){
    width:80%;
    margin:0 10% 10% 10%;
  };
}

.withborder{
  @include media-breakpoint-down(xs){
    padding-bottom:20px;
    border-bottom: 1px dashed #bbb;
  };
}

.key{
  width:15px;
  height:15px;
  border-radius: 50%;
  display:inline-block;
  vertical-align: middle;
}

.blood{
    text-align:center;
    background: #b24b3a;
}

.spouse{
  background:#aaa;
}

.line-spouse{
  width:15px;
  height:2px;
  background:black;
  display:inline-block;
  vertical-align: middle;
}

.line-offspring{
  width:15px;
  height:2px;
  display:inline-block;
  vertical-align: middle;
  border-top: 3px dotted #000;
}

#familytree{
  @include media-breakpoint-up(lg){
    margin-top:-80px;
  }
}

.pointer{
  margin: 200px -20px 0 -20px;
  border:1px dashed black;
}

.label{
  color:white;
  margin:0 20%;

 @include media-breakpoint-down(xs){
   margin:0;
 };
}

.arrest{
    background-color: #ad4b37;
}

.identify {
  background-color: #bbb;
}

.number{
  margin-right: 7px;
  width:20px;
  height:20px;
  border-radius: 50%;
  display:inline-block;
  vertical-align:middle !important;
  line-height: 1.2rem;
  background:black;
  color:white;
  text-align:center;
  font-weight: 700;
}


.label3{
  background:#fafafa;
  margin: 0 100px 0 100px;
}


.bracket{
  border:1px solid #ddd;
  position:relative;
  top:10px;
  z-index: -1000;
}

.introtext{
  @include media-breakpoint-up(lg){
    padding: 0 50px 0 50px;
  };
}
