// MISC CSS

body, .st-content-footer, .st-content-menu, .st-content-menu-fixed {
  background-color: #21262c !important;
}

.line {
      border-top: 1px solid #575757;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 70px;
}

.social-icon {
  height: 50px;
  img {
      cursor: pointer;
      @include gallery(8);
      @include transform(scale(0.9));
      @include transition-duration(0.3s);

      &:hover {
          @include transform(scale(1));
          @include transition-duration(0.3s);
      }
  }

  width: 103px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 497px;

  @media (max-width: 620px) {
    padding-top: 130%;
    padding-left: 70%;
  }

  img {
    display       : inline-block;
    vertical-align: middle;
    cursor        : pointer;
    margin-right  : -4px;
    max-width     : 50px;
    height: auto;
  }
}

.social-icon-long {
    padding-left: 697px;
    @media (max-width: 820px) {
      padding-top: 66.6%;
      padding-left: 70%;
    }
}

// ICON ANIMATIONS
#iconani {
  width: 144px;
  height: 80px;
  margin: 0 auto;
}

// .head {
//   stroke-dasharray: 130;
//   stroke-dashoffset: -130;
//   animation: head 20s linear infinite;
// }
//
// @keyframes head {
//   0% {
//     stroke-dashoffset: 0;
//   }
//   10% {
//     stroke-dashoffset: 0;
//   }
//   35% {
//     stroke-dashoffset: 0;
//   }
//   70% {
//     stroke-dashoffset: 0;
//   }
//   95% {
//     stroke-dashoffset: 130;
//   }
//   100% {
//     stroke-dashoffset: 130;
//   }
// }

.path {
  stroke-dasharray: 250;
  stroke-dashoffset: 250;
  animation: dash 20s linear infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 0;
  }
  10% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: -250;
  }
  65% {
    stroke-dashoffset: -250;
  }
  95% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}



// TEXT FORMATTING
.main-headline {
  .st-title {
    h1{
      color: #FFFFFF !important;
      margin: 0;
      padding: 0;
    }
    padding: 30px 0;
    margin: 0;
  }
  .st-deck {
    p {
      color: #A9A9A9;
    }
    margin: 0 auto;
    padding: 0 25px 30px 25px;
    max-width: 550px;
  }
  .st-byline {
    time {
      color: #666666;
    }
  }
  margin: 0 auto;
  padding-bottom: 85px;
}

.profile {
  .info {
    .name {
      font-family : $font-Thirty;
      font-size : 22px;
      line-height : 26px;
      color : #FFFFFF;
      padding : 0 0 10px 0;
      text-align: center;
    }
    .bio {
      font-family : $font-SelaneTen;
      font-size : 19px;
      line-height : 26px;
      color : #FFFFFF;
      padding : 0 0 20px 0;
      text-align: center;
    }
  }

  .piclong {
    max-width: 800px;
    height: 533px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 820px) {
         height: 0;
    }
    img {
      @media (max-width: 820px) {
           width: 100%;
      }
    }

  }

  .pic {
    width: 600px;
    height: 775px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 620px) {
         height: 0;
    }
    img {
      @media (max-width: 620px) {
           width: 100%;
      }
    }

  }

  .writeup {
    font-family : $font-SelaneTen;
    font-size : 20px;
    line-height : 26px;
    color : #A9A9A9;
    text-align: center;
    padding : 0 25px 30px 25px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    .whitehead {
      color: #FFFFFF;
      padding-top: 10px;
    }
  }

  margin-left: auto;
  margin-right: auto;
  padding : 0 0 60px 0;

}

#scrollfade1 {
  .profile {
    .writeup {
      @media (max-width: 820px) {
        padding-top: 0%;
      }
    }
  }
}


// SCROLLMAGIC

.profile {
    width: 100%;
    height: auto;
    position: relative;
}

.img img {
    position: absolute;
    width: auto;
    height: auto;
    background-size: cover;
    background-position: center center;
}
