.st-byline {
  margin-top: -10px;
}

.st-deck {
  p {
    margin-bottom: 0;
  }
}

.topimg {
  // margin-bottom: 20px;
  text-align: center;
  @include breakpoint($d_medium) {
    margin-bottom: -30px;
  }

  img {
    height: 70px;
    width : 70px;
    // margin-left : auto;
    // margin-right: auto;
    // display     : block;
  }
}

#intropage{
   background-color: $black;
  position        : absolute;
  width           : 100%;
  height          : 100%;
  left: 0;
  top:0;
  z-index         : 9;
  opacity         : 0.4;

}

#toggle {
  background-color: #fff;
  color           : $black;
  text-align      : center;
  @include container(50px);
  padding         : 5px 60px;
  margin-top      : 10px;
  cursor          : pointer;
  transition      : all 0.3s ease;
  // @include breakpoint($d_medium) {
  //   margin-top: 30px;
  // }
  &:hover {
    background-color: $black;
    color           : #fff;
  }
  // height: 40px;
  // width: 100px;
  // opacity: 2.6;
  // z-index: 10;
  // position: absolute;
  // margin-left: auto;
  // margin-right: auto;
  // left: 0;
  // right: 0;
}

.main-headline {
  z-index : 10;
  position: absolute;
  width: 100%;
  left    : 50%;
  top   : 50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}

.st-content-visual{
  .content-ndp-photos{
    width:100%;
    z-index: -1;
    position: relative;
    // background-color: #0C2B57;
          /* blur filters */
          -webkit-filter: blur(5px);
          // /* Safari */
          filter: blur(5px);
      transform: scale(1.1);
      -webkit-transform:scale(1.1);
      overflow: hidden;
  }

// .container-position-gallery::before{
// content:"";
// position: absolute;
// top:0;
// left: 0;
// width: 100%;
// height:100%;
// background: red;
// }
  .container-position-gallery {
    opacity: 0;
    position  : absolute;
    width     : 100%;
    z-index: 2;
    // height: 150px;
    bottom    : 0;
    background-color: rgba(51,51,51,0.7);
    // background-size: cover;
    // overflow: hidden;
    display: inline-block;
    .swiper-wrapper{
      width: 90%;
    }
    // .swiper-slide{
    //   width: 80px;
    // }
    // .sw-title{
    //   // height: 100px;
    //   width: 80px;
    //   padding: 3px 0px;
    //   overflow: hidden;
    //   // padding: 10px 0;
    // }
    // .sw-description {
    //   color     : #fff;
    //   padding   : 3px 0;
    //   width     : 80px;
    //   margin    : 0 auto;
    //   text-align: center;
    //   font-size: 10px;
    //   line-height: 13px;
    // }
    // @include breakpoint($d_medium){
      // height:150px;

      .swiper-slide{
        width: 120px;
      }
      .sw-title{
        width: 120px;
        padding: 5px 0px;
         overflow: hidden;
         img{
           cursor: pointer;
         }
      }
      .sw-description {
        color     : #fff;
        padding   : 10px 0;
        width     : 90px;
        margin    : 0 auto;
          text-align: center;
        font-size: 13px;
        line-height: 15px;
      }
    // }

    .sw-button-hide-gallery{
      position: relative;
      top:0;
      right: 0;
      width: 100%;
      height: 25px;
      text-align: right;
      z-index: 3;
      // background: rgba(51, 51, 51, 0.7);
      p{
        text-transform: uppercase;
        display: inline-block;
        pointer-events: all;
        cursor: pointer;
        padding-right: 10px;
        font-family: $font-Curator-Regular;
      }
    }
  }


}

/* The Modal (background) */
.tagshare {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    // z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    z-index: 3;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    // margin: 20% auto;
    padding: 15px 25px 25px 25px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    // z-index: 3;
    @media (max-width: $d_medium) {
      width: 60%;
    }

    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

textarea {
  width: 100%;
  // width: 49vw;
  resize: none;
  // @media (max-width: $d_medium) {
  //   width: 66vw;
  // }
}

.name, .message {
  padding-top: 10px;
  font-family: $font-Curator-Regular;
  font-size: 13px;
  color: #333333;
}

.namefield, .messagefield {
  background-color: #EFF3F4;
  border: none;
  font-family: $font-Curator-Regular;
  font-size: 14px;
  color: #797979;
  line-height: 20px;
}

.namefield {
  height: 25px;
  &:focus{
    outline:none;
  }
}
.messagefield{
  &:focus{
    outline:none;
  }
}

.error {
  font-family: $font-Curator-Regular;
  font-size: 14px;
  color: #FF0000;
}

.buttons {
  margin: 0 auto;
  text-align: center;
  // padding: 10px 10px 0px 10px;
  width: 100%;
  // width: 49vw;
  // @media (max-width: $d_medium) {
  //   width: 66vw;
  // }
}

.done, .share {
  padding: 7px;
  margin-top: 10px;
  // height: 25px;
  // width: 23.7vw;
  display: inline-block;
  text-align: center;
  border: none;
  font-family: $font-Curator-Regular;
  font-size: 14px;
  cursor:pointer;
  // @media (max-width: $d_medium) {
  //   width: 66vw;
  // }
  width: 48%;
}

.done {
  margin-right: 1vw;
  color: #000000;
  background-color: #D4E6F6;
}

.share {
  color: #FFFFFF;
  background-color: #5A9DDC;
  img {
    height: 13px;
    width: 13px;
    padding-right: 3px;
  }
}

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("/images/ndp-2017-tag/next.svg");
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("/images/ndp-2017-tag/back.svg");
}

.swiper-container{
  width: 76%;
  overflow: hidden;
  z-index: 2;
  // background: rgba(51, 51, 51, 0.7);
  @include breakpoint($d_small){
    width: 80%;
  };
  @include breakpoint($d_medium){
    width: 86%;
  };
  @include breakpoint($d_normal){
    width: 90%;
  };
}

.swiper-button-prev,.swiper-button-next{
 z-index: 2;
}

.preLoadPin{
  width: 60px;
  height:60px;
  background-color: green;
}

.realtimePin{
  cursor: pointer;
  pointer-events: all;

  width: 20px;
  height:30px;
}

.info-box{
  position: absolute;
  z-index: 13;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #FFFFFF;
  width: 150px;
  padding: 15px;

  @include breakpoint($d_small){
    width: 250px
  };

  p {
    font-family: $font-Curator-Regular;
    font-size: 14px;
    line-height: 1.3;
    margin: 0;
  }

  .txt-name-person {
    color: #444444;
    padding-bottom: 10px;
  }

  .txt-comment-person {
    color: #959595;
  }

  .close-info-box-button{
    position: absolute;
    right: 5px;
    top: 5px;
    display: block;
    text-align: right;
    padding: 5px;

    img {
      cursor: pointer;
      pointer-events: all;
      width: 20px;
      height:20px;
    }
  }
}
.cursorFinger{
  cursor: pointer;
}

.tagbtnImg-container{
  position: absolute;
  z-index: 4;
  top:-94px;
  left:60px;
  width: 100px;
  height: 100px;
  opacity: 0.7;
  .tagbtnImg{
    position: absolute;
    height:0;
    width:100%;
    padding:0;
    padding-bottom: 100% * 4.077;
    pointer-events:none;
      img{
        position:absolute;
        height:100%;
        width:100%;
        left:0;
        top:0;
      }
  }
}

.info-removetag-box{
  z-index: 11;
  position: absolute;
  top:120px;
  padding: 20px;
  background: #E9F6FC;
  font-family: $font-Curator-Regular;
  color: #333333;


  width: 90%;
  left:0;
  @include breakpoint($d_small){
    width: 200px;
    left: 10px;
  };
}
.close-removetag-button{
  position: absolute;
  right: 10px;
  top: 5px;
  display: block;
  text-align: right;
  padding: 5px;


    cursor: pointer;
    pointer-events: all;

  @include breakpoint($d_small){
    right: 5px;
  };
}
.info-removetag-box p{
  margin-bottom: 0;
  padding-right: 10px;
  line-height: 19px;
  font-size: 14px;
}
.close-removetag-button img{
  width: 20px;
  height:20px;
}
