.st-content-banner-bg {
  background-color: #F0F2F4;
}

.images-transport {
  @include clearfix;

  .atlhetes-item {
    max-width: 350px;
    margin: 15px auto;

    h3 {
      font-family: $font-Curator-Regular;
      font-size: 1em;
      margin: 20px 0;
      line-height: 1.6em;
      text-transform: uppercase;
      text-align: center;
    }

    p {
      font-family: $font-Curator-Regular;
      text-align: center;
      font-size: 17px;
    }
    @include breakpoint($d_medium) {
       @include gallery (4 of 12);
    };

    .public-color {
      background-color: $stblue;
      color: #fff;
      padding: 5px 10px;
    }
  }
}

.content-columns {
  strong {
    font-family: $font-Curator-Bold;
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 1.5;
    // @include breakpoint($d_medium){
    //   padding-left: 52px;
    //   padding-right: 45px;
    // };
    @include breakpoint($d_medium) {
      font-size: 1.2rem;
    }
  }

  .column-paragraph-left-graphic {
    @include breakpoint($d_medium) {
      float: left;
      width: 30%;
      margin-right: -100%;

      .text-paragraph-graphic {
        padding-left: 52px;
        padding-right: 45px;

        p {
          font-family: $font-SelaneTen;
          font-size: 1.2em;
          line-height: 1.6em;
          color: #333;
          margin-bottom: 1.125em;

          span {
            color: #333;
            text-transform: uppercase;
          }
          @include breakpoint($d_medium) {
            font-size: 1.2em;
          }
        }

        p:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .column-paragraph-right-graphic {
    @include breakpoint($d_medium) {
      float: left;
      width: 70%;
      margin-left: 30%;
      font-family: $font-Curator-Regular;
    }
  }
}

.st-graphic-2 {
  padding: 0 15px;
  @include container(800px);

  .title-chart {
    font-family: $font-Curator-Bold;
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 1.5;
    color: #333;
    @include breakpoint($d_medium) {
      font-size: 1.2rem;
    }
  }
}

.content-cards {
  .card {
    @include container(950px);
    padding: 50px 0px;

    .big-number {
      font-family: $font-Curator-Regular;
      font-size: 3em;
      color: #333;
      // margin: 25px 0 15px;
    }

    .name-runner {
      font-family: $font-Curator-Bold;
      font-size: 17px;
      line-height: 140%;
      color: #333;
      // margin-bottom: 15px;
      border-bottom: dotted #ccc 1px;
      max-width: 800px;
    }

    .desc-runner {
      font-family: $font-Curator-Regular;
      font-size: 16px;
      line-height: 140%;
      color: #333;
      max-width: 800px;
    }

    // .photo-runner {
    //   @include span(30%);
    //   margin-right: 3%;
    // }
  }
}
