$color-circle-yelow: #FFD400;
$color-circle-blue: #183C6B;

#play,#replay{
  cursor: pointer;
}
.font-normal-text{
  color:#333;
  font-family: $font-Curator-Regular;
  font-size: 17px;
  line-height: 1.5;
}
.circule-runner{
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
.content-score-runners {
  padding: 20px 0;
  @include container(320px);
  .left-runner {
    float: left;
    width: 50%;
    padding-right: 8px;
    @include box-sizing(border-box);
    @include clearfix;

    .content-score {
      // @include clearfix;

      .color-runner {
        background-color: $color-circle-yelow;
        @extend .circule-runner;
        // float: left;
      }

      .time-runner {

        // float: left;
      }
    }
  }

  .right-runner {
    float: left;
    width: 50%;
    padding-left: 8px;
    @include box-sizing(border-box);
    @include clearfix;

    .content-score {
      // @include clearfix;

      .color-runner {
        background-color: $color-circle-blue;
        @extend .circule-runner;
        // float: left;
      }

      .time-runner {
        // float: left;
      }
    }
  }
  .time-runner{
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    @extend .font-normal-text;
  }
  .text-runner{
    background-color: $screen;
    padding:10px;
    @extend .font-normal-text;
  }
}
.content-text-racetrack{
  padding-left: 15px;
  padding-right: 15px;
  margin:35px 0;
  @include container;
  @include box-sizing(border-box);
  .title-racetrack{
    @extend .font-normal-text;
    font-family: $font-Curator-Bold;
    margin-bottom: 10px;
    // @include breakpoint($d_medium){
    //   padding-left: 52px;
    //   padding-right: 45px;
    // };

    @include breakpoint($d_medium) {
        font-size: 1.2em;
    }
  }
  .body-racetrack{
    p{
      margin-bottom: 16px;
      @extend .font-normal-text;
    }
    // @include breakpoint($d_medium){
    //   padding-left: 52px;
    //   padding-right: 45px;
    // };
  }
}


@include breakpoint($d_medium){
    .content-graphic-racetrack{
    @include container(970px);
    @include clearfix;
    padding: 20px 15px;

    .content-svg-racetrack{
      // width: calc(100% - 300px);
      float: left;
      max-width: 600px;
      width: 59%;
      padding-right: 20px;
      @include box-sizing(border-box);
    }
    .content-score-runners{
      width: 41%;
      float: left;
    }
  }
};
.st-graphic{
  @include container;
}

.content-graphic-runner{
  @include container(992px);
}
.content-model-runner{
  @include container(700px);
  @include breakpoint(max-width 768px){
    @include container(500px);
  };
}
.st-graphic-2-fix{
  z-index: 1;
  background-color: #fff;
}
.content-text-chart{
  .title-chart{
    padding-top: 10px;
  }
}
.row-card{
  .photo-runner{
    margin:0 auto;
    max-width: 250px;
    padding-top:15px;
    img{
      border-radius: 50%;
    }
  }
  .big-number{
    text-align: center;
    padding:15px 0px;
    margin:0px 10px;
  }
  .name-runner{
    padding: 0px 0px 10px 0px;
    margin:0px 10px;
  }
  .desc-runner{
    padding: 10px 0px 15px 0px;
    margin:0px 10px;
  }


  @include breakpoint($d_small){
    @include clearfix;
    .photo-runner{
      // margin:0 auto;
      // max-width: 250px;
      padding-top:0px;
      img{
        border-radius: 0;
      }
    }
    .big-number{
      text-align: left;
      padding:15px 0px;
      margin:0px 10px;
    }
    .name-runner{
      padding: 0px 0px 10px 0px;
      margin:0px 10px;
    }
    .desc-runner{
      padding: 10px 0px 15px 0px;
      margin:0px 10px;
    }
    .photo-runner{
      @include span(5 first);
    }
    .text-runner{
      @include span(11 last);
    }
  };
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(st-fadeInUp){
  from {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.st-fadeInUp {
  animation-name: st-fadeInUp;
}
