.st-header-page {
  background-color : #0c2b57 !important;
  background-image : url("/images_doc/image-background-flag.png");
  background-size  : cover;
  background-repeat: no-repeat;

  .main-headline {
    position: relative;

    .st-title {
      // padding: 0 15px 15px;
      @include breakpoint($d_medium) {
        padding: 0 65px 15px;
      }

      h1 {
        color      : #fff;
        line-height: 0.8em;

        .small_headline {
          font-family   : $font-Curator-Regular;
          font-size     : 19px;
          letter-spacing: 1px;
          color         : rgba(255, 255, 255, 0.7) !important;
        }
      }
    }

    .st-deck {
      max-width: 600px;
      @include breakpoint($d_medium) {
        padding: 0 65px 15px;
      }

      p {
        color: #fff;
      }
    }

    .st-byline {
      color: #fff;
      @include breakpoint($d_medium) {
        padding: 0 65px 15px;
      }
    }

    .st-logo {
      width       : 90px;
      padding-left: 70%;
      margin-top  : -50px;
      @include breakpoint($d_medium) {
        position    : absolute;
        padding-left: 0;
        margin-top  : 0;
        right       : 10px;
        top         : 80px;
      }
    }
  }
}

.st-article {
  h2 {
    font-size  : 22px;
    line-height: 26px;
    color      : #333333;
    font-family: $font-Thirty;
    padding    : 15px 0;
  }
}

.boldinbox {
  font-family: $font-SelaneWebSTFifty;
}

.darkbluebg {
  background-color: $stblue;
  color           : #fff;
  border-right    : thick solid $stblue;
  border-left     : thick solid $stblue;
  font-family     : $font-SelaneWebSTFifty;
}

.yellowbg {
  background-color: $yellow;
  color           : #fff;
  border-right    : thick solid $yellow;
  border-left     : thick solid $yellow;
  font-family     : $font-SelaneWebSTFifty;
}

.greenbg {
  background-color: $bustext;
  color           : #fff;
  border-right    : thick solid $bustext;
  border-left     : thick solid $bustext;
  font-family     : $font-SelaneWebSTFifty;
}

.redbg {
  background-color: $red;
  color           : #fff;
  border-right    : thick solid $red;
  border-left     : thick solid $red;
  font-family     : $font-SelaneWebSTFifty;
}

.darkbluetext {
  color      : $stblue;
  font-family: $font-SelaneWebSTFifty;
}

.yellowtext {
  color      : $yellow;
  font-family: $font-SelaneWebSTFifty;
}

.greentext {
  color      : $bustext;
  font-family: $font-SelaneWebSTFifty;
}

.redtext {
  color      : $red;
  font-family: $font-SelaneWebSTFifty;
}
