.content_relative {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: lighter;
    position: relative;
    #namee {
        margin: auto;
        width: 100%;
        color: #333;
        text-align: center
    }
    #form2 {
        max-width: 620px;
        margin: 0 auto;
        #score_display {
            max-width: 600px;
            margin: 0 auto;
            text-align: center;
            display: table;
            margin-bottom: 20px;
            @include clearfix;
            #showScore {
                font-family: "Roboto", Helvetica, Arial, sans-serif;
                font-size: 80px;
                color: #B31D1D;
                line-height: 1.3;
                display: table-cell;
                vertical-align: middle;
            }
            #imager {
                display: table-cell;
                img {
                    vertical-align: middle;
                    display: block;
                    margin: 0 auto;
                    max-width: 214px;
                    height: auto;
                }
            }
        }
    }
    input {
        margin: 11px;
        font-weight: lighter;
    }
    input[type=text] {
        width: 280px;
        border: 5px solid white;
        padding: 15px;
        background: #FAEFE8;
        margin: 0 0 50px 0;
        font-size: 18px;
        text-align: center;
    }
    .fsSubmitButton {
        padding: 10px 20px !important;
        font-size: 14px !important;
        background-color: #c4f1fe;
        color: #2d525d;
        border: none;
    }
    .span_name {
        border-style: none none solid;
        border-width: 1px;
        display: inline-block;
        width: 130px;
        color: #009FD0;
        text-align: center
    }
}
.block_radio {
    display: table;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    @include clearfix;

    .rad {
        display: table-cell;
        float: left;
        width: 34px;
        height: 34px;
        position: relative;
        @media (min-width: 560px) {
            margin-left: 25px;
            &:first-child {
                margin-left: 0px;
            }
        }
        &:nth-child(n+1) {
            background-image: url(../images/color1.jpg);
            background-repeat: no-repeat;
        background-size: 34px;
        }
        &:nth-child(n+2) {
            background-image: url(../images/color1.jpg);
            background-repeat: no-repeat;
        background-size: 34px;
        }
        &:nth-child(n+3) {
            background-image: url(../images/color1.jpg);
            background-repeat: no-repeat;
        background-size: 34px;
        }
        &:nth-child(n+4) {
            background-image: url(../images/color2.jpg);
            background-repeat: no-repeat;
        background-size: 34px;
        }
        &:nth-child(n+5) {
            background-image: url(../images/color2.jpg);
            background-repeat: no-repeat;
        background-size: 34px;
        }
        &:nth-child(n+6) {
            background-image: url(../images/color2.jpg);
            background-repeat: no-repeat;
        background-size: 34px;
        }
        &:nth-child(n+7) {
            background-image: url(../images/color3.jpg);
            background-repeat: no-repeat;
        background-size: 34px;
        }

        .circle_back{
            position: absolute;
            background: #435A72;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
            border-radius: 50%;
            pointer-events: none;
            display: none;
        }
        .circle_border{
            position: absolute;
            background: transparent;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
            border-radius: 50%;
            border: 2px #fff solid;
            pointer-events: none;
        }
        input[type=radio]{
            margin:0;
            width: 34px;
            height: 34px;
            opacity: 0;
            cursor: pointer;
        }

        input[type=radio]:checked + .circle_back{
            display: block;
        }
        input[type=radio]:checked + .circle_back + .circle_border{
            border: none;
        }

    }
}
.words_range {
    max-width: 316px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    @include clearfix;
    div:nth-child(1) {
        float: left;
        padding-left: 10px;
    }
    div:nth-child(2) {
        float: right;
        padding-right: 10px;
    }
    @media (min-width: 560px) {
        max-width: 516px;
    }
}
.div_container_brand {
    width: 100%;
    background: #0E4C75;
    .container {
        font-family: "Roboto", Helvetica, Arial, sans-serif;
        font-size: 15px;
        line-height: 1.8;
        color: #333;
        font-weight: lighter;
        @include container;
    }
    img {
        height: 46px;
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
}
.div_container_banner {
    width: 100%;
    background: #FAEFE8;
    img {
        max-width: 992px;
        display: block;
        margin: 0 auto;
        height: auto;
        max-height: 72px;
    }
    .desktop_bak {
        display: none;
    }
    .mobile_bak {
        display: block;
    }
    @media (min-width: $d_medium) {
        .desktop_bak {
            display: block;
        }
        .mobile_bak {
            display: none;
        }
    }
}
.clearfix {
    @include clearfix;
    .pull-left {
        float: left;
    }
    .pull-right {
        float: right;
    }
}
.btn_shared_face, .btn_shared_twitter, .go_to_st {
    cursor: pointer;
}
#form2 {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.8;
    color: #333;
    font-weight: lighter;
    padding-left: 5px;
    padding-right: 5px;
}
#not {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.8;
    color: #5EB0EC;
    font-weight: 700;
}
#yes {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.8;
    color: #C23003;
    font-weight: 700;
}
#form2 form > div {
    padding-bottom: 10px
}
.st-strap, .st-headline {
    max-width: 700px;
    margin: 0 auto;
}
.st-headline {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 35px;
    color: #333;
    line-height: 1.2;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    padding-right:15px;
    padding-left:15px;
}
.st-strap {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    padding-bottom: 20px;
    text-align: center;
    padding-right:15px;
    padding-left:15px;
}
.content_strap {
    margin-top: 50px;
}
#share {
    margin: 0 auto;
    margin-bottom: 20px;
    cursor: pointer;
    display: none;
    .love_t {
        margin-right: 10px;
        display: table-cell;
        padding-right: 5px;
    }
    .love_f {
        display: table-cell;
        padding-left: 5px;
    }
}
.content_btn_s {
    display: table;
    margin: 0 auto;
}
.content_fb_comments {
    padding: 15px;
    margin-top: 40px;
    .fb-comments {
        span:first-child {
            width: 100% !important;
            iframe {
                width: 100% !important;
            }
        }
    }
}
.source_b,.best_browser{
    padding: 20px;
    font-size: 13px;
    font-family: $font-Roboto;
    font-weight: normal;
    color: #666;
}
.best_browser{
    display: none;
}
.dtable{
    display: table !important;
}

div#myPlayerID.video-js.vjs-mouse.vjs-paused.vjs-controls-enabled.vjs-workinghover.bc-player-V1xz3hSCx_default.vjs-dock.vjs-ima3-not-playing-yet.vjs-ima3-html5.vjs-plugins-ready.vjs-contextmenu.vjs-contextmenu-ui.vjs-player-info.vjs-errors.vjs-ad-controls.vjs-user-active {
  max-width: 694px;
  max-height:390px;
}
