.st_content_menu {
    width: 100%;
    height: 40px;
    background-color: #fff;
    .st_content_menu_fixed {
        background-color: #fff;
        padding: {
            top: 5px;
            bottom: 5px;
        }
        @media (min-width: $d_medium) {
            left: 0;
            right: 0;
            position: fixed;
            z-index: 1;
            @include box-shadow(rgba(0,0,0,0.1) 0px 5px 5px);
        }
    }
    .st_menu_mobile {
        right: 0;
        position: fixed;
        top: 0;
        padding-top: 4px;
        z-index: 1;
        &:hover {
            cursor: pointer;
        }
        @media (min-width: $d_medium) {
            display: none;
        }
    }
    @media (min-width: $d_medium) {
        height: 50px;
    }
}
.st_menu_intern {
    @include container;
    height: 30px;
    @include clearfix;
    .st_glogo {
        float: left;
        padding-left: 5px;
        text-align: left;
        height: 100%;
        cursor:pointer;
        opacity: 0;
        .st_glogo_small {
            height: 100%;
            @media (min-width: $d_normal) {
                display: none;
            }
        }
        .st_glogo_large {
            height:100%;
            display: none;
            @media (min-width: $d_normal) {
                display: block;
            }
        }
        @media (min-width: $d_medium) {
            @include span(1 first);
        }
        @media (min-width: $d_normal) {
            @include span(1 first);
        }
    }
    .li_menu {
        float: left;
        margin-top: 3px;
        @include clearfix;
        div {
            float: left;
            font-family: $font-Roboto;
            margin-right: 5px;
            text-align: center;
        }
        .st_option_menu {
            font-size: 15px;
            color: #333;
            background-color: #E7EAED;
            width: 30px;
            &:hover {
                cursor: pointer;
            }
        }
        .st_option_menu:nth-child(2).st_menu_active{
            background-color: $color_chapter_1;
            color: #fff;
        }
        .st_option_menu:nth-child(3).st_menu_active{
            background-color: $color_chapter_2;
            color: #fff;
        }
        .st_option_menu:nth-child(4).st_menu_active{
            background-color: $color_chapter_3;
            color: #fff;
        }
        .st_option_menu:nth-child(5).st_menu_active{
            background-color: $color_chapter_4;
            color: #fff;
        }
        .st_option_menu:nth-child(6).st_menu_active{
            background-color: $color_chapter_5;
            color: #fff;
        }
        
        .st_option_chapter {
            font-size: 12px;
            color: #1B96B3;
            background-color: #fff;
        }
        @media (min-width: $d_medium) {
            display: none;
        }
    }
    .li_menu_desktop {
        display: none;
        padding-top: 4px;
        padding-left: 15px;
        @include clearfix;
        .st_option_menu_desktop {
            border-left: 1px solid #98A3AA;
            height: 100%;
            .title_menu_desktop {
                font-size: 13px;
                line-height: 1.5;
                font-family: $font-Roboto;
                text-align: center;
                cursor: pointer;
            }
            &:nth-child(1) .title_menu_desktop{
                color: $color_chapter_1;
            }
            &:nth-child(2) .title_menu_desktop{
                color: $color_chapter_2;
            }
            &:nth-child(3) .title_menu_desktop{
                color: $color_chapter_3;
            }
            &:nth-child(4) .title_menu_desktop{
                color: $color_chapter_4;
            }
            &:nth-child(5) .title_menu_desktop{
                color: $color_chapter_5;
            }

            .circle_subtitle {
                margin:0 auto;
                display: table;
                @include clearfix;
                .subtitle_menu_desktop {
                    float: left;
                    width: 8px;
                    height: 8px;
                    border: 1px solid #D9DDE0;
                    background-color: #fff;
                    @include border-radius(50%);
                    &:not(:last-child){
                        margin-right:2px;
                    }
                }
                .tooltip_subtitle:not(:last-child) .subtitle_menu_desktop{
                    margin-right:2px;
                }
            }

            @media (min-width: $d_medium) {
                @include with-layout(12){
                    width: 22%;
                    float: left;
                }
                display: block;
            }
            @media (min-width: $d_normal) {
                @include with-layout(13){
                    width: 21%;
                    float: left;
                }
            }
            &:last-child{
                border-right: 1px solid #98A3AA;
                @media (min-width: $d_medium) {
                    @include with-layout(12){
                        width: 10%;
                        float: left;
                    }
                    display: block;
                }
                @media (min-width: $d_normal) {
                    @include with-layout(13){
                        width: 11%;
                        float: left;
                    }
                }
            }
        }
        @media (min-width: $d_medium) {
            display: block;
            @include span(12 of 16 at 2);
        }
        @media (min-width: $d_normal) {
            @include span(13 of 16 at 2);
        }
    }
    .st_content_shared_social_desktop {
        display: none;
        padding-top: 4px;
        @include clearfix;
        .st_shared_social {
            float: right;
            @include clearfix;
            div{
                float: left;
                padding-right: 5px;
                cursor: pointer;
                img{
                    @include transform(scale(0.9));
                    @include transition-duration(0.3s);
                }
                &:hover img{
                    @include transform(scale(1));   
                    @include transition-duration(0.3s);
                }
            }
        }
        @media (min-width: $d_medium) {
            display: block;
            @include span(3 last);
        }
        @media (min-width: $d_normal) {
            @include span(2 last);
        }
    }
    @media (min-width: $d_medium) {
        height: 40px;
    }
}
.fixed_menu_mobile {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
}
.modal-menu-mobile {
    background-color: #eee;
    position: fixed;
    top: 40px;
    bottom: 45px;
    left: 0;
    right: 0;
    overflow: auto;
    -webkit-overflow-scrolling:'touch';
    opacity: 0;
    pointer-events: none;
    @include translateX(100%);
    @include transition-duration(0.5s);
    @media (min-width: $d_medium) {
        display: none;
    }
}
.st_content_shared_social {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    background-color: #5A6C77;
    opacity: 0;
    @include translateX(100%);
    @include transition-duration(0.5s);
    @include clearfix;
    .st_shared_social {
        float: right;
        @include clearfix;
        div {
            margin-right: 10px;
            float: left;
            img {
                width: 35px;
            }
        }
    }
    @media (min-width: $d_medium) {
        display: none;
    }
}
.st_dialogIsOpen {
    opacity: 1;
    @include translateX(0%);
    @include transition-duration(0.5s);
    pointer-events: auto;
}
.content_detail_menu_mobile {
    padding: 13px;
    .detail_menu_mobile {
        font-family: $font-Roboto;
        font-size: 16px;
        color: #333;
        line-height: 2.5;
        &:nth-child(1) .title_menu_mobile {
            color: $color_chapter_1;
        }
        &:nth-child(2) .title_menu_mobile {
            color: $color_chapter_2;
        }
        &:nth-child(3) .title_menu_mobile {
            color: $color_chapter_3;
        }
        &:nth-child(4) .title_menu_mobile {
            color: $color_chapter_4;
        }
        &:nth-child(5) .title_menu_mobile {
            color: $color_chapter_5;
        }
        .title_menu_mobile {
            @include clearfix;
            img {
                width: 24px;
            }
            div {
                float: left;
                &:first-child {
                    margin-top: 7px;
                    margin-right: 50px;
                }
                &:nth-child(2){
                    cursor: pointer;
                }
            }
            .st_title_arrow {
                float: right;
                margin-top: 7px;
            }
        }
        .content_subtitle_menu {
            .subtitle_menu_mobile {
                padding-left: 74px;
                line-height: 1.5;
                padding-top:8px;
                padding-bottom:8px;
                a {
                    cursor: pointer;
                    text-decoration: none;
                    color: #999;
                }
                &:first-child a {
                    color: #333;
                }
            }
        }
    }
}
.transform-border-hairline {
    border-bottom: 1px solid #d6d6d6;
    transform: scaleY(0.5);
}