.st_content_graphic {
    font-size: 16px;
    @include container;
}

.st-image-responsive {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}
.st-image-fit-content {
    width: 100%;
}
.transform-border-hairline2 {
    border-bottom: 1px solid #b1b2b4;
    transform: scaleY(0.5);
    max-width: $d_normal;
    @include center_div;
}
.st_lazy_load {
    opacity: 0;
}
.tooltip_subtitle {
    display: block;
    position: relative;
}
.mouseover_tooltip_subtitle:hover:after, .mouseover_tooltip_subtitle:focus:after {
    background: rgba(86, 104, 116, .8);
    color: #fff;
    content: attr(title-show);
    padding: 5px 15px;
    position: fixed;
    z-index: 98;
    font-family: $font-Roboto;
    font-weight: lighter;
    font-size: 0.875em;
    margin-top: 21px;
    margin-left: -27px;
}
.mouseover_tooltip_subtitle:hover:before, .mouseover_tooltip_subtitle:focus:before {
    border: solid;
    border-color: rgba(86, 104, 116, .8) transparent;
    border-width: 0 15px 12px 0;
    content: "";
    position: fixed;
    margin-top: 10px;
    margin-left: 5px;
    z-index: 99;
}
.tooltip_wall {
    display: block;
    position: relative;
}
.mouseover_tooltip_wall:hover:after, .mouseover_tooltip_wall:focus:after {
    background: rgba(86, 104, 116, .8);
    color: #fff;
    content: attr(title-show);
    padding: 10px 15px;
    position: fixed;
    z-index: 98;
    font-family: $font-Roboto;
    font-weight: lighter;
    font-size: 0.875em;
    margin-top: 8px;
    margin-left: -95px;
    line-height: 1.2;
}
.mouseover_tooltip_wall:hover:before, .mouseover_tooltip_wall:focus:before {
    border: solid;
    border-color: rgba(86, 104, 116, .8) transparent;
    border-width: 0px 0px 12px 14px;
    content: "";
    position: fixed;
    margin-top: 28px;
    margin-left: 0px;
    z-index: 99;
}
.go_next_chapter {
    line-height: 0;
    cursor: pointer;
    // img{
    @include opacity(0.8);
    @include transition(opacity 0.5s 0 ease-in);
    // }
    &:hover {
        @include opacity(1);
        @include transition(opacity 0.5s 0 ease-out);
    }
}
.block_400 {
    display: block;
    @media (min-width: $d_small) {
        display: none;
    }
}
.block_992 {
    display: none;
    @media (min-width: $d_small) {
        display: block;
    }
    @media (min-width: $d_normal) {
        display: none;
    }
}
.block_1280 {
    display: none;
    @media (min-width: $d_normal) {
        display: block;
    }
}
.content_svg {
    position: relative;
    svg {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
        max-height: 100%;
    }
    iframe {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
        max-height: 100%;
    }
}
.content_row_down {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-family: $font-Roboto;
    font-size: 1em;
    font-weight: normal;
    color: #fff;
    @include translateX(-50%);
    P {
        -webkit-font-smoothing: antialiased;
        text-transform: uppercase;
        text-align: center;
    }
    svg {
        max-width: 137px;
        max-height: 60px;
        cursor: pointer;
    }
}
.opacity {
    opacity: 0;
}