$lightgray      : #819090;
$gray           : #708284;
$mediumgray     : #536870;
$darkgray       : #475B62;
$darkblue       : #0A2933;
$darkerblue     : #042029;
$paleryellow    : #FCF4DC;
$paleyellow     : #EAE3CB;
$yellow         : #A57706;
$orange         : #BD3613;
$red            : #D11C24;
$pink           : #C61C6F;
$purple         : #595AB7;
$blue           : #2176C7;
$cyan           : #259286;
$green          : #738A05;

$font-primary: Georgia, serif;
$font-Merriweather: 'Merriweather', serif;
$font-Playfair: 'Playfair Display', serif;
$font-Roboto: 'Roboto', sans-serif;

$default-border-radius : 10px;

$d_small:420px;
$d_medium:768px;
$d_normal:992px;
$d_large:1280px;

$color_chapter_1:#1B96B3;
$color_chapter_2:#B45C46;
$color_chapter_3:#2178B1;
$color_chapter_4:#56916E;
$color_chapter_5:#566874;

$padding_left_parraf:67px;
$padding_right_parraf:85px;


$images_dir:"../images/";

$susy: (container:$d_normal, columns: 16, gutter:5px, output:isolate );