body {
  background: #FFF6EE;
}

.none {
  display: none;
}

[type="radio"] {
  display: none;
}

.credits-section {
  display: none;
}

.st-content-banner-bg {
  position: relative;
  @include container;

  video {
    position  : absolute;
    margin-top: calc(5vh + 20px);
    width     : 100vw;
    @include breakpoint(767px) {
      margin-top: calc(5vh + 90px);
    };
    @include breakpoint(1023px) {
      margin-top: calc(5vh + 20px);
    };
    @include breakpoint(1100px) {
      width     : auto;
      margin-top: 0;
    }
  }
}

#viddesktop {
  display: none;
  @include breakpoint($d_medium) {
    display: block;
  };
}

#vidmobile {
  display: block;
  margin : auto !important;
  @include breakpoint($d_medium) {
    display: none;
  };
}

#desktop {
  display: none;
  @include breakpoint($d_medium) {
    display: block;
  };
}

#mobile {
  display: block;
  @include breakpoint($d_medium) {
    display: none;
  };
}

.play {
  @include container(40px);
  position        : relative;
  background-color: $stlightblue;
  color           : #fff;
  padding         : 10px 30px;
  cursor          : pointer;
  opacity         : 0;
  text-align      : center;
}

.st-header-page {
  background    : #FFF6EE;
  width         : 100%;
  padding-bottom: 100px;
  @include breakpoint(769px) {
    height        : 520px;
    padding-bottom: 40px;
  }

  .main-headline {
    position  : relative;
    text-align: center;
    max-width : 100vw !important;
    color     : #333;
    margin-top: 0 !important;
    height    : 45vh;

    .title {
      h1 {
        font-family: $font-SelaneMinTen;
        font-size  : 33px;
        line-height: 1;
        padding-top: 10px;
        @include breakpoint(321px) {
          font-size: 40px;
          padding  : 10px;
        };
        @include breakpoint($d_medium) {
          padding-top: 50px;
          font-size  : 62px;
          line-height: 1.3em;
        }
      }
    }

    .deck p {
      font-family: $font-SelaneTen;
      font-size  : 15px;
      max-width  : 600px;
      margin     : auto auto 0;
      padding    : 10px;
      @include breakpoint(321px) {
        font-size: 18px;
        margin   : auto auto 20px;
      };
      @include breakpoint($d_medium) {
        font-size: 20px;
      }
    }

    .by-line span {
      font-family: $font-Curator-Regular;
      font-size  : 11px;
      color      : #505050;
      @include breakpoint(321px) {
        font-size: 12px;
      };
    }
  }
}

.drink {
  position  : relative;
  text-align: center;
  @include breakpoint(769px) {
    transform : translateX(150%);
    margin-top: -50px;
    position  : absolute;
    text-align: inherit;
  }
  @include breakpoint(1025px) {
    // transform: translateX(200%);
    right    : 0;
    transform: none;
  };

  img {
    height: 130px;
    @include breakpoint(321px) {
      height: 200px;
    };
    @include breakpoint($d_medium) {
      height: auto;
    };
  }
}

.qnContainer {
  position          : inherit;
  // width             : 90vw;
  max-height        : 390px;
  background-color  : #FFF;
  -webkit-box-shadow: 2px 0 13px 0 rgba(51,51,51,.17);
  -moz-box-shadow   : 2px 0 13px 0 rgba(51,51,51,.17);
  box-shadow        : 2px 0 13px 0 rgba(51,51,51,.17);
  //margin            : auto auto 20px;
  @include breakpoint(769px) {
    width   : 600px;
    position: relative;
    //margin-top: 120px;
    height  : auto;
    margin  : 120px 20px;
    //margin    : auto auto 20px;
  }
  @include breakpoint(1025px) {
    width      : 700px;
    margin-left: 0;
  }
}

.quiz {
  @include container;
  position: relative;
  display : none;
  height  : 100vh;
  @include breakpoint($d_medium) {
    height    : 400px;
    //  height    : 100vh;
    margin-top: 50px;
  };
}

.image2 {
  height       : 130px;
  float        : left;
  padding-right: 15px;
  transform    : translateY(15%);

  img {
    height: 80px;
    @include breakpoint(321px) {
      height: 90px;
    };
    @include breakpoint($d_medium) {
      height: auto;
    };
  }
  @include breakpoint($d_medium) {
    height: 320px;
  };
}

.image3 {
  height       : 150px;
  float        : left;
  padding-right: 15px;
  transform    : translateY(15%);

  img {
    height: 80px;
    @include breakpoint(321px) {
      height: 90px;
    };
    @include breakpoint($d_medium) {
      height: auto;
    };
  }
  @include breakpoint($d_medium) {
    height: 320px;
  };
}

.question {
  padding: 15px 30px 45px;

  .image {
    float        : left;
    padding-right: 15px;
    transform    : translateY(15%);

    img {
      height: 80px;
      @include breakpoint(321px) {
        height: 90px;
      };
      @include breakpoint($d_medium) {
        height: auto;
      };
    }
    @include breakpoint($d_medium) {
      height: 320px;
    };
  }

  .selectAns {
    color     : #333;
    margin-top: 30px;

    h1 {
      font-family  : $font-Curator-Bold;
      font-size    : 15px;
      line-height  : normal;
      margin-bottom: 35px;
      @include breakpoint(321px) {
        font-size: 18px;
      }
      @include breakpoint($d_medium) {
        margin-bottom: 30px;
        font-size    : 19px;
      }
    }

    span {
      // cursor     : pointer;
      font-size  : 15px;
      line-height: 1.3;
      // font-size  : 16px;
      // @include breakpoint($d_medium) {
      font-size  : 17px;
      // }
    }

    img {
      /* padding: 10px 10px 0 0; */
      /* margin-bottom: -4px; */
      padding-right: 10px;
    }

    label {
      cursor             : pointer;
      pointer-events     : all;
      display            : -webkit-box;
      display            : -moz-box;
      display            : -webkit-flex;
      display            : -ms-flexbox;
      display            : flex;
      align-items        : flex-start;
      -webkit-align-items: flex-start;
      -ms-align-items    : flex-start;
      margin-bottom      : -15px;
    }
  }
}

.resultpage {
  @include container;
  position: relative;
  @include breakpoint($d_medium) {
    margin-top: 20px;
    height    : 100vh;
  };

  .results {
    //width             : 100vw;
    // margin            : -70px 15px;
    position          : relative;
    margin            : 0 auto;
    text-align        : center;
    color             : #333;
    background        : #FFF;
    -webkit-box-shadow: 2px 0 13px 0 rgba(51,51,51,.17);
    -moz-box-shadow   : 2px 0 13px 0 rgba(51,51,51,.17);
    box-shadow        : 2px 0 13px 0 rgba(51,51,51,.17);
    @include breakpoint($d_medium) {
      width  : 660px;
      padding: 30px 20px;
      // margin : -70px auto;
    };

    h1 {
      font-family: $font-Curator-Regular;
      font-size  : 17px;
      @include breakpoint(321px) {
        font-size: 19px;
      };
    }

    h2 {
      font-family   : $font-Curator-Bold;
      font-size     : 18px;
      text-transform: uppercase;
      margin-top    : 20px;
      @include breakpoint(321px) {
        font-size: 20px;
      };
    }

    h3 {
      font-family: $font-Curator-Bold;
      font-size  : 17px;
      line-height: 1.3;
      @include breakpoint(321px) {
        font-size: 19px;
      };
    }

    p {
      font-family: $font-Curator-Regular;
      font-size  : 14px;
      margin-top : 20px;
      @include breakpoint(321px) {
        font-size: 17px;
      };
    }

    span {
      font-family: $font-Curator-Regular;
      font-size  : 14px;
      @include breakpoint(321px) {
        font-size: 17px;
      };
    }
  }
}
// .banner {
//   height: 0;
// }

.infocontainer {
  position        : absolute;
  background-color: rgba(0, 0, 0, 0.4);
  // height          : 120vh;
  height          : calc(100vh + 50%);
  z-index         : 99;
  top             : 0;
  width           : 100%;
}

.info {
  background-color: #FFF;
  margin          : auto;
  text-align      : center;
  max-width       : 350px;
  @include breakpoint($d_medium) {
    max-width: 400px;
  };

  .text {
    p {
      color     : #333;
      padding   : 20px;
      margin-top: 500px;
      max-height: 200px;
      font-size : 17px;
      @include breakpoint(374px) {
        margin-top: 580px;
      };
      @include breakpoint(413px) {
        margin-top: 550px;
      };
      @include breakpoint(767px) {
        margin-top: 560px;
      };
      @include breakpoint(1024px) {
        margin-top: 580px;
      };
      @include breakpoint(1025px) {
        margin-top: 600px;
      };
    }
  }
}

.gotit {
  position      : relative;
  width         : 150px;
  padding-bottom: 1px;
  margin        : auto;

  p {
    background-color: $stlightblue;
    margin-top      : auto;
    padding         : 10px 20px;
    font-size       : 17px;
    color           : #FFF;
    font-family     : $font-Curator-Regular;
    cursor          : pointer;
  }
}

#arrow {
  content     : '';
  position    : absolute;
  width       : 0;
  height      : 0;
  border-top  : solid 30px #FFF;
  border-left : solid 30px transparent;
  border-right: solid 30px transparent;
  left        : 0;
  right       : 0;
  margin      : 0 auto;
}

.comparebtn,
.sharebtn {
  p {
    background-color: $stlightblue;
    padding         : 10px 20px;
    font-size       : 17px;
    color           : #FFF;
    font-family     : $font-Curator-Regular;
    margin          : 0 auto;
    // margin          : 100px auto 0 !important;
    cursor          : pointer;
    @include breakpoint(321px) {
      width: 250px;
    };
  }
}

.popupbox {
  position          : absolute;
  font-size         : 17px;
  padding           : 20px;
  width             : 300px;
  height            : 200px;
  left              : 0;
  right             : 0;
  bottom            : 160px;
  z-index           : 10;
  margin            : 0 auto;
  text-align        : center;
  color             : #333;
  background        : #FFF;
  -webkit-box-shadow: 2px 0 13px 0 rgba(51,51,51,.17);
  -moz-box-shadow   : 2px 0 13px 0 rgba(51,51,51,.17);
  box-shadow        : 2px 0 13px 0 rgba(51,51,51,.17);

  .closeimg {
    cursor: pointer;

    img {
      width: 20px;
      float: right;
    }
  }

  .gotitbtn {
    background-color: $screen;
    padding         : 10px 20px;
    font-size       : 17px;
    color           : $black;
    font-family     : $font-Curator-Regular;
    cursor          : pointer;
    margin          : 0 auto;
    width           : 100px;
    margin-bottom   : 10px;
  }

  .shareIcons {
    width : 100px;
    margin: 0 auto;

    img {
      width : 45px;
      float : left;
      cursor: pointer;
    }
  }
}

.coffee {
  margin : auto;
  padding: 20px;
  @include breakpoint($d_medium) {
    width  : 550px;
    padding: 0;
  };

  img {
    height: 130px;
    @include breakpoint(321px) {
      height: 150px;
    }
    @include breakpoint($d_medium) {
      height: auto;
    }
  }
}

.center {
  margin-left: 25% !important;
  @include breakpoint($d_medium) {
    margin-left: 28% !important;
  }
}

.comparepage {
  display           : none;
  background        : #FFF;
  -webkit-box-shadow: 2px 0 13px 0 rgba(51,51,51,.17);
  -moz-box-shadow   : 2px 0 13px 0 rgba(51,51,51,.17);
  box-shadow        : 2px 0 13px 0 rgba(51,51,51,.17);
  position          : relative;
  z-index           : -2;
  padding           : 20px;
  margin-bottom     : 70px;
  // margin            : 15px !important;
  @include container(660px);
  @include breakpoint($d_medium) {
    margin : 0 auto 50px !important;
    padding: inherit;
  };

  .compare {
    color      : #333;
    text-align : center;
    padding-top: 20px;
    @include breakpoint($d_medium) {
       @include container(500px);
      padding-top: 50px;
    }

    h1 {
      font-family: $font-Curator-Regular;
      font-size  : 17px;
    }

    h2 {
      font-family: $font-Curator-Regular;
      font-size  : 17px;
    }

    p {
      font-family: $font-Curator-Regular;
      font-size  : 17px;
      margin-top : 20px;
      // margin-bottom: 50px;
      // @include breakpoint($d_medium) {
      //   width: 400px;
      // };
      span {
        font-family: $font-Curator-Bold;
      }
    }

    img {
      float: left;
      @include breakpoint ($d_medium) {
        margin-left: 70px;
      }
    }
  }
}

.img img {
  position   : absolute;
  z-index    : -1;
  margin-left: 25px;
  margin-top : -110px;
  width      : 70px;
  @include breakpoint(321px) {
    margin-left: 35px;
    margin-top : -135px;
    width      : 85px;
  };
}

.graph {
  margin-top: 50px;
  @include breakpoint(413px) {
    margin-left: 15px;
  };
  @include breakpoint($d_medium) {
    margin-left: 60px;
    width      : 700px;
  }
}

.totalcircle {
  padding-bottom: 70px;
  float         : left;
  margin-left   : 3%;
  // margin-right  : 5px;
  @include breakpoint(361px) {
    // margin-right: 2px;
    margin-left: 4%;
  };
  @include breakpoint($d_medium) {
    margin-right: 50px;
    margin-left : auto;
  }
}

.circles-text {
  left: 0 !important;
}
