main {
  margin-left : auto;
  margin-right: auto;
}

.cc-logo {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  justify-content: flex-end;
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  img {
    width   : 120px;
    // position: absolute;
    bottom  : 0;
    right   : 0;
  }
}
  @media (max-width: $d_medium) {
    .cc-logo {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        justify-content: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
    }
  }

.st-header-page {
  background     : url("/images/liveblog/mainbanner.png") no-repeat bottom center, linear-gradient(to bottom, #EF4123, #690f00);
  background-size: contain;
  // background-image: -webkit-gradient(linear, left top, left bottom, from(#942170), to(#93aad6));
  // background-image: linear-gradient(to bottom, #942170, #93aad6);
  // background-image: -webkit-gradient(to bottom, rgb(12, 43, 87), #4267b2 );
  // background-image: linear-gradient(to bottom, rgb(12, 43, 87), #4267b2 );
  .main-headline {
    margin-top   : 0;
    margin-bottom: 0;

      }
    }
    @media (max-width: $d_medium) {
      .st-header-page {
        background     : url("/images/liveblog/mainbanner-mobile.png") no-repeat bottom center, linear-gradient(to bottom, #EF4123, #690f00);
        background-size: cover;
      }
    }

.st-header-page .main-headline {
  @include breakpoint($d_medium) {
    max-width: 920px;
  };
}

.st-header-page .main-headline .st-title {
  margin-bottom: 0;
}
@media (max-width: $d_medium) {
  .st-header-page .main-headline .st-title {
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 0;
  }
}

.st-header-page .main-headline .st-title h1 {
  color: #fff;
}

.st-header-page .main-headline .st-deck {
  color: #fff;
}

.st-header-page .main-headline .st-byline {
  color: rgba(255,255,255,0.8);
}



.st-content-banner-bg {
  background-color: $stlightblue;
}

.st-header-page {
  @include clearfix;

  .st-header-title {
    padding: 30px 15px 15px;
    @include container(900px);

    h1 {
      // @include container (750px);
      color      : #333;
      text-align : center;
      font-family: $font-SelaneMinTen;
      font-size  : 3em;
      line-height: 1.2;

      span {
        color: $red;
      }
      @media (min-width: $d_small) {
        font-size: 2.8em;
      }
      @media (min-width: $d_medium) {
        font-size: 4.3em;
      }
    }
  }

  .st-header-strap {
    font-family: $font-SelaneTen;
    font-size  : 1.3em;
    line-height: 1.6;
    color      : #333;
    padding    : 15px;
    @include container(1200px);

    p {
      font-family: $font-SelaneTen;
      color      : #333;
      text-align : center;
      margin     : 0 auto;
      line-height: 1.5;
      max-width  : 850px;
    }
    @media (min-width: $d_medium) {
      font-size: 1.3em;
    }
    // hr {
    //     border: none;
    //     border-bottom: 1px solid #ccc;
    //     margin-top: 40px;
    //     width: 90%;
    // }
  }

  .time {
    font-family  : $font-Curator-Regular;
    font-size    : 13px;
    color        : #666;
    padding      : 15px;
    text-align   : center;
    margin-bottom: 50px;
    @include container(1200px);
  }
}

.st-content-live-blog {
  padding-left : 15px;
  padding-right: 15px;
  box-sizing   : border-box;
  font-family  : $font-Curator-Regular;
  display      : block;
  @include container(1200px);

  p {
    color      : $black;
    font-family: $font-Curator-Regular;
  }

  time {
    color      : $red !important;
    font-family: $font-Curator-Bold !important;
  }

  span {
    color: $black !important;
  }

  .content-blogging {
    width         : 150px;
    max-width     : 150px;
    min-width     : 150px;
    display       : none;
    vertical-align: top;

    .card-blogging {
      h4 {
        font-size  : 16px;
        margin-top : 10px;
        font-family: $font-Curator-Bold;
        color      : #333;
        line-height: 1.2;
      }

      div {
        font-family  : $font-Curator-Regular;
        color        : #999;
        font-size    : 15px;
        line-height  : 1.5;
        margin-bottom: 20px;
      }

      img {
        max-width: 110px;
        margin   : 0;
      }
    }
    @include breakpoint($d_medium) {
      float  : left;
      display: block;
    }
  }

  .content-v-n-l {
    max-width  : 500px;
    margin     : 0 auto;
    padding-top: 40px;

    .content-live-video {
      display: block;

      .videoWrapper {
        position      : relative;
        padding-bottom: 56.25%;
        /* 16:9 */
        padding-top   : 25px;
        height        : 100px;
        // width         : 25%;
        iframe {
          position: absolute;
          top     : 0;
          left    : 0;
          width   : 100%;
          height  : 100%;
        }
      }
      @include breakpoint($d_medium) {
        width    : 25%;
        min-width: 270px;
        float    : right;
        position : initial;
      }
    }

    .content-blogging-mobile {
      display       : block;
      padding-top   : 20px;
      padding-bottom: 20px;
      @include breakpoint($d_medium) {
        display: none;
      }
    }

    .content-blog {
      > div {
        @include breakpoint($d_medium) {
          padding-right: 15px;
          padding-left : 15px;
        }
      }
      @include breakpoint($d_medium) {
        max-width   : calc(100vw - 50%);
        width       : 70%;
        margin      : 0 auto;
        float       : left;
        margin-left : 0;
        margin-right: -100%;
      }
      @include breakpoint($d_large) {
        max-width: calc(100vw - 50%);
        width    : 70%;
      }
    }
    @include breakpoint($d_medium) {
      vertical-align: top;
      max-width     : calc(100% - 0px);
      margin-left   : 0;
      margin-right  : -100%;
      /*float         : right;
            width     : calc(100%);*/
      @include clearfix;
    }
  }
}

.st-content-banner:before {
  content         : '';
  display         : block;
  background-color: $stlightblue;
}

.st-banner-mobile {
  display: none;
}

.st-content-banner {
  // width              : 100%;
  // // background: #2596b4;
  // height             : 100px;
  // background-image   : url("../images/background-1900x950.jpg");
  // background-position: 50% 50%;
  // background-size    : cover;
  //
  // .st-banner {
  //     @include container;
  //     position: relative;
  //     height  : 100%;
  // }
  //
  // .st-content-logo-budget {
  //     position: absolute;
  //     bottom  : 10px;
  //     left    : 10px;
  //     right   : 10px;
  //     // text-align: center;
  //     img {
  //         display: inline-block;
  //     }
  //
  //     a {
  //         display: block;
  //     }
  // }
  // @include container;
  /*height           : 300px;*/
  position: relative;
  /* For browsers that do not support gradients */
  // background       : #5D9EDA;
  /* For Safari 5.1 to 6.0 */
  @media (max-width: $d_medium) {}

  .st-banner {
    @include container;

    img {
      width      : 1200px;
      margin-left: 0;
      position   : absolute;
      top        : 0;
    }
  }
}
@include breakpoint($d_small) {
  .st-mobile {
    display: none;
  }

  .st-medium {
    display: block;
  }
}
@include breakpoint($d_medium) {
  .st-medium {
    display: none;
  }

  .st-desktop {
    display: block;
  }
}
@include breakpoint($d_normal) {}

.st_liveblog {
  background-color: #FFF !important;
  font-family     : $font-Curator-Regular;
  color           : $black;
}

.st_liveblog .postitem time {
  background: #fff !important;
  font-size : 0.9em;
}

.st_liveblog.fullv img {
  margin-top: 10px;
}

.st_liveblog .postitem {
  border-bottom: 1px dotted #999;
}
@media (max-width: 768px) {
  .st-content-banner:before {
    content: '';
    display: none;
    height : 0;
  }

  .st-content-banner .st-banner img {
    width  : 100%;
    display: none;
  }

  .st-banner-mobile {
    display: block;
    /*position: absolute;*/
    top    : 0;
  }

  .st-banner-mobile img {
    width: 100%;
  }
}

.st-content-live-blog .content-v-n-l .content-live-video {
      display: block; }

.st-content-live-blog .content-v-n-l .content-live-video .videoWrapper {
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 */
        padding-top: 25px;
        height: 100px; }

.st-content-live-blog .content-v-n-l .content-live-video .videoWrapper iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }

@media (min-width: 768px) {
        .st-content-live-blog .content-v-n-l .content-live-video {
          width: 25%;
          min-width: 270px;
          float: right;
          position: initial; } }
