<template>
<header class="st-header-page">
  <div class="st-header-hero" :style="{height:fullHeight+'px'}">
    <div class="st-header-container">
      <div class="circle-intro">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="600px" height="600px" viewBox="0 0 600 600" enable-background="new 0 0 600 600" xml:space="preserve">
        <g class="animate-line">
        <path opacity="0.15" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" enable-background="new    " d="
        	M53.1,475.6c24.3,32.6,66.8,82.5,130.3,103.8c64.7,21.8,99.6,21.8,118.5,2.4c0,0,22.7-28.3,93.9-30.7S497.3,544,519.4,510
        	c22.2-34,14.6-86.8,37.3-115.6s42-44.4,39.2-79.8s-11.8-100.5-30.2-115.1s-68-79.3-74.1-112.3S462.8,34.3,416.1,23
        	S295.2,46.2,261.3,49.5c-34,3.3-112.8-9-147.7,12.3s-34.9,79.8-54.3,96.7s-42.9,89.7-42.5,145.8s10.9,136.9,34.9,169.4l1,1.5" />
        </g>
        <g class="animate-line">
        <path opacity="0.25" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" enable-background="new    " d="
        	M564.4,304.4c-3.2-46,3.4-107-1.5-134.2c-6.1-34-13.7-67-68-76.9S386.8,56.1,354.7,29.2S280.1-1,232,16s-65.6,33-90.6,65.1
        	s-71.3,33-100.5,72.2S3.1,274.6,20.6,314.2s37.8,85.9,42.9,119.4s55.3,169.9,238.4,149.6c0,0,81.6,7.6,137.8-52.9
        	c56.2-60.4,93.4-56.2,110-71.7c16.5-15.6,31.1-78.8,19.3-123.2c-2.3-8.8-3.7-19.3-4.6-30.6"/>
        </g>
        <g class="animate-line">
        <path  fill="none" stroke="#FFFFFF" stroke-miterlimit="10" d="M303.8,23.4l0-0.2c-0.1-2.1-1.8-3.7-3.9-3.7
        	c-2.2,0-3.9,1.7-3.9,3.9s1.7,3.9,3.9,3.9S303.8,25.6,303.8,23.4l0.2,0c149.1,2.1,269.9,121.1,275,269.4l0.1,0.7
        	c2.2,0,3.9,1.7,3.9,3.9c0,2.1-1.7,3.9-3.8,3.9l-0.1,0c-2.2,0-3.9-1.7-3.9-3.9s1.7-3.9,3.9-3.9s3.9,1.7,3.9,3.9
        	c0,2.1-1.7,3.9-3.8,3.9l0,0.7c0,0.2,0,0.4,0,0.6c0,152.8-122.7,276.9-274.9,279.2l-0.4,0c0,2.2-1.7,3.9-3.9,3.9s-3.9-1.7-3.9-3.9
        	l0-0.1c0-2.1,1.8-3.8,3.9-3.8c2.2,0,3.9,1.7,3.9,3.9s-1.7,3.9-3.9,3.9s-3.9-1.7-3.9-3.9l-0.6,0C143.3,579.4,20.7,455.3,20.7,302.6
        	l-0.1-1.3c-2.1-0.1-3.7-1.8-3.7-3.9c0-2.2,1.7-3.9,3.9-3.9l0.1,0c2.1,0,3.8,1.8,3.8,3.9c0,2.2-1.7,3.9-3.9,3.9s-3.9-1.7-3.9-3.9
        	s1.7-3.9,3.9-3.9l0.1-0.3C25.8,144.8,146.9,25.7,296,23.4"/>
        </g>
        </svg>

        <!-- <figure class="circle-intro" itemprop="associatedMedia image" itemscope itemtype="http://schema.org/ImageObject" data-component="image">
            <img src="~images/urban-planning/cover-circles.svg" class="st-image-responsive" alt="intro Smart Nation Logo Virtual Singapore" title="Logo Virtual Singapore"/>
        </figure> -->
      </div>
      <div class="intro-text">
        <div class="main-headline">
          <div class="st-title">
            <figure class="intro" itemprop="associatedMedia image" itemscope itemtype="http://schema.org/ImageObject" data-component="image">
              <img :src="path_image" class="st-image-responsive" alt="intro Smart Nation Logo Virtual Singapore" title="Logo Virtual Singapore" />
            </figure>
            <h1 itemprop="headline">
                {{header.headline}}
              </h1>
          </div>
          <div class="st-deck" itemprop="description">
            <p>
              {{header.deck}}
            </p>
          </div>
          <div class="st-byline">
            <time itemprop="datePublished" :datetime="header.datetime" :data-timestamp="header.timestamp">
                {{header.byline}}
              </time>
          </div>
        </div>
      </div>
    </div>
    <div class="content-arrow-down" v-on:click="scrollToBody">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 137.3 60" enable-background="new 0 0 137.3 60" xml:space="preserve">
        <g>
          <!-- <animateTransform attributeName="transform" type="translate" values="0,-8;0,8;0,-8" begin="0s" dur="1.5s" repeatCount="indefinite"/>   -->
          <circle fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" cx="70.5" cy="30" r="21.7" />
          <polyline fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" points="63,27.8 70.5,35.3 78.2,27.9 " />
        </g>
      </svg>
    </div>
  </div>
</header>
</template>

<script>
import fixSvgSize from 'fixSvgSize';
import $ from 'jquery';
var d3 = Object.assign({},require("d3-timer"));
export default {
  props: ['fullHeight', 'header'],
  computed: {
    path_image: function() {
      return require("images/" + this.header.logo);
    }
  },
  methods:{
    scrollToBody:function(){
      $('html, body').animate({
            scrollTop: $("article").offset().top
        }, 500);
    }
  },
  mounted: function() {
    var _this = this;
    var circle = _this.$el.querySelectorAll('.circle-intro')[0];
    $(circle).addClass('none');

    var figure = _this.$el.querySelectorAll('figure')[0];
    $(figure).css('opacity',0);
    var h1 = _this.$el.querySelectorAll('h1')[0];
    $(h1).css('opacity',0);
    var st_deck=_this.$el.querySelectorAll('.st-deck')[0];
    $(st_deck).css('opacity',0);
    var st_byline=_this.$el.querySelectorAll('.st-byline')[0];
    $(st_byline).css('opacity',0);


    $(figure).css('opacity',1);
    $(figure).animateCss('fadeIn','in');

    $(h1).css('opacity',1);
    $(h1).animateCss('slideUp','in');

    $(circle).removeClass('none');
    new fixSvgSize({
      tag: circle
    });
    d3.timeout(function(){
      $(st_deck).css('opacity',1);
      $(st_deck).animateCss('fadeIn','in');

    },500);
    d3.timeout(function(){
      $(st_byline).css('opacity',1);
      $(st_byline).animateCss('fadeIn','in');
    },1500);
  }
}
</script>
