<template>
<article>
  <section class="st-article">
    <component v-for="(item, key, index) in article" v-bind:is="item.type" :key="item.type+index" :attributes="item.value"></component>
  </section>
  <!-- START CREDITS -->
  <st-credits></st-credits>
  <!--END CREDITS-->
  <section v-if="!isMobile()" class="content-fb-comments">
    <div class="fb-comments" :data-href="url()" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
  </section>
</article>
</template>

<script>
import {
  mapState
} from 'vuex';

import StContent from "./st-column-content.vue";
import StContentLeft from "./st-column-left.vue";
import StContentRight from "./st-column-right.vue";
import StContentUnique from "./st-column-unique.vue";

import StCredits from "./st-credits.vue";

export default {
  computed: mapState(['article']),
  methods: {
    url: function() {
      return window.location.href
    },
    isMobile:function(){
      return isMobile;
    }
  },
  components: {
    column: StContent,
    left: StContentLeft,
    right: StContentRight,
    unique: StContentUnique,
    "st-credits":StCredits,
  }
}
</script>
