<template>
  <div class="text-unique-paragraph">
    <component v-for="(item, key, index) in attributes" v-bind:is="item.type" :key="item.type+index" :attributes="item.value"></component>
  </div>
</template>
<script>
import StSubtitle from "artefacts/subtitle.vue";
import StParagraph from "artefacts/paragraph.vue";
import StBullets from "artefacts/bullets.vue";
import stGetSvg from "artefacts/st-get-custom-svg.vue";

export default {
  props:['attributes'],
  components: {
    subtitle:StSubtitle,
    paragraph:StParagraph,
    bullets:StBullets,
    "svg-custom-folder": stGetSvg
  }
}
</script>
