<template>
  <div class="column-paragraph-right">
    <component v-for="(item, key, index) in attributes" v-bind:is="item.type" :key="item.type+index" :attributes="item.value"></component>
  </div>
</template>
<script>
import StSubtitle from "artefacts/subtitle.vue";
import StParagraph from "artefacts/paragraph.vue";
import StBullets from "artefacts/bullets.vue";

export default {
  props:['attributes'],
  components: {
    subtitle:StSubtitle,
    paragraph:StParagraph,
    bullets:StBullets
  }
}
</script>
