<template>
  <div class="content-columns">
    <component v-for="(item, key, index) in a_newComponents" v-bind:is="item" :key="item+index" :attributes="attributes[0][item]"></component>
  </div>
</template>

<script>
import StContentLeft from "./st-column-left.vue";
import StContentRight from "./st-column-right.vue";
import StContentUnique from "./st-column-unique.vue";
import stGetSvg from "artefacts/st-get-custom-svg.vue";



export default {
  props:['attributes'],
  computed:{
    a_newComponents:function(){
      return Object.keys(this.attributes[0]);
    }
  },
  components: {
    left: StContentLeft,
    right: StContentRight,
    unique: StContentUnique,
    "svg-custom-folder": stGetSvg
  }
}
</script>
