<template>
<figure>
  <img :src="'images_doc/'+attributes.src" :alt="attributes.alt" class="st-image-responsive" />
  <figcaption v-if="attributes.caption" v-html="attributes.caption">Fig1. - A view of the pulpit rock in Norway.</figcaption>
</figure>
</template>

<script>
export default {
  props: ['attributes', 'division']
}
</script>
<style lang="scss" scoped>
figure {
    padding: 15px 0;
    figcaption {
        color: #666;
        padding: 10px;
        font-family: $font-Curator-Regular;
        font-size: 15px;
        line-height: 1.4;
    }
}
</style>
