body,
html {
    @include breakpoint($d_medium) {
        height  : 100%;
        overflow: hidden;

        #wrapper-page {
            overflow-y: scroll;
            height    : 100%;

            .scrollContent {
                min-height: 100%;
                box-sizing: border-box;
                position  : relative;
            }
        }
    }
}
