* {
    color: $black;
}

.container-quiz {
    background-color: $screen;
    padding-top     : 20px;
}

.resultimage {
    display: none;
}

.formSection {
    @include container(850px);

    .allQuestion {
        .question {
            border-bottom: 1px dotted;
            border-color : #666;
            margin       : 30px 10px;

            .questionTitle {
                font-family  : $font-Curator-Bold;
                font-size    : 1.2em;
                line-height  : 130%;
                color        : $black;
                margin-bottom: 20px;
                // text-align: center;
                img {
                    width        : 80px;
                    display      : block;
                    margin-bottom: 15px;
                }
            }

            .block_radio {
                // display: table;
                margin: 10px auto 20px;
                @include clearfix;

                .listchoice {
                    position  : relative;
                    margin-top: 18px;
                    @include breakpoint($d_medium) {
                        margin-top: 10px;
                    }

                    .rad {
                        // display : table-cell;
                        // float   : left;
                        width            : 34px;
                        height           : 34px;
                        position         : relative;
                        // @media (min-width: 560px) {
                        //     margin-left: 25px;
                        //     &:first-child {
                        //         margin-left: 0px;
                        //     }
                        // }
                        background-image : url("../images/color3.png");
                        background-repeat: no-repeat;
                        background-size  : 34px;

                        .circle_back {
                            position      : absolute;
                            background    : #435A72;
                            top           : 10px;
                            left          : 10px;
                            right         : 10px;
                            bottom        : 10px;
                            border-radius : 50%;
                            pointer-events: none;
                            display       : none;
                        }

                        .circle_border {
                            position      : absolute;
                            background    : transparent;
                            top           : 10px;
                            left          : 10px;
                            right         : 10px;
                            bottom        : 10px;
                            border-radius : 50%;
                            border        : 2px #fff solid;
                            pointer-events: none;
                        }

                        input[type=radio] {
                            margin : 0;
                            width  : 34px;
                            height : 34px;
                            opacity: 0;
                            cursor : pointer;
                        }

                        input[type=radio]:checked + .circle_back {
                            display: block;
                        }

                        input[type=radio]:checked + .circle_back + .circle_border {
                            border: none;
                        }
                    }

                    .radText {
                        position   : absolute;
                        top        : 0;
                        left       : 40px;
                        line-height: 120%;
                    }
                }
            }
        }
    }

    .content_btn_s {
        padding: 0 10px;
    }

    #score_display {
        padding: 0 10px;
    }

    .btn {
        background-color: $stlightblue;
        color           : #fff;
        padding         : 10px 30px;
        margin-bottom   : 10px;
        cursor          : pointer;
    }

    #computeScore {
        @include container(150px);
        margin-right: 10px;
    }

    #clear {
        @include container(60px);
    }

    #showScore {
        font-size     : 80px;
        color         : $red;
        line-height   : 1.3;
        display       : table-cell;
        vertical-align: middle;
    }

    #imager {
        img {
            max-width: 300px;
            @include breakpoint($d_medium) {
                max-width: none;
            };
        }
    }

    #share {
        margin : 0 35px;
        cursor : pointer;
        display: none;
        @include breakpoint($d_medium) {
            margin: 0 auto 20px;
        };

        .love_t {
            margin-right : 10px;
            display      : table-cell;
            padding-right: 5px;
        }

        .love_f {
            display     : table-cell;
            padding-left: 5px;
        }
    }
}
