<template>
  <div>
    <p v-for="(item, key, index) in attributes" v-html="item">
    </p>
  </div>
</template>

<script>
export default {
  props:['attributes']
}
</script>
<style lang="scss" scoped>
  p{
    color:#333;
    font-family: $font-SelaneTen;
    font-size: 19px;
  }
</style>
