<template>
<div :class="defineClassFromPath(attributes)">
  <div class="content-scrolling-section">
    <div class="flag-fix-section">
      <!-- <div :style="{height:getHeightPlusMenu()+'px'}"> -->
      <div class="content-bars-maps">
        <div class="contents-bars">
        </div>
        <div class="content-svg-section">
        </div>
      </div>
    </div>
    <div class="boxs-text">
      <!-- <div v-for="item in screens" :style="{paddingTop:getHeightPlusMenu()+'px'}"> -->
      <div v-for="(item,index) in screens" :style="{paddingBottom:(getHeightPlusMenu()/2)+'px',paddingTop:(getHeightPlusMenu()/2)+'px'}">
        <a>{{index+1}}</a>
        <p v-html="item.value">
        </p>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import {
  mapState
} from 'vuex';

import IScroll from "iscroll";

// import GetSvg from "GetSvg";
import fixSvgSize from 'fixSvgSize';
import * as d3_queue from "d3-queue";
var d3 = Object.assign({}, require("d3-selection"), require("d3-transition"), require("d3-dispatch"), require("d3-request"), require("d3-array"));

var q = d3_queue.queue();

var ScrollMagic = require('ScrollMagic');
require("animation.gsap");
require("debug.addIndicators");
var number_screens = 23;


export default {
  props: ['attributes'],
  computed: mapState(['screens', 'fullHeight','loading']),
  methods: {
    getHeightPlusMenu: function() {
      return this.fullHeight + document.getElementsByClassName("st-content-menu")[0].clientHeight;
    },
    getSvg: function(folder) {
      var _this = this;
      if (folder) {
        if (this.$el) {
          var server_get = (process.env.NODE_ENV2 !== "production") ? "http://st-visuals.com/graphics" : "http://graphics.straitstimes.com";
          var currentDate = new Date();
          q.defer(d3.xml, "images_doc/bar-parliament-222-seats.svg");
          q.defer(d3.xml, "images_doc/map-2016-parliament.svg");
          q.defer(d3.xml, "images_doc/map-2016-parliament-diagram.svg");
          // q.defer(d3.xml, "images_doc/map-2016-state.svg");
          q.defer(d3.xml, "images_doc/map-2016-state-diagram.svg");
          q.defer(d3.json, server_get + "/st-get-file-json/1S3F_wI0Tx_8GlEIxj5YM2tyf6T46p8UGqIhJ0ihv_Aw?_=" + currentDate.getTime());
          q.defer(d3.json, server_get + "/st-get-file-json/1YyWn2rXhOVj0vF1hYJIFlotSLqdyAU1w8EF6HREyDSo?_=" + currentDate.getTime());

          q.awaitAll((error, xmls) => _this.getXml(error, xmls));
        }
      }
    },
    appendSvg: function(xml, node) {
      var svg;
      if (navigator.appName === 'Microsoft Internet Explorer') {
        svg = this.cloneToDoc(xml.documentElement);
      } else {
        svg = document.importNode(xml.documentElement, true);
      }
      d3.select(svg).selectAll("image").each(function() {
        var url_image = d3.select(this).attr("xlink:href");
        d3.select(this).attr("xlink:href", _this.url_folder[i] + "/" + url_image);
      });

      // var node_svg = _this.$el;
      var node_svg = (typeof node === "string") ? document.querySelectorAll(node)[0] : node;
      node_svg.appendChild(svg);
      new fixSvgSize({
        tag: node_svg
      });
      return svg;
    },
    getXml: function(error, xmls) {
      var _this = this;
      if (error) throw error;

      var bars = xmls[0];
      var svg_map_parliament = xmls[1];
      var svg_map_state = xmls[2];
      var svg_map_state_diagram = xmls[3];
      var csv_parliament = xmls[4];
      var csv_state = xmls[5];


      d3.select(svg_map_parliament).select(".malaysia-map-divisions").attr("opacity", 0);
      this.appendSvg(bars, '.contents-bars');
      var svg = this.appendSvg(svg_map_parliament, '.content-svg-section');
      svg.appendChild(d3.select(svg_map_state).select(".malaysia-diagram-divisions").attr("opacity", 0).node());

      var content_parliament = d3.select(svg).html();
      d3.select(svg)
        // .style("display", "none")
        .classed("svg_parliament", true).html("").append("g").html(content_parliament);

      // states map
      d3.select(svg_map_state_diagram).select(".map-divisions").attr("opacity", 0);
      d3.select(svg_map_state_diagram).select(".diagram-divisions").attr("opacity", 0);
      var svg2 = this.appendSvg(svg_map_state_diagram, '.content-svg-section');
      d3.select(svg2).classed("svg_state", true);

      $(".content-svg-section .svg_parliament g[class*='malaysia-']:not(.malaysia-map-divisions):not(.malaysia-diagram-divisions)").each(function(i, el) {
        var global_class_diagram = d3.select(el).attr("class").replace("map", "diagram", "g");
        d3.select(el).selectAll("path").datum(function() {
          var this_elem = d3.select(this).attr("fill", "#eff3f4").attr("stroke", "#fff");
          var data_return = {};
          data_return.o_points = this_elem.attr("d");
          var f_points = d3.select(svg_map_state).select("." + this_elem.attr("class"));

          if (f_points.size() === 0) {
            console.log(this);
            // f_points = d3.select(this);
            f_points = d3.select(svg_map_state).selectAll("." + global_class_diagram + " path:nth-child(1)");
          }

          data_return.f_points = f_points.attr("d");
          d3.select(this).classed("morphing", true);
          return data_return;
        });

      });


      $(".content-svg-section .svg_state g[class*='-map']:not(.map-divisions):not(.diagram-divisions)").each(function(i, el) {
        var global_class_diagram = d3.select(el).attr("class").replace("map", "diagram", "g");

        d3.select(el).selectAll("path").datum(function() {
          var this_elem = d3.select(this).attr("fill", "#eff3f4").attr("stroke", "#fff");
          var data_return = {};
          data_return.o_points = this_elem.attr("d");
          // console.log(global_class_diagram);
          var f_points = d3.select(svg_map_state_diagram).select("." + global_class_diagram + " ." + this_elem.attr("class"));
          // console.log(f_points);
          if (f_points.size() === 0) {
            // console.log(this);
            d3.select(this).classed("morphing_opacity_state", true);
            f_points = this_elem;
          }
          data_return.f_points = f_points.attr("d");
          d3.select(this).classed("morphing_state", true);
          return data_return;
        });

        d3.select(".content-svg-section .svg_state ." + global_class_diagram).remove();
      });


      var color_party = {
        BN: "#0c2b57",
        NONE: "#eff3f4",
        PR: "#ffd400",
        GS: "#7fb668",
        PH: "#ef4123",
        PAS: "#23a299"
      };
      var o_screens = {};
      csv_parliament.forEach((d, i) => {
        var elem = d3.selectAll(".svg_parliament .malaysia-" + d.id + "-map path[class^=" + d["constitutency-no"]
          .toLowerCase() + "]");
        if (elem.size() > 0) {
          var screens = Object.keys(d).filter(d => {
            return d !== "constitutency-no" && d !== "state" && d !== "id";
          });

          screens.map(screen => {
            if (!o_screens[screen]) o_screens[screen] = [];

            var found_party = 0;
            o_screens[screen].forEach(function(el) {
              if (el.name === d[screen]) {
                found_party = 1;
                el.total++;
              }
            });
            if (found_party === 0) {
              o_screens[screen].push({
                color: color_party[d[screen]],
                name: d[screen],
                total: 1
              });
            }

            return screen;
          });

          var datum_previous = elem.datum();
          datum_previous.scene = d;
          elem.datum(datum_previous);
        }
      });

      csv_state.forEach((d, i) => {
        var cell = d["constitutency-no"].toLowerCase();
        var elem = d3.selectAll(".svg_state .malaysia-" + d.id + "-map").selectAll("path." + cell + ",path[class^=" + cell + "a],path[class^=" + cell + "b],path[class^=" + cell + "c]");

        if (elem.size() > 0) {
          var screens = Object.keys(d).filter(d => {
            return d !== "constitutency-no" && d !== "state" && d !== "id" && d !== "constituency-name";
          });
          screens.map(screen => {
            if (!o_screens[screen]) o_screens[screen] = [];
            var found_party = 0;
            o_screens[screen].forEach(function(el) {
              if (el.name === d[screen]) {
                found_party = 1;
                el.total++;
              }
            });
            if (found_party === 0) {
              o_screens[screen].push({
                color: color_party[d[screen]],
                name: d[screen],
                total: 1
              });
            }
            return screen;
          });

          var datum_previous = elem.datum();
          datum_previous.scene = d;
          elem.datum(datum_previous);
        }
      });

      d3.selectAll(".morphing").interrupt().transition().attr("d", d => d.o_points);
      d3.selectAll(".morphing_state").interrupt().transition().attr("d", d => d.o_points);


      console.log(o_screens);
      var controller = new ScrollMagic.Controller({
        container: "#wrapper-page"
      });

      var duration_total1 = 0;
      var duration_total2 = 0;
      d3.selectAll(".boxs-text div").each(function(elem, i) {
        var partial_total = 0;
        var screen = (i + 1);
        var _this = this;
        var scene = new ScrollMagic.Scene({
          triggerElement: _this,
          duration: 1,
          offset: 0
        });
        var tween = new TimelineMax();

        if (screen === 1) {

          tween.staggerTo($(".contents-bars svg path[class*='vote-']:nth-child(-n+112)"), 1 / 112 * 0.4, {
            attr: {
              fill: '#e4ebec'
            }
          }, 1 / 112 * 0.3, 0);
          tween.staggerFromTo($(".contents-bars svg path[class*='vote-']:nth-child(n+113):nth-child(-n+148)"), 1 / 36 * 0.4, {
            attr: {
              fill: '#eff3f4'
            }
          }, {
            attr: {
              fill: '#e4ebec'
            }
          }, 1 / 36 * 0.3, 1)
          tween.to($(".contents-bars svg path[class*='vote-']:nth-child(n+113):nth-child(-n+148)"), 0.1, {
            attr: {
              fill: '#e4ebec'
            }
          }, 2)

          var partial0 = ($(".boxs-text div:nth-child(1)").height() + $(".boxs-text div:nth-child(2)").height()) - $(".content-bars-maps").height() / 2;
          scene.duration(partial0);
          var offset_partial0 = $(".content-bars-maps").height() / 2;
          scene.offset(offset_partial0);


          scene.setPin(".flag-fix-section");
          duration_total1 += (partial0 + offset_partial0);
        }
        if (screen === 2) {
          tween.fromTo($(".content-svg-section"), 0.1, {
            display: "none",
            opacity: 0
          }, {
            display: "block",
            opacity: 0
          });
          tween.to($(".content-svg-section"), 0.5, {
            opacity: 1
          });

          var new_a_screens = o_screens["screen-3"].sort((a, b) => {
            return d3.descending(a.total, b.total);
          });

          var acummulative = 0;
          new_a_screens.forEach((d, i) => {
            var ptotal = acummulative;
            acummulative += d.total;
            if (i > 0) ptotal++;

            tween.to($(".contents-bars svg path[class*='vote-']:nth-child(n+" + ptotal + "):nth-child(-n+" + acummulative + ")"), 0.5, {
              attr: {
                fill: d.color
              }
            }, 1);
          });

          tween.to($(".content-svg-section .svg_parliament path[class*='p']"), 0.5, {
            attr: {
              fill: function(index, target) {
                var scene = d3.select(target).datum().scene;
                var bgcolor = (scene) ? color_party[scene["screen-3"]] : "purple";
                return bgcolor;
              }
            }
          }, 1);

          // scene.setTween(tween);
          var partial_total0 = (window.innerHeight / 2) - ($(".content-bars-maps").height() / 2);

          scene.duration(partial_total0);
          var offset_partial = $(".boxs-text div:nth-child(2)").height();
          scene.offset(offset_partial);
          scene.on("leave", function(e) {
            $(window).trigger("resize");
            $(window).trigger("orientationchange");
          });
          scene.on("enter", function(e) {
            $(window).trigger("resize");
            $(window).trigger("orientationchange");
          });
          duration_total1 += (partial_total0);
        }
        if (screen > 3) {
          if (screen < 17) {
            var new_a_screens = o_screens["screen-" + screen].sort((a, b) => {
              return d3.descending(a.total, b.total);
            });

            var acummulative = 0;
            new_a_screens.forEach((d, i) => {
              var ptotal = acummulative;
              acummulative += d.total;
              if (i > 0) ptotal++;

              tween.to($(".contents-bars svg path[class*='vote-']:nth-child(n+" + ptotal + "):nth-child(-n+" + acummulative + ")"), 0.4, {
                attr: {
                  fill: d.color
                }
              }, 0.1);
            });
            tween.to($(".content-svg-section .svg_parliament path[class*='p']"), 0.4, {
              attr: {
                fill: function(index, target) {
                  var scene = d3.select(target).datum().scene;
                  var bgcolor = (scene) ? color_party[scene["screen-" + (i + 1)]] : "purple";
                  return bgcolor;
                }
              }
            }, 0.1);
            tween.to($(".content-svg-section .svg_parliament path[class*='p']"), 0.5, {
              attr: {
                fill: function(index, target) {
                  var scene = d3.select(target).datum().scene;
                  var bgcolor = (scene) ? color_party[scene["screen-" + (i + 1)]] : "purple";
                  return bgcolor;
                }
              }
            }, 0.5);

          } else if (screen > 16) {

            // console.log(screen);
            // console.log(o_screens["screen-" + screen]);

            var new_a_screens = o_screens["screen-" + screen].sort((a, b) => {
              return d3.descending(a.total, b.total);
            });

            var acummulative = 0;
            new_a_screens.forEach((d, i) => {
              var ptotal = acummulative;
              acummulative += d.total;
              if (i > 0) ptotal++;

              tween.to($(".contents-bars svg path[class*='vote-']:nth-child(n+" + ptotal + "):nth-child(-n+" + acummulative + ")"), 0.4, {
                attr: {
                  fill: d.color
                }
              }, 0.1);
            });
            tween.to($(".content-svg-section .svg_state path[class*='n']"), 0.4, {
              attr: {
                fill: function(index, target) {
                  var scene = d3.select(target).datum().scene;
                  var bgcolor = (scene) ? color_party[scene["screen-" + (i + 1)]] : "purple";
                  return bgcolor;
                }
              }
            }, 0.1);
            tween.to($(".content-svg-section .svg_state path[class*='n']"), 0.5, {
              attr: {
                fill: function(index, target) {
                  var scene = d3.select(target).datum().scene;
                  var bgcolor = (scene) ? color_party[scene["screen-" + (i + 1)]] : "purple";
                  return bgcolor;
                }
              }
            }, 0.5);

          }

          partial_total = (screen === number_screens) ? ($(_this).height() / 2) + ($(".content-bars-maps").height() / 2) : $(_this).height();
          scene.duration(partial_total);



        }

        if (screen === 3) {
          partial_total = $(_this).height() - (window.innerHeight / 2) + ($(".content-bars-maps").height() / 2);
          scene.duration(partial_total);
          scene.offset((window.innerHeight / 2) - ($(".content-bars-maps").height() / 2));
          // scene.setPin(".flag-fix-section", {
          //   pushFollowers: false
          // });
        }

        if (screen === 5) {
          tween.set($(".morphing"), {
            onComplete: function() {
              d3.selectAll(".morphing").interrupt().transition().attr("d", d => d.f_points);
            },
            onReverseComplete: function() {
              if (scene.progress() !== 0) d3.selectAll(".morphing").interrupt().transition().attr("d", d => d.o_points);
            },
            delay: 0.1
          }, 0);
        }

        if (screen === 7) {

        }
        if (screen === 8) {
          $(".content-svg-section").css("display", "block");

          var x_pagoh = $(".content-svg-section .svg_parliament path.p143")[0].getBBox();
          var ratio_svg = parseInt($(".content-svg-section svg:nth-child(1)").attr("width")) / $(".content-svg-section").width();

          var scale_pagoh_x = ($(".content-svg-section").width() / x_pagoh.width) * ratio_svg * 0.75;

          var g_origin = $(".content-svg-section svg:nth-child(1)")[0].getBBox();
          var translate_x = (x_pagoh.x * scale_pagoh_x) - (g_origin.x * (scale_pagoh_x - 1));
          var translate_y = (x_pagoh.y * scale_pagoh_x) - (g_origin.y * (scale_pagoh_x - 1));
          var svgOrigin = (g_origin.x) + " " + (g_origin.y);
          // var translateAY = $(window).height() - (screen_1_height * scaleA / ratio_height);
          translate_x = translate_x - (($(".content-svg-section").width() - (x_pagoh.width * scale_pagoh_x)) / 4);
          translate_y = translate_y - (($(".content-svg-section").width() - (x_pagoh.height * scale_pagoh_x)) / 4);

          $(".content-svg-section").css("display", "none");


          tween.set($(".morphing"), {
            onComplete: function() {
              d3.selectAll(".morphing").interrupt().transition().attr("d", d => d.o_points);
            },
            onReverseComplete: function() {
              if (scene.progress() !== 0) d3.selectAll(".morphing").interrupt().transition().attr("d", d => d.f_points);
            },
            delay: 0.1
          }, 0);

          tween.to($(".content-svg-section .svg_parliament>g"), 0.3, {
            scale: scale_pagoh_x,
            x: -translate_x,
            y: -translate_y,
            svgOrigin: svgOrigin
          }, 0.3);
          tween.to($(".content-svg-section .svg_parliament path"), 0.3, {
            attr: {
              "stroke-width": 0.05
            }
          }, 0.3);

        }

        if (screen === 9) {
          tween.to($(".content-svg-section .svg_parliament>g"), 0.2, {
            opacity: 1
          }, 0);
          tween.to($(".content-svg-section .svg_parliament>g"), 0.3, {
            scale: 1,
            x: 0,
            y: 0
          }, 0.2);
          tween.to($(".content-svg-section .svg_parliament path"), 0.3, {
            attr: {
              "stroke-width": 0.3
            }
          }, 0.2);
        }

        if (screen === 14) {
          $(".content-svg-section").css("display", "block");
          // $(window).trigger("resize");

          var x_selangor = $(".content-svg-section .svg_parliament path.p108")[0].getBBox();
          var ratio_svg = parseInt($(".content-svg-section svg:nth-child(1)").attr("width")) / $(".content-svg-section").width();


          var scale_selangor_x = ($(".content-svg-section").width() / x_selangor.width) * ratio_svg * 0.3;
          var scale_selangor_y = $(".content-svg-section svg:nth-child(1)").attr("height") * 0.75 / x_selangor.height * 0.78;

          // var translate_x = x_selangor.x * (scale_selangor_x-7);
          var g_origin = $(".content-svg-section svg:nth-child(1)")[0].getBBox();
          var translate_x = (x_selangor.x * scale_selangor_x) - (g_origin.x * (scale_selangor_x - 1));
          var translate_y = (x_selangor.y * scale_selangor_x) - (g_origin.y * (scale_selangor_x - 1));
          var svgOrigin = (g_origin.x) + " " + (g_origin.y);
          // var translateAY = $(window).height() - (screen_1_height * scaleA / ratio_height);
          translate_x = translate_x - (($(".content-svg-section").width() - (x_selangor.width * scale_selangor_x)) / 4);
          // translate_y=translate_y-(($(".content-svg-section").width()-(x_selangor.height*scale_selangor_x))/4);

          $(".content-svg-section").css("display", "none");

          tween.to($(".content-svg-section .svg_parliament>g"), 0.3, {
            scale: scale_selangor_x,
            x: -translate_x,
            y: -translate_y,
            svgOrigin: svgOrigin
          }, 0.3);
          tween.to($(".content-svg-section .svg_parliament path"), 0.3, {
            attr: {
              "stroke-width": 0.05
            }
          }, 0.3);
        }

        if (screen === 17) {
          tween.to($(".content-svg-section .svg_parliament"), 0.3, {
            opacity: 0
          }, 0.3);
          tween.to($(".content-svg-section .svg_parliament"), 0.1, {
            display: 'none'
          }, 0.3);
          tween.to($(".content-svg-section .svg_state"), 0.1, {
            display: 'block'
          }, 0.4);
          tween.fromTo($(".content-svg-section .svg_state"), 0.3, {
            opacity: 0
          },{
            opacity: 1
          }, 0.3);
        }

        duration_total2 += partial_total;
        scene.setTween(tween);
        scene.addIndicators();
        scene.addTo(controller);
      });

      var scene = new ScrollMagic.Scene({
        triggerElement: '.content-scrolling-section',
        duration: duration_total2,
        offset: duration_total1
      });
      scene.setPin(".flag-fix-section");
      scene.addIndicators();
      scene.addTo(controller);


      if (isMobile) {
        // configure iScroll
        global.myScroll = new IScroll('#wrapper-page', {
          // don't scroll horizontal
          scrollX: false,
          // but do scroll vertical
          scrollY: true,
          // show scrollbars
          scrollbars: true,
          // deactivating -webkit-transform because pin wouldn't work because of a webkit bug: https://code.google.com/p/chromium/issues/detail?id=20574
          // if you dont use pinning, keep "useTransform" set to true, as it is far better in terms of performance.
          useTransform: false,
          // deativate css-transition to force requestAnimationFrame (implicit with probeType 3)
          useTransition: false,
          // set to highest probing level to get scroll events even during momentum and bounce
          // requires inclusion of iscroll-probe.js
          probeType: 3,
          // pass through clicks inside scroll container
          click: false,
          disablePointer: true,
          disableTouch: false,
          disableMouse: false
        });

        // overwrite scroll position calculation to use child's offset instead of container's scrollTop();
        controller.scrollPos(function() {
          return -myScroll.y;
        });

        // thanks to iScroll 5 we now have a real onScroll event (with some performance drawbacks)
        myScroll.on("scroll", function() {
          controller.update();
        });

        var timeScroll1 = setTimeout(function() {
          if (typeof myScroll !== "undefined" && myScroll!==null) myScroll.refresh();
          clearTimeout(timeScroll1);
        }, 5000);

        $(window).on("load", function() {
          if (typeof myScroll !== "undefined" && myScroll!==null) myScroll.refresh();
          var timeScroll2 = setTimeout(function() {
            if (typeof myScroll !== "undefined" && myScroll!==null) myScroll.refresh();
            clearTimeout(timeScroll2);
          }, 5000);
        });
        $(window).on("resize", function() {
          if (typeof myScroll !== "undefined" && myScroll!==null) myScroll.refresh();
          var timeScroll3 = setTimeout(function() {
            if (typeof myScroll !== "undefined" && myScroll!==null) myScroll.refresh();
            clearTimeout(timeScroll3);
          }, 5000);
        });
        $(window).on("orientationchange", function() {
          if (typeof myScroll !== "undefined" && myScroll!==null) myScroll.refresh();
          var timeScroll4 = setTimeout(function() {
            if (typeof myScroll !== "undefined" && myScroll!==null) myScroll.refresh();
            clearTimeout(timeScroll4);
          }, 5000);
        });
      }
      this.$store.commit('loading', false);
    },
    return_time: function() {
      return $(window).height() * number_screens;
    },
    defineClassFromPath: function(path) {
      return path.split("/").join("-");
    },
    cloneToDoc(node, doc) {
      var _this = this;
      if (!doc) doc = document;
      var clone = doc.createElementNS(node.namespaceURI, node.nodeName);
      for (var i = 0, len = node.attributes.length; i < len; ++i) {
        var a = node.attributes[i];
        if (/^xmlns\b/.test(a.nodeName)) continue; // IE can't create these
        clone.setAttributeNS(a.namespaceURI, a.nodeName, a.nodeValue);
      }
      for (var ii = 0, len2 = node.childNodes.length; ii < len2; ++ii) {
        var c = node.childNodes[ii];
        clone.insertBefore(
          c.nodeType == 1 ? _this.cloneToDoc(c, doc) : doc.createTextNode(c.nodeValue),
          null
        );
      }
      return clone;
    }
  },
  mounted: function() {
    this.getSvg(this.attributes + ".svg");
  }
}
</script>
<style lang="scss" scoped>
.contents-bars {
    // position: absolute;
    // right: 0;
    // left: 0;
    // top: 0;

    lost-center: 450px;
    svg {
        display: block;
    }
}
.content-svg-section {
    padding-top: 30px;
    lost-center: 580px;
    right: 0;
    left: 0;
    // position: absolute;
    // transform: translateY(-50%);
    // top: 50%;
    display: none;
}

.boxs-text {
    // pointer-events: none;
    lost-center: 650px;
    // position: relative;
    z-index: 1;
    // height: 100%;
    // right: 0;
    // left: 0;
    top: 0;
    position: absolute;
    p {
        padding: 20px;
        color: #333;
        background-color: #fff;
        border-color: #ccc;
        border-style: solid;
        border-width: 1px;
        opacity: 0.9;
        lost-center: 450px;
        @include box-sizing(border-box);
    }
}

// .flag-fix-section {
//     position: absolute;
//     top: 0;
// }
</style>
<style lang="scss">
.content-scrolling-section {
    position: relative;
    margin-top: 80px;
    div {
        left: 0 !important;
        right: 0 !important;
    }
}
</style>
