<template lang="html">
  <h2 v-html="attributes"></h2>
</template>

<script>
export default {
  props: ['attributes'],
}
</script>
<style lang="scss" scoped>
h2 {
    padding: 3px 0;
    font-family: $font-SelaneMinTen;
    font-size: 2.3em;
    color: #333;
    line-height: 1;
    @include breakpoint($d_medium) {
        font-size: 3em;
    }
}
</style>
