

.st-header-page {
    @include clearfix;
    .st-header-title {
        padding: 30px 15px 15px;
        @include container(1200px);
        h1 {
            @include container (850px);
            color: #333;
            text-align: center;
            font-family: $font-SelaneMinTen;
            font-size: 3em;
            line-height: 1.2;
            @media (min-width: $d_small) {
                font-size: 2.8em;
            }
            @media (min-width: $d_medium) {
                font-size: 4.3em;
            }
            span {
                color: $red;
            }
        }
    }
    .st-header-strap {
        font-family: $font-SelaneTen;
        font-size: 1.3em;
        line-height: 1.6;
        color: #333;
        padding: 15px;
        @include container(800px);
        p {
            font-family: $font-SelaneTen;
            color: #333;
            text-align: center;
            margin: 0;
            line-height: 1.5;
        }
        @media (min-width: $d_medium) {
            font-size: 1.3em;
        }
        // hr {
        //     border: none;
        //     border-bottom: 1px solid #ccc;
        //     margin-top: 40px;
        //     width: 90%;
        // }
    }
    .time {
        font-family: $font-Curator-Regular;
        font-size: 13px;
        color: #666;
        padding: 15px;
        text-align: center;
        margin-bottom: 30px;
        @include container(1200px);
    }
}


.st-content-banner:before {
    content: '';
    display: block;
    height: 320px;
    background-image: linear-gradient(to bottom, #CBDFF2 0%, #CBDFF2 14.5%, #36C3F2 14.5%, #36C3F2 32.8125%, #415E2E 32.8125%, #415E2E 100%);
}
.st-banner-mobile {
    display: none;
}
.st-content-banner {
    // width              : 100%;
    // // background: #2596b4;
    // height             : 100px;
    // background-image   : url("../images/background-1900x950.jpg");
    // background-position: 50% 50%;
    // background-size    : cover;
    //
    // .st-banner {
    //     @include container;
    //     position: relative;
    //     height  : 100%;
    // }
    //
    // .st-content-logo-budget {
    //     position: absolute;
    //     bottom  : 10px;
    //     left    : 10px;
    //     right   : 10px;
    //     // text-align: center;
    //     img {
    //         display: inline-block;
    //     }
    //
    //     a {
    //         display: block;
    //     }
    // }
    // @include container;
    /*height           : 300px;*/
    position: relative;
    /* For browsers that do not support gradients */
    // background       : #5D9EDA;
    /* For Safari 5.1 to 6.0 */
    @media (max-width: $d_medium) {

    }


    .st-banner {
        @include container;

        img {
            width: 1200px;
            margin-left: 0;
            position: absolute;
            top: 0;
        }


    }

}

#container-elements-social{
  margin: 0 auto;
  .item{
      max-width: 290px;
      margin-bottom: 20px;
      background-color: #efeded;
      cursor:pointer;
  }
}


.st-desktop,
.st-medium {
    display: none;
}
.st-mobile {
    display: block;
}
@include breakpoint($d_small) {
    .st-mobile {
        display: none;
    }
    .st-medium {
        display: block;
    }
}
@include breakpoint($d_medium) {
    .st-medium {
        display: none;
    }
    .st-desktop {
        display: block;
    }

}


@media (max-width: 768px){
  .st-content-banner:before {
      content: '';
      display: none;
      height: 0px;
  }
.st-content-banner .st-banner img {
    width: 100%;
    display: none;
}
.st-banner-mobile {
    display: block;
/*  position: absolute; */
    top: 0;
}
.st-banner-mobile img {
    width: 100%;
}

}
