.body-window-modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 48px;
    bottom: 48px;
    @include clearfix;
    .column-content-modal {
        height: 100%;
        box-sizing: border-box;
        iframe {
            margin: 0 auto !important;
        }
    }
}


.modal_picture_8 {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    @include transparent;
    @include transition(opacity 0.5s 0 ease-in);
    .content_modal_picture {
        max-height: 800px;
        height: 90%;
        width: 90%;
        // height: 100%;
        background-color: #fff;
        position: absolute;
        margin: auto;
        left:0;right:0;top:0;bottom:0;
        @include container;
        .clearfix_btn_close {
            @include clearfix;
            .btn_modal_close {
                float: right;
                margin-right: 10px;
                margin-top: 10px;
                display: block;
                cursor: pointer;
                right: 0;
            }
        }
    }
    // @media (min-width: $d_medium) {
    //     top: 50px;
    // }
    .body_modal_picture_8 {
        position: absolute;
        left: 0;
        right: 0;
        top: 48px;
        bottom: 48px;
        @include clearfix;
        .column_content_modal {
            padding:10px 0;
            height: 100%;
            box-sizing: border-box;
            iframe {
                margin: 0 auto !important;
                border-radius: 0 !important;
            }
        }
    }
}

.modal_picture_8_open {
    z-index: 9999999999;
    @include opacity(1);
    @include transition(opacity 0.5s 0 ease-in);
    @include clearfix;
}

.z-index-1 {
    z-index: -1;
}
