//<------------Badge on the top------------>

.badge {
  @include container(500px);
  width: 500px;
  float: right;
}

.badge {
  .badge1 {
    img {
      width: 40px;
      height: 40px;
    }
    float: right;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .badge2 {
    img {
      width: 40px;
      height: 40px;
    }
    float: right;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .badge3 {
    img {
      width: 40px;
      height: 40px;
    }
    float: right;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .badge4 {
    img {
      width: 40px;
      height: 40px;
    }
    float: right;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .badge5 {
    img {
      width: 40px;
      height: 40px;
    }
    float: right;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}
//<-----clue page---->

.content-card-info {
  @include container(900px);
  background-color: white;
}

.content-card-info {
  .infoimg {
    width: 330px;
    height: 390px;

    img {
      width: 40px;
      height: 40px;
      float: left;
      padding-top: 20px;
    }
    padding: 0 5%;
    text-align: justify;
    @include breakpoint($d_medium) {
      padding: 0 2%;
      margin-left: 380px;
    }

    h1 {
      font-family: $font-Curator-Regular;
      font-size: 15px;
      color: #333333;
      float: left;
      margin-top: 33px;
    }

    h2 {
      width: 300px;
      height: 40px;
      font-family: $font-Thirty;
      font-size: 40px;
      color: #333333;
      float: left;
    }

    p {
      float: left;
      font-family:$font-Curator-Regular font-size: 15px;
      line-height: 20px;
      color: #333333;
      margin-top: 15px;
    }
  }
}
//<------quiz page------->

.content-card-quiz {
  @include container(1000px);
  height: 500px;
}

.content-card-quiz {
  .quizimg {
    margin-left: 20px;
    margin-top: 20px;
    float: left;

    img {
      display: none;
      width: 330px;
      height: 390px;
      @include breakpoint($d_medium) {
        display: block;
      }
    }
  }
  //<-------quiz text on the right side------->
  .quiztext {
    width: 500px;
    height: 390px;

    img {
      width: 40px;
      height: 40px;
      float: left;
      padding-top: 20px;
    }
    padding: 0 5%;
    text-align: justify;
    @include breakpoint($d_medium) {
      padding: 0 2%;
      margin-left: 380px;
    }

    .quiztitle {
      h1 {
        font-family: $font-Curator-Regular;
        font-size: 15px;
        color: #333333;
        width: 100px;
        margin-right: 80px;
        float: left;
        margin-top: 33px;
      }
    }

    hr {
      border: none;
      border-top: 1px dotted #333333;
      color: #333333;
      height: 1px;
      width: 500px;
    }

    .title {
      border-bottom-style: dotted;
      padding-top:: 34px;
      font-family: $font-Thirty;
      font-size: 40px;
      color: #333333;

      p {
        font-family: Curator Bold;
        font-size: 16px;
        line-height: 23px;
        color: #333333;
      }
    }
  }
  //<------button------->
  .option {
    padding: 10px;
    background-color: #EFF3F4;
    font-family: Curator Head;
    font-size: 16px;
    color: #333333;
    width: 500px;
    height: 15px;
  }

  .option {
    .image {
      display: none;
      color: #EFF3F4;
      width: 15px;
      height: 15px;
      float: left;
      padding-top: 1px;
      margin-right: 10px;
    }

    p {
      margin-left: 25px;
    }
  }
  //<------button 1------->
  //<------button 2------->
  .rightAnswer {
    background-color: #368488;

    .image {
      display: block;
      color: #EFF3F4;
      width: 15px;
      height: 15px;
      float: left;
      padding-top: 1px;
      margin-right: 10px;
    }
  }
  //<------button 3------->
  .wrongAnswer {
    background-color: #EF4123;

    .image {
      display: block;
      color: #EFF3F4;
      width: 15px;
      height: 15px;
      float: left;
      padding-top: 1px;
      margin-right: 10px;
    }
  }

  #bottomtext {
    padding-top: 25px;
    font-family: $font-Curator-Bold;
    font-size: 16px;
    line-height: 23px;
    color: #333333;
  }

  #bottomtext1 {
    font-family: $font-Curator-Bold;
    font-size: 16px;
    line-height: 23px;
    color: #333333;
    float: left;
  }

  #bottomtext2 {
    font-family: $font-Curator-Bold;
    font-size: 16px;
    line-height: 23px;
    color: #333333;
    float: left;
    margin-left: 15px;
  }

  #bottomtext3 {
    font-family: $font-Curator-Bold;
    font-size: 16px;
    line-height: 23px;
    color: #333333;
    float: left;
    margin-left: 15px;
  }
  //<------after selecting one of the button ------>
  #continue {
    display: none;
    margin-top: 10px;
    background-color: #EFF3F4;
    font-family: Curator Head;
    font-size: 16px;
    color: #333333;
    width: 120px;
    height: 30px;
    float: right;

    p {
      padding: 10px 10px 10px 30px;
    }
  }
}
//<<-----------ending page---------------->

.endingpage {
  @include container(730px);
  // background-color: grey;
  .endingbadge {
    height: 135px;
    width: 800px;
    float: left;
  }

  .endingbadge {
    .badge1 {
      height: 50px;
      width: 90px;
      float: left;
      padding-left: 40px;
      padding-top: 40px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    .badge2 {
      height: 50px;
      width: 90px;
      float: left;
      padding-left: 50px;
      padding-top: 40px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    .badge3 {
      height: 50px;
      width: 90px;
      float: left;
      padding-left: 50px;
      padding-top: 40px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    .badge4 {
      height: 50px;
      width: 90px;
      float: left;
      padding-left: 50px;
      padding-top: 40px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    .badge5 {
      height: 50px;
      width: 90px;
      float: left;
      padding-left: 50px;
      padding-top: 40px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
  }

  .badgename {
    height: 170px;
    width: 800px;
    font-family: Curator Regular;
    font-size: 15px;
    color: #333333;
  }

  .badgename {
    .badgename1 {
      float: left;
      padding-left: 20px;
      padding-top: 15px;
    }

    .badgename2 {
      float: left;
      padding-left: 35px;
      padding-top: 15px;
    }

    .badgename3 {
      float: left;
      padding-left: 50px;
      padding-top: 15px;
    }

    .badgename4 {
      float: left;
      padding-left: 55px;
      padding-top: 15px;
    }

    .badgename5 {
      float: left;
      padding-left: 70px;
      padding-top: 15px;
    }
  }

  .totalscore {
    height: 40px;
    width: 250px;
    font-size: 22px;
    color: #333333;
    padding-top: 30px;
    margin-left: 320px;

    #score {
      font-family: $font-Curator-Bold;
      font-size: 22px;
      color: #333333;
      float: left;
      width: 15px;
    }

    .score1 {
      font-family: $font-Curator-Regular;
      font-size: 15px;
      color: #333333;
      height: 50px;
      width: 150px;

      b {
        font-size: 22px;
      }
    }
  }

  #endingtext {
    font-family: $font-Curator-Regular;
    font-size: 16px;
    color: #333333;
    text-align: center;
  }

  .shareimg {
    width: 100px;
    margin-left: 320px;
    margin-top: 30px;

    .shareimg1 {
      img {
        float: left;
      }
    }

    .shareimg2 {}
  }

  #share {
    text-align: center;
    font-family: $font-Curator-Regular;
    font-size: 15px;
    color: #333333;
    height: 50px;
    width: 250px;
    font-size: 15px;
    margin-left: 230px;
    margin-top: 12px;
  }

  #tryagainbutton {
    float: left;
    margin-left: 280px;
    background-color: #EFF3F4;
    height: 35px;
    width: 155px;

    h3 {
      text-align: center;
      padding-top: 10px;
      font-family: Curator Head ST Regular;
      font-size: 14px;
      color: #333333;
    }
  }
}
