<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="graphic-title"><%= gettext('The title for a graphic')%></h1>
            <p class="graphic-subhead"><%= gettext('The subhead for the graphic The subhead for the graphic The subhead for the graphic The subhead for the graphic The subhead for the graphic The subhead for the graphic')%> </p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-6">
            <p class="graphic-chart-label"><%= gettext('A label for a chart')%></p>
            <p class="graphic-chart-subhead"><%= gettext('A subhead for a chart')%></p>
            <div id="reutersGraphic-chart1" class="reuters-chart"></div>
        </div>

        <div class="col-sm-6">
            <p class="graphic-chart-label"><%= gettext('A label for a chart')%></p>
            <p class="graphic-chart-subhead"><%= gettext('A subhead for a chart')%></p>
            <div id="reutersGraphic-chart2" class="reuters-chart"></div>
        </div>

    </div>
        
    <div class="row">            
        <div class="col-xs-12 mt-1">
            <p class="graphic-source"><%= gettext('Sources: XXXXX YYYYY')%><br /><%= gettext('By First Name Last Name | REUTERS GRAPHICS')%></p>
        </div>
    </div>
</div>
