<div class="feature-header container-fluid">
    <!-- <div class="row">
        <img class="img-fluid feature-header-img mb-1" src="images/top.png">
    </div> -->
    <div class="feature-header-title-container">
        <div class="row">
           <h1 class="display-3 col-md-12 text-sm-center text-md-center"><%= gettext('Murder at the airport')%></h1>
        </div>
        <div class="row">
            <p class="graphic-subhead col-md-8 offset-md-2 text-sm-center introtext"><%= gettext("Amidst the bustle of passengers in the departure hall of Kuala Lumpur airport, two women assassinated the estranged half-brother of North Korean leader Kim Jong Un. In a brazen attack, they delivered a deadly poison which left the unsuspecting victim dead before he could reach a hospital.")%></p>
        </div>
        <div class="row">
            <p class="graphic-timestamp col-md-12 text-sm-center "><%= gettext('February 21, 2017')%></p>
        </div>
    </div>


</div>

<div class="row">
  <p class="text-muted col-md-12"><%= gettext("This still image from CCTV footage has been modified and recoloured by Reuters for illustration purposes. It appears to show a man purported to be Kim Jong Nam looking up at departure board at the low cost carrier lobby at Kuala Lumpur International Airport in Malaysia on February 13, 2017. FUJITV/via Reuters TV")%></p>
</div>

<div class="container graphic-section-container">

  <!-- <div class="row">
    <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
      <h1 class="display-4 text-sm-center"><%= gettext("Murder at the airport")%></h1>
      <p class="graphic-subhead text-sm-center"><%= gettext("Kim Jong Nam, North Korea leader Kim Jung Un's enstranged half brother, died after an assault, possibly with poison, at an airport terminal in Kuala Lumpur, Malaysia, on February 13. ")%> </p>
    </div> -->



<!-- !!!!!!FAMILY TREE!!!!!! -->
<div class="row">
  <div class="col-lg-6 offset-lg-3 col-md-10 offest-md-1 mt-3 mb-2">
    <h3 class="text-sm-center"><%= gettext("Who was Kim Jong Nam")%></h3>
    <p><%= gettext("Kim Jong Nam, 46, was the son of Kim Jong Il and Song Hye Rim, a leading actress at the time. Despite being the former leader's eldest son, he was hidden from public view for years because his father and actress mother were not legally married. ")%></p>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-xs-12">
    <p  class="text-md-left" style="margin:0;"> <span class="key blood"></span> <%= gettext('Bloodline of the Kim family')%><br><span class="key spouse"></span> <%= gettext('Spouse, mistress or consort')%></p>
    <p class="hidden-lg-up" style="margin:0;"> <span class="line-spouse"></span> <%= gettext('Spouse')%><span style="margin-left:30px;" class="line-offspring"></span> <%= gettext('Offspring')%></p>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 mb-3">
    <div id="familytree"></div>
  </div>
</div>

<!-- !!!!!KIM JONG NAM MOVEMENT!!!!! -->
<div class="row">
  <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 mb-2">
    <h3 class="text-sm-center"><%= gettext("His movements")%></h3>
    <p><%= gettext("Most of Kim's recent life was spent overseas after North Korean leader Kim Jong Un had issued a 'standing order' for his assassination. On the day of the murder, he was about to leave on a flight to Macau, where he lived with a wife and two children. He is also known to have a previous wife and son in Beijing.")%></p>
  </div>
</div>


<div class="row">
  <div class="col-xl-4 offset-xl-4 col-md-6 offset-md-3">
    <div id="kjnmap"></div>
  </div>
</div>

<!-- !!!!AIRPORT OVERVIEW!!!! -->

<div class="row">
  <div class="col-lg-6 offset-lg-3 mt-3">
    <h3 class="text-sm-center"><%= gettext("At the airport")%></h3>
    <p><%= gettext("The incident happened at KLIA2, the budget terminal at Kuala Lumpur International Airport located 2 kilometres away from the main terminal.")%></p>
  </div>
</div>



<div class="row">
  <div class="col-xl-4 offset-xl-4 col-md-6 offset-md-3 my-2">
    <div id="klmap"></div>
  </div>
</div>


<div class="row">
  <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 my-2">
    <p class="text-sm-center graphic-chart-label" style="margin:auto;"><%= gettext("RECONSTRUCTING the crime scene")%></p>
    <p><%= gettext("The attack happened as Kim walked towards the check-in counters in the departure hall. Two female attackers administered the suspected poison before fleeing the scene.")%></p>

  </div>
</div>

<div class="row">
  <div class="col-md-10 offset-md-1 mb-3">
    <img class="img-fluid" src="images/cctv.jpg"/>
    <p class="text-muted"><%= gettext("Still image from a CCTV footage appears to show (circled in red) a man purported to be Kim Jong Nam being accosted by a woman in a white shirt at Kuala Lumpur International Airport in Malaysia on February 13, 2017. The image has been modified by Reuters for illustration purposes. FUJITV/via Reuters TV")%></p>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 offset-lg-2 col-xs-12 mb-2">
      <div id="level3"></div>
</div>
</div>


<!-- <div class="row">
  <div class="col-lg-8 offset-lg-2 col-xs-12">
      <div id="level2"></div>
</div>
</div> -->

<div class="row">
  <div class="col-md-4">
    <!-- <img class="img-fluid" src="images/cctv.jpg"/> -->
    <p><span class="number"><%= gettext("1")%></span><%= gettext("One of the women stood in front of Kim Jong Nam while the other walked behind him and held a cloth over his face. The suspects then quickly went their separate ways.")%></p>
  </div>
  <div class="col-md-4">
    <!-- <img class="img-fluid" src="images/cctv.jpg"/> -->
    <p><span class="number"><%= gettext("2")%></span><%= gettext("Kim made his way to the information desk to seek help after feeling dizzy.")%></p>
  </div>
  <div class="col-md-4">
    <!-- <img class="img-fluid" src="images/cctv.jpg"/> -->
    <p><span class="number"><%= gettext("3")%></span><%= gettext("Kim is escorted towards the entrance where security personnel were informed of the incident. He is then taken downstairs to a medical clinic. He died before reaching hospital.")%></p>
  </div>
</div>



<!-- <div class="row">
  <div class="col-md-4 offset-md-8 step4">
    <p><span class="number"><%= gettext("4")%></span><%= gettext("Security personnel escorted Kim to the Menara Clinic a level down to the arrival hall. While en route to a hospital, Kim dies.")%></p>
  </div>
</div> -->

<!-- !!!!!SUSPECTS!!!!! -->

<div class="row">
  <div class="col-lg-6 offset-lg-3 mt-3">
    <h3 class="text-sm-center"><%= gettext("The suspects")%></h3>
    <p><%= gettext("Authorities have already detained a number of suspects including the female who apparently administered the suspected poison.")%></p>
  </div>
</div>

<div class="row hidden-sm-down">
  <div class="col-lg-4 offset-lg-1 col-md-6 col-xs-12">
      <hr class="bracket">
      <p class="text-xs-center label3"><%= gettext("ATTACKERS")%></p>
  </div>

  <!-- <div class="col-lg-2 hidden-md-down">

  </div> -->

  <!-- <div class="col-lg-2 col-md-3">
      <hr class="bracket">
      <p class="text-sm-center label2 mx-2"><%= gettext("BOYFRIEND")%></p>
  </div>

  <div class="col-lg-2 col-md-3">
      <hr class="bracket">
        <p class="text-sm-center label2 mx-2"><%= gettext("CHEMIST")%></p>
  </div> -->


</div>


<div class="row suspects mb-2">
<div class="col-lg-2 offset-lg-1 col-md-3 col-xs-6 mb-2">
  <p class="text-xs-center bold"></br><%= gettext("Doan Thi Huong")%></p>
  <p class="text-xs-center name"><span class="hidden-lg-down"><%= gettext("Nationality: ")%></span><%= gettext("Vietnamese")%></p>
  <p class="text-xs-center name"><%= gettext("Age: 26")%></p>
  <p class="text-xs-center name mt-1 label arrest"><%= gettext("ARRESTED")%></p>

  <img src="images/doan2.png">
  <p class="text-md-center"><%= gettext("Main attacker who grabbed and poisoned Kim Jong Nam. Was pictured in the white 'LOL' shirt.")%></p>
</div>

<div class="col-lg-2 col-md-3 col-xs-6 mb-2">
  <p class="text-xs-center bold"></br><%= gettext("Siti Aishah")%></p>
  <p class="text-xs-center name"><%= gettext("Indonesian")%></p>
  <p class="text-xs-center name"><%= gettext("25")%></p>
  <p class="text-xs-center name mt-1 label arrest"><%= gettext("ARRESTED")%></p>

  <img src="images/siti2.png">
  <p class="text-md-center"><%= gettext("Lived in Jakarta before looking for work in Malaysia. Believed to have distracted Kim while her accomplice approached him from behind.")%></p><br/>
</div>

<div class="col-lg-2 hidden-md-down">
  <hr class="pointer">
</div>

<div class="col-lg-2 col-md-3 col-xs-6 mb-2">
  <p class="text-xs-center bold"><%= gettext("Muhammad Farid<br>Bin Jallaludin")%></p>
  <p class="text-xs-center name"><%= gettext("Malaysian")%></p>
  <p class="text-xs-center name"><%= gettext("26")%></p>
  <p class="text-xs-center name mt-1 label arrest"><%= gettext("ARRESTED")%></p>
  <img src="images/farid2.png">
  <p class="text-md-center"><%= gettext("Aishah's boyfriend.")%></p>
</div>

<div class="col-lg-2 col-md-3 col-xs-6 mb-2">
  <p class="text-xs-center bold"><br><%= gettext("Ri Jong Chol")%></p>
  <p class="text-xs-center name"><%= gettext("North Korean")%></p>
  <p class="text-xs-center name"><%= gettext("47")%></p>
  <p class="text-xs-center name mt-1 label arrest"><%= gettext("ARRESTED")%></p>
  <img src="images/chol2.png">
  <p class="text-md-center"><%= gettext("Was an employee of a Malaysian herbal medicine company. ")%></p>

</div>

</div>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <p class="text-sm-center graphic-chart-label"><%= gettext("The North Korean suspects")%></p>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 mb-2">
    <p><%= gettext("According to Malaysian police, the four suspects arrived in Malaysia just days before the attack and are believed to have fled the country on the day Kim Jong Nam was attacked.")%></p>
  </div>
</div>


<div class="row suspects mb-1">

<!-- <div class="col-lg-2 col-md-3">
  <p class="text-sm-center bold"><%= gettext("Ri Ji U")%></p>
  <p class="text-sm-center name"><%= gettext("North Korean")%></p>
  <p class="text-sm-center name"><%= gettext("30")%></p>
  <p class="text-sm-center name mt-1 label identify"><%= gettext("IDENTIFIED")%></p>
  <img src="images/jiu.png">
</div> -->

<div class="col-lg-2 offset-lg-2 col-md-3 col-xs-6 mb-2 withborder">
  <p class="text-xs-center bold"><%= gettext("Ri Ji Hyon")%></p>
  <p class="text-xs-center name"><%= gettext("North Korean")%></p>
  <p class="text-xs-center name"><%= gettext("33")%></p>
  <p class="text-xs-center name mt-1 label identify"><%= gettext("IDENTIFIED")%></p>
  <img src="images/hyon.png">
</div>

<div class="col-lg-2 col-md-3 col-xs-6 mb-2 withborder">
  <p class="text-xs-center bold"><%= gettext("O Jong Gil")%></p>
  <p class="text-xs-center name"><%= gettext("North Korean")%></p>
  <p class="text-xs-center name"><%= gettext("55")%></p>
  <p class="text-xs-center name mt-1 label identify"><%= gettext("IDENTIFIED")%></p>
  <img src="images/gil.png">
</div>

<div class="col-lg-2 col-md-3 col-xs-6 mb-2">
  <p class="text-xs-center bold"><%= gettext("Hong Song Hac")%></p>
  <p class="text-xs-center name"><%= gettext("North Korean")%></p>
  <p class="text-xs-center name"><%= gettext("34")%></p>
  <p class="text-xs-center name mt-1 label identify"><%= gettext("IDENTIFIED")%></p>
  <img src="images/hac.png">
</div>

<div class="col-lg-2 col-md-3 col-xs-6 mb-2">
  <p class="text-xs-center bold"><%= gettext("Ri Jae Nam")%></p>
  <p class="text-xs-center name"><%= gettext("North Korean")%></p>
  <p class="text-xs-center name"><%= gettext("57")%></p>
  <p class="text-xs-center name mt-1 label identify"><%= gettext("IDENTIFIED")%></p>
  <img src="images/jae.png">
</div>

</div>


<!-- !!!!!ESCAPE TO PYONGYANG!!!!! -->



<!-- !!!!!PURPGE!!!!! -->
<div class="row">
  <div class="col-lg-6 offset-lg-3 mt-1">
    <h3 class="text-sm-center"><%= gettext("North Korea's purge campaign")%></h3>
    <p><%= gettext("If confirmed as a North Korean assassination, it would be the latest in a string of killings at home and abroad meant to silence those perceived by North Korea's leaders as threats to their authority.")%></p>
    <p><%= gettext("Kim Jong Un has a record of executing those who pose a threat or cross the regime. Around 140 executions have taken place since Kim took power in 2011, according to the Institute for National Security Strategy, a research arm of South Korea’s National Intelligence Service.")%></p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div id="purgechart"></div>
  </div>
</div>

    <div class="row">
        <div class="col-xs-12 mt-1">
            <p class="graphic-source"><%= gettext('Notes: The family tree is based on available information; Some reported reasons why officials were executed: Expressing anti-party or counter-revolutionary sentiments; corruption; plotting the overthrow of the state; presenting different opinion to Kim Jong Un; talking back and expressing discontentment towards policies; having no fruitful outcome; dozing off during meeting; clapping half-heartedly, and faulty posture during meeting.')%><br /><%= gettext('Sources: Reuters; Institute for National Security Strategy')%><br /><%= gettext('By Weiyi Cai, Simon Scarr and Chris Inton | REUTERS GRAPHICS')%></p>
        </div>
    </div>

</div>
