#hand_space {
  position: relative;

  svg {
    pointer-events: none;
    position      : absolute;
    margin        : auto;
    left          : 10%;
    // right         : 0;
    top           : 10%;
    z-index       : 1000;
    @include breakpoint($d_medium) {
      top: 50%;
    }
  }
}

.st-title > .bee {
  width  : 80px;
  height : 80px;
  margin : 0 auto;
  display: block;
  @include breakpoint($d_medium) {
    display: none;
  };
}

h1 {
  max-width: 500px;
  margin   : 0 auto;
  @include breakpoint($d_medium) {
    max-width: none;
  };
}

h1 > .bee {
  width  : 50px;
  height : 50px;
  display: none;
  @include breakpoint($d_medium) {
    display       : inline-block;
    vertical-align: middle;
  };
}

h1 > .leaf {
  width         : 45px;
  height        : 45px;
  display       : inline-block;
  vertical-align: text-top;
  @include breakpoint($d_medium) {
    vertical-align: middle;
  };
}

.quiz_section {
  @include container(800px);
  color: #333;
}

.npark-question {
  margin: 20px 20px 90px;

  .qTitle {
    margin-bottom: 0;
  }
  .qContent {
    font-size: 17px;
  }

  .npark-result {
    display: none;
    margin : 20px;
  }
}



.npark-images {
  position: relative;

  .ques-wrap {
    z-index : 1;
    margin  : 10px 0;
    position: relative;
    @include breakpoint($d_medium) {
      display: inline-block;
      margin : 0 20px;
    }

    .npark-image {
      z-index        : 1;
      position       : relative;
      border-radius  : 50%;
      background-size: cover;
      display        : inline-block;
      cursor         : pointer;
      img {
        border-radius : 50%;
        width         : 140px;
        height        : 140px;
        vertical-align: middle;

        &:hover {
          opacity: 1;
        }
        @include breakpoint($d_small) {
          width : 180px;
          height: 180px;
        };
        @include breakpoint($d_medium) {
          &:hover {
            opacity: 0.5;
          }
          width : 180px;
          height: 180px;
        };
      }

      span {
        text-align    : left;
        z-index       : 2;
        pointer-events: none;
        color         : $black;
        font-family   : $font-Curator-Bold;
        font-size     : 15px;
        display       : inline-block;
        position      : relative;
        margin-left   : 10px;
        max-width     : 45%;
        line-height   :   1.2;
        @include breakpoint($d_medium) {
          text-align : center;
          display    : none;
          position   : absolute;
          margin-left: 0;
          left       : 50%;
          top        : 50%;
          transform  : translate(-50%,-50%);
          max-width  : 50%;
        };
      }
    }
  }

  .icons {
    position    : absolute;
    display     : none;
    margin-right: 20px;
    top         : 50%;
    right       : 0;
    transform   : translateY(-50%);
    @include breakpoint($d_medium) {
      position: static;
      margin  : 20px auto 10px;
    }
  }
}

.npark-result {
  background-color: $greylight;
  padding   : 20px;

  span {
    font-family: $font-Curator-Bold;
    font-size  : 20px;
    padding    : 20px;
  }

  p {
    padding: 0 20px 20px 20px;
  }
}

.showSpan {
  display: block !important;
}
