<template>
<div class="st-content-video-div">
  <div class="st-content-video">
    <video class="video-js vjs-default-skin" controls preload="auto" width="640" height="264" :poster="attributes.poster" playsinline>
      <source :src="attributes.src" type='video/mp4'>
    </video>
  </div>
  <div class="st-content-video-caption">
    <p v-html="attributes.caption">
    </p>
  </div>
</div>
</template>

<script>
import videojs from "video.js";
import "iphone-inline-video";

var ScrollMagic = require('ScrollMagic');
require("animation.gsap");

// require("debug.addIndicators");

export default {
  props: ['attributes', 'division'],
  mounted: function() {
    var _this = this;
    var videotag = this.$el.querySelectorAll("video")[0];

    enableInlineVideo(videotag);
    var playeri = videojs(videotag);
    var elem_content = $(this.$el.querySelectorAll(".st-content-video")[0]);
    _this.detectViewport(elem_content[0]);
    playeri.width(elem_content.width());

    $(window).on("resize", function() {
      playeri.width(elem_content.width());
    });
  },
  methods: {
    detectViewport: function(elem) {
      var scene = new ScrollMagic.Scene({
        triggerElement: elem,
        duration: $(elem).height(),
        offset: $(window).height() / 2
      });
      scene.addTo(controller);
      scene.on("end", function(event) {
        if(event.scrollDirection==="FORWARD"){
          elem.querySelectorAll("video")[0].pause();
        }
      });
      // scene.addIndicators();

      $(window).on('resize', function() {
        scene.offset($(window).height() / 2);
        scene.duration($(elem).height());
      });
    }
  }
}
</script>
<style lang="scss">
.st-content-video-div {
    width: 100%;
}
.st-content-video {
    overflow: hidden;
    width: 100%;
    .video-js .vjs-big-play-button {
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        left: 0;
        height: 2.5em;
        border-radius: 50%;
        width: 2.5em;
        span {
            display: inline-block;
            line-height: 71px;
            vertical-align: middle;
        }
    }
    .video-js .vjs-big-play-button:before,
    .video-js .vjs-control:before,
    .video-js .vjs-modal-dialog,
    .vjs-modal-dialog .vjs-modal-dialog-content {
        position: static;
    }
}
button:focus {
    outline: none;
}
.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}
</style>
