<template lang="html">
<div class="content-cards">
  <h3 class="headline-cards" v-html="attributes.headline_block">
  </h3>
  <div class="content-card">
    <div v-for="item in attributes.cards" class="card">
      <div class="photo">
        <img :src="'images_doc/'+item.image"  alt="item.title">
      </div>
      <div class="content-description">
        <h4 v-html="item.title">
        </h4>
        <p v-html="item.description">
        </p>
      </div>
      <!-- <div v-for="(it,key,index) in item">
        {{key}}
      </div> -->
    </div>
  </div>
</div>
</template>

<script>
export default {
  props: ['attributes','division'],
}
</script>
