<template>
<div :class="defineClassFromPath(attributes)">
</div>
</template>

<script>
import GetSvg from "GetSvg";

export default {
  props: ['attributes','division'],
  methods: {
    getSvg: function(folder) {
      if (folder) {
        if (this.$el) {
          new GetSvg({
            tags: [this.$el],
            folders: [folder],
            todo: function(d) {
              if(typeof myScroll!=="undefined")myScroll.refresh();
            }
          });
        }
      }
    },
    defineClassFromPath: function(path) {
      return path.split("/").join("-");
    }
  },
  mounted: function() {
    this.getSvg(this.attributes);
  }
}
</script>
<style lang="scss">
.st-mobile-svg {
    display: block;
    @include breakpoint(449px) {
        display: none;
    }
}

.st-tablet-svg {
    display: none;
    @include breakpoint(450px) {
        display: block;
    }
    @include breakpoint(649px) {
        display: none;
    }
}

.st-desktop-svg {
    @include container(900px);
    display: none;
    @include breakpoint(650px) {
        display: block;
    }
}
</style>
