<template>
<div class="content-graphic-pyramide">
  <div class="flag-fix-section" id="flag-fix-section">
    <div class="content-scrolling-section">
      <div :class="defineClassFromPath(attributes.folder)">
      </div>
    </div>
  </div>
  <div class="boxs-text">
    <!-- <div v-for="(item,index) in attributes.screens"> -->
    <div v-for="(item,index) in attributes.screens" :style="{paddingTop:(index===0)?getHeightPlusMenu()+'px':(getHeightPlusMenu()/2)+'px',paddingBottom:(getHeightPlusMenu()/2)+'px'}">
      <a>{{index+1}}</a>
      <p v-html="item">
      </p>
    </div>
  </div>
</div>
</template>
<script>
import {
  mapState
} from 'vuex';

import IScroll from "iscroll";


import fixSvgSize from 'fixSvgSize';
import * as d3_queue from "d3-queue";
var d3 = Object.assign({}, require("d3-selection"), require("d3-transition"), require("d3-dispatch"), require("d3-request"), require("d3-array"));

var q = d3_queue.queue();

var ScrollMagic = require('ScrollMagic');
require("animation.gsap");

require("debug.addIndicators");
var number_screens = 21;


export default {
  props: ['attributes', 'division'],
  computed: mapState(['fullHeight']),
  methods: {
    getHeightPlusMenu: function() {
      return this.fullHeight + document.getElementsByClassName("st-content-menu")[0].clientHeight;
    },
    getFolder: function() {
      return this.attributes.folder;
    },
    getSvg: function(svg) {
      var _this = this;
      if (svg && _this.$el) {
        q.defer(d3.xml, "images_doc/" + this.getFolder() + "/pyramide.svg");

        // q.awaitAll((error, xmls) => _this.getXml);

        q.awaitAll(function(error, xmls) {
          _this.getXml(error, xmls);
        });
      }
    },
    getXml: function(error, xmls) {
      var _this = this;
      if (error) throw error;

      this.appendSvg(xmls[0], "." + _this.getFolder().split("/").join("-"));

      // var controller = new ScrollMagic.Controller({
      //   container: "#wrapper-page"
      // });

      var f_screen_height = $(window).height() / 2;
      var f_screen_width = $(".china-party-congress-2017-pyramide").width() / 2;
      var screen_1_height = $(".screen-1")[0].getBBox().height;
      var screen_1_width = $(".screen-1")[0].getBBox().width;


      var ratio_width = $(".china-party-congress-2017-pyramide svg").attr("width") / $(".china-party-congress-2017-pyramide svg").width();
      var ratio_height = $(".china-party-congress-2017-pyramide svg").attr("height") / $(".china-party-congress-2017-pyramide svg").height();




      var scaleA = f_screen_width / (screen_1_width) * ratio_width;
      var g_manage_width = document.getElementsByClassName("g-svg-pyramide")[0].getBBox().width;

      var translateAY = $(window).height() - (screen_1_height * scaleA / ratio_height);



      // scaleA=1;
      // translateA=0;

      // scaleA=2;
      // translateA=(771.68/2)*(630/800);

      // scaleA=4;
      // translateA=(771.68*3/2)*(630/800);
      //
      // scaleA=32;
      // translateA=(771.68*31/2)*(630/800);

      var scene = new ScrollMagic.Scene({
        triggerElement: '.content-graphic-pyramide',
        duration: function(){
          return $(window).height()*8;
        },
        offset: $(window).height() / 2
      });
      scene.setPin(".flag-fix-section");
      scene.addIndicators();
      scene.addTo(controller);

      // if (isMobile) {
      //   scene.addIndicators({
      //     parent: ".scrollContent"
      //   });
      // } else {
      //   scene.addIndicators();
      // }

      // d3.selectAll(".boxs-text div").each(function(elem, i) {
      //   var screen = (i + 1);
      //   var _this = this;
      //   var scene = new ScrollMagic.Scene({
      //     triggerElement: _this,
      //     duration: 1,
      //     offset: 0
      //   });
      //   var tween = new TimelineMax();
      //
      //   scene.duration($(_this).height());
      //   if (screen === 1) {
      //
      //     var translateAX = (g_manage_width * (scaleA - 1)) / 2;
      //
      //     tween.fromTo($(".g-svg-pyramide"), 0.5, {
      //       scale: scaleA,
      //       x: -translateAX,
      //     }, {
      //       scale: scaleA,
      //       x: -translateAX,
      //     }, 0);
      //
      //     tween.fromTo($(".g-svg-pyramide"), 0.5, {
      //       opacity: 1
      //     }, {
      //       opacity: 1
      //     }, 0);
      //
      //     tween.fromTo($(".g-svg-pyramide"), 0.5, {
      //       y: translateAY / 3
      //     }, {
      //       y: 0
      //     }, 1);
      //
      //     scene.duration($(_this).height() - ($(window).height() / 2));
      //     scene.offset($(window).height() / 2);
      //   }
      //   if (screen === 2) {
      //     var scaleB = $(".china-party-congress-2017-pyramide").width() / $(".screen-2")[0].getBBox().width * ratio_width;
      //
      //     var svg_height = ($(".screen-1")[0].getBBox().height + $(".screen-2")[0].getBBox().height) * scaleB / ratio_height;
      //     if ($(window).height() < svg_height) {
      //       scaleB = $(window).height() / ($(".screen-1")[0].getBBox().height + $(".screen-2")[0].getBBox().height) * ratio_height;
      //     }
      //
      //     var translateBX = (g_manage_width * (scaleB - 1)) / 2;
      //     tween.fromTo($(".screen-2"), 0.3, {
      //       opacity: 0
      //     }, {
      //       opacity: 1
      //     }, 0);
      //
      //
      //     tween.to($(".g-svg-pyramide"), 0.3, {
      //       scale: scaleB,
      //       x: -translateBX,
      //     }, 0);
      //
      //     tween.fromTo($(".g-svg-pyramide"), 0.4, {
      //       opacity: 1
      //     }, {
      //       opacity: 1
      //     }, 1);
      //   }
      //   if (screen === 3) {
      //     tween.fromTo($(".screen-3"), 0.5, {
      //       opacity: 0
      //     }, {
      //       opacity: 1
      //     }, 0);
      //
      //     tween.to($(".screen-3"), 0.5, {
      //       opacity: 1
      //     }, 1);
      //   }
      //   if (screen === 4) {
      //     var scale4 = $(".china-party-congress-2017-pyramide").width() / $(".screen-4")[0].getBBox().width * ratio_width;
      //
      //     var sum_screen = $(".screen-1")[0].getBBox().height + $(".screen-2")[0].getBBox().height + $(".screen-4")[0].getBBox().height;
      //     var svg_height = (sum_screen) * scale4 / ratio_height;
      //     if ($(window).height() < svg_height) {
      //       scale4 = $(window).height() / sum_screen * ratio_height;
      //     }
      //
      //     var translate4X = (g_manage_width * (scale4 - 1)) / 2;
      //
      //     tween.fromTo($(".screen-4"), 0.3, {
      //       opacity: 0
      //     }, {
      //       opacity: 1
      //     }, 0);
      //
      //     tween.to($(".g-svg-pyramide"), 0.3, {
      //       scale: scale4,
      //       x: -translate4X,
      //     }, 0);
      //
      //     tween.fromTo($(".g-svg-pyramide"), 0.4, {
      //       opacity: 1
      //     }, {
      //       opacity: 1
      //     }, 1);
      //
      //
      //   }
      //   if (screen === 5) {
      //     tween.fromTo($(".screen-5"), 0.5, {
      //       opacity: 0
      //     }, {
      //       opacity: 1
      //     }, 0);
      //
      //     tween.to($(".screen-5"), 0.5, {
      //       opacity: 1
      //     }, 1);
      //   }
      //   if (screen === 6) {
      //     var scale6 = $(".china-party-congress-2017-pyramide").width() / $(".screen-6")[0].getBBox().width * ratio_width;
      //
      //     var sum_screen = $(".screen-1")[0].getBBox().height + $(".screen-2")[0].getBBox().height + $(".screen-4")[0].getBBox().height + $(".screen-6")[0].getBBox().height;
      //     var svg_height = (sum_screen) * scale6 / ratio_height;
      //     if ($(window).height() < svg_height) {
      //       scale6 = $(window).height() / sum_screen * ratio_height;
      //     }
      //
      //     var translate4X = (g_manage_width * (scale6 - 1)) / 2;
      //
      //     tween.fromTo($(".screen-6"), 0.3, {
      //       opacity: 0
      //     }, {
      //       opacity: 1
      //     }, 0);
      //     tween.to($(".g-svg-pyramide"), 0.3, {
      //       scale: scale6,
      //       x: -translate4X,
      //     }, 0);
      //
      //     tween.fromTo($(".g-svg-pyramide"), 0.4, {
      //       opacity: 1
      //     }, {
      //       opacity: 1
      //     }, 1);
      //   }
      //   if (screen === 7) {
      //     tween.fromTo($(".screen-7"), 0.5, {
      //       opacity: 0
      //     }, {
      //       opacity: 1
      //     }, 0);
      //
      //     tween.to($(".screen-7"), 0.5, {
      //       opacity: 1
      //     }, 1);
      //   }
      //   if (screen === 8) {
      //     var scale8 = $(".china-party-congress-2017-pyramide").width() / $(".screen-8")[0].getBBox().width * ratio_width;
      //
      //     var sum_screen = $(".screen-1")[0].getBBox().height + $(".screen-2")[0].getBBox().height + $(".screen-4")[0].getBBox().height + $(".screen-6")[0].getBBox().height + $(".screen-8")[0].getBBox().height;
      //     var svg_height = (sum_screen) * scale8 / ratio_height;
      //     if ($(window).height() < svg_height) {
      //       scale8 = $(window).height() / sum_screen * ratio_height;
      //     }
      //
      //     var translate4X = (g_manage_width * (scale8 - 1)) / 2;
      //     tween.fromTo($(".screen-8"), 0.3, {
      //       opacity: 0
      //     }, {
      //       opacity: 1
      //     }, 0);
      //     tween.to($(".g-svg-pyramide"), 0.3, {
      //       scale: scale8,
      //       x: -translate4X,
      //     }, 0);
      //
      //     tween.fromTo($(".g-svg-pyramide"), 0.4, {
      //       opacity: 1
      //     }, {
      //       opacity: 1
      //     }, 1);
      //   }
      //
      //   scene.setTween(tween);
      //   scene.addTo(controller);
      //
      //   // if (isMobile) {
      //   //   scene.addIndicators({
      //   //     parent: ".scrollContent"
      //   //   });
      //   // } else {
      //   //   scene.addIndicators();
      //   // }
      //
      // });

      if (isMobile) {
        // configure iScroll
        global.myScroll = new IScroll('#wrapper-page', {
          // don't scroll horizontal
          scrollX: false,
          // but do scroll vertical
          scrollY: true,
          // show scrollbars
          scrollbars: true,
          // deactivating -webkit-transform because pin wouldn't work because of a webkit bug: https://code.google.com/p/chromium/issues/detail?id=20574
          // if you dont use pinning, keep "useTransform" set to true, as it is far better in terms of performance.
          useTransform: false,
          // deativate css-transition to force requestAnimationFrame (implicit with probeType 3)
          useTransition: false,
          // set to highest probing level to get scroll events even during momentum and bounce
          // requires inclusion of iscroll-probe.js
          probeType: 3,
          // pass through clicks inside scroll container
          click: true
        });

        // overwrite scroll position calculation to use child's offset instead of container's scrollTop();
        controller.scrollPos(function() {
          return -myScroll.y;
        });

        // thanks to iScroll 5 we now have a real onScroll event (with some performance drawbacks)
        myScroll.on("scroll", function() {
          controller.update();
        });
      }

    },
    appendSvg: function(xml, node) {
      var _this = this;
      var svg;
      if (navigator.appName === 'Microsoft Internet Explorer') {
        svg = this.cloneToDoc(xml.documentElement);
      } else {
        svg = document.importNode(xml.documentElement, true);
      }

      d3.select(svg).selectAll("image").each(function() {
        var url_image = d3.select(this).attr("xlink:href");
        var folder = "images_doc/" + _this.getFolder();
        d3.select(this).attr("xlink:href", folder + "/" + url_image);
      });

      var node_svg = (typeof node === "string") ? document.querySelectorAll(node)[0] : node;
      node_svg.appendChild(svg);

      this.fixSvgCustomSize(node_svg, svg);


      // new fixSvgSize({
      //   tag: node_svg
      // });
      return svg;
    },
    fixSvgCustomSize: function(node_parent, svg) {
      var node = node_parent;
      var _this = this;
      var o_height = parseFloat(d3.select(svg).attr("height"));
      var o_width = parseFloat(d3.select(svg).attr("width"));

      var new_width = _this.getHeightPlusMenu() * o_width / o_height;
      var new_height = _this.getHeightPlusMenu();
      // var o_ratio=o_height/o_width;
      console.log(o_width);
      console.log(o_height);

      var ratio = $(node).width() / o_width;
      console.log(ratio);
      // if(_this.getHeightPlusMenu()<parseFloat(o_height) && ratio<1){


      // $(svg).width(new_width);
      // $(svg).height(new_height);

      if (new_width <= $(node).width()) {
        // new fixSvgSize({
        //   tag: node_svg
        // });
      } else {
        d3.select(node).select("svg")
          .attr("height", _this.getHeightPlusMenu() / ratio)
          .attr("viewBox", "0 0 630 " + _this.getHeightPlusMenu() / ratio);

        // $(svg).width(new_width);
        // $(svg).height(new_height);
      }

      var tag = node;
      var content_svg = $(tag).width();
      var new_height = (content_svg * d3.select(node).select("svg").attr("height")) / d3.select(node).select("svg").attr("width");
      $(node).find("svg").height(new_height);
      $(node).find("svg").width(content_svg);


    },
    defineClassFromPath: function(path) {
      return path.split("/").join("-");
    },
    cloneToDoc: function(node, doc) {
      var _this = this;
      if (!doc) doc = document;
      var clone = doc.createElementNS(node.namespaceURI, node.nodeName);
      for (var i = 0, len = node.attributes.length; i < len; ++i) {
        var a = node.attributes[i];
        if (/^xmlns\b/.test(a.nodeName)) continue; // IE can't create these
        clone.setAttributeNS(a.namespaceURI, a.nodeName, a.nodeValue);
      }
      for (var ii = 0, len2 = node.childNodes.length; ii < len2; ++ii) {
        var c = node.childNodes[ii];
        clone.insertBefore(
          c.nodeType == 1 ? _this.cloneToDoc(c, doc) : doc.createTextNode(c.nodeValue),
          null
        );
      }
      return clone;
    }
  },
  mounted: function() {
    this.getSvg(this.attributes);

  }
}
</script>
<style lang="scss" scoped>
.content-scrolling-section {
    position: relative;
}
.boxs-text {
    lost-center: 650px;
    position: relative;
    z-index: 1;
    // height: 100%;
    right: 0;
    left: 0;
    top: 0;
    // position: absolute;
    pointer-events: none;
    p {
        margin: 0;
        padding: 20px;
        color: #fff;
        background-color: rgba(51,51,51,0.5);
    }
    // div {
    //     padding: 100px 0;
    // }
}

// .china-party-congress-2017-pyramide {
//     position: absolute;
//     top: 0;
//     right: 0;
//     left: 0;
//     max-width: 800px;
//     margin: auto;
//     text-align: center;
// }
</style>
