$Otters: #aabd61;
$Civet: #d18b3b;
$Macaque: #807966;
$Python: #ecc541;
$Pangolin: #b46348;

.loading-icon {
    background: url("../images/Otters.gif") no-repeat scroll center center #FFF;
    position  : absolute;
    height    : 100%;
    width     : 100%;
    z-index   : 10000;
}

.fullpage-wrapper {
    width    : 100%!important;
    transform: none!important;
}

.fp-section {
    width     : 100%!important;
    position  : absolute;
    left      : 0;
    top       : 0;
    visibility: hidden;
    opacity   : 0;
    z-index   : 0;
    transition: all 0.7s ease-in-out;
}

.fp-section.active {
    visibility: visible;
    opacity   : 1;
    z-index   : 1;
}

.st-content-banner {
    display: none;
}

.navbar {
    opacity: 0.7;
}

.modal-menu-mobile {
    background-color: rgba(51, 51, 51, 0.9);
    top             : 0;
    padding-top     : 40px;

    .detail-menu-mobile {
        font-family  : $font-Sixty;
        font-size    : 22px;
        @include gallery(3 of 6);
        margin-bottom: 12px;

        &:last-of-type {
            margin-left: 25%;
        }

        .title-menu-mobile {
            position   : absolute;
            margin-left: 12px;
            margin-top : 12px;
            color      : #ffffff;
            // a {
            //     color: #ffffff !important;
            // }
        }

        .gridImg {
            img {
                width     : 100%;
                max-height: 100%;
                min-height: auto;
            }
        }
    }

    .st-content-shared-social {
        background-color: transparent;
    }
}

.st-content-menu .st-content-menu-fixed .navbar ul li {
    padding-top: 5px;

    a {
        padding     : 0;
        margin-right: 40px;
        display     : inline-block;
        color       : #ffffff;
    }
}

.underlineEffect {
    content   : '';
    display   : block;
    width     : 0;
    height    : 3px;
    margin-top: 2px;
    transition: width 0.3s;
}

header {
    position: fixed;
    display : block;
    width   : 100%;
    z-index : 9;
    top     : 8px;
}

.sounddiv img {
    float      : left;
    margin-left: 45px;
    max-width  : 30px;
    max-height : 30px;
    cursor     : pointer;
    @include breakpoint($d_medium) {
        margin-left: 250px;
        max-width  : 35px;
        max-height : 35px;
        min-height : 35px;
        margin-top : 7px;
    }
}
// @each $animal in 'Otters' 'Civet' 'Macaque' 'Python' 'Pangolin' {
//     #{$animal} {
//         &:after {
//             @extend .underlineEffect;
//             background: $animal;
//         }
//
//         &:hover::after {
//             width: 100%;
//         }
//     }
// }

#Otters {
    &:after {
        @extend .underlineEffect;
        background: $Otters;
        width     : 100%;
    }
}

#Civet {
    &:after {
        @extend .underlineEffect;
        background: $Civet;
    }

    &:hover::after {
        width: 100%;
    }
}

#Macaque {
    &:after {
        @extend .underlineEffect;
        background: $Macaque;
    }

    &:hover::after {
        width: 100%;
    }
}

#Python {
    &:after {
        @extend .underlineEffect;
        background: $Python;
    }

    &:hover::after {
        width: 100%;
    }
}

#Pangolin {
    &:after {
        @extend .underlineEffect;
        background: $Pangolin;
    }

    &:hover::after {
        width: 100%;
    }
}

.bar-long-BG {
    // display         : none;
    height          : 8px;
    background-color: rgba(0,0,0,0.3);
    width           : 100%;
    z-index         : 500;
    position        : fixed;
    top             : 0;
    left            : 0;
}

.bar-long {
    height            : 8px;
    width             : 0;
    z-index           : 1000;
    position          : fixed;
    top               : 0;
    left              : 0;
    -webkit-transition: width 1s;
    /* Safari */
    transition        : width 1s;
}

.section {
    background-color   : $Otters;
    text-align         : center;
    background-size    : cover;
    background-position: 50% 50%;
    overflow           : hidden;
    padding            : 0 5%;
    @include breakpoint($d_medium) {
        padding: auto;
    }

    .myVideo {
        position           : absolute;
        right              : 0;
        bottom             : 0;
        top                : 0;
        right              : 0;
        width              : 100%;
        height             : 100%;
        background-size    : 100% 100%;
        // background-color   : black;
        /* our video */
        /* in case the video doesn't fit the whole page*/
        // background-image   :;
        background-position: center center;
        background-size    : contain;
        object-fit         : cover;
        /*cover video background */
        z-index            : 3;
    }

    .sectionText {
        display    : none;
        position   : absolute;
        width      : 90%;
        top        : 10%;
        @include container;
        text-align : left;
        color      : #ffffff;
        font-size  : 28px;
        font-family: $font-Sixty;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
        line-height: 112%;
        z-index    : 3;
        @include breakpoint($d_medium) {
            font-size  : 55px;
            width      : 34%;
            top        : 15%;
            margin-left: 4%;
        }
        // span {
        // position: absolute;
        // z-index : 3;
        // top     : 15%;
        // width   : 90%;
        // @include breakpoint($d_medium) {
        // width: 34%;
        // top  : 20%;
        // }
        // }
        // .textbottom {
        //     top: 65%;
        //     @include breakpoint($d_medium) {
        //         top: 20%;
        //     }
        // }
        // #spanAns {
        //     top: 40%;
        // }
        .bartop {
            width           : 50px;
            height          : 15px;
            background-color: #ffffff;
            margin-bottom   : 30px;
            // position        : absolute;
            // top             : 10%;
            // z-index         : 3;
            // box-shadow      : 2px 2px rgba(0, 0, 0, 0.3);
            @include breakpoint($d_medium) {
                // height: 15px;
                // top   : 15%;
            }
        }
        // .barbottom {
        //     top: 60%;
        //     @include breakpoint($d_medium) {
        //         top: 15%;
        //     }
        // }
    }

    .textMarginLeft {
        @include breakpoint($d_medium) {
            margin-left: 50%;
        }
    }

    .sectionTextbottom {
        bottom: 70px;
        top   : auto;
        @include breakpoint($d_medium) {
            bottom: auto;
            top   : 10%;
        }
    }

    .photoCredits {
        position : absolute;
        z-index  : 100;
        bottom   : 0;
        left     : 0;
        color    : #ffffff;
        font-size: 16px;
        margin   : 20px 15px;
    }
}

#section1 {
    background-image: url("../images/otters/cover_img_otter_M.png");
    @include breakpoint($d_large) {
        background-image: url("../images/otters/cover_img_otter_DX.png");
    }
    @media (max-width:1200px) and (min-width:768px) {
        background-image: url("../images/otters/cover_img_otter_D.png");
    }
    animation       : coverImg 3s ease;
    @keyframes coverImg {
        0% {
            -webkit-filter: blur(10px);
            filter: blur(10px);
            // -webkit-filter: opacity(70%);
            // filter: opacity(70%);
        }

        100% {
            -webkit-filter: blur(0);
            filter: blur(0);
            // -webkit-filter: opacity(100%);
            // filter: opacity(100%);
        }
    }

    .coverText {
        display    : none;
        @include container;
        color      : #ffffff;
        z-index    : 1000;
        text-align : left;
        font-size  : 24px;
        font-family: $font-SelaneTen;

        img {
            width      : 400px;
            margin-left: 0;
            // margin-left: 10%;
        }
    }

    .scrollDown {
        display     : none;
        position    : absolute;
        margin-left : auto;
        margin-right: auto;
        left        : 0;
        right       : 0;
        bottom      : 0;

        img {
            width       : 20px;
            position    : absolute;
            margin-left : auto;
            margin-right: auto;
            left        : 0;
            right       : 0;
            bottom      : 40px;
        }

        p {
            color    : #FFFFFF;
            font-size: 11px;
        }

        #dotDown {
            animation: mover 2s ease infinite;
        }
        @keyframes mover {
            0% {
                transform: translateY(-10px);
                opacity  : 0.5;
            }

            50% {
                transform: translateY(0);
                opacity  : 1;
            }

            100% {
                transform: translateY(-10px);
                opacity  : 0.5;
            }
        }
    }
}

#section3 {
    background-image: url("../images/otters/3-spraint-M.jpg");
    @include breakpoint($d_medium) {
        background-image: url("../images/otters/3-spraint-D.jpg");
    }
}

#section10 {
    background-image: url("../images/otters/10-attention-M.jpg");
    @include breakpoint($d_medium) {
        background-image: url("../images/otters/10-attention-D.jpg");
    }
}

#section11 {
    background-image: url("../images/otters/11-bishan-otter-M.jpg");
    @include breakpoint($d_medium) {
        background-image: url("../images/otters/11-bishan-otter-D.jpg");
    }
}

.interviewSection {
    background-color: $Otters;

    .interviewArea {
        @include container(800px);
        // position: relative;
        .interviewVideo {
            position: absolute;
            top     : 50%;
            height  : 200px;
            width   : 200px;
            left    : 0;
            right   : 0;
            margin  : 0 auto;
            z-index : 0;
            @include breakpoint($d_medium) {
                left  : auto;
                right : auto;
                margin: auto;
                top   : 30%;
                height: 320px;
                width : 320px;
            }

            .interviewVideoMask {
                width   : 200px;
                height  : 200px;
                float   : left;
                overflow: hidden;
                position: relative;
                z-index : 1;
                @include breakpoint($d_medium) {
                    width : 320px;
                    height: 320px;
                }

                &:after {
                    content      : '';
                    position     : absolute;
                    left         : -500px;
                    top          : -500px;
                    border-radius: 100%;
                    width        : 200px;
                    height       : 200px;
                    border       : 500px solid $Otters;
                    @include breakpoint($d_medium) {
                        width : 310px;
                        height: 310px;
                    }
                }
            }

            #v12,
            #v13 {
                position: absolute;
                left    : 0;
            }
        }

        .interviewer {
            color      : #ffffff;
            font-family: $font-Curator-Bold;
            margin-top : 450px;
            // position   : absolute;
            // top        : 86%;
            // height     : 216px;
            // width      : 216px;
            // left       : 0;
            // right      : 0;
            // margin     : 0 auto;
            @include breakpoint($d_medium) {
                 @include container(300px);
                margin-left: 10px;
                margin-top : 400px;
                // position: absolute;
                // left    : auto;
                // right   : auto;
                // margin  : 0 auto;
                // top     : 72%;
                // height  : 20px;
                // width   : 300px;
            }
        }

        .interviewText {
            color         : #FFFFFF;
            font-size     : 18px;
            font-family   : $font-Curator-Bold;
            text-align    : left;
            line-height   : 120%;
            width         : 280px;
            position      : absolute;
            top           : 10%;
            left          : 0;
            right         : 0;
            margin        : 0 auto;
            text-transform: uppercase;
            @include breakpoint($d_medium) {
                font-size: 24px;
                width    : 30%;
                top      : 30%;
                left     : 47%;
                right    : auto;
                margin   : auto;
            }

            .quoteSymbol {
                margin-top: 20px;

                img {
                    margin-left: 0;
                    width      : 54px;
                    @include breakpoint($d_medium) {
                        width: 74px;
                    }
                }
            }
        }
    }
}

#section13 {
    background-image: url("../images/otters/13-why-return-M.jpg");
    @include breakpoint($d_medium) {
        background-image: url("../images/otters/13-why-return-D.jpg");
    }
}

#section15 {
    background-image: url("../images/otters/15-crowd-M.jpg");
    @include breakpoint($d_medium) {
        background-image: url("../images/otters/15-crowd-D.jpg");
    }
}

#section16 {
    background-image: url("../images/otters/16-screenshot-M.jpg");
    @include breakpoint($d_medium) {
        background-image: url("../images/otters/16-screenshot-D.jpg");
    }
}

#section19 {
    background-color: #333333;

    .finalContent {
        @include container;
        opacity: 1;
        margin : auto 5%;
        color  : #ffffff;
        @include breakpoint($d_medium) {
            margin: auto;
        }

        .upperpart {
            @include container(500px);
            margin-top: 20px;
            @include breakpoint($d_medium) {
                margin-top: 100px;
            }
            text-align: center;

            .backtotopBtn {
                @include container(160px);
                cursor          : pointer;
                padding         : 10px;
                background-color: $Otters;
                margin-bottom   : 10px;
                margin-top      : 50px;
                transition      : all 0.3s ease 0s;
                @include breakpoint($d_medium) {
                    margin-bottom: 32px;
                    margin-top   : auto;
                }

                &:hover {
                    background-color: #4e661e;
                }
            }

            .likeshare {
                p {
                    margin-bottom: 0;
                }
            }

            .shareIcon {
                cursor: pointer;
                @include container(100px);

                img {
                    width : 50px;
                    height: 50px;
                    float : left;
                }
            }
        }

        .readST {
            @include container;
            text-align: left;

            .storysec {
                @include span(isolate 100% last);
                margin-bottom: 15px;
                @include breakpoint($d_medium) {
                     @include span(32%);
                }

                &:last-of-type {
                    display: none;
                    @include breakpoint($d_medium) {
                        display: block;
                    }
                }

                .storyimg {
                    img {
                        max-width: 90px;
                        margin   : 0;
                        @include breakpoint($d_medium) {
                            max-width: 100%;
                            margin   : 0 auto;
                        }
                    }
                    float       : left;
                    margin-right: 10px;
                }

                .storytitle {
                    color      : #ffffff;
                    line-height: 130%;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }

        .divider {
            border-top: dotted #ccc 1px;
            margin    : 10px auto;
            @include breakpoint($d_medium) {
                margin: 60px auto;
            }
        }

        .thanksCredits {
            text-align: left;
        }
    }
}
