.bar-long {
  height            : 8px;
  width             : 0;
  z-index           : 1000;
  position          : fix;
  top               : 0;
  left              : 0;
  -webkit-transition: width 1s;
  /* Safari */
  transition        : width 1s;
  background-color  : $stlightblue;
}

main {
  @include container;
  color      : #333;
  font-size  : 16px;
  font-family: $font-Curator-Regular;

  .main-headline {
    .st-title {
      h1 {
        margin: 0;
      }
    }

    .startbtn {
      @include container(40px);
      background-color: $stlightblue;
      color           : #fff;
      padding         : 10px 30px;
      cursor          : pointer;
    }
  }

  .qnsSection {
    position: relative;

    .directionbtn {
      position: absolute;
      bottom  : 50%;
      top     : 50%;
      cursor  : pointer;

      img {
        width : 50px;
        height: 50px;
      }
    }

    #leftbtn {
      left: 30px;
    }

    #rightbtn {
      right: 30px;
    }

    .qns {
      @include container(1000px);
      padding      : 0 5%;
      margin-bottom: 50px;
      margin-top   : 50px;
    }

    #hand_space svg {
      pointer-events: none;
      position      : absolute;
      margin        : auto;
      left          : 0;
      right         : 0;
      top           : 80%;
    }

    .qns_top {
      margin-bottom: 50px;

      .qns_title {
        font-size  : 18px;
        font-family: $font-Curator-Bold;
        margin     : 10px 0;
      }
    }

    .compareBox {
      @include container(700px);
      position: relative;

      .pic_text {
        width: 40%;
        @include breakpoint($d_medium) {
          width: auto;
        }

        &:first-child {
          float: left;
        }

        &:last-child {
          float: right;
        }

        .foodOptionPic {
          position: relative;
          cursor  : pointer;

          .foodName {
            // pointer-events  : none;
            // position        : absolute;
            // height          : 22px;
            // top             : 0;
            // bottom          : 0;
            // left            : 0;
            // right           : 0;
            // margin          : auto;
            text-align      : center;
            color           : #fff;
            background-color: rgba(0,0,0,0.2);
            padding         : 10px;
          }

          .text_vertical_center {
            position : relative;
            top      : 50%;
            transform: translateY(-50%);
          }

          .ans_img {
            height           : 30px;
            width            : 32px;
            position         : absolute;
            background-repeat: no-repeat;
            bottom           : 5%;
            right            : 5%;
          }

          .wrong_img {
            background-image: url("/images/fruits/false.png");
          }

          .correct_img {
            background-image: url("/images/fruits/true.png");
          }
        }
      }

      .or {
        width   : 20px;
        height  : 15px;
        position: absolute;
        margin  : auto;
        top     : 0;
        right   : 0;
        bottom  : 0;
        left    : 0;
      }
    }

    .answer {
      background-color: #EFF3F4;
      padding         : 20px;
      margin-top      : 50px;
      line-height     : 1.5;
    }
  }
}
