.st-header-page {
    @include clearfix;

    .st-header-title {
        padding: 30px 15px 15px;
        @include container(900px);

        h1 {
            // @include container (750px);
            color      : #333;
            text-align : center;
            font-family: $font-SelaneMinTen;
            font-size  : 3em;
            line-height: 1.2;

          span {
            color: $red;
          }

            @media (min-width: $d_small) {
                font-size: 2.8em;
            }
            @media (min-width: $d_medium) {
                font-size: 4.3em;
            }
        }
    }

    .st-header-strap {
        font-family: $font-SelaneTen;
        font-size  : 1.3em;
        line-height: 1.6;
        color      : #333;
        padding    : 15px;
        @include container(1200px);

        p {
            font-family: $font-SelaneTen;
            color      : #333;
            text-align : center;
            margin     : 0 auto;
            line-height: 1.5;
            max-width: 850px;
        }
        @media (min-width: $d_medium) {
            font-size: 1.3em;
        }
        // hr {
        //     border: none;
        //     border-bottom: 1px solid #ccc;
        //     margin-top: 40px;
        //     width: 90%;
        // }
    }

    .time {
        font-family  : $font-Curator-Regular;
        font-size    : 13px;
        color        : #666;
        padding      : 15px;
        text-align   : center;
        margin-bottom: 50px;
        @include container(1200px);
    }
}

.st-content-live-blog {
    padding-left : 15px;
    padding-right: 15px;
    box-sizing   : border-box;
      font-family  : $font-Curator-Regular;
    // display: block;
    @include container(1200px);

    p {
        color:     $black;
    }

    time {
      color:       $red !important;
      font-family: $font-Curator-Bold !important;


    }

    span {
      color: $black !important;

    }

    .content-blogging {
        width         : 150px;
        max-width     : 150px;
        min-width     : 150px;
        display       : none;
        vertical-align: top;

        .card-blogging {
            h4 {
                font-size  : 16px;
                margin-top : 10px;
                font-family: $font-Curator-Bold;
                color      : #333;
                line-height: 1.2;
            }

            div {
                font-family  : $font-Curator-Regular;
                color        : #999;
                font-size    : 15px;
                line-height  : 1.5;
                margin-bottom: 20px;
            }

            img {
                max-width: 110px;
                margin   : 0;
            }
        }
        @include breakpoint($d_medium) {
            float  : left;
            display: none;
        }
    }

    .content-v-n-l {
        max-width: 500px;
        margin   : 0 auto;

        .content-live-video {
          display: none;
            .videoWrapper {
                position      : relative;
                padding-bottom: 56.25%;
                /* 16:9 */
                padding-top   : 25px;
                height        : 0;

                iframe {
                    position: absolute;
                    top     : 0;
                    left    : 0;
                    width   : 100%;
                    height  : 100%;
                }
            }
            @include breakpoint($d_medium) {
                width    : 35%;
                min-width: 270px;
                // float    : right;
                position : initial;
            }
        }

        .content-blogging-mobile {
          display: none;
            padding-top   : 20px;
            padding-bottom: 20px;
            @include breakpoint($d_medium) {
                display: none;
            }
        }

        .content-blog {
            > div {
                @include breakpoint($d_medium) {
                    padding-right: 15px;
                    padding-left : 15px;
                }
            }
            @include breakpoint($d_medium) {
                max-width: calc(100% - 270px);
                width    : 65%;
                margin:0 auto;
            }
        }
        @include breakpoint($d_medium) {
            max-width     : inherit;
            vertical-align: top;
            float         : right;
            width     : calc(100%);
            @include clearfix;
        }
    }
}

.st-content-banner {
    // width              : 100%;
    // // background: #2596b4;
    // height             : 100px;
    // background-image   : url("../images/background-1900x950.jpg");
    // background-position: 50% 50%;
    // background-size    : cover;
    //
    // .st-banner {
    //     @include container;
    //     position: relative;
    //     height  : 100%;
    // }
    //
    // .st-content-logo-budget {
    //     position: absolute;
    //     bottom  : 10px;
    //     left    : 10px;
    //     right   : 10px;
    //     // text-align: center;
    //     img {
    //         display: inline-block;
    //     }
    //
    //     a {
    //         display: block;
    //     }
    // }
    // @include container;
    height           : 300px;
    padding-top      : 20px;
    /* For browsers that do not support gradients */
    // background       : #5D9EDA;
    /* For Safari 5.1 to 6.0 */
    background-image       : url("../images/oxley-road/oxley.jpg");
    background-size:       cover;
    background-position: center;


    .st-banner {
        @include container;

        img {
            height     : 82px;
            margin-left: 0;
        }
    }
}
@include breakpoint($d_small) {
    .st-mobile {
        display: none;
    }

    .st-medium {
        display: block;
    }
}
@include breakpoint($d_medium) {
    .st-medium {
        display: none;
    }

    .st-desktop {
        display: block;
    }
}
@include breakpoint($d_normal) {}

.st_liveblog {
  background-color: #FFF;
  font-family: "Curator Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.st_liveblog .postitem time {
  background: #fff;
  font-size: 0.9em;
}
.st_liveblog.fullv img {
  margin-top: 10px;
}
.st_liveblog .postitem {
  border-bottom: 1px dotted #999;
}
